<template>
    <div>
        <div class="card p-3">
            <center>
                <span>
                    <h1>
                        Edit Akun
                    </h1>
                </span>
            </center>
            <div>
                <base-input v-model="username" placeholder="Username"></base-input>
                <base-input v-model="password" placeholder="password"></base-input>
                    <div  class="col-sm-12">
                      <label>Upload Thumbnail</label>
                      <input type="file" ref="file" class="form-control-file" @change="onFileChange">
                    </div>
                    <div v-if="gambar" class="col-sm-12">
                        <img width="300" :src="gambar" />
                        <button @click="removeImage">Remove image</button>
                    </div>
                    <div>
                        <center>
                            <base-button @click="back">Kembali</base-button>
                            <base-button>Ubah Akun</base-button>
                        </center>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods:{
        back(){
            this.$router.go(-1);
        }
    }
}
</script>

<style scoped>

</style>