<template>
    <div class="card p-3">
      <div>
        <h5>Role</h5>
        <div class="row">
          <div class="col-sm-1">
            <select class="form-control" v-model="role">
              <option value="peserta">Peserta</option>
              <option value="bukanpeserta">Bukan Peserta</option>
            </select>
          </div>
        </div>
      </div>
      <!-- role peserta -->
      <div v-if="role === 'peserta'">
        <div class="card">
          <center>
            <h1>Profile</h1>
          </center>
          <!-- form -->
        <div class="row" >
          <div class="col">
              <!-- Card body -->
              <div class="card-body">
                <a href="#!">
                    <img :src="gambari" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                </a>
                    <div class="pt-4 text-center">
                        <h5 class="h3 title">
                            <span class="d-block mb-1">nama</span>
                            <small class="h4 font-weight-light text-muted">web}</small><br>
                            <small class="h4 font-weight-light text-muted">email</small>
                        </h5>
                        <div class="mt-3">
                            <a href="#" class="btn btn-twitter btn-icon-only rounded-circle">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-facebook btn-icon-only rounded-circle">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-dribbble btn-icon-only rounded-circle">
                                <i class="fab fa-dribbble"></i>
                            </a>
                            <base-button type="primary" @click="edit('isi')">Edit Profile</base-button>
                        </div>
                    </div>
                  </div>
                  <!-- end card -->
                  <center>
                      <dropzone-file-upload style="width:50%; " v-model="fileSingle"></dropzone-file-upload>
                  </center>
              </div>
          </div>
        </div>
        </div>
        <!-- end role peserta -->

        <!-- role bukan peserta -->
        <div v-if="role === 'bukanpeserta'">
        <div class="card">
          <center>
            <h1>Profile</h1>
          </center>
          <!-- form -->
        <div class="row" >
          <div class="col">
              <!-- Card body -->
              <div class="card-body">
                <a href="#!">
                    <img :src="gambari" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px;">
                </a>
                    <div class="pt-4 text-center">
                        <h5 class="h3 title">
                            <span class="d-block mb-1">nama</span>
                            <small class="h4 font-weight-light text-muted">web}</small><br>
                            <small class="h4 font-weight-light text-muted">email</small>
                        </h5>
                        <div class="mt-3">
                            <a href="#" class="btn btn-twitter btn-icon-only rounded-circle">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-facebook btn-icon-only rounded-circle">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-dribbble btn-icon-only rounded-circle">
                                <i class="fab fa-dribbble"></i>
                            </a>
                            <base-button type="primary" @click="edit('isi')">Edit Profile</base-button>
                        </div>
                    </div>
                  </div>
                  <!-- end card -->
              </div>
          </div>
        </div>
        </div>
        <!-- end role bukan peserta -->
      </div>
    
</template>

<script>
import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
export default {
  components: {
    DropzoneFileUpload
  },
    data(){
        return{
          role:'',
          gambar:'',
      user:[],
      profilRB: [],
      id:'',
      username: '',
      password: '',
      kompartemen: '',
      email:'',
      profile: [],
      gambari:[],
      modals:
        {
          modal: false,
          modal1: false,
          modal2: false
        },
      // API
      profilD:[],
      idd:'',
      name:[],
           
            fileSingle: []
        }
    },
    
    methods:{
      edit(km){
        this.$router.push({path:'DetailPr/edit', query:{akun:km}})
      }
    },
    watch:{
      role(x){
        // //(x);
        
        this.role=x;
        
      }
    }
}
</script>

<style lang="stylus" scoped>

</style>