<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Daftar Diklat</h6>
        </div>
        
      </div>
    </base-header>

    <!-- v-if="index < daftartabel*currentPage && index >= (currentPage*daftartabel-daftartabel)"   -->
    <div class="card p-2">
                <base-input label="Cari Diklat" v-model="cari"></base-input>
        
        <table class="table align-items-center" ref="loading">
            <tbody class="list " v-for="(diklat,index) in listdiklat" :key="index">
            
            <tr v-if="index < daftartabel*currentPage && index >= (currentPage*daftartabel-daftartabel) " class="p-2"> 
                <div class="col-auto float-right">
               <nuxt-link :to="{path:'/dashboard/register/peserta',query:{id:diklat.diklat.id}}">
                  <base-button size="sm" type="primary" >Daftar Peserta</base-button>
               </nuxt-link>
           </div>
            <!-- Card body -->
            <div class="row align-items-center ">
                <div class="col-auto">
                </div>
                <div class="col ml--2">
                    <div class="row">
                    <h3 class="text mb-0">{{diklat.diklat.judul}}</h3>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-xs text-muted mb-0">{{diklat.diklat.program}}</p> 
                            <p class="text-sm  mb-0"><b>{{diklat.diklat.createdBy}}</b></p>
                            <br>
                            <el-tooltip v-if="diklat.diklat.verifikasi==2" content="" placement="left">
                                <base-button size="sm" type="primary" class="btn-tooltip btn-success">
                                <i class="ni ni-check-bold"></i>
                                Terverifikasi
                                </base-button>
                            </el-tooltip>
                            <el-tooltip v-if="diklat.diklat.otorisasi==2" content="" placement="right">
                                <base-button size="sm" type="primary" class="btn-tooltip btn-info">
                                <i class="ni ni-lock-circle-open"></i>
                                Terotorisasi
                                </base-button>
                            </el-tooltip>
                        </div>
                        <div class="col-lg-4">
                            <stats-card class="bg-gradient-info">
                            <!-- Card body -->
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Informasi</h5>
                                    <span class="h6 font-weight-bold mb-0 text-white">Kelas : {{diklat.diklat.kelas}} |</span> 
                                    <span class="h6 font-weight-bold mb-0 text-white">peserta : {{diklat.diklat.kelas*40}}</span>
                                    <br>
                                    <span v-if="diklat.diklat.kuota!=null" class="h6 font-weight-bold mb-0 text-white">Sisa Kuota : {{diklat.diklat.kuota}}</span>
                                    <span v-if="diklat.diklat.kuota==null" class="h6 font-weight-bold mb-0 text-white">Sisa Kuota : {{diklat.diklat.kelas*40}}</span><br>
                                    <!-- <br><span class="h6 font-weight-bold mb-0 text-white">Kuota tambahan : 10</span><br> -->
                                    <!-- <span><badge type="info">APBN-RM</badge>  <badge class="ml-1" type="success">PNBP</badge></span> -->

    
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-building"></i>
                                    </div>
                                </div>
                            </div>
                        </stats-card>
                            
                        </div>
                        <div class="col-lg-4">
                            <stats-card class="bg-gradient-danger">
                            <!-- Card body -->
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-calendar-grid-58"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Jadwal</h5>
                                    <span class="h6 font-weight-bold mb-0 text-white">{{converttgl(diklat.diklat.tgl_mulai)}} - {{converttgl(diklat.diklat.tgl_akhir)}}</span>
                                    <br>
                                    <!-- <span class="h6 font-weight-bold mb-0 text-white">Pusdiklat LAN Pejompongan</span> -->
                                </div>
                                
                            </div>
                        </stats-card>
                            
                        </div>
                    </div>
                    
                </div>

            </div>
            </tr>
            </tbody>
        </table>

        <div class="card-footer py-4 d-flex justify-content-end">
            <!-- <base-pagination v-model="currentPage" :perPage="daftartabel" :total="listdiklat.length"></base-pagination> -->
            <ul class="pagination" >
            <li class="page-item prev-page" v-if="acuanPage != 0" @click="prefPage">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="page-item prev-page" v-if="acuanPage == 0" disabled>
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="page-item" >
              <a class="page-link" >{{acuanPage+1}}</a>
            </li>
            <li class="page-item next-page" >
              <a class="page-link" aria-label="Next" @click="nextPage">
                <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              </a>
            </li>
          </ul>
        </div>
    </div>
                

    </div>
</template>
<script>

import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb'
import {BasePagination} from '@/components';
 import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
 import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
import {Action,Mutation} from '../../../store/api/types';
import moment from 'moment';
import "sweetalert2/dist/sweetalert2.css";
import swal from "sweetalert2";
export default {
    created(){
        this.getData();
    },
    components:{
        swal,
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
        RouteBreadCrumb,
        DropzoneFileUpload,
        BasePagination
    },
    computed:{
        
    },
    data(){
        return{
            acuanPage:0,
            fullPage: false,
            listpes:[],
            isirole:this.$store.state.auth.role,
            listtemp:[],
            listdiklat:[],
            fileSingle: [],
            pembina: null,penyelenggara: null,program: null,tahun: null,jumlahKelas: null,namaAngkatan: null,
            tempat: null,waktuMulai: null,waktuSelesai: null,sumberAnggaran: null,polaAnggaran: null,jumlahTotal: null,
            jumlahKuota:null,
            modals:{modal3:false,modal2:false},
            cari:'',
            daftartabel:10,
            temprencana:[],
            currentPage: 1
            }
    },
    watch:{
        async cari(val){
            this.listdiklat=[];
            this.temprencana=[];
            this.listtemp=[];
      this.acuanPage=0;
      this.search = val;
      if(val.length != 0){
        let isi = {
        page:this.acuanPage+1,
        limit:this.daftartabel,
        status:1,
        judul:val
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.cariBursa}`,isi)
      console.log(hasil.data);
      this.listdiklat=hasil.data
      this.listtemp=hasil.data;
      this.temprencana=hasil.data
      } else if(val.length == 0){
        console.log(val.length);
        console.log("sini");
        this.getData();
      }
        }
    },
    methods:{
        async getData(){
            let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loading,
                canCancel: true,
                onCancel: this.onCancel,
            });
            let isi = {
                page:this.acuanPage,
                limit:this.daftartabel,
                status:1,
            } 
            let res = await this.$store.dispatch(`${Action.diklat.ambilbursa}`,isi)
            this.listtemp=res.data;
            this.listdiklat=res.data;
            this.temprencana=res.data;
                loader.hide()
        },
        async prefPage(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.listtemp=[];
      this.listdiklat=[];
      this.temprencana=[];
        let isi = {
        page:this.acuanPage-1,
        limit:this.daftartabel,
        status:1
      } 
      let res = await this.$store.dispatch(`${Action.diklat.ambilbursa}`,isi)
      if(res.status == 200){
        this.acuanPage=this.acuanPage-1;
        loader.hide();
        this.listtemp=res.data;
        this.listdiklat=res.data;
        this.temprencana=res.data;
                loader.hide()
      }
    },
    async nextPage(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.listtemp=[];
      this.listdiklat=[];
      this.temprencana=[];
        let isi = {
        page:this.acuanPage+1,
        limit:this.daftartabel,
        status:1
      } 
      let res = await this.$store.dispatch(`${Action.diklat.ambilbursa}`,isi)
      console.log(res.data);
      if(res.status == 200){
        this.acuanPage=this.acuanPage+1;
        loader.hide();
        // this.listtemp=res.data;
                //(res.data);
                loader.hide()
                // for(var i=0;i<this.listtemp.length;i++){
                //     if(this.listtemp[i].bursa==1){
                //         this.listdiklat.push(this.listtemp[i])
                //     }
                // }
                this.listdiklat=res.data
                this.temprencana=res.data
                this.listtemp=res.data
                console.log(this.temprencana);
          if(res.data.length == 0){
            swal({
							title: "Data Habis",
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
    },
        submit() {
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });
            // simulate AJAX
            setTimeout(() => {
                loader.hide()
            },5000)                 
        },
        converttgl:function(tgl){
        var thn = tgl.substr(0,4)
        var bln = tgl.substr(5,2)
        var hr = tgl.substr(8,2)
        var nama ="";
        if(bln=="01"){nama="Jan"}
        if(bln=="02"){nama="Feb"}
        if(bln=="03"){nama="Mar"}
        if(bln=="04"){nama="Apr"}
        if(bln=="05"){nama="Mei"}
        if(bln=="06"){nama="Jun"}
        if(bln=="07"){nama="Jul"}
        if(bln=="08"){nama="Agu"}
        if(bln=="09"){nama="Sep"}
        if(bln=="10"){nama="Okt"}
        if(bln=="11"){nama="Nov"}
        if(bln=="12"){nama="Des"}
           return hr+" "+nama+" "+thn;
        },

        jumpeserta:function(index){
            return this.listpes[index];
        },
        getval:function(kuota){
            
            return kuota-this.jumpes;
        },
        kuota(row,tot,pendaftar){
          row.kuotasisa = tot-pendaftar;
        },
        // caridata(val){
           
        //     //(this.temprencana)
        //     if(val==''){
        //         this.listdiklat = this.temprencana
        //     }else{
        //     this.listdiklat=this.listdiklat.filter(
        //         data =>data.diklat.program.match(val));
        //         if(this.listdiklat.length==0){
        //             //("baca sini")
        //             this.listdiklat=this.temprencana.filter(
        //             data =>data.diklat.judul.match(val));
        //         }
        //         //(this.projects)
        //     }
        // },
        
    }
    
}
</script>

<style >

</style>