<template>
  <div>
    <card type="frame" class="my-3 mx-3">
      <div class="flex justify-between items-center mb-3">
        <div>
          <h3>
            Manajemen
            <small class="text-muted">User</small>
          </h3>
        </div>
        <div>
          <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
        </div>
        <div>
          <base-button outline size="sm" type="default" @click="showModal = true">Tambah User</base-button>
          <!-- <nuxt-link to="rencana_penyelenggaraaan/add">
                        <base-button outline size="sm" type="default">Tambah Rencana Penyelenggaraan Diklat</base-button>
          </nuxt-link>-->
        </div>
      </div>
      <div class="list-group list-group-flush">
        <a
          class="list-group-item list-group-item-action"
          v-for="(user, index) in searching"
          :key="index"
        >
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
            </div>
            <div class="col ml--2">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="mb-0 text-sm">
                    {{ user.username }}
                    <small class="text-muted">{{ user.email }}</small>
                  </h4>
                  <p class="text-sm mb-0">{{ user.kementrianLembaga }}</p>
                  <div
                    class="text-left text-muted"
                    v-for="(role, index) in user.roles"
                    :key="index"
                  >
                    <badge rounded type="default" v-if="role.name == 'role_admin'">{{ role.name }}</badge>
                    <badge rounded type="primary" v-if="role.name == 'role_lemdik'">{{ role.name }}</badge>
                    <badge rounded type="secondary" v-if="role.name == 'role_kld'">{{ role.name }}</badge>
                  </div>
                </div>
                <div class="px-0 py-2 mr-0">
                  <base-button outline size="sm" type="default" class="m-0" @click="delAkun(user.id,true)">Delete</base-button>
                  <base-button
                    outline
                    size="sm"
                    type="default"
                    class="m-0"
                    @click="modalUpdate(user,true)"
                  >Update</base-button>
                  <!-- <base-button outline size="sm" type="default" class="m-0" @click="delUsers(user.id, user.username)">Hapus</base-button> -->
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="p-3">
        <base-pagination v-model="currentPage" :total="totalLength"></base-pagination>
      </div>
      </div>
      <modal :show.sync="showModal">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah User</h5>
        </template>
        <div>
          <base-input label="Nama" placeholder="Nama" v-model="form_user.nama" class="mt-0 mb-1" />
          <base-input
            label="Email"
            placeholder="Email"
            v-model="form_user.email"
            class="mt-0 mb-1"
          />
          <base-input
            label="Username"
            placeholder="Username"
            v-model="form_user.username"
            class="mt-0 mb-1"
          />
          <base-input
            label="Password"
            placeholder="Password"
            v-model="form_user.password"
            class="mt-0 mb-1"
            type="password"
          />
          <multiselect :options="options_instansi" v-model="form_user.kementrianLembaga"></multiselect>
          <!-- <multiselect track-by="text" label="text" :options="options_program_diklat" :searchable="false" :allow-empty="false" v-model="update_form_rencana_penyelenggaraan.jenis_program_diklat"></multiselect> -->
        </div>
        <template slot="footer">
          <base-button type="secondary" @click="showModal = false">Close</base-button>
          <base-button type="primary" @click="postUsers()">Save changes</base-button>
        </template>
      </modal>
      <modal :show.sync="showModalUpdate">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        </template>
        <div>
          <base-input label="Email" placeholder="Email" v-model="userUpdate.email" />
          <base-input label="Nama" placeholder="Nama" v-model="userUpdate.nama" />
          <base-input
            label="Username"
            placeholder="Username"
            v-model="userUpdate.username"
            class="mt-0 mb-1"
          />
          <base-input
            label="Password"
            placeholder="Password"
            v-model="userUpdate.password"
            class="mt-0 mb-1"
            type="password"
          />
          <label for="">Lemdik</label>
          <multiselect :options="options_lemdik" v-model="userUpdate.lemdik"></multiselect>
          <label for="">Instansi</label>
          <multiselect :options="options_instansi" v-model="userUpdate.kementrianLembaga"></multiselect>
          <base-input label="Akronim" placeholder="Akronim" v-model="userUpdate.akronim" />
          <!-- <multiselect track-by="text" label="text" :options="options_program_diklat" :searchable="false" :allow-empty="false" v-model="update_form_rencana_penyelenggaraan.jenis_program_diklat"></multiselect> -->
        </div>
        <template slot="footer">
          <base-button type="secondary" @click="showModalUpdate = false">Close</base-button>
          <base-button type="primary" @click="putUsers()">Save changes</base-button>
        </template>
      </modal>

      <!-- delete -->
      <modal gradient="danger" :show.sync="showModalDelete">
                <div class="py-3 text-center">
                    <h5  class="modal-title text-white" id="exampleModalLabel">Apakah Anda Yakin ingin menghapus akun?</h5>
                </div>
                <template slot="footer">
                    <base-button type="secondary" @click="showModalDelete=false">tutup</base-button>
                    <base-button @click="hapusAkun(idUser)" type="danger">Hapus</base-button>
                </template>
      </modal>
    </card>
  </div>
</template>
<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import XLSX from 'xlsx';
export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      currentPage:1,
      spaceIndex:10,
      totalLength:"",
        search:"",
      showModal: false,
      showModalUpdate: false,
      showModalDelete:false,
      idUser:"",
      password:"",
      users: [],
      options_instansi_with_id: [],
      options_instansi: [],
      form_user: {
        username: "",
        email: "",
        kementrianLembaga: "",
        nama: "",
        password: "",
      },
      update_form_user: {
        id: "",
        username: "",
        email: "",
        idInstansi: "",
        namaInstansi: "",
      },
      update_form_user_test: {},
      userUpdate:[],
      options_lemdik:[]
    };
  },
  created() {
    // //(this.$route.query.role);
  },
  mounted() {
    this.getInstansi();
    this.getUsers();
    this.getLemdik();
  },
  methods: {
    getLemdik: function() {
      axios.get('https://sipka.lan.go.id/api/Mlemdik')
      .then(res => {
        // //("lemdik");
        // //(res.data.data);
        for (let i = 1; i < res.data.data.length; i++) {
          const element = res.data.data[i];
          // this.options_instansi.push({ "text": element.nama, "value": element.id })
          this.options_lemdik.push(element.nama)
        }
      })
      .catch(err => {
        // //(err);
      })
    },
    modalUpdate(isi,status){
      this.showModalUpdate=status;
      this.userUpdate=isi;
      this.userUpdate.password="";
      // //(this.userUpdate);
    },
    getInstansi: function () {
      axios
        .get("https://sipka.lan.go.id/api/Minstansi")
        .then((res) => {
          for (let i = 0; i < res.data.data.length; i++) {
            const element = res.data.data[i];
            this.options_instansi_with_id.push({
              text: element.nama,
              value: element.id,
            });
            this.options_instansi.push(element.nama);
          }
        })
        .catch((err) => {
          // //(err);
        });
    },
    getUsers: function () {
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
        "Content-Type": "application/x-www-form-urlencoded",
      };

      axios
        .get(
          "https://smartbangkom.lan.go.id:8090/user/daftarbyrole/" +
            this.$route.query.role,
          { headers: headers }
        )
        .then((res) => {
            for(var i=0;i<res.data.length;i++){
                this.users.push(res.data[i])
            }
            this.totalLength=this.users.length;
          loader.hide();
        })
        .catch((err) => {
          // //(err);
        });
    },
    getUsersById: function (value) {
      this.showModalUpdate = true;

      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
        "Content-Type": "application/x-www-form-urlencoded",
      };

      axios
        .get("https://smartbangkom.lan.go.id:8090/user/daftar", { headers: headers })
        .then((res) => {
          for (let i = 0; i < res.data.length; i++) {
            const element = res.data[i];
            if (value == element.id) {
              this.update_form_user.id = element.id;
              this.update_form_user.username = element.username;
              this.update_form_user.email = element.email;
              this.update_form_user.idInstansi = element.idInstansi;
              // this.update_form_user_test = element
              // //(this.update_form_user_test);
              // //(element.username);
            }
          }
          // //(this.options_instansi_with_id);
          // //(this.update_form_user.idInstansi);
          for (let l = 0; l < this.options_instansi_with_id.length; l++) {
            const element_l = this.options_instansi_with_id[l];
            if (
              this.update_form_user.idInstansi ==
              this.options_instansi_with_i.value
            ) {
              this.update_form_user.namaInstansi = element_l.text;
            }
          }
        })
        .catch((err) => {
          // //(err);
        });
    },
    delAkun: function (id, status) {
      this.idUser=id;
      this.showModalDelete=status;
    },
    hapusAkun(id){
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token")
      };
      axios.delete("https://smartbangkom.lan.go.id:8090/user/" + id,{
        headers:headers,
      }).then(res=>{
        // //("berhasil hapus");
        this.users=[];
        this.getUsers();
        this.showModalDelete=false;
      })
    },
    getIdInstansi(nama){
      // //(nama);
      // //(this.options_instansi_with_id);
      for(var i=0;i<this.options_instansi_with_id.length;i++){
        if(nama==this.options_instansi_with_id[i].text){
          return this.options_instansi_with_id[i].value;
        }
      }
    },
    putUsers: function () {
      // //(this.userUpdate);
      // //(this.password);
      var idLemdik="";
      idLemdik=this.getIdInstansi(this.userUpdate.kementrianLembaga)
      axios.put("https://smartbangkom.lan.go.id:8090/user/gantiprofil/"+ this.userUpdate.id,{
        username:this.userUpdate.username,
        password:this.userUpdate.password,
        email:this.userUpdate.email,
        nama:this.userUpdate.nama,
        kementrianLembaga:this.userUpdate.kementrianLembaga,
        nik:this.userUpdate.nik,
        idInstansi:this.userUpdate.idInstansi,
        lemdik:this.userUpdate.lemdik,
        akronim:this.userUpdate.akronim,
        idInstansi:Number(idLemdik)
      },{
        headers:{
          Authorization: "Bearer " + window.$nuxt.$cookies.get("token")
        }
      }).then(res=>{
        // //(res.data);
        this.showModalUpdate=false;
        this.getUsers();
        this.users=[];
      })
    },
    postUsers: function () {
      // //(this.form_user);

      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token")
      };
      axios
        .post("https://smartbangkom.lan.go.id:8090/user/simpanuser/"+this.$route.query.role, {
            username:this.form_user.username,
            password:this.form_user.password,
            email:this.form_user.email,
            nama:this.form_user.nama,
            kementrianLembaga:this.form_user.kementrianLembaga
        }, {
          headers: headers,
        })
        .then((res) => {
          if (res.status == 200) {
            swal.fire("Berhasil di Simpan", "...", "success").then((result) => {
              if (result.value) {
                  this.showModal=false;
                  this.users=[];
                this.getUsers();
              }
            });
          }
        })
        .catch((err) => {
          // //(err);
        });
    },
  },
  computed:{
      searching(){
          return this.users.filter(usr => {
              return usr.username.match(this.search)
          })
      },
  }
};
</script>
