git <template>
  <div>
    <div class="header pb-6 d-flex align-items-center" :style="test">
    <!-- <div class="header pb-6 d-flex align-items-center profile-header"> -->
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white" v-if="profileData.nama != null">{{ profileData.nama }} </h1>
            <h1 class="display-2 text-white" v-if="profileData.nama == null">Administrator </h1>
            <p class="text-white mt-0 mb-5">Kepala/Penanggung Jawab {{profileData.lemdik}}</p>
            <!-- <a href="#!" class="btn btn-neutral">Edit profile</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <user-card></user-card>

          <!-- Progress track -->
          <!-- <card>
            <h5 slot="header" class="h3 mb-0">Progress track</h5>
            <progress-track-list></progress-track-list>
          </card> -->
        </div>
        <div class="col-xl-8 order-xl-1">
          <!-- <div class="row">
            <div class="col-lg-6">

              <card gradient="info" class="border-0">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total traffic</h5>
                    <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap text-light">Since last month</span>
                </p>
              </card>

            </div>
            <div class="col-lg-6">

              <card gradient="danger" class="border-0">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Performance</h5>
                    <span class="h2 font-weight-bold mb-0 text-white">49,65%</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                      <i class="ni ni-spaceship"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap text-light">Since last month</span>
                </p>
              </card>

            </div>
          </div> -->
          <edit-profile-form></edit-profile-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import EditProfileForm from './UserProfile/EditProfileForm.vue';
  import UserCard from './UserProfile/UserCard.vue';
import { Action } from '../../../store/api/types';
  export default {
    components: {
      EditProfileForm,
      UserCard
    },
    data() {
      return {
        profileData: {},
        idUser: null,
        test: { backgroundImage: 'url(`@/assets/images/img4.jpg`)', backgroundSize: 'cover', backgroundPosition: 'center top', minHeight: '500px' }
      }
    },
    computed:{
      ambilrole(){
        return this.$store.state.auth.role
      }
    },
    mounted() {
      this.getRoles()
      this.profile()
    },
    methods: {
      getRoles(){
        let ab = this.$cookies.get('token')
        let base64Url = ab.split('.')[1]
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/')
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) { return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2); }).join(''));
        let cd = JSON.parse(jsonPayload)
        // this.roles = cd.scope
        this.idUser = cd.iduser
      },
      profile: function() {
        if(this.ambilrole=="role_peserta"){
          let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token') }
          axios.get('https://smartbangkom.lan.go.id:8092/peserta/userPeserta/'+this.idUser, {headers:headers})
          .then(res => {
            // //(res.data);
            //("profile data");

            this.profileData = res.data[res.data.length-1]
            ////(res.data[0]);

          })
          .catch(err => {
            //(err);
          })
        }else{
          this.$store.dispatch(`${Action.user.userbyid}`,this.idUser).then(res=>{
            console.log(res.data);
            this.profileData=res.data
          })
        }
      }
    }
  }
</script>
<style>
  .profile-header {
    background-image: url('./img/profile-cover.jpg');
    background-size: cover;
    background-position: center top;
    min-height: 500px;
  }
</style>
