<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Profil Pengguna</h6>
         
        </div>
      
      </div>
    </base-header>

    <card  type="frame">
      <div class="row">
        <div class="col-sm-8">
        <card type="frame">
          
        </card>
        </div>
        <div class="col-sm-4">
        <card type="frame">
          <img src="https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
          <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                      <a href="#">
                          <img src="https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/team-4.jpg" class="rounded-circle">
                      </a>
                  </div>
              </div>
          </div>
          <div class="card-body pt-50">
            <div class="row">
            <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center">
                        <div>
                            <span class="heading"></span>
                            <span class="description"></span>
                        </div>
                        <div>
                            <span class="heading"></span>
                            <span class="description"></span>
                        </div>
                        <div>
                            <span class="heading"></span>
                            <span class="description"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
              <h5 class="h3">
                  Nama User<span class="font-weight-light"></span>
              </h5>
              <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2">Asal User</i>
              </div>
              
          </div>
          </div>
        </card>
        </div>
      </div>
       
    </card>
  
    </div>
</template>
<script>



import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'

export default {
    created(){
        this.temprencana=this.rencana
    },
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            i:0,
            cari:'',
            daftartabel:5,
            rencana: [
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 1',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 2',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 3',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 4',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 5',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 6',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 7',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 8',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 9',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 10',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 1',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 2',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 3',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 4',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 5',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 6',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 7',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'pusaka',
                program: 'Latsar CPNS 8',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 9',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS 10',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                jumpendf:'80',
                kuotasisa:'',
                status: "Kuota Penuh"
              },
              
            ],
            temprencana:[],
            currentPage: 1,

       
        }
    },
    computed:{
    },
     methods:{
        kuota(row,tot,pendaftar){
          row.kuotasisa = tot-pendaftar;
        },
        back(){
            this.$router.back()
        },
        caridata(val){
            if(val==''){
                this.rencana = this.temprencana
            }else{
            this.rencana=this.rencana.filter(
                data =>data.program.match(val));
                if(this.rencana.length==0){
                    //("baca sini")
                    this.rencana=this.temprencana.filter(
                    data =>data.penyelenggara.match(val));
                }
                //(this.rencana)
            }
        },
        daftar(val){
            this.daftartabel=val
        },
        paginasi(){
            //("tes paginasi")
        }
    },
    
}
</script>

<style >

</style>