<template>
    <base-input label="Example select">
     <select class="form-control">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
     </select>
   </base-input>
</template>

<script>

import BaseInput from '~/components/Inputs/BaseInput'
export default {
    name:"form-bulan",
    components:{
        BaseInput,
    }

    
}
</script>