<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Data Pelatihan</h6>

        </div>

      </div>
    </base-header>

    <card  type="frame">
        <h4>Download Sertifikat Pelatihan</h4>
        <i style="font-size:50px" class="fa fa-file"></i>
        <br><br>
        <a v-if="profileData.pathPDF!=''" target="_blank"  :href="'https://smartbangkom.lan.go.id:8092/peserta/downloadcert/'+profileData.pathPDF+'.'"><base-button size="sm" type="secondary">
        <i  class="fa fa-file text-success" ></i>Download</base-button></a>
    </card>
    </div>
</template>
<script>

import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
import {Action} from '../../../store/api/types';
import axios from 'axios'
import { BasePagination } from '@/components';
export default {
    components:{
        BasePagination,
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            profileData:{},
            photoProfile:'',
            payload:this.$cookies.get('isijwt'),
        }
    },
    created(){

    },
    mounted(){
        this.getpeserta()
    },
     methods:{
         getpeserta(){
             let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token') }
            axios.get('https://smartbangkom.lan.go.id:8092/peserta/userPeserta/'+this.payload.iduser, {headers:headers})
            .then(res => {
                this.profileData = res.data[res.data.length-1]
                //(this.profileData.foto);
                var foto= this.profileData.foto+'.';
                axios.get('https://smartbangkom.lan.go.id:8092/peserta/getfoto/'+foto, {headers:headers})
                .then(res => {
                //("profile poto");

                //(res.data);
                this.photoProfile = res.data
                })
                .catch(err => {
                //(err);
                })

            })
            .catch(err => {
                //(err);
            })
         },
         back(){
            this.$router.back()
        },
    },


}
</script>

<style >

</style>
