<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">
            Tanda Tangan Sertifikat Digital {{ error }}
          </h6>
        </div>
      </div>
    </base-header>
    <div class="card card-frame">
      <div class="card-body">
        <div
          v-if="
            ambilrole == 'role_kepala_lan' ||
            ambilrole == 'role_deputi' ||
            ambilrole == 'role_kepala_lemdik'
          "
          class="row"
        >
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <div class="row">
              <div>
                <h4>Masukkan Passphrase</h4>
                <!-- <payPassword v-model="pincode" :length="8" />   -->
                <base-input type="password" v-model="pincode"></base-input>
                <span
                  v-if="pinalert == 1"
                  class="fa fa-window-close text-danger"
                ></span>
                <i v-if="pinalert == 2" class="fa fa-check text-success"></i>
                <!-- <br><br> -->
              </div>

              <div v-if="spinner.isLoading">
                <div class="spinner-border text-primary" role="status"></div>
                <span class="text-primary"
                  >Memproses Sertifikat Digital ...</span
                >
              </div>
            </div>
            <base-button
              v-if="spinner.isLoading == false"
              size="sm"
              type="primary"
              @click="ttdcert"
            >
              <span class="btn-inner--icon"
                ><i class="ni ni-circle-08"></i
              ></span>
              <span class="btn-inner--text">Tanda Tangan Dokumen</span>
            </base-button>
          </div>
        </div>
        <div v-else class="row">
          <div
            v-if="
              daftarD.akronim == null ||
              daftarD.idInstansi == null ||
              daftarD.idLemdik == null
            "
            class="mr-2"
          >
            <base-button
              size="sm"
              type="primary"
              @click="modals.generateKosong = true"
            >
              <span class="btn-inner--icon"
                ><i class="ni ni-collection"></i
              ></span>
              <span class="btn-inner--text">Generate Sertifikat</span>
            </base-button>
          </div>
          <div v-else class="mr-2">
            <base-button
              size="sm"
              type="primary"
              @click="modals.generate = true"
            >
              <span class="btn-inner--icon"
                ><i class="ni ni-collection"></i
              ></span>
              <span class="btn-inner--text">Generate Sertifikat</span>
            </base-button>
          </div>
          <div>
            <base-button
              size="sm"
              type="secondary"
              @click="modals.modal0 = true"
            >
              <span class="btn-inner--icon"
                ><i class="ni ni-circle-08"></i
              ></span>
              <span class="btn-inner--text">Ajukan Tanda Tangan</span>
            </base-button>
          </div>
        </div>
        <div>
          <!-- modal generate kosong-->
          <modal :show.sync="modals.generateKosong">
            <template slot="header">
              <h5 class="modal-title" id="exampleModalLabel" style="color: red">
                Lengkapi data profil Kosong dibawah ini :
              </h5>
            </template>
            <div>
              <div class="form-group row">
                <label
                  v-if="daftarD.akronim == null"
                  style="color: red"
                  class="col-md-5 col-form-label form-control-label"
                  >- Akronim</label
                >
                <label
                  v-if="daftarD.idInstansi == null"
                  style="color: red"
                  class="col-md-5 col-form-label form-control-label"
                  >- Instansi</label
                >
                <label
                  v-if="daftarD.idLemdik == null"
                  style="color: red"
                  class="col-md-5 col-form-label form-control-label"
                  >- Lemdik</label
                >
              </div>
            </div>
            <template slot="footer">
              <div class="row justify-content-center">
                <div class="col">
                  <label for="" style="font-size: 15px"
                    >* My Profile -> Update Akun
                  </label>
                </div>
              </div>
            </template>
          </modal>
          <!-- end modal generate kosng-->

          <!-- modal generate -->
          <modal :show.sync="modals.generate">
            <template slot="header">
              <h5 class="modal-title" id="exampleModalLabel">
                Generate Sertifikat
              </h5>
            </template>
            <div>
              <div class="form-group row">
                <label class="col-md-5 col-form-label form-control-label"
                  >Tanggal Tanda Tangan</label
                >
                <div class="col-md-7">
                  <base-input class="mb-0">
                    <flat-picker
                      slot-scope="{ focus, blur }"
                      @on-open="focus"
                      @on-close="blur"
                      :config="{ allowInput: true }"
                      class="form-control datepicker"
                      v-model="tglttd"
                    >
                    </flat-picker>
                  </base-input>
                </div>
                <!-- <div class="col-md-3 pl-0">
                                <p class="mb-0" style="margin-top:0.6rem;">{{ tglttd | moment }}</p>
                            </div> -->
              </div>
            </div>
            <template slot="footer">
              <base-button type="secondary" @click="modals.generate = false"
                >Close</base-button
              >
              <base-button type="primary" @click="generatecert"
                >Generate</base-button
              >
            </template>
          </modal>
          <!-- end modal generate -->

          <modal :show.sync="modals.modal0">
            <template slot="header">
              <h5 class="modal-title" id="exampleModalLabel">
                Ajukan Tanda Tangan digital
              </h5>
            </template>
            <div>
              <base-input label="Tangan Tangan Lembar pertama">
                <select class="form-control" v-model="modals.tandatangan1">
                  <option value="0">Tanda Tangan Kosong</option>
                  <option
                    v-for="(ttd, index) in daftarpenandatangan"
                    :key="index"
                    :value="ttd.id"
                  >
                    {{ ttd.isi }}
                  </option>
                </select>
              </base-input>
              <base-input label="Tangan Tangan Lembar kedua">
                <select class="form-control" v-model="modals.tandatangan2">
                  <option value="0">Tanda Tangan Kosong</option>
                  <option
                    v-for="(ttd, index) in daftarpenandatangan"
                    :key="index"
                    :value="ttd.id"
                  >
                    {{ ttd.isi }}
                  </option>
                </select>
              </base-input>
              <base-input label="Tangan Tangan Lembar Ketiga">
                <select class="form-control" v-model="modals.tandatangan3">
                  <option value="0">Tanda Tangan Kosong</option>
                  <option
                    v-for="(ttd, index) in daftarpenandatangan"
                    :key="index"
                    :value="ttd.id"
                  >
                    {{ ttd.isi }}
                  </option>
                </select>
              </base-input>
            </div>
            <template slot="footer">
              <base-button type="secondary" @click="modals.modal0 = false"
                >Close</base-button
              >
              <base-button type="primary" @click="addpenanda"
                >Save changes</base-button
              >
            </template>
          </modal>
        </div>
        <br />
        <h4>Daftar Peserta</h4>

        <hr />
        <base-alert v-if="ambilrole == 'role_lemdik'" type="info">
          <strong>Perhatikan ! , </strong>*Sebelum generate sertifikat, pastikan
          KRA , Angkatan dan foto dari seluruh peserta sudah terisi
        </base-alert>
        <div class="table-responsive">
          <div>
            <table class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <!-- <th scope="col" >
                                    <input type="checkbox" v-model="selectAll" @click="select" button-classes="btn-primary"/>
                                </th> -->

                  <th scope="col" class="sort">sertifikat Digital</th>
                  <th scope="col" class="sort" data-sort="no">No</th>
                  <!-- <th scope="col" >Pilih Semua</th> -->
                  <!-- <th scope="col" >Aksi</th> -->
                  <th scope="col" class="sort" data-sort="id">Foto</th>
                  <th scope="col" class="sort" data-sort="id">KRA</th>
                  <th scope="col" class="sort" data-sort="nama">Nama</th>
                  <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                  <th scope="col" class="sort" data-sort="nama">Angkatan</th>
                  <!-- <th scope="col" class="sort" data-sort="noreg">No Registrasi</th> -->
                  <th scope="col" class="sort">Instansi</th>
                  <th scope="col" class="sort">Tempat, Tanggal Lahir</th>
                  <!-- <th scope="col" class="sort">Pola Anggaran</th> -->
                </tr>
              </thead>
              <tbody
                class="list"
                v-for="(peserta, index) in detailPes"
                :key="index"
              >
                <!-- <tr v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"> -->
                <tr>
                  <!-- <th scope="row">
                                    <div class="no align-items-center">
                                        <input  type="checkbox" v-model="selected" :value="peserta.id" button-classes="btn-primary" />
                                    </div>
                                </th> -->
                  <td>
                    <div class="row justify-content-center">
                      <div class="col-sm-3" v-if="peserta.pathPDF != ''">
                        <a
                          v-if="peserta.tandaTangan != null"
                          target="_blank"
                          :href="
                            'https://smartbangkom.lan.go.id:8092/peserta/downloadcert/' +
                            peserta.pathPDF +
                            '.'
                          "
                        >
                          <base-button size="sm" type="success">
                            <i class="fa fa-file text-secondary"></i>Download
                          </base-button>
                        </a>
                        <a
                          v-else
                          target="_blank"
                          :href="
                            'https://smartbangkom.lan.go.id:8092/peserta/downloadcert/' +
                            peserta.pathPDF +
                            '.'
                          "
                        >
                          <base-button size="sm" type="info">
                            <i class="fa fa-file text-secondary"></i>Download
                          </base-button>
                        </a>
                      </div>
                      <badge v-else type="info">Sertifikat kosong</badge>
                      <div class="p-3"></div>
                      <div
                        class="col-sm-3"
                        v-if="
                          peserta.nomorKra == null || peserta.nomorKra == ''
                        "
                      >
                        <div
                          class="col-sm-3"
                          v-if="
                            peserta.tandaTangan == '' &&
                            peserta.nomorKra != null
                          "
                        >
                          <base-button
                            class="ml-3"
                            size="sm"
                            type="danger"
                            @click="tunda(peserta.id)"
                            >Tunda</base-button
                          >
                        </div>
                        <div
                          class="col-sm-3"
                          v-if="
                            peserta.nomorKra == null
                          "
                        >
                          <base-button
                            class="ml-3"
                            size="sm"
                            type="danger"
                            @click="tunda(peserta.id)"
                            >Tunda</base-button
                          >
                        </div>
                        <div
                          class="col-sm-3"
                          v-if="peserta.tandaTangan == 'tunda'"
                        >
                          <base-button
                          class="ml-3"
                            size="sm"
                            type="danger"
                            @click="tunda(peserta.id)"
                            >Buka</base-button
                          >
                        </div>
                      </div>
                      <div v-else>
                        <div
                          class="col-sm-3"
                          v-if="
                            peserta.tandaTangan == '' &&
                            peserta.nomorKra != null
                          "
                        >
                          <base-button
                            size="sm"
                            class="ml-3"
                            type="danger"
                            @click="tunda(peserta.id)"
                            >Tunda</base-button
                          >
                        </div>
                        <div
                          class="col-sm-3"
                          v-if="peserta.tandaTangan == 'tunda'"
                        >
                          <base-button
                            size="sm"
                            class="ml-3"
                            type="danger"
                            @click="tunda(peserta.id)"
                            >Buka</base-button
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <th scope="row">
                    <div class="no align-items-center">
                      {{ index + 1 }}
                      <i
                        v-if="cekttd[index] != null"
                        class="fa fa-check text-success"
                      ></i>
                    </div>
                  </th>

                  <!-- <td >
                                    <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link> -->
                  <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                  <!-- <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                                    <modal :show.sync="model.hapus"
                                        gradient="danger"
                                        modal-classes="modal-danger modal-dialog-centered">
                                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>


                                        <template slot="footer">
                                            <base-button type="white">Ya</base-button>
                                            <base-button type="link"
                                                        class="ml-auto text-white"
                                                        @click="model.hapus = false">
                                                Batal
                                            </base-button>
                                        </template>
                                    </modal>
                                    <a target="_blank" :href="'http://intranet.lan.go.id:8555/sertifikat/'+peserta.nip+'/tandatangan/'+peserta.pathPDF+'.pdf'"><i class="fa fa-file-pdf text-primary"></i></a>

                                </td> -->
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <img
                        width="50"
                        :src="'data:image.jpeg;base64,' + getgbr(peserta.id)"
                        v-if="peserta.foto != null"
                      />
                      <badge v-else type="warning">Foto Belum Di upload</badge>
                    </div>
                  </td>
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2"
                        >{{ peserta.nomorKra }}
                      </span>
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">
                      {{ peserta.nama }}
                    </div>
                  </td>
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2"
                        >{{ peserta.nomorId }}
                      </span>
                    </div>
                  </td>
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2"
                        >{{ getangkatan(peserta.angkatan) }}
                      </span>
                    </div>
                  </td>
                  <td class="noreg">
                    <div class="d-flex align-items-center">
                      {{ peserta.asalInstansi }}
                    </div>
                  </td>
                  <td class="noreg">
                    <div class="d-flex align-items-center">
                      {{ peserta.tempatLahir }}
                    </div>
                  </td>
                  <!-- <td class="status">
                                    <div class="d-flex align-items-center" v-if="status!=1">
                                        Sudah Diajukan
                                    </div>
                                    <div class="d-flex align-items-center" v-else>
                                        Belum Diajukan
                                    </div>
                                </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="card-footer py-4 d-flex justify-content-end">
                    <p class="card-category">
                            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                            <span v-if="selectedRows.length">
                            &nbsp; &nbsp; {{selectedRows.length}} rows selected
                            </span>
                        </p>
                    <base-pagination class="pagination-no-border"
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total="total"></base-pagination>
                </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { Action } from "../../../store/api/types";
import axios from "axios";
import payPassword from "vue-pay-password";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  components: {
    payPassword,
  },
  data() {
    return {
      dummyGenerate:[],
      daftarD: [],
      allert: {
        error: false,
      },
      error: this.$store.state.api.error,
      dataangkatan: [],
      gambarpeserta: [],
      ambilrole: this.$store.state.auth.role,
      cert: {
        jp: "",
        p: "",
        sts: "",
        pm: "",
        pminstansi: "",
      },
      tglttd: "",
      iddiklat: this.$route.query.diklat,
      datadiklat: "",
      selectedRows: [],
      datapeserta: [],
      search: "",
      pagination: {
        perPage: 3,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      files: [],
      change: {
        jenis: false,
      },
      buttonCheckbox: false,
      detail: [],
      byId: [],
      Pm: [],
      textRed: false,
      selected: [],
      selectAll: false,
      detailPes: [],
      pincode: "",
      pinalert: 0,
      spinner: {
        isLoading: false,
        status: "",
      },
      cekttd: [],
      payload: this.$cookies.get("isijwt"),
      modals: {
        generateKosong: false,
        generate: false,
        modal0: false,
        tandatangan1: 0,
        tandatangan2: 0,
        tandatangan3: 0,
      },
      btndisable: {
        generate: true,
      },
      daftarpenandatangan: [],
      datapengguna: "",
    };
  },
  created() {
    this.ambilDiklatById();
    this.$store
      .dispatch(`${Action.user.userbyid}`, this.payload.iduser)
      .then((res) => {
        //  let loader = this.$loading.show({
        //         // Optional parameters
        //         container: null,
        //         canCancel: true,
        //         onCancel: this.onCancel,
        //     });

        this.datapengguna = res.data;
        //("detail user");
        this.cert.p = this.datapengguna.kementrianLembaga;
        //(this.datapengguna.kementrianLembaga);
        var lemdik = "kosong";
        if (this.cert.pm != "") {
          //("penjamin mutu");
          lemdik = this.cert.pm;
        }
        this.$store
          .dispatch(`${Action.user.userpenandatangan}`, {
            kld: this.cert.p,
            lemdik: lemdik,
          })
          .then((res) => {
            var data = res.data;
            //("userall");

            //(data);

            var id = "";
            var nama = "";

            for (var i = 0; i < data.length; i++) {
              nama = data[i].nama + "(" + data[i].kementrianLembaga + ")";
              this.daftarpenandatangan.push({ id: data[i].id, isi: nama });
            }
            // loader.hide()
          });
        // loader.hide()
      });
    //(this.$route.query.id);
    this.$store
      .dispatch(`${Action.diklat.ambilangkatan}`, this.iddiklat)
      .then((res) => {
        // //("data angkatannn");
        // //(res.data);

        this.dataangkatan = res.data;
      });
    this.$store.dispatch(`${Action.diklat.ambilsemuadiklat}`).then((res) => {
      // if(res.data.diklat)
      //("data diklat");
      //(this.$store.state.auth.role);

      for (var i = 0; i < res.data.length; i++) {
        if (res.data[i].diklat.id == this.iddiklat) {
          this.modals.tandatangan1 = res.data[i].diklat.penandatangan1;
          this.modals.tandatangan2 = res.data[i].diklat.penandatangan2;
          this.modals.tandatangan3 = res.data[i].diklat.penandatangan3;
          //(res.data[i]);
          this.cert.jp = res.data[i].diklat.program;
          //(this.cert.jp);
          // this.cert.p=res.data[i].diklat.createdBy
          // //(this.cert.p);
          this.cert.sts = res.data[i].diklat.akreditasi;
          if (this.cert.sts == null) {
            this.cert.sts = "kosong";
          }
          //(this.cert.sts);
        }
      }
    });

    this.$store.dispatch(`${Action.izin.ambilizin}`).then((res) => {
      for (var i = 0; i < res.data.length; i++) {
        if (res.data[i].idDiklat == this.iddiklat) {
          //("penjaminmutu");
          //(res.data[i].penjaminMutu);
          this.cert.pminstansi = res.data[i].penjaminMutu;
          this.$store
            .dispatch(`${Action.user.ambilnamauser}`, res.data[i].penjaminMutu)
            .then((res) => {
              //(res.data);
              this.cert.pm = res.data.kementrianLembaga;
              //("PM");
              //(this.cert.pm);
            });
          this.cert.pm = res.data[i].penjaminMutu;
          // //("isi penjamin");
          // //(res.data[i]);
        }
      }
    });
  },
  mounted() {
    this.teks();
    this.pesertaD();
  },
  watch: {
    tglttd: function () {
      this.$store
        .dispatch(`${Action.diklat.ubahtanggalttd}`, {
          iddiklat: this.iddiklat,
          tgl: this.tglttd,
        })
        .then((res) => {
          this.btndisable.generate = false;
        });
    },
  },

  methods: {
    async tunda(id) {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let isi = await this.$store.dispatch(`${Action.tunda.sertif}`, id);
      this.pesertaD();
      loader.hide();
    },
    ambilDiklatById() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: false,
        onCancel: this.onCancel,
      });
      this.$store
        .dispatch(`${Action.user.userbyid}`, this.payload.iduser)
        .then((res) => {
          console.log(res.data);
          // console.log(res.data);
          this.daftarD = res.data;
          loader.hide()
          //(res.data);
        });
    },
    getangkatan: function (id) {
      // //("data angkatan");
      // //(this.dataangkatan);

      for (var i = 0; i < this.dataangkatan.length; i++) {
        if (this.dataangkatan[i].id == id) {
          return this.dataangkatan[i].nama;
        }
      }
    },
    getgbr: function (id) {
      for (var i = 0; i < this.gambarpeserta.length; i++) {
        if (id == this.gambarpeserta[i].id) {
          return this.gambarpeserta[i].gbr;
        }
      }
    },
    addpenanda() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store
        .dispatch(`${Action.diklat.penandatangan}`, {
          iddiklat: this.iddiklat,
          ttd1: this.modals.tandatangan1,
          ttd2: this.modals.tandatangan2,
          ttd3: this.modals.tandatangan3,
        })
        .then((res) => {
          this.modals.modal0 = false;
          loader.hide();
        });
    },
    generatecertsampel() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });

      this.$store
        .dispatch(`${Action.cert.generate}`, {
          id: this.iddiklat,
          jp: this.cert.jp,
          p: this.cert.p,
          sts: this.cert.sts,
          pm: this.cert.pm,
        })
        .then((res) => {
          loader.hide();
          //("generate cert berhasil");
          this.pesertaD();
        });
    },
    generatecert() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let acuan = [];
      console.log(this.detailPes);
      for (let i = 0; i < this.detailPes.length; i++) {
        if (this.detailPes[i].angkatan == null || this.detailPes[i].angkatan == 0) {
          swal.fire("Data angkatan peserta ada yang kosong");
          console.log(i);
          loader.hide();
          break;
        } else {
          acuan.push(this.detailPes[i].angkatan);
          console.log(acuan);
          if (i == this.detailPes.length - 1) {
            this.dummyGenerate.push({
              id: this.iddiklat,
                jp: this.cert.jp,
                p: this.cert.p,
                sts: this.cert.sts,
                pm: this.cert.pm,
                pminstansi: this.cert.pminstansi,
            })
            // console.log(this.dummyGenerate);
            this.$store
              .dispatch(`${Action.cert.generate}`, {
                id: this.iddiklat,
                jp: this.cert.jp,
                p: this.cert.p,
                sts: this.cert.sts,
                pm: this.cert.pm,
                pminstansi: this.cert.pminstansi,
              })
              .then((res) => {
                this.modals.generate = false;
                loader.hide();
                swal.fire(
                            "Berhasil Generate"
                        )
                acuan=[]
                //("generate cert berhasil");
                this.pesertaD();
              })
              .catch((err) => {
                this.modals.generate = false;
                loader.hide();
                this.pinalert = 1;
                acuan=[];
                let error = this.$toast.error(
                  "Generate Sertifikat Gagal, pastikan data yang dibutuhkan sudah terpenuhi"
                );
                error.goAway(3000);
              });
          }
        }
      }
    },
    ttdcert() {
      // if(this.pincode==12345678){

      this.spinner.isLoading = true;
      for (var i = 0; i < this.detailPes.length; i++) {
        // this.$store.dispatch(`${Action.cert.cekganti}`,{idpeserta:this.detailPes[i].id})
        //     .then(res=>{//(res)
        //         this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res =>{
        //             //(res.data);
        //             this.detailPes = res.data
        //             this.total=res.data.length
        //             this.cekttd.push(1);
        //             this.pinalert=2
        //             let error=this.$toast.success('Dokumen berhasil diberi tangan digital ')
        //             error.goAway(3000)
        //         })
        //     }).catch(err=>{
        //             this.pinalert=1
        //             let error=this.$toast.error('Dokumen gagal diberi tangan digital (Cek passprhase anda)')
        //             error.goAway(3000)
        //     })
        if (this.detailPes[i].nomorKra != "") {
          if (
            this.detailPes[i].tandaTangan == "" ||
            this.detailPes[i].tandaTangan == null
          ) {
            this.$store
              .dispatch(`${Action.cert.ttdcert}`, {
                pass: this.pincode,
                id: this.iddiklat,
                idpeserta: this.detailPes[i].id,
                iduser: this.payload.iduser,
              })
              .then((res) => {
                //(res)
                this.$store
                  .dispatch(
                    `${Action.peserta.ambilpesertabydiklat}`,
                    this.iddiklat
                  )
                  .then((res) => {
                    //(res.data);
                    this.detailPes = res.data;
                    this.total = res.data.length;
                    this.cekttd.push(1);
                    this.pinalert = 2;
                    let error = this.$toast.success(
                      "Dokumen berhasil diberi tangan digital "
                    );
                    error.goAway(3000);
                  });
              })
              .catch((err) => {
                this.pinalert = 1;
                let error = this.$toast.error(
                  "Dokumen gagal diberi tangan digital (Cek passprhase anda)"
                );
                error.goAway(3000);
              });
          }
        }
        if (i == this.detailPes.length - 1) {
          this.spinner.isLoading = false;
          this.spinner.status = true;
          setTimeout(() => {
            this.spinner.status = "";
          }, 2000);
        }
      }

      // }
      //  else{
      //      this.pinalert=1
      //     //("pin salah")
      //     //(this.pincode)
      //     setTimeout(()=>{
      //         this.pinalert=false
      //     },2000)
      // }
    },
    select() {
      //("tes");

      this.selected = [];
      if (!this.selectAll) {
        for (let i in this.detailPes) {
          this.selected.push(this.detailPes[i].id);
        }
      }
    },

    pesertaD() {
      this.gambarpeserta = [];
      var di = this.$route.query.id;
      
      this.$store
        .dispatch(`${Action.peserta.ambilpesertabydiklat}`, this.iddiklat)
        .then((res) => {
          console.log(res.data);
          this.detailPes = res.data;
          let headers = {
            Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
          };
          for (var i = 0; i < res.data.length; i++) {
            const pesid = res.data[i].id;

            axios
              .get(
                "https://smartbangkom.lan.go.id:8092/peserta/getfoto/" +
                  res.data[i].foto +
                  ".",
                { headers: headers }
              )
              .then((res) => {
                this.gambarpeserta.push({ gbr: res.data, id: pesid });
              })
              .catch((err) => {
              });
          }

          this.total = res.data.length;
        });
    },
    teks(cek) {
      //(cek);
      this.textRed = cek;
    },
    back() {
      this.$router.back();
    },
    filesChange(files) {
      this.files = files;
    },
  },
  computed: {
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
  },
};
</script>
