<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Tanda Tangan Digital</h6>

        </div>

      </div>
    </base-header>

    <card  type="frame">
        <h4>Identitas default Tanda Tangan (Dapat Diedit)</h4>
        <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jabatan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="" v-model="jabatan" ></base-input>
                </div>
            </div>

        <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Nama</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="" v-model="nama" ></base-input>
                </div>
            </div>

        <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Pekerjaan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input>
                    <select class="form-control"  v-model="pekerjaan">
                        <option value="NIP">PNS</option>
                        <option value="NRP">POLRI</option>
                        <option value="NRP">TNI</option>
                        <option value="NIK">Non PNS</option>
                    </select>
                    </base-input>
                    <!-- <base-input placeholder="" v-model="pekerjaan" ></base-input> -->
                </div>
            </div>

        <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">No. Identitas</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="" v-model="nip" ></base-input>
                </div>
            </div>

        <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Ganti Logo</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <file-input @change="filesChange"></file-input>
                </div>
            </div>
        <div class=" row">
                <label class="col-md-3 col-form-label form-control-label"></label>
                <label class="col-md-1 col-form-label form-control-label"></label>
                <div class="col-md-5">
                    Contoh gambar (100x100 pixel)
                <img :src="gambar">
                </div>
            </div>

        <!-- <img :src="datagbr" /> -->
        <div class="row">
            <div class="col-sm-6">
                 <h4>Preview Tanda tangan digital :</h4>

                <div id="app">
                        <canvas id="back" width="500" height="130" style="border:1px solid #BBB;position:absolute;left:10;top:500;z-index:0" ></canvas>
                        <canvas id="ttd" width="500" height="130" style="border:1px solid #BBB;position:absolute;left:10;top:500;z-index:1" ></canvas>

                    </div>
            </div>
            <div class="col-sm-6">
                <h4>Tanda tangan digital Saat ini:</h4>
                <img v-if="datagbr!=''" v-bind:src="'data:image/png;base64,'+datagbr" />
            </div>
        </div>
        <div v-if="datagbr==''">
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <br>
        <base-button  type="success" v-on:click="createimg" >Simpan Gambar Tanda Tangan</base-button>
    </card>
    </div>
</template>
<script>

import {Action} from '../../../store/api/types';
import gbr from '../../../assets/images/logolan.png';
import swal from 'sweetalert2';
import 'sweetalert2/dist/sweetalert2.css';

export default {

    data(){
        return{
            gbrlogo:[],
            gambar:gbr,
            pekerjaan:'NIP',
            jabatan: "Isi Jabatan",
            nama:this.$cookies.get('isijwt').namauser,
            nip:"Nomor Identitas",
            ambilrole:this.$store.state.auth.role,
            payload:this.$cookies.get('isijwt'),
            gambarttd:'',
            datauser:'',
            datagbr:'',
        }
    },
    created(){
        let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loading,
                canCancel: true,
                onCancel: this.onCancel,
            });

        this.$store.dispatch(`${Action.user.userbyid}`,this.payload.iduser).then(res=>{
            this.datauser=res.data
            //("datauser");
            //(this.datauser);
        })

        this.$store.dispatch(`${Action.cert.datagbr}`,"gbr-"+this.payload.iduser+".png").then(res=>{
            this.datagbr=res.data
            loader.hide()
            //("data gbr");

            //(res.data);

        }).catch(function (error) {
            loader.hide()
        })
    },
    directives: {

    },
    watch: {

        jabatan:function(){
            this.writejab()
        },
        nama:function(){
            this.writename()
        },
        nip:function(){
            this.writenip()
        },
        pekerjaan:function(){
            this.writenip()
        }
    },
    mounted(){
        this.createback()
        this.createbase()
        this.writejab()
        this.writename()
        this.writenip()

    },
    methods:{
        filesChange(files) {
            this.gbrlogo = files
            this.createbase()
            this.writejab()
            this.writename()
            this.writenip()
            //(this.gbrlogo);

        },
        createback(){
            var x = document.getElementById('back');
            var canvas = x.getContext('2d');
            const img = new Image();
            canvas.fillStyle = "white";
            canvas.fillRect(0, 0, 500, 130);

        },
        createimg(){
            let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loading,
                canCancel: true,
                onCancel: this.onCancel,
            });
            var y = document.getElementById('back');
            var x = document.getElementById('ttd');
            var canvas = y.getContext('2d');
            var canvasx = x.getContext('2d');
            canvas.drawImage(x,0,0);
            canvas.lineWidth = 2;
            canvas.strokeStyle="#000000";
            canvas.strokeRect(0, 0, 500, 130);

            this.gambarttd=y.toDataURL("image/png").replace("image/png", "image/octet-stream");
            //(this.gambarttd);
            this.$store.dispatch(`${Action.cert.gbtttd}`,{iduser:this.payload.iduser,base64:this.gambarttd}).then(res=>{
                if (res.status == 200) {
                        this.$store.dispatch(`${Action.cert.datagbr}`,"gbr-"+this.payload.iduser+".png").then(res=>{
                            this.datagbr=res.data
                            loader.hide()
                            //("data gbr");
                            //(res.data);
                            canvas.clearRect(0, 0, 500, 130);
                            canvasx.clearRect(0, 0, 500, 130);
                            this.createback()
                            this.createbase()
                            this.writejab()
                            this.writename()
                            this.writenip()
                        })
                        swal.fire(
                            'Berhasil di Simpan',
                            'Gambar Tanda Tangan telah di simpan',
                            'success'
                        ).then(result => {
                            if (result.value) {

                            }
                        })
                    }
            })

        },
        createbase(){
            var x = document.getElementById('ttd');
            var canvas = x.getContext('2d');
            canvas.clearRect(0, 0, 500, 130);
            const img = new Image();
            canvas.fillStyle = "black";
            canvas.font = "16px Bookman Old Style";
            canvas.fillText("Ditandatangani secara elektronik oleh:",130,30)
            if(this.gbrlogo!=""){
                img.src= URL.createObjectURL(this.gbrlogo[0])
            }else{
                img.src = gbr;
            }

            img.onload = () => {
                canvas.drawImage(img, 10, 10,img.width*1,img.height*1);
            };
        },
        writejab(){
            //("jabatan");

            //(this.jabatan.length);
            var font="";
            if(this.jabatan.length<40){
                font="14px Bookman Old Style";
            }else if(this.jabatan.length<50){
                font="12px Bookman Old Style";
            }
            else{
                font="11px Bookman Old Style"
            }

            // Get canvas context
            var x = document.getElementById('ttd');
            var ctx = x.getContext('2d');
            // Clear the canvas
            ctx.clearRect(120, 35, 400, 20);
            // Insert stuff into canvas
            ctx.fillStyle = "black";

            ctx.font = font;
            ctx.fillText(this.jabatan, 130, 50);
        },
        writename(){
            // Get canvas context
            var x = document.getElementById('ttd');
            var ctx = x.getContext('2d');
            // Clear the canvas
            ctx.clearRect(120, 52, 400, 40);
            // Insert stuff into canvas
            ctx.fillStyle = "black";

            ctx.font = "bold 16px Bookman Old Style";
            ctx.fillText(this.nama, 130, 88);
        },
        writenip(){
            // Get canvas context
            var x = document.getElementById('ttd');
            var ctx = x.getContext('2d');
            // Clear the canvas
            ctx.clearRect(120, 95, 400, 30);
            // Insert stuff into canvas
            ctx.fillStyle = "black";

            ctx.font = "16px Bookman Old Style";
            ctx.fillText(this.pekerjaan+"."+this.nip, 130, 110);
        },
        back(){
            this.$router.back()
        },
    }


}
</script>

<style >

</style>
