<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Revisi STTP</h6>
        </div>
      </div>
    </base-header>

    <div class="card card-frame">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row p-3 ml-2">
              <base-input style="width:40%" v-model="search" prepend-icon="fas fa-search" placeholder="Cari berdasarkan nip atau nama"></base-input>
            </div>
          </div>
        </div>
        <h4>Daftar Peserta</h4>
        <hr />
        <div class="table-responsive">
          <div>
            <table class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th
                    v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_admin'"
                    scope="col"
                    class="sort"
                  >
                    <center>Aksi</center>
                  </th>
                  <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                  <th scope="col" class="sort" data-sort="nama">Nama</th>
                  <th scope="col" class="sort">Instansi</th>
                </tr>
              </thead>
              <tbody class="list" v-for="(peserta,index) in dataFilter" :key="index">
                <tr
                  v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
                >
                  <td>
                    <div class="row justify-content-center">
                      <div class="col" v-if="peserta.tandaTangan != '' && peserta.tandaTangan != null">
                        <base-button
                          title="Edit Profil"
                          size="sm"
                          @click="revisiSttp(peserta.id)"
                          type="danger"
                        >
                          Revisi
                        </base-button>
                      </div>
                      <div class="col" v-if="peserta.tandaTangan == null">
                        <base-button
                          title="Validasi Peserta"
                          size="sm"
                          type="default"
                          disabled
                        >
                         Belum Upload
                        </base-button>
                      </div>
                      <div class="col" v-if="peserta.tandaTangan == ''">
                          <base-button
                          disabled
                          title="Validasi Peserta"
                          size="sm"
                          type="info"
                        >
                         Menunggu Revisi
                        </base-button>
                      </div>
                    </div>
                  </td>
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{peserta.nomorId}}</span>
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">{{peserta.nama}}</div>
                  </td>
                  <td class="noreg">
                    <div class="d-flex align-items-center">{{peserta.asalInstansi}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer py-4 d-flex justify-content-end">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
            <span
              v-if="selectedRows.length"
            >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>
          </p>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import Multiselect from "vue-multiselect";
import { Action } from "../../../store/api/types";
import axios from "axios";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  components: {
    DropzoneFileUpload,
  },
  data() {
    return {
      idValidasi: "",
      checkValid: false,
      statusValidasi: false,
      fileSingle: [],
      isiVerifikasi: Number,
      modalValidasi: false,
      modalEditFoto: false,
      showModalUpdateAkun: false,
      isikuota: 0,
      selectedRows: [],
      search: "",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      datapesertaASN: [],
      currentPage: "",
      files: [],
      change: {
        jenis: false,
      },
      buttonCheckbox: false,
      // API
      diklatU: [],
      listIzin: [],
      file: "",
      penjaminM: [],
      Pm: [],
      selected: "",
      textRed: false,
      izinkan: Number,
      aKelas: [],
      ind: [],
      detailPes: [],
      filesd: "",
      asn: [],
      nonasn: [],
      jenisPesertaDetail: "",
      dataFoto: [],
      isiFoto: "",
      allFoto: [],
      instansi: [],
      golpang: [],
      total:''
    //   dataFilter:[]
    };
  },
  created() {
    this.pesertaD();
  },
  watch: {
    
  },
  mounted() {
    
  },
  methods: {
      revisiSttp(id){
          //(id);
        let loader = this.$loading.show({
            container: null,
            canCancel: true,
            onCancel: this.onCancel,
        });
          this.$store.dispatch(`${Action.peserta.revisiSttp}`,id).then(res=>{
              this.total='';
              this.detailPes=[];
              this.pesertaD();
              loader.hide();
          })
      },
    // ambil peserta
    async pesertaD() {
        let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      await this.$store
        .dispatch(`${Action.peserta.ambilpesertatanpaid}`)
        .then((res) => {
            for(var i=0;i<res.data.length;i++){
                if(res.data[i].nama != null && res.data[i].nomorId != null){
                    this.detailPes.push(res.data[i]);
                }
                if(res.data.length -1 == i){
                    loader.hide();
                }
            }
          this.total = this.detailPes.length;
        });
    },
    // end ambil peserta

    //    kondisi check box
    teks(cek) {
      //(cek);
      this.textRed = cek;
    },
    // end kondisi check box

    // download dokumen SP
    downloadSP(sp) {
      //(sp);

      this.$store
        .dispatch(`${Action.izin.downloaddokumenSP}`, sp)
        .then((res) => {
          //("berhasil");
          //(res.data);
        });
    },
    // end download dokumen SP
    filesChange(files) {
      this.files = files;
    },
    back() {
      this.$router.back();
    },
    forceFileDownload(response) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", "file.png"); //or any other extension
      document.body.appendChild(link);
      link.click();
    },

    downloadWithVueResource(dl) {
      //(dl);

      this.$http({
        method: "get",
        url: dl,
        responseType: "arraybuffer",
      })
        .then((response) => {
          this.forceFileDownload(response);
        })
        .catch((err) => {
          //("error occured")
        });
    },

    downloadWithAxios(ass, ss) {
      //(ass);
      //(ss);

      //("tes");

      axios({
        method: "get",
        url: this.pdf,
        responseType: "arraybuffer",
      })
        .then((response) => {
          this.forceFileDownload(response);
        })
        .catch((err) => {
          //("error occured")
        });
    },
  },
  computed: {
      dataFilter(){
          if(this.search == ''){
              return [];
          } else if(this.search != ''){
              return this.detailPes.filter((fil) => {
              return fil.nama.toLowerCase().match(this.search.toLowerCase()) || fil.nomorId.toLowerCase().match(this.search.toLowerCase())
          })
          }
      },
    ambilrole() {
      return this.$store.state.auth.role;
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
  },
};
</script>