<template>
    <div>
        <card type="frame" class="my-3 mx-3">
            <div class="flex justify-between items-center mb-3">
                <div class="ml-3 my-2">
                    <h3 class="m-0">Check Dokumen Digital</h3>
                </div>
                <div class="flex-grow ml-20 mr-1 my2">
                    <!-- <base-input placeholder="Pencarian dengan 'NIK'" input-classes="text-right form-control-flush" class="m-0"></base-input> -->
                    <file-input class="mb-0" ref="filesDokumen" @change="filesDokumen"></file-input>
                    <small class="form-text text-red-400" v-if="alert_document">menggunakan file .pdf</small>
                </div>
                <div class="mr-3 ml-1 my2">
                    <base-button outline type="default" @click="btnCheckDokumen">Check Dokumen</base-button>
                </div>
            </div>
            <div>
                <p class="text-center font-medium mt-5 mx-4" v-if="msg.notes != null">{{ msg.notes }}</p>
                <p class="text-center font-medium mt-5 mx-4" v-if="msg.notes == null">Dokumen Tidak Valid</p>
            </div>
        </card>
    </div>
</template>
<script>
import axios from 'axios'
import FileInput from '@/components/Inputs/FileInput'
export default {
    components: {
        FileInput
    },
    data() {
        return {
            alert_document: false,
            msg: ''
        }
    },
    methods: {
        filesDokumen() {
            var filesDoc = this.$refs.filesDokumen.files[0]
            if (filesDoc.type != 'application/pdf') {
                this.alert_document = true
            }else{
                this.alert_document = false
            }
        },
        btnCheckDokumen() {
            if (this.$refs.filesDokumen.files[0] != undefined) {
                // this.loading = true
                // this.loadmsg = false

                let headers = {
                   "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'),
                    'Content-Type': 'application/x-www-form-urlencoded'
                }

                var formJata = new FormData()
                    formJata.append('dokumen', this.$refs.filesDokumen.files[0])

                // axios.post('https://smartbangkom.lan.go.id:8092/digitalsignature/cekfile', formJata, {headers: headers})
                axios.post('https://smartbangkom.lan.go.id:8092/digitalsignature/cekfile', formJata, {headers: headers})
                .then(resp => {
                    // this.loading = false
                    // this.loadmsg = true
                    // //(resp.data);
                    this.msg = resp.data
                })
                .catch(err => {
                    // //(err);
                })
            }
        }
    }
}
</script>
