<template>
  <div>
    <card>
      <div>
        <center>
          <h3>Tambah Template</h3>
        </center>
        <hr />
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            <base-input placeholder="Nama Template"></base-input>
          </div>
          <div class="col-md-6">
          <base-input label="Jenis Pelatihan">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
            </select>
          </base-input>
          </div>
        </div>
        <div class="row">
          <dropzone-file-upload v-model="fileSingle"></dropzone-file-upload>
        </div>
      </div>
    </card>
  </div>
</template>
<script>
export default {
    data(){
        return{
            fileSingle: []
        }
    }
}
</script>