<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Template Fungsional</h6>
        </div>
      </div>
    </base-header>
    <card type="frame">
      <div class="flex justify-between items-center mb-3">
        <base-input
          v-model="filterTemplate"
          prepend-icon="fas fa-search"
          placeholder="Search..."
        ></base-input>
        <base-button size="sm" type="info" @click="add(true)"
          >Tambah Template</base-button
        >
      </div>
      <div class="row" style="overflow-x: auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">No</th>
              <th scope="col">
                <center>Nama Template</center>
              </th>
              <th scope="col">
                <center>Jenis Template</center>
              </th>
              <th scope="col">
                <center>Penjamin Mutu</center>
              </th>
              <th scope="col">
                <center>Total Jp</center>
              </th>
              <th scope="col">
                <center>Unduh</center>
              </th>
              <th scope="col">
                <center>Aksi</center>
              </th>
            </tr>
          </thead>
          <tbody class="list" v-for="(temp, index) in searching" :key="index">
            <tr
              v-if="
                index >=
                  perPage * currentPage -
                    perPage &&
                index < perPage * currentPage
              "
            >
              <th scope="row">
                <div class="no align-items-center">{{ index + 1 }}</div>
              </th>
              <td class="nama">
                <div class="d-flex align-items-center">
                  <span class="completion mr-2">{{ temp.namaTemplate }}</span>
                </div>
              </td>
              <td class="nama">
                <div class="d-flex align-items-center">
                  <span class="completion mr-2">{{
                    temp.namaJenisPelatihan
                  }}</span>
                </div>
              </td>
              <td class="nama">
                <div class="d-flex align-items-center">
                  <span v-if="temp.penjaminmutu == 0" class="completion mr-2">Tidak Ada</span>
                  <span v-if="temp.penjaminmutu == 1" class="completion mr-2">LAN</span>
                  <span v-if="temp.penjaminmutu == 2" class="completion mr-2">Luar LAN</span>
                </div>
              </td>
              <td class="nama">
                <div class="d-flex align-items-center">
                  <span class="completion mr-2">{{ temp.totaljp }}</span>
                </div>
              </td>
              <td class="nama">
                <div class="d-flex align-items-center justify-content-center">
                  <a target="_blank" :href="'https://smartbangkom.lan.go.id:8094/master/downloadtemplate/'+temp.file">
                    <base-button size="sm" type="success">
                    <i class="ni ni-cloud-download-95"></i>
                  </base-button>
                  </a>
                </div>
              </td>
              <td>
                <div class="row justify-content-center">
                  <div class="col-sm-3">
                    <base-button
                      size="sm"
                      @click="edit(temp, true)"
                      type="warning"
                    >
                      <i class="fa fa-edit"></i>
                    </base-button>
                  </div>
                  <div class="col-sm-3">
                    <base-button
                      size="sm"
                      @click="del(temp.id, true)"
                      type="danger"
                    >
                      <i class="fa fa-trash"></i>
                    </base-button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4 d-flex justify-content-end">
        <p class="card-category">
          Showing {{ from }} to {{ to }} of {{ total }} entries
          <!-- <span
              v-if="selectedRows.length"
          >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>-->
        </p>
        <base-pagination
          class="pagination-no-border"
          v-model="currentPage"
          :per-page="perPage"
          :total="total"
        ></base-pagination>
      </div>
      <!-- add template -->
      <modal :show.sync="modalAdd">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Template</h5>
        </template>
        <div>
          <div class="row">
            <div class="col-md-6">
              <base-input
                label="Nama Template"
                v-model="namaTemplate"
              ></base-input>
            </div>
            <div class="col-md-6">
              <dropzone-file-upload
                v-model="fileMultiple"
                multiple
              ></dropzone-file-upload>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <base-input
                label="Total JP"
                v-model="totaljpForm"
              ></base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="">Jenis Pelatihan</label>
              <base-input>
                <select class="form-control" v-model="jenisPelatihan">
                  <option
                    v-for="(item, index) in listPelatihan"
                    :key="index"
                    :value="item.namaDiklat + ';' + item.idSipka"
                  >
                    {{ item.namaDiklat }}
                  </option>
                </select>
              </base-input>
              <!-- <multiselect class="m-0" :options="listPelatihan.nama" v-model="jenisPelatihan"></multiselect> -->
            </div>
          </div>
          <div class="row" v-if="statusTekFung == true">
            <div class="col-md-6">
              <label for="">Sektor Pelatihan</label>
              <base-input>
                <select class="form-control" v-model="jenisPelatihanSektor">
                  <option
                    v-for="(item, index) in listSektor"
                    :key="index"
                    :value="item.idSipka"
                  >
                    {{ item.namaDiklat }}
                  </option>
                </select>
              </base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="">Penjamin Mutu</label>
              <base-input>
                <select class="form-control" v-model="selectedPenjamin">
                  <option value="0">Tidak Ada</option>
                  <option value="1">LAN</option>
                  <option value="2">Luar LAN</option>
                </select>
              </base-input>
              <!-- <multiselect class="m-0" :options="listPelatihan.nama" v-model="jenisPelatihan"></multiselect> -->
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <label for="">Penjamin Mutu</label>
              <base-input>
                <select class="form-control" v-model="selectedPenjamin">
                  <option
                    v-for="(item, index) in penjaminM"
                    :key="index"
                    :value="item"
                  >
                    {{ item }}
                  </option>
                </select>
              </base-input>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <label for="">Instansi</label>
              <base-input>
                <select class="form-control" v-model="selectedInstansi">
                  <option value="0">Tidak Ada</option>
                  <option value="1">LAN</option>
                  <option value="2">Luar LAN</option>
                </select>
              </base-input>
              <!-- <multiselect class="m-0" :options="listPelatihan.nama" v-model="jenisPelatihan"></multiselect> -->
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <label for="">Nama Instansi</label>
              <base-input>
                <select class="form-control" v-model="selectedInstansi">
                  <option
                    v-for="(item, index) in instansiM"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.nama }}
                  </option>
                </select>
              </base-input>
            </div>
          </div> -->
        </div>
        <div>
          <p v-if="fileMultiple.length == 0" style="color:red">Lengkapi File..</p>
          <p v-if="fileMultiple.length > 1" style="color:red">File tidak boleh lebih dari satu</p>
        </div>
        <template slot="footer">
          <base-button type="secondary" @click="modalAdd = false"
            >Close</base-button
          >
          <base-button
          v-if="fileMultiple.length == 1"
            type="primary"
            @click="
              tambahTemplate(
                namaTemplate,
                jenisPelatihanId,
                jenisPelatihanSektor,
                fileMultiple, selectedPenjamin, totaljpForm, selectedInstansi
              )
            "
            >Simpan</base-button
          >
          <base-button
          v-if="fileMultiple.length == 0 || fileMultiple.length > 1"
            type="primary"
            @click="
              tambahTemplate(
                namaTemplate,
                jenisPelatihanId,
                jenisPelatihanSektor,
                fileMultiple, selectedPenjamin, totaljpForm, selectedInstansi
              )
            "
            disabled>Simpan</base-button
          >
        </template>
      </modal>
      <!-- end add template -->

      <!-- edit template -->
      <modal :show.sync="modalEdit">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Template</h5>
        </template>
        <div>
          <div class="row">
            <div class="col-md-6">
              <base-input
                label="Nama Template"
                v-model="namaTemplate"
              ></base-input>
            </div>
            <div class="col-md-6">
              <dropzone-file-upload
                v-model="fileMultiple"
                multiple
              ></dropzone-file-upload>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <base-input
                label="Total JP"
                v-model="totaljpForm"
              ></base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="">Jenis Pelatihan</label>
              <base-input>
                <select class="form-control" v-model="jenisPelatihan">
                  <option
                    v-for="(item, index) in listPelatihan"
                    :key="index"
                    :value="item.namaDiklat + ';' + item.idSipka"
                  >
                    {{ item.namaDiklat }}
                  </option>
                </select>
              </base-input>
              <!-- <multiselect class="m-0" :options="listPelatihan.nama" v-model="jenisPelatihan"></multiselect> -->
            </div>
          </div>
          <div class="row" v-if="statusTekFung == true">
            <div class="col-md-6">
              <label for="">Sektor Pelatihan</label>
              <base-input>
                <select class="form-control" v-model="jenisPelatihanSektor">
                  <option
                    v-for="(item, index) in listSektor"
                    :key="index"
                    :value="item.idSipka"
                  >
                    {{ item.namaDiklat }}
                  </option>
                </select>
              </base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="">Penjamin Mutu</label>
              <base-input>
                <select class="form-control" v-model="selectedPenjamin">
                  <option value="0">Tidak Ada</option>
                  <option value="1">LAN</option>
                  <option value="2">Luar LAN</option>
                </select>
              </base-input>
              <!-- <multiselect class="m-0" :options="listPelatihan.nama" v-model="jenisPelatihan"></multiselect> -->
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <label for="">Penjamin Mutu</label>
              <base-input>
                <select class="form-control" v-model="selectedPenjamin">
                  <option
                    v-for="(item, index) in penjaminM"
                    :key="index"
                    :value="item"
                  >
                    {{ item }}
                  </option>
                </select>
              </base-input>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <label for="">Instansi</label>
              <base-input>
                <select class="form-control" v-model="selectedInstansi">
                  <option value="0">Tidak Ada</option>
                  <option value="1">LAN</option>
                  <option value="2">Luar LAN</option>
                </select>
              </base-input>
              <!-- <multiselect class="m-0" :options="listPelatihan.nama" v-model="jenisPelatihan"></multiselect> -->
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <label for="">Nama Instansi</label>
              <base-input>
                <select class="form-control" v-model="selectedInstansi">
                  <option
                    v-for="(item, index) in instansiM"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.nama }}
                  </option>
                </select>
              </base-input>
            </div>
          </div> -->
        </div>
        <div>
          <p v-if="fileMultiple.length == 0" style="color:red">Lengkapi File..</p>
          <p v-if="fileMultiple.length > 1" style="color:red">File tidak boleh lebih dari satu</p>
        </div>
        <template slot="footer">
          <base-button type="secondary" @click="modalEdit = false"
            >Close</base-button
          >
          <base-button
          v-if="fileMultiple.length == 1"
            type="primary"
            @click="
              editTemplate(
                idTemplate,
                namaTemplate,
                jenisPelatihanId,
                jenisPelatihanSektor,
                fileMultiple, selectedPenjamin, totaljpForm, selectedInstansi
              )
            "
            >Simpan</base-button
          >
          <base-button
          v-if="fileMultiple.length == 0 || fileMultiple.length > 1"
            type="primary"
            @click="
              editTemplate(
                idTemplate,
                namaTemplate,
                jenisPelatihanId,
                jenisPelatihanSektor,
                fileMultiple, selectedPenjamin, totaljpForm, selectedInstansi
              )
            "
            disabled>Simpan</base-button
          >
        </template>
      </modal>
      <!-- end edit template -->

      <!-- modal delete -->
      <modal gradient="danger" :show.sync="modalDelete">
        <div class="py-3 text-center">
          <h5 class="modal-title text-white" id="exampleModalLabel">
            Apakah Anda Yakin ingin menghapus akun?
          </h5>
        </div>
        <template slot="footer">
          <base-button type="secondary" @click="modalDelete = false"
            >tutup</base-button
          >
          <base-button @click="hapusTemplate(idTemplate)" type="danger"
            >Hapus</base-button
          >
        </template>
      </modal>
      <!-- end modal delete -->
    </card>
  </div>
</template>
<script>
import { Select, Option } from "element-ui";
import { Action } from "../../../../store/api/types";
import swal from "sweetalert2";
import 'vue-loading-overlay/dist/vue-loading.css';
import Loading from 'vue-loading-overlay';
import "sweetalert2/dist/sweetalert2.css";
export default {
  components: {
    [Select.name]: Select,
    swal,
    Loading
  },
  data() {
    return {
      from:1,
      to:Number,
      totaljpForm:"",
      selectedInstansi:"",
      selectedPenjamin:"",
      listTemplateFinal: [],
      filterTemplate: "",
      idSektor: "",
      listSektor: [],
      statusTekFung: false,
      pelatihan: {
        namaDiklat: [],
        [Option.name]: Option,
      },
      idTemplate: "",
      fileMultiple: [],
      namaTemplate: "",
      jenisPelatihan: "",
      jenisPelatihanId: "",
      jenisPelatihanSektor: "",
      file: "",
      modalAdd: false,
      modalDelete: false,
      modalEdit: false,
      listTemplate: [],
      listPelatihan: [],
      penjaminM: [],
      instansiM:[],
        perPage: 5,
        currentPage: 1,
      total: 50,
    };
  },
  watch: {
    currentPage(val){
      const acuan = this.total / this.perPage;
      if(this.to < acuan){
        this.from = val;
        this.to = val+1;
      } else if(this.to >= acuan){
        this.from = val;
        this.to = val;
      }
    },
    jenisPelatihan(val) {
      if (val != null) {
        var isi = val.split(";");
        var Teknis = "TEKNIS";
        var Fungsional = "Fungsional";
        if (
          val.toLowerCase().match(Teknis.toLowerCase()) ||
          val.toLowerCase().match(Fungsional.toLowerCase())
        ) {
          this.statusTekFung = true;
          if (val.toLowerCase().match(Teknis.toLowerCase())) {
            this.sektor = 4;
          } else if (val.toLowerCase().match(Fungsional.toLowerCase())) {
            this.sektor = 5;
          }
        } else {
          this.statusTekFung = false;
          this.jenisPelatihanId = isi[1];
        }
        for (var i = 0; i < this.listPelatihan.length; i++) {
          // //(i);
          if (this.listPelatihan[i].sektor == this.sektor) {
            this.listSektor.push(this.listPelatihan[i]);
          }
        }
      }
    },
    modalAdd(val) {
      this.modalAdd = val;
      if (this.modalAdd == false) {
        (this.namaTemplate = ""),
          (this.jenisPelatihan = ""),
          (this.file = ""),
          (this.fileMultiple = []);
      }
    },
    modalEdit(val) {
      this.modalEdit = val;
      if (this.modalEdit == false) {
        (this.idTemplate = ""),
          (this.namaTemplate = ""),
          (this.jenisPelatihan = ""),
          (this.file = ""),
          (this.fileMultiple = []);
      }
    },
    modalDelete(val) {
      this.modalDelete = val;
      if (this.modalDelete == false) {
        this.idTemplate = "";
      }
    },
  },
  created() {
    this.to = this.currentPage+1;
    this.getInstansi();
    this.getMasterTemplate();
    this.getJenisPelatihan();
    this.getSektoDiklat();
    this.getPenjaminMutu();
  },
  methods: {
    async getInstansi(){
      var data = await this.$store.dispatch(`${Action.sipka.instansi}`);
      this.instansiM = data.data.data;
    },
    getSektoDiklat() {
      this.$store.dispatch(`${Action.sipka.prodik}`).then((res) => {
        // this.listSektor = res.data.data;
      });
    },
    getJenisPelatihan() {
      // let loader = this.$loading.show({
      //   container: null,
      //   canCancel: true,
      //   onCancel: this.onCancel,
      // });
      swal.showLoading();
      this.$store.dispatch(`${Action.master.prodikMaster}`).then((res) => {
        this.listPelatihan = res.data;
        // for(var i=0;i<res.data.length;i++){
        //   if(res.data[i].namaDiklat != null){
        //     this.listPelatihan.push({nama:res.data[i].namaDiklat, id:res.data[i].idSipka});
        //   }
        // }
        // this.listPelatihan=res.data;
        swal.close();
      });
    },
    async getPenjaminMutu() {
      var res = await this.$store.dispatch(`${Action.sipka.lemdik}`);
      for (var i = 0; i < res.data.data.length; i++) {
        this.penjaminM.push(res.data.data[i].nama);
      }
    },
    async getMasterTemplate() {
      console.log(Loading.components.Spinner);
      console.log(this.$loading);
      // let loader = Loading.components.Spinner._compiled();
      swal.showLoading();
      var data = await this.$store.dispatch(`${Action.master.getTemplate}`);
      //(data.data);
      var dataMasterPelatihan = await this.$store.dispatch(
        `${Action.master.prodikMaster}`
      );
      for (var i = 0; i < data.data.length; i++) {
        if (
          data.data[i].jenisPelatihan != null 
        ) {
          for (var j = 0; j < dataMasterPelatihan.data.length; j++) {
            if (
              dataMasterPelatihan.data[j].idSipka == data.data[i].jenisPelatihan
            ) {
              this.listTemplate.push({
                id: data.data[i].id,
                created: data.data[i].created,
                file: data.data[i].file,
                jenisPelatihan: data.data[i].jenisPelatihan,
                namaJenisPelatihan: dataMasterPelatihan.data[j].namaDiklat,
                namaTemplate: data.data[i].namaTemplate,
                totaljp: data.data[i].totaljp,
                penjaminmutu: data.data[i].penjaminmutu,
                updateOn: data.data[i].updateOn,
                instansi: data.data[i].instansi
              });
            }
          }
        } else if(data.data[i].jenisPelatihan == null | data.data[i].jenisPelatihan == ""){
          this.listTemplate.push({
                id: data.data[i].id,
                created: data.data[i].created,
                file: data.data[i].file,
                jenisPelatihan: data.data[i].jenisPelatihan,
                namaJenisPelatihan: "Tidak Ada",
                namaTemplate: data.data[i].namaTemplate,
                totaljp: data.data[i].totaljp,
                penjaminmutu: data.data[i].penjaminmutu,
                updateOn: data.data[i].updateOn,
                instansi: data.data[i].instansi
              });
        } 
        // if(data.data[i].jenisPelatihan == null ||
        //   data.data[i].jenisPelatihan == ""){
        //     this.listTemplate.push({
        //         id: data.data[i].id,
        //         created: data.data[i].created,
        //         file: data.data[i].file,
        //         jenisPelatihan: data.data[i].jenisPelatihan,
        //         namaJenisPelatihan: "",
        //         namaTemplate: data.data[i].namaTemplate,
        //         totaljp: data.data[i].totaljp,
        //         penjaminmutu: data.data[i].penjaminmutu,
        //         updateOn: data.data[i].updateOn,
        //         instansi: data.data[i].instansi
        //       });
        //   }
        if (i == data.data.length - 1) {
          // loader.hide();
          swal.close();
          this.listTemplateFinal = this.listTemplate;
          this.total = this.listTemplateFinal.length
          //(this.listTemplateFinal);
        }
      }
    },
    edit(isi, st) {
      (this.idTemplate = isi.id),
        (this.namaTemplate = isi.namaTemplate),
        (this.file = isi.file),
        (this.modalEdit = st),
        this.totaljpForm = isi.totaljp,
        this.selectedPenjamin = isi.penjaminmutu,
        this.selectedInstansi = isi.instansi;
        for(var i=0;i<this.listPelatihan.length;i++){
          if(this.listPelatihan[i].idSipka == isi.jenisPelatihan){
            this.jenisPelatihan = this.listPelatihan[i].namaDiklat+";"+isi.jenisPelatihan;
          }
        }
    },
    editTemplate(id, nama, jenis, sektor, file, mutu, jp, ins) {
      var namaFrom = nama;
      var doc = file;
      var penjaminAdd = mutu;
      var totaljp = jp;
      var instansiFrom = ins;
      if (this.statusTekFung == true) {
        var jenisPelatihan = sektor;
      } else {
        var jenisPelatihan = jenis;
      }
      // let loader = this.$loading.show({
      //   container: null,
      //   canCancel: true,
      //   onCancel: this.onCancel,
      // });
      swal.showLoading();
      this.$store
        .dispatch(`${Action.master.putTemplate}`, {
          id: id,
          namaTemplate: namaFrom,
          jenisPelatihan: jenisPelatihan,
          file: doc,
          penjaminmutu:penjaminAdd,
          totaljp: jp,
          instansi: instansiFrom
        })
        .then((res) => {
          //(res.data);
          this.modalEdit = false;
          this.listTemplateFinal = [];
          this.getMasterTemplate();
          this.listTemplate = [];
          // loader.hide();
          swal.close();
        });
    },
    add(st) {
      this.modalAdd = st;
    },
    async tambahTemplate(nama, jenis, sektor, file, mutu, jp, ins) {
      var namaFrom = nama;
      var doc = file;
      var penjaminAdd = mutu;
      var totaljp = jp;
      var instansiFrom = ins;
      if (this.statusTekFung == true) {
        var jenisPelatihan = sektor;
      } else {
        var jenisPelatihan = jenis;
      }
      // let loader = this.$loading.show({
      //   container: null,
      //   canCancel: true,
      //   onCancel: this.onCancel,
      // });
      swal.showLoading();
      var data = await this.$store.dispatch(`${Action.master.postTemplate}`, {
        namaTemplate: namaFrom,
        jenisPelatihan: jenisPelatihan,
        file: doc,
        penjaminmutu:penjaminAdd,
        totaljp: jp,
        instansi: instansiFrom
      });
      var dataMasterPelatihan = await this.$store.dispatch(
        `${Action.master.prodikMaster}`
      );
      for (var j = 0; j < dataMasterPelatihan.data.length; j++) {
        if (dataMasterPelatihan.data[j].idSipka == data.data.jenisPelatihan) {
          var isi = {
            id: data.data.id,
            created: data.data.created,
            file: data.data.file,
            jenisPelatihan: data.data.jenisPelatihan,
            namaJenisPelatihan: dataMasterPelatihan.data[j].namaDiklat,
            namaTemplate: data.data.namaTemplate,
            updateOn: data.data.updateOn,
            totaljp: data.data.totaljp,
                penjaminmutu: data.data.penjaminmutu,
                instansi: data.data.instansi
          };
          this.listTemplateFinal.push(isi);
        }
      }
      this.modalAdd = false;
      (this.jenisPelatihan = ""),
        (this.namaTemplate = ""),
        (this.fileMultiple = []);
      // loader.hide();
      swal.close();
      // })
    },
    del(id, st) {
      this.modalDelete = st;
      this.idTemplate = id;
    },
    hapusTemplate(id) {
      // let loader = this.$loading.show({
      //   container: null,
      //   canCancel: true,
      //   onCancel: this.onCancel,
      // });
      swal.showLoading();
      this.$store
        .dispatch(`${Action.master.deleteTemplate}`, id)
        .then((res) => {
          // loader.hide();
          swal.close();
          this.listTemplate = [];
          this.getMasterTemplate();
          this.modalDelete = false;
        });
    },
    back() {
      this.$router.back();
    },
  },
  computed: {
    searching() {
      return this.listTemplateFinal.filter((ls) => {
        return ls.namaJenisPelatihan
          .toLowerCase()
          .match(this.filterTemplate.toLowerCase());
      });
    },
  },
};
</script>