<template>
    <div>
        <card type="frame" class="my-3 mx-3">
            <div class="flex justify-between items-center mb-3">
                <div>
                    <h3 class="m-0">Buat Rencana Penyelenggaraan <small class="text-muted">Diklat</small></h3>
                </div>
                <!-- <div>
                    <base-button outline size="sm" type="default" @click="showModal = true">Tambah Rencana Penyelenggaraan Diklat</base-button>
                </div> -->
            </div>
            <div class="mt-5">
                <!-- <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Text</label>
                    <div class="col-md-10">
                        <base-input placeholder="Jon Snow"></base-input>
                    </div>
                </div> -->
                <div class="form-group row my-0">
                    <label class="col-md-2 col-form-label form-control-label">Nama Program Diklat</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" v-model="rencana_penyelenggaraan.nama_program_diklat"></textarea>
                        <small class="text-red-600" v-if="alert_rencana_penyelenggaraan.nama_program_diklat">Tidak Boleh Kosong</small>
                    </div>
                </div>
                <div class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Jenis Program Diklat</label>
                    <div class="col-md-10">
                        <multiselect :options="options_program_diklat" v-model="jenis_program_diklat" ></multiselect>
                        <small class="text-red-600" v-if="alert_rencana_penyelenggaraan.jenis_program_diklat">Tidak Boleh Kosong</small>
                    </div>
                </div>

                <div v-if="alert_rencana_penyelenggaraan.sektor_program_diklat" class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Sektor Program Diklat</label>
                    <div class="col-md-10">
                        <multiselect :options="options_sektor_diklat" v-model="rencana_penyelenggaraan.sektor_program_diklat"></multiselect>
                        <small class="text-red-600" v-if="alert_sektor_program_diklat">Tidak Boleh Kosong</small>
                    </div>
                </div>

                <div v-if="alert_rencana_penyelenggaraan.ju" class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label"></label>
                    <div class="col-md-10">
                        <input type="checkbox" class="form-controll" v-model="rencana_penyelenggaraan.jenjangutama"/>
                        <span>*Centang Apabila pelatihan untuk jenjang utama</span>
                    </div>
                </div>

                <div class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Tanggal Mulai</label>
                    <div class="col-md-3">
                        <base-input class="mb-0">
                        <date-picker v-model="time1" valueType="format"></date-picker>
                            <flat-picker slot-scope="{focus, blur}"
                                        @on-open="focus"
                                        @on-close="blur"
                                        :config="{allowInput: true}"
                                        class="form-control datepicker"
                                        v-model="rencana_penyelenggaraan.tanggal_mulai">
                            </flat-picker>
                        </base-input>
                    </div>
                    <div class="col-md-7 pl-0">
                        <p class="mb-0" style="margin-top:0.6rem;">{{ rencana_penyelenggaraan.tanggal_mulai | moment }}</p>
                    </div>
                </div>
                <div class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Tanggal Selesai</label>
                    <div class="col-md-3">
                        <base-input class="mb-0">
                            <flat-picker slot-scope="{focus, blur}"
                                        @on-open="focus"
                                        @on-close="blur"
                                        :config="{allowInput: true}"
                                        class="form-control datepicker"
                                        v-model="rencana_penyelenggaraan.tanggal_selesai">
                            </flat-picker>
                        </base-input>
                    </div>
                    <div class="col-md-7 pl-0">
                        <p class="mb-0" style="margin-top:0.6rem;">{{ rencana_penyelenggaraan.tanggal_selesai | moment }}</p>
                    </div>
                </div>
                <div class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Jumlah Kelas/Angkatan</label>
                    <div class="col-md-1 pr-1" style="margin-top: 0.15rem;">
                        <base-button block outline type="default" @click="tambahiKelasAngkatan">+</base-button>
                    </div>
                    <div class="col-md-1 px-0">
                        <base-input class="mb-0" placeholder="0" v-model="rencana_penyelenggaraan.jumlah_kelas_angkatan" disabled></base-input>
                        <!-- <small class="text-red-600" v-if="alert_rencana_penyelenggaraan.jumlah_kelas_angkatan">Tidak Boleh Kosong</small> -->
                    </div>
                    <div class="col-md-1 pl-1" style="margin-top: 0.15rem;">
                        <base-button block outline type="default" @click="kurangiKelasAngkatan">-</base-button>
                    </div>
                    <div class="col-md-7 pl-1" style="margin-top: 0.15rem;">
                        <div v-for="(diklat, index) in program_diklat" :key="index">
                            <div v-if="rencana_penyelenggaraan.jenis_program_diklat == diklat.nama">
                                <p class="mb-0" style="margin-top:0.6rem;">{{ diklat.kuota*rencana_penyelenggaraan.jumlah_kelas_angkatan }} Peserta</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-0 mb-0" v-if="alert_rencana_penyelenggaraan.jumlah_kelas_angkatan">
                    <label class="col-md-2 col-form-label form-control-label"></label>
                    <div class="col-md-10 pr-1" style="margin-top: 0.10rem;">
                        <small class="text-red-600" style="margin-left: 5rem">Tidak Boleh Kosong</small>
                    </div>
                </div>
                <div class="form-group row mt-3 mb-0" v-if="kelas_angkatan.length != 0">
                    <label class="col-md-2 col-form-label form-control-label"></label>
                    <div class="col-md-10">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="(angkatan, index) in kelas_angkatan" :key="index">
                                    <label class="font-sans text-sm font-medium m-0">Angkatan {{ index+1 }}</label>
                                    <base-input class="mt-2 mb-1" placeholder="Nama Angkatan" v-model="kelas_angkatan[index].namaangkt"></base-input>
                                    <textarea class="form-control" placeholder="Alamat" rows="3"  v-model="kelas_angkatan[index].alamat"></textarea>
                                    <base-input class="mt-2 mb-1" placeholder="Daerah" v-model="kelas_angkatan[index].daerah"></base-input>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group row mt-3 mb-0"> -->
                    <!-- <label class="col-md-2 col-form-label form-control-label"></label> -->
                    <!-- <div class="col-md-2">
                        <base-button  block outline type="primary" @click="pushKuotaPeserta">Tambah</base-button>
                    </div>
                    <div class="col-md-10">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(kuota, index) in kuota_peserta" :key="index">
                                <div class="form-group row my-0">
                                    <label class="col-md-3 col-form-label form-control-label text-right">Jumlah Peserta</label>
                                    <div class="col-md-9">
                                        <base-input class="m-0" placeholder="0" v-model="kuota_peserta[index].jumpes"></base-input>
                                    </div>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label class="col-md-3 col-form-label form-control-label text-right">Asal Instansi</label>
                                    <div class="col-md-9">
                                        <multiselect :options="options_instansi" v-model="kuota_peserta[index].asalInstansi"></multiselect>
                                    </div>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label class="col-md-3 col-form-label form-control-label text-right">Sumber Anggaran</label>
                                    <div class="col-md-9">
                                        <multiselect :options="options_sumber_anggaran" v-model="kuota_peserta[index].sumberAnggaran"></multiselect>
                                    </div>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label class="col-md-3 col-form-label form-control-label text-right">Pola Penyelenggaraan</label>
                                    <div class="col-md-9">
                                        <multiselect :options="options_pola_anggaran" v-model="kuota_peserta[index].polaPenyelenggaraan"></multiselect>
                                    </div>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label class="col-md-10 col-form-label form-control-label text-right"></label>
                                    <div class="col-md-2">
                                        <base-button block outline size="sm" type="danger" @click="deleteKuotaPeserta(index)">Hapus</base-button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="form-group row mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label"></label>
                    <div class="col-md-10">
                        <base-button type="primary" @click="submitData">Simpan</base-button>
                        <!-- <button class="btn btn-default btn-fill" @click="showSwal">Try me!</button> -->
                    </div>
                </div>
            </div>
        </card>
    </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import Multiselect from 'vue-multiselect'
// import DatePicker from 'vue2-datepicker';
// import 'vue2-datepicker/index.css';
// import "flatpickr/dist/flatpickr.css"
// import '@/assets/css/flatpickr.css';
import swal from 'sweetalert2'
import 'sweetalert2/dist/sweetalert2.css'
export default {
    components: {
        Multiselect,
        // DatePicker
    },
    created(){
        //("isi nama lemdik");
        //(this.namalemdik);
        // console.log(process.server);
        // if(process.client){
        //     console.log("client sini");
        // } else if(process.server){
        //     console.log("server sini");
        // }

    },
    data() {
        return {
            rencana_penyelenggaraan: {jenjangutama:'',akreditasi:'', nama_program_diklat: '', jenis_program_diklat: '',sektor_program_diklat:'', tanggal_mulai: new Date(), tanggal_selesai: new Date(), jumlah_kelas_angkatan: 0 },
            alert_rencana_penyelenggaraan: {ju:false, nama_program_diklat: false, jenis_program_diklat: false,sektor_program_diklat:false, tanggal_mulai: false, tanggal_selesai: false, jumlah_kelas_angkatan: false },
            jenis_program_diklat:'',
            sektor_program_diklat:'',
            alert_sektor_program_diklat:false,
            namalemdik:this.$cookies.get('isijwt').namauser,
            isilemdik:[],
            kelas_angkatan: [],
            kuota_peserta: [{ jumpes: '', asalInstansi: '', sumberAnggaran: '', polaPenyelenggaraan: '' }],
            options_program_diklat: [],
            options_sektor_diklat:[],
            isiprogramdiklat:[],
            isisektorprogramdiklat:[],
            options_instansi: [],
            options_sumber_anggaran: [ 'APBN-RM', 'APBN PNBP', 'APBN BLUD', 'APBD-RM' ],
            options_pola_anggaran: [ 'PNPB', 'Mandiri', 'Fasilitasi', 'Kemitraan' ],
            program_diklat: [],
        }
    },
    filters: {
        moment: function(value){
            moment.locale('id');
            return moment(value).format('dddd')+', '+moment(value).format('LL');
        }
    },
    mounted(){
        this.getProgramDiklat()
        this.getInstansi()
        this.getakreditasi()
    },
    watch:{
        jenis_program_diklat:function(val){

            //("isi kyota");

            //(this.getkuotaprogram(val));
            this.getakreditasi()
            this.options_sektor_diklat=[]
            this.isisektorprogramdiklat=[]
            var idsektor=0
            this.alert_rencana_penyelenggaraan.sektor_program_diklat=false
                if(val == "DIKLAT TEKNIS"){
                    this.alert_rencana_penyelenggaraan.sektor_program_diklat=true
                    idsektor=4
                }
                if(val == "DIKLAT FUNGSIONAL"){
                    this.alert_rencana_penyelenggaraan.sektor_program_diklat=true
                    this.alert_rencana_penyelenggaraan.ju=true
                    idsektor=5
                }
            //("isi tess keluar");

            //(this.alert_rencana_penyelenggaraan.sektor_program_diklat);

            axios.get('https://sipka.lan.go.id/api/MProgramDiklat')
            .then(res => {
                //(idsektor);

                this.program_diklat = res.data.data
                for (let i = 0; i < res.data.data.length; i++) {
                    const element = res.data.data[i];
                    if(element.sektor==idsektor){
                        this.options_sektor_diklat.push(element.nama)
                        this.isisektorprogramdiklat.push({nama:element.nama,kuota:element.kuota})
                    }
                }
            })
            .catch(err => {
                //(err);
            })
        }
    }
    ,
    methods: {
        getakreditasi:function(username){
            this.rencana_penyelenggaraan.akreditasi=''
            this.isilemdik=[]
            //("masuk siniii");
            //(this.jenis_program_diklat);


            axios.get('https://sipka.lan.go.id/api/Makreditasi')
            .then(res => {
                this.lemdik = res.data.data
                for (let i = 0; i < res.data.data.length; i++) {
                    const element = res.data.data[i];
                    if(element.jenisprogram==this.jenis_program_diklat && element.namaDiklat==this.namalemdik){
                        // if(element.masa_berlaku < )
                        var datestring = element.masa_berlaku
                        //(datestring);

                        var date = new Date(datestring).getTime()
                        var hariini = new Date().getTime()
                        //(date);
                        //(hariini);
                        if(date>hariini){
                            this.rencana_penyelenggaraan.akreditasi = element.nilai
                            //(this.rencana_penyelenggaraan.akreditasi);
                        }
                    }
                }
                //(this.rencana_penyelenggaraan.akreditasi);

            })
            .catch(err => {
                //(err);
            })
        },
        getProgramDiklat: function(){
            axios.get('https://sipka.lan.go.id/api/MProgramDiklat')
            .then(res => {
                this.program_diklat = res.data.data
                for (let i = 0; i < res.data.data.length; i++) {
                    const element = res.data.data[i];
                    if(element.sektor==0){
                    this.options_program_diklat.push(element.nama)
                    this.isiprogramdiklat.push({nama:element.nama,kuota:element.kuota})
                    }
                }
                //("barus kuota");
                //(this.isiprogramdiklat);


            })
            .catch(err => {
                //(err);
            })
        },
        getsektor(sektor){
            //("isi tess keluar");

            this.alert_rencana_penyelenggaraan.sektor_program_diklat=true
            axios.get('https://sipka.lan.go.id/api/MProgramDiklat')
            .then(res => {
                var idsektor=0
                if(sektor == "DIKLAT TEKNIS"){
                    idsektor=4
                }
                if(sektor == "DIKLAT DIKLAT FUNGSIONAL"){
                    idsektor=5
                }
                this.program_diklat = res.data.data
                for (let i = 0; i < res.data.data.length; i++) {
                    const element = res.data.data[i];
                    if(element.sektor==idsektor){
                        this.options_sektor_diklat.push(element.nama)
                    }
                }
            })
            .catch(err => {
                //(err);
            })
        }
        ,
        getInstansi: function() {
            axios.get('https://sipka.lan.go.id/api/Minstansi')
            .then(res => {
                for (let i = 0; i < res.data.data.length; i++) {
                    const element = res.data.data[i];
                    // this.options_instansi.push({ "text": element.nama, "value": element.id })
                    this.options_instansi.push(element.nama)
                }
            })
            .catch(err => {
                //(err);
            })
        },
        // pushKelasAngakatan: function() {
        //     if (this.rencana_penyelenggaraan.jumlah_kelas_angkatan != 0) {
        //         for (let i = 0; i <= this.rencana_penyelenggaraan.jumlah_kelas_angkatan.length; i++) {
        //             this.kelas_angkatan.push({ alamat: '', daerah: '' })
        //         }
        //     }
        // },
        tambahiKelasAngkatan: function() {
            this.rencana_penyelenggaraan.jumlah_kelas_angkatan += 1;
            this.kelas_angkatan.push({ alamat: '', daerah: '',namaangkt:'' });
        },
        kurangiKelasAngkatan: function() {
            this.rencana_penyelenggaraan.jumlah_kelas_angkatan -= 1;
            this.kelas_angkatan.pop();
        },
        pushKuotaPeserta: function() {
            this.kuota_peserta.push({ jumpes: '', asalInstansi: '', sumberAnggaran: '', polaPenyelenggaraan: '' })
        },
        deleteKuotaPeserta: function(value) {
            // this.kuota_peserta.pop(value)

            // const index = this.kuota_peserta.indexOf(value);
            // if (index > -1) {
                this.kuota_peserta.splice(value, 1);
            // }
            // this.kuota_peserta.push({ jumpes: '', asalInstansi: '', sumberAnggaran: '', polaPenyelenggaraan: '' })
        },
        getkuotaprogram:function(jp){
            if(this.rencana_penyelenggaraan.sektor_program_diklat==''){
                for(var i=0;i<this.isiprogramdiklat.length;i++){
                    if(jp==this.isiprogramdiklat[i].nama){
                        return this.isiprogramdiklat[i].kuota
                    }
                }
            }else{
                for(var i=0;i<this.isisektorprogramdiklat.length;i++){
                    if(jp==this.isisektorprogramdiklat[i].nama){
                        return this.isisektorprogramdiklat[i].kuota
                    }
                }
            }
        },
        submitData: function() {
            this.rencana_penyelenggaraan.jenis_program_diklat=this.jenis_program_diklat

            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });

            if (this.alert_rencana_penyelenggaraan.nama_program_diklat == "") {
                this.alert_rencana_penyelenggaraan.nama_program_diklat = true
            }

            if (this.alert_rencana_penyelenggaraan.jenis_program_diklat == "") {
                this.alert_rencana_penyelenggaraan.jenis_program_diklat = true
            }

            if (this.alert_rencana_penyelenggaraan.jumlah_kelas_angkatan == "") {
                this.alert_rencana_penyelenggaraan.jumlah_kelas_angkatan = true
            }

            if (this.alert_rencana_penyelenggaraan.nama_program_diklat !== "" && this.alert_rencana_penyelenggaraan.jenis_program_diklat !== "" && this.alert_rencana_penyelenggaraan.jumlah_kelas_angkatan !== "") {
                let arr = [], arrString = ""
                for (let i = 0; i < this.kuota_peserta.length; i++) {
                    const element = this.kuota_peserta[i];
                    arr.push('{ "asalInstansi": "'+element.asalInstansi+'", "jumpes": "'+element.jumpes+'", "sumberAnggaran": "'+element.sumberAnggaran+'", "polaPenyelenggaraan": "'+element.polaPenyelenggaraan+'" }');
                }

                for (let n = 0; n < arr.length; n++) {
                    const elemen = arr[n];
                    arrString += elemen+';'
                }

                let arrDetailKelas = [], arrDetailKelasString = ""
                for (let n = 0; n < this.kelas_angkatan.length; n++) {
                    const eleme = this.kelas_angkatan[n];
                    arrDetailKelas.push('{ "alamat": "'+eleme.alamat+'", "daerah": "'+eleme.daerah+'","nama": "'+eleme.namaangkt+'" }')
                }

                for (let m = 0; m < arrDetailKelas.length; m++) {
                    const elem = arrDetailKelas[m];
                    arrDetailKelasString += elem+';'
                }
                if(this.rencana_penyelenggaraan.jenjangutama){
                    this.rencana_penyelenggaraan.jenjangutama=1
                }else{
                    this.rencana_penyelenggaraan.jenjangutama=0
                }
                let isiDiklat = {"jenjangutama":this.rencana_penyelenggaraan.jenjangutama,"akreditasi": this.rencana_penyelenggaraan.akreditasi,"kelas": this.rencana_penyelenggaraan.jumlah_kelas_angkatan, "tgl_mulai": this.rencana_penyelenggaraan.tanggal_mulai, "tgl_akhir": this.rencana_penyelenggaraan.tanggal_selesai, "program": this.rencana_penyelenggaraan.jenis_program_diklat,"sektor_program":this.rencana_penyelenggaraan.sektor_program_diklat, "judul": this.rencana_penyelenggaraan.nama_program_diklat}

                let formZata = new FormData()
                    formZata.append('isidiklat', JSON.stringify(isiDiklat))
                    formZata.append('detail', arrString)
                    formZata.append('angkatan', arrDetailKelasString)

                let headers = {
                    "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'),
                    "Content-Type":'application/x-www-form-urlencoded'
                }
                let kuota =0
                if(this.rencana_penyelenggaraan.sektor_program_diklat==''){
                    //("program diklat");


                    kuota= this.getkuotaprogram(this.rencana_penyelenggaraan.jenis_program_diklat)
                }else{
                    kuota=this.getkuotaprogram(this.rencana_penyelenggaraan.sektor_program_diklat)
                }

                axios.post('https://smartbangkom.lan.go.id:8091/diklat/simpan/'+kuota, formZata, {headers: headers})
                .then(res => {
                    //(res);
                    if (res.status == 200) {
                        swal.fire(
                            'Berhasil di Simpan',
                            'Rencana penyelenggaraan diklat telah di simpan',
                            'success'
                        ).then(result => {
                            if (result.value) {
                                this.$router.push({ name: 'dashboard-rencana_penyelenggaraaan' })
                            }
                        })
                    }
                    this.alert_rencana_penyelenggaraan.nama_program_diklat = false
                    this.alert_rencana_penyelenggaraan.jenis_program_diklat = false
                    this.alert_rencana_penyelenggaraan.jumlah_kelas_angkatan = false

                    loader.hide();
                })
                .catch(err => {
                    //(err);
                })
            }
        },
    //     showSwal () {
    //         swal.fire(
    //             'Berhasil di Simpan',
    //             'Rencana penyelenggaraan diklat',
    //             'success'
    //         ).then(result => {
    //             if (result.value) {
    //                 this.$router.push({ name: 'dashboard-rencana_penyelenggaraaan' })
    //             }
    //         })
    //    }
    }
}
</script>
