<template>
  <div>
    <card type="frame" class="my-3 mx-3">
      <div class="flex justify-between items-center mb-3">
        <div>
          <h3 class="m-0">
            Rencana Penyelenggaraan
            <small class="text-muted">Diklat</small>
          </h3>
        </div>
        <div>
          <!-- <base-button outline size="sm" type="default" @click="showModal = true">Tambah Rencana Penyelenggaraan Diklat</base-button> -->
          <nuxt-link to="rencana_penyelenggaraaan/add">
            <base-button outline size="sm" type="default">Tambah Rencana Penyelenggaraan Diklat</base-button>
          </nuxt-link>
        </div>
      </div>
      <ul class="list-group">
        <div v-for="(rencana, index) in rencana_penyelenggaraan" :key="index">
          <li class="list-group-item" v-if="rencana.diklat.idUser==payload.iduser">
            <div class="flex justify-between items-center">
              <div class="text-center px-2 py-2">
                <!-- <font-awesome-icon :icon="['fas', 'newspaper']"  /> -->
                <!-- <font-awesome-icon icon="newspaper"  style="font-size: 30px"/> -->
                <img width="40px" src="@/assets/images/newspaper.png" />
              </div>
              <div class="flex-grow px-2 py-2 mx-1">
                <!-- <h5 class="m-0 p-0" v-if="rencana.diklat.program != null">{{ rencana.diklat.judul }} <small>{{ rencana.diklat.program }}</small></h5> -->
                <!-- <h5 class="m-0 p-0" v-if="rencana.diklat.program == '' || rencana.diklat.program == null">Belum ada jenis program diklat</h5> -->
                <h5 class="m-0 p-0">
                  {{ rencana.diklat.judul }}
                  <small>{{ rencana.diklat.program }}</small>
                </h5>
                <p class="text-sm m-0 p-0">
                  {{ rencana.diklat.tgl_mulai | moment}}
                  <small>sampai</small>
                  {{ rencana.diklat.tgl_akhir | moment}}
                </p>
                <!-- <p class="text-sm text-muted m-0 p-0">{{ rencana.diklat.kelas }} Kelas / Angkatan</p> -->
                <small
                  class="cursor-pointer"
                  @click="getRencanaPenyelenggaraanById_angkatan(rencana.diklat.id)"
                  v-if="rencana.diklat.kelas != '' || rencana.diklat.kelas != null"
                >{{ rencana.diklat.kelas }} Kelas / Angkatan,</small>
                <!-- <small v-if="rencana.diklat.kelas == '' || rencana.diklat.kelas == null">0 Kelas / Angkatan</small> -->
                <span v-for="(diklat, index) in program_diklat" :key="index">
                  <small
                    v-if="diklat.nama == rencana.diklat.program"
                  >{{ diklat.kuota*rencana.diklat.kelas }} Peserta</small>
                </span>
              </div>
              <div class="px-0 py-2 mr-0">
                <nuxt-link :to="{path:'/dashboard/register/peserta',query:{id:rencana.diklat.id}}">
                  <base-button size="sm" type="primary">Register Peserta</base-button>
                </nuxt-link>
                <!-- <base-button outline size="sm" type="default" class="m-0" @click="getRencanaPenyelenggaraanById_detail(rencana.diklat.id)">Detail</base-button> -->
                <base-button
                  outline
                  size="sm"
                  type="default"
                  class="m-0"
                  @click="getRencanaPenyelenggaraanById_update(rencana.diklat.id)"
                >Update</base-button>
                <base-button
                  outline
                  size="sm"
                  type="default"
                  class="m-0"
                  @click="modalDelete(rencana.diklat.id,true)"
                >Delete</base-button>
                <!-- <base-button outline size="sm" type="default" class="m-0" @click="delRencanaPenyelenggaraanById(rencana.diklat.id)">Hapus</base-button> -->
              </div>
              <!-- <div class="text-gray-700 text-center bg-gray-400 px-4 py-2">3</div> -->
            </div>
          </li>
        </div>
      </ul>
    </card>
    <modal size="lg" :show.sync="showModal">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Rencana Penyelenggaraan Diklat</h5>
      </template>
      <div>
        <div class="mt-2">
          <label class="font-sans text-base font-medium my-0 ml-1">Program Diklat</label>
          <multiselect
            track-by="text"
            label="text"
            :options="options_program_diklat"
            :searchable="false"
            :allow-empty="false"
          ></multiselect>
          <!-- <small class="text-red-600" v-if="alert_form_user.email">tidak boleh kosong</small> -->
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="font-sans text-base font-medium my-0 ml-1">Tanggal Mulai</label>
            <base-input>
              <flat-picker
                slot-scope="{focus, blur}"
                @on-open="focus"
                @on-close="blur"
                :config="{allowInput: true}"
                class="form-control datepicker"
                v-model="form_rencana_penyelenggaraan.tanggal_mulai"
              ></flat-picker>
            </base-input>
          </div>
          <div class="col">
            <label class="font-sans text-base font-medium my-0 ml-1">Tanggal Selesai</label>
            <base-input>
              <flat-picker
                slot-scope="{focus, blur}"
                @on-open="focus"
                @on-close="blur"
                :config="{allowInput: true}"
                class="form-control datepicker"
                v-model="form_rencana_penyelenggaraan.tanggal_selesai"
              ></flat-picker>
            </base-input>
          </div>
          <div class="col">
            <label class="font-sans text-base font-medium my-0 ml-1">Jumlah Kelas/Angkatan</label>
            <base-input
              v-model="form_rencana_penyelenggaraan.jumlah_kelas_angkatan"
              placeholder="..."
            ></base-input>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item p-0">
            <div class="form-group row mt-3 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Jumlah Peserta</label>
              <div class="col-md-8">
                <base-input class="m-0" placeholder="0"></base-input>
              </div>
            </div>
            <div class="form-group row mt-2 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Asal Instansi</label>
              <div class="col-md-8">
                <multiselect
                  track-by="text"
                  label="text"
                  :options="options_instansi"
                  :searchable="false"
                  :allow-empty="false"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Sumber Anggaran</label>
              <div class="col-md-8">
                <multiselect
                  track-by="text"
                  label="text"
                  :options="options_sumber_anggaran"
                  :searchable="false"
                  :allow-empty="false"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-3 mx-0">
              <label
                class="col-md-4 col-form-label form-control-label text-right"
              >Pola Penyelenggaraan</label>
              <div class="col-md-8">
                <multiselect
                  track-by="text"
                  label="text"
                  :options="options_pola_anggaran"
                  :searchable="false"
                  :allow-empty="false"
                ></multiselect>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModal = false">Close</base-button>
        <base-button size="sm" type="primary">Save changes</base-button>
      </template>
    </modal>
    <modal size="lg" :show.sync="showModalDetail">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Rencana Penyelenggaraan Diklat</h5>
      </template>
      <div>
        <ul class="list-group">
          <li
            class="list-group-item p-0"
            v-for="(detail, index) in rencana_penyelenggaraan_detail"
            :key="index"
          >
            <div class="form-group row mt-3 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Jumlah Peserta</label>
              <div class="col-md-8">
                <base-input
                  class="m-0"
                  placeholder="0"
                  v-model="rencana_penyelenggaraan_detail[index].jumpes"
                ></base-input>
              </div>
            </div>
            <div class="form-group row mt-2 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Asal Instansi</label>
              <div class="col-md-8">
                <!-- <multiselect track-by="text" label="text" :options="options_instansi" :searchable="true" :allow-empty="false" v-model="rencana_penyelenggaraan_detail[index].asalInstansi"></multiselect> -->
                <multiselect
                  :options="options_instansi"
                  v-model="rencana_penyelenggaraan_detail[index].asalInstansi"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Sumber Anggaran</label>
              <div class="col-md-8">
                <!-- <multiselect track-by="text" label="text" :options="options_sumber_anggaran" :searchable="false" :allow-empty="false" v-model="rencana_penyelenggaraan_detail[index].sumberAnggaran"></multiselect> -->
                <multiselect
                  :options="options_sumber_anggaran"
                  v-model="rencana_penyelenggaraan_detail[index].sumberAnggaran"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-3 mx-0">
              <label
                class="col-md-4 col-form-label form-control-label text-right"
              >Pola Penyelenggaraan</label>
              <div class="col-md-8">
                <!-- <multiselect track-by="text" label="text" :options="options_pola_anggaran" :searchable="false" :allow-empty="false" v-model="rencana_penyelenggaraan_detail[index].polaPenyelenggaraan"></multiselect> -->
                <multiselect
                  :options="options_pola_anggaran"
                  v-model="rencana_penyelenggaraan_detail[index].polaPenyelenggaraan"
                ></multiselect>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalDetail = false">Close</base-button>
        <base-button
          outline
          size="sm"
          type="default"
          class="mt-2"
          @click="tambahBaruDetail"
        >Tambah Baru Rencana</base-button>
        <base-button
          size="sm"
          type="primary"
          @click="putRencanaPenyelenggaraanById_detail"
        >Save changes</base-button>
      </template>
    </modal>
    <modal size="lg" :show.sync="showModalUpdate">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Update Rencana Penyelenggaraan Diklat</h5>
      </template>
      <div>
        <div>
          <label class="font-sans text-sm font-medium my-0 ml-1">Nama Program Diklat</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea3"
            rows="3"
            v-model="update_form_rencana_penyelenggaraan.judul"
          ></textarea>
        </div>
        <div class="mt-3">
          <label class="font-sans text-sm font-medium my-0 ml-1">Jenis Program Diklat</label>
          <!-- <multiselect track-by="text" label="text" :options="options_program_diklat" :searchable="false" :allow-empty="false" v-model="update_form_rencana_penyelenggaraan.jenis_program_diklat"></multiselect> -->
          <multiselect
            :options="options_program_diklat"
            v-model="sektorDiklat"
          ></multiselect>
        </div>
        <div class="mt-3" v-if="sektorStatus == true">
          <label class="font-sans text-sm font-medium my-0 ml-1">Jenis Sektor Diklat</label>
          <!-- <multiselect track-by="text" label="text" :options="options_program_diklat" :searchable="false" :allow-empty="false" v-model="update_form_rencana_penyelenggaraan.jenis_program_diklat"></multiselect> -->
          <multiselect
            :options="options_sektor_diklat"
            v-model="update_form_rencana_penyelenggaraan.sektor_program"
          ></multiselect>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="font-sans text-sm font-medium my-0 ml-1">Tanggal Mulai</label>
            <base-input class="mb-0">
              <flat-picker
                slot-scope="{focus, blur}"
                @on-open="focus"
                @on-close="blur"
                :config="{allowInput: true}"
                class="form-control datepicker"
                v-model="update_form_rencana_penyelenggaraan.tgl_mulai"
              ></flat-picker>
            </base-input>
          </div>
          <div class="col">
            <label class="font-sans text-sm font-medium my-0 ml-1">Tanggal Selesai</label>
            <base-input class="mb-0">
              <flat-picker
                slot-scope="{focus, blur}"
                @on-open="focus"
                @on-close="blur"
                :config="{allowInput: true}"
                class="form-control datepicker"
                v-model="update_form_rencana_penyelenggaraan.tgl_akhir"
              ></flat-picker>
            </base-input>
          </div>
          <div class="col">
            <label class="font-sans text-sm font-medium my-0 ml-1">Jumlah Kelas/Angkatan</label>
            <base-input
              class="mb-0"
              placeholder="..."
              v-model="update_form_rencana_penyelenggaraan.kelas"
            ></base-input>
          </div>
        </div>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalUpdate = false">Close</base-button>
        <base-button
          outline
          size="sm"
          type="warning"
          @click="kirimRencanaPenyelenggaraanById(kirim = !kirim)"
          v-if="update_form_rencana_penyelenggaraan.bursa == 0 && jenistf!=true"
        >Kirim ke Bursa</base-button>
        <base-button
          outline
          size="sm"
          type="success"
          @click="kirimRencanaPenyelenggaraanById(kirim = !kirim)"
          v-if="update_form_rencana_penyelenggaraan.bursa == 1 && jenistf!=true"
        >Sudah Terkirim ke Bursa</base-button>
        <base-button
          size="sm"
          type="primary"
          @click="putRencanaPenyelenggaraanById_update"
        >Save changes</base-button>
      </template>
    </modal>
    <modal size="lg" :show.sync="showModalKelasAngkatan">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Kelas / Angkatan</h5>
      </template>
      <div>
        <div v-if="rencana_penyelenggaraan_angkatan.length === 0">
          <div v-if="this.rencana_penyelenggaraan_angkatan_kelas.kelas === 0">
            <base-alert type="secondary">
              <strong>Warning!</strong> Segera update data terlebih dahulu
            </base-alert>
          </div>
          <div v-if="this.rencana_penyelenggaraan_angkatan_kelas.kelas != 0">
            <div v-for="(angkatan, index) in kelas_angkatan" :key="index">
              <label class="font-sans text-sm font-medium mb-2 mt-0">Angkatan {{ index+1 }}</label>
              <base-input
                class="mt-2 mb-2"
                placeholder="Nama Angkatan"
                v-model="kelas_angkatan[index].nama"
              ></base-input>
              <textarea
                class="form-control"
                placeholder="Alamat"
                rows="3"
                v-model="kelas_angkatan[index].alamat"
              ></textarea>
              <base-input
                class="mt-2 mb-2"
                placeholder="Daerah"
                v-model="kelas_angkatan[index].daerah"
              ></base-input>
            </div>
          </div>
        </div>
        <div v-if="rencana_penyelenggaraan_angkatan.length != 0">
          <div v-for="(angkatan, index) in rencana_penyelenggaraan_angkatan" :key="index">
            <label class="font-sans text-sm font-medium mb-2 mt-0">Angkatan {{ index+1 }}</label>
            <base-input
              class="mt-2 mb-2"
              placeholder="Nama Angkatan"
              v-model="rencana_penyelenggaraan_angkatan[index].nama"
            ></base-input>
            <textarea
              class="form-control"
              placeholder="Alamat"
              rows="3"
              v-model="rencana_penyelenggaraan_angkatan[index].alamat"
            ></textarea>
            <base-input
              class="mt-2 mb-2"
              placeholder="Daerah"
              v-model="rencana_penyelenggaraan_angkatan[index].daerah"
            ></base-input>
          </div>
        </div>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalKelasAngkatan = false">Close</base-button>
        <base-button
          size="sm"
          type="info"
          @click="kelasAngkatanKurang"
          v-if="rencana_penyelenggaraan_angkatan_sisa != 0"
        >Tambah Kelas/Angkatan</base-button>
        <base-button
          size="sm"
          type="primary"
          @click="putRencanaPenyelenggaraanById_angkatan"
          v-if="rencana_penyelenggaraan_angkatan.length != 0"
        >Save changes</base-button>
        <base-button
          outline
          size="sm"
          type="primary"
          @click="postKelasAngkatanTambahBaru"
          v-if="rencana_penyelenggaraan_angkatan.length === 0 && rencana_penyelenggaraan_angkatan_kelas.kelas != 0"
        >Save changes</base-button>
      </template>
    </modal>
    <modal size="lg" :show.sync="showModalDetailTambahBaru">
      <template slot="header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
        >Tambah Baru Detail Rencana Penyelenggaraan Diklat</h5>
      </template>
      <div>
        <base-button
          outline
          size="sm"
          type="default"
          class="mb-1 mt-0"
          @click="pushKuotaPeserta"
        >Tambah</base-button>
        <ul class="list-group">
          <li class="list-group-item p-0" v-for="(kuota, index) in kuota_peserta" :key="index">
            <div class="form-group row mt-3 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Jumlah Peserta</label>
              <div class="col-md-8">
                <base-input class="m-0" placeholder="0" v-model="kuota_peserta[index].jumpes"></base-input>
              </div>
            </div>
            <div class="form-group row mt-2 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Asal Instansi</label>
              <div class="col-md-8">
                <!-- <multiselect track-by="text" label="text" :options="options_instansi" :searchable="true" :allow-empty="false" v-model="rencana_penyelenggaraan_detail[index].asalInstansi"></multiselect> -->
                <multiselect
                  :options="options_instansi"
                  v-model="kuota_peserta[index].asalInstansi"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-0 mx-0">
              <label class="col-md-4 col-form-label form-control-label text-right">Sumber Anggaran</label>
              <div class="col-md-8">
                <!-- <multiselect track-by="text" label="text" :options="options_sumber_anggaran" :searchable="false" :allow-empty="false" v-model="rencana_penyelenggaraan_detail[index].sumberAnggaran"></multiselect> -->
                <multiselect
                  :options="options_sumber_anggaran"
                  v-model="kuota_peserta[index].sumberAnggaran"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-3 mx-0">
              <label
                class="col-md-4 col-form-label form-control-label text-right"
              >Pola Penyelenggaraan</label>
              <div class="col-md-8">
                <!-- <multiselect track-by="text" label="text" :options="options_pola_anggaran" :searchable="false" :allow-empty="false" v-model="rencana_penyelenggaraan_detail[index].polaPenyelenggaraan"></multiselect> -->
                <multiselect
                  :options="options_pola_anggaran"
                  v-model="kuota_peserta[index].polaPenyelenggaraan"
                ></multiselect>
              </div>
            </div>
            <div class="form-group row mt-2 mb-3 mx-0">
              <label class="col-md-10 col-form-label form-control-label text-right"></label>
              <div class="col-md-2">
                <base-button
                  block
                  outline
                  size="sm"
                  type="danger"
                  @click="deleteKuotaPeserta(index)"
                >Hapus</base-button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalDetailTambahBaru = false">Close</base-button>
        <base-button size="sm" type="primary" @click="postDetailTambahBaru">Save changes</base-button>
      </template>
    </modal>
    <modal size="lg" :show.sync="showModalKelasAngkatanKurang">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Kelas/Angkatan</h5>
      </template>
      <div>
        <!-- {{ rencana_penyelenggaraan_angkatan_sisa }} -->
        <div v-for="(kurang, index) in kelas_angkatan" :key="index">
          <label class="font-sans text-sm font-medium mb-2 mt-0">Angkatan ...</label>
          <base-input
            class="mt-2 mb-2"
            placeholder="Nama Angkatan"
            v-model="kelas_angkatan[index].nama"
          ></base-input>
          <textarea
            class="form-control"
            placeholder="Alamat"
            rows="3"
            v-model="kelas_angkatan[index].alamat"
          ></textarea>
          <base-input class="mt-2 mb-2" placeholder="Daerah" v-model="kelas_angkatan[index].daerah"></base-input>
        </div>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalKelasAngkatanKurang = false">Close</base-button>
        <base-button size="sm" type="primary" @click="postKelasAngkatanTambahBaru">Save changes</base-button>
      </template>
    </modal>
    <modal gradient="danger" :show.sync="showModalDelete">
                <div class="py-3 text-center">
                    <h5  class="modal-title text-white" id="exampleModalLabel">Apakah Anda Yakin ingin menghapus akun?</h5>
                </div>
                <template slot="footer">
                    <base-button type="secondary" @click="showModalDelete=false">tutup</base-button>
                    <base-button @click="getRencanaPenyelenggaraanById_delete(idDiklat)" type="danger">Hapus</base-button>
                </template>
      </modal>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
import { Action } from "../../../store/api/types";
import swal from "sweetalert2";
import '@/assets/css/flatpickr.css';

export default {
  data() {
    return {
      sektorStatus:false,
      sektorDiklat:"",
      idDiklat:"",
      jenistf: this.$store.state.auth.Jenisteknis,
      payload: this.$cookies.get("isijwt"),
      showModal: false,
      showModalDetail: false,
      showModalUpdate: false,
      showModalDelete:false,
      showModalKelasAngkatan: false,
      showModalDetailTambahBaru: false,
      showModalKelasAngkatanKurang: false,
      form_rencana_penyelenggaraan: {
        nama_program_diklat: "",
        jenis_program_diklat: "",
        tanggal_mulai: new Date(),
        tanggal_selesai: new Date(),
        jumlah_kelas_angkatan: "",
        bursa: "",
      },
      options_sektor_diklat:[],
      update_form_rencana_penyelenggaraan: {},
      // update_form_rencana_penyelenggaraan: { id: '', nama_program_diklat: '', jenis_program_diklat: '', tanggal_mulai: new Date(), tanggal_selesai: new Date(), jumlah_kelas_angkatan: '' },
      // update_rencana_penyelenggaraan_detail: { jumlah_peserta: '', asal_instansi: '', sumber_anggaran: '', pola_penyelenggara: '' },
      update_rencana_penyelenggaraan_detail: [],
      rencana_penyelenggaraan_detail: {},
      rencana_penyelenggaraan_angkatan: {},
      rencana_penyelenggaraan_angkatan_kelas: "",
      rencana_penyelenggaraan_angkatan_sisa: 0,
      // rencana_penyelenggaraan_detail_id: '',
      rencana_penyelenggaraan: {},
      program_diklat: {},
      options_program_diklat: [],
      options_instansi: [],
      options_sumber_anggaran: ["APBN-RM", "APBN PNBP", "APBN BLUD", "APBD-RM"],
      options_pola_anggaran: ["PNPB", "Mandiri", "Fasilitasi", "Kemitraan"],
      switches: { off: false, on: true },
      kirim: 0,
      kuota_peserta: [
        {
          jumpes: "",
          asalInstansi: "",
          sumberAnggaran: "",
          polaPenyelenggaraan: "",
        },
      ],
      id_kuota_peserta: 0,
      kelas_angkatan: [],
      kelas_angkatan_kurang: [],
      id_rencana_penyelenggara_diklat: 0,
    };
  },
  filters: {
    moment: function (value) {
      moment.locale("id");
      return moment(value).format("dddd") + ", " + moment(value).format("LL");
    },
  },
  mounted() {
    this.getInstansi();
    this.getProgramDiklat();
    this.getRencanaPenyelenggaraan();
    this.getRencanaByVuex();
  },
  watch:{
    sektorDiklat(val){
      this.sektorDiklat=val;
            this.options_sektor_diklat=[]
            var idsektor=0
            this.sektorStatus=false
            if(val == "DIKLAT TEKNIS"){
                  this.sektorStatus=true
                    idsektor=4
                    console.log(this.sektorStatus);
                }
                if(val == "DIKLAT FUNGSIONAL"){
                    idsektor=5
                    this.sektorStatus=true
                }
            // this.alert_rencana_penyelenggaraan.sektor_program_diklat=false
            this.getsektor(val);
    }
  },
  methods: {
    getsektor(sektor){
      console.log(sektor);
            //("isi tess keluar");
            this.$store.dispatch(`${Action.sipka.prodik}`)
            .then(res => {
                var idsektor=0
                if(sektor == "DIKLAT TEKNIS"){
                    idsektor=4
                }
                if(sektor == "DIKLAT FUNGSIONAL"){
                    idsektor=5
                }
                
                this.program_diklatSektor = res.data.data
                for (let i = 0; i < res.data.data.length; i++) {
                    const element = res.data.data[i];
                    if(element.sektor==idsektor){
                        this.options_sektor_diklat.push(element.nama)
                    }
                }
            })
            .catch(err => {
                //(err);
            })
        },
    modalDelete(id,st){
      this.showModalDelete=st;
      this.idDiklat=id;
      //(this.showModalDelete,this.idDiklat);
    },
    getInstansi: function () {
      axios
        .get("https://sipka.lan.go.id/api/Minstansi")
        .then((res) => {
          for (let i = 0; i < res.data.data.length; i++) {
            const element = res.data.data[i];
            // this.options_instansi.push({ "text": element.nama, "value": element.id })
            this.options_instansi.push(element.nama);
          }
        })
        .catch((err) => {
          //(err);
        });
    },
    getProgramDiklat: function () {
      axios
        .get("https://sipka.lan.go.id/api/MProgramDiklat")
        .then((res) => {
          this.program_diklat = res.data.data;
          console.log();
          for (let i = 0; i < res.data.data.length; i++) {
            const element = res.data.data[i];
            // this.options_program_diklat.push({ "text": element.nama, "value": element.id })
            this.options_program_diklat.push(element.nama);
          }
          // //(res.data.data);
        })
        .catch((err) => {
          //(err);
        });
    },
    getRencanaPenyelenggaraan: function () {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });

      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
        "Content-Type": "application/x-www-form-urlencoded",
      };

      this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`, this.payload.iduser).then((res) => {
          this.rencana_penyelenggaraan = res.data;
          loader.hide();
          // //(this.rencana_penyelenggaraan);
        })
        .catch((err) => {
          //(err);
        });
    },
    getRencanaPenyelenggaraanById_update: function (value) {
      this.showModalUpdate = true;
      console.log("sini");

      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
        // "Content-Type":'application/x-www-form-urlencoded'
      };

      axios
        .get("https://smartbangkom.lan.go.id:8091/diklat", { headers: headers })
        .then((res) => {
          // let api_rencana = res.data
          // //(api_rencana.diklat);

          for (let p = 0; p < res.data.length; p++) {
            const element_update = res.data[p];
            // //(element_update.diklat);
            if (value == element_update.diklat.id) {
              this.update_form_rencana_penyelenggaraan = element_update.diklat;
              this.sektorDiklat=this.update_form_rencana_penyelenggaraan.program;
              // console.log(this.update_form_rencana_penyelenggaraan);
              // this.update_form_rencana_penyelenggaraan.nama_program_diklat = element_update.diklat.judul
              // this.update_form_rencana_penyelenggaraan.jenis_program_diklat = element_update.diklat.program
              // this.update_form_rencana_penyelenggaraan.tanggal_mulai = element_update.diklat.tgl_mulai
              // this.update_form_rencana_penyelenggaraan.tanggal_selesai = element_update.diklat.tgl_akhir
              // this.update_form_rencana_penyelenggaraan.jumlah_kelas_angkatan = element_update.diklat.kelas
            }
          }
        })
        .catch((err) => {
          //(err);
        });
    },
    getRencanaPenyelenggaraanById_delete(id) {
        let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store.dispatch(`${Action.diklat.ambilangkatan}`, id).then((res) => {
        //(id);
        //(res);
        var isiAngkatan = [];
        isiAngkatan = res.data;
        this.$store
          .dispatch(
            `${Action.peserta.ambilpesertabyangkatan}`,
            isiAngkatan[0].id
          )
          .then((res) => {
            //(res.data);
            var isiPeserta = [];
            isiPeserta = res.data;
                  this.$store
              .dispatch(`${Action.diklat.delelteangkatan}`, isiAngkatan[0].id)
              .then((res) => {
                //(res.data);
                //(isiAngkatan);
                //('berhasil delete angkatan');
                this.$store
                  .dispatch(`${Action.diklat.deletediklat}`, id)
                  .then((res) => {
                    //(res.data);
                    //("berhasil delete diklat");
                    loader.hide();
                    this.rencana_penyelenggaraan=[];
                    this.getRencanaPenyelenggaraan();
                    this.showModalDelete=false;
                  });
              });
            this.$store
              .dispatch(`${Action.peserta.deletepeserta}`, isiPeserta[0].id)
              .then((res) => {
                  //('berhasil delete peserta');
              })
          });
      });
    },
    putRencanaPenyelenggaraanById_update: function (value) {
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
      };
      console.log(this.update_form_rencana_penyelenggaraan.sektor_program);
      let form_update = {
        judul: this.update_form_rencana_penyelenggaraan.judul,
        kelas: this.update_form_rencana_penyelenggaraan.kelas,
        tgl_mulai: this.update_form_rencana_penyelenggaraan.tgl_mulai,
        tgl_akhir: this.update_form_rencana_penyelenggaraan.tgl_akhir,
        program: this.sektorDiklat,
        bursa: this.update_form_rencana_penyelenggaraan.bursa,
        sektor_program:this.update_form_rencana_penyelenggaraan.sektor_program
      };

      axios
        .put(
          "https://smartbangkom.lan.go.id:8091/diklat/editDiklat/" +
            this.update_form_rencana_penyelenggaraan.id,
          form_update,
          { headers: headers }
        )
        .then((res) => {
          console.log(res.data);
          swal
            .fire("Berhasil di Simpan", "" + res.data.judul, "success")
            .then((result) => {
              if (result.value) {
                this.getRencanaPenyelenggaraan();
              }
            });
          this.showModalUpdate = false;
        })
        .catch((err) => {
          //(err);
        });
    },
    getRencanaPenyelenggaraanById_detail: function (value) {
      this.showModalDetail = true;
      this.id_kuota_peserta = value;

      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
        "Content-Type": "application/x-www-form-urlencoded",
      };

      axios
        .get("https://smartbangkom.lan.go.id:8091/diklat/detail/" + value, {
          headers: headers,
        })
        .then((res) => {
          this.rencana_penyelenggaraan_detail = res.data;
        })
        .catch((err) => {
          //(err);
        });
    },
    putRencanaPenyelenggaraanById_detail: function () {
      this.$store
        .dispatch(
          `${Action.diklat.editdetail}`,
          this.rencana_penyelenggaraan_detail
        )
        .then((res) => {
          swal
            .fire("Berhasil di Simpan", "" + res.data.asalInstansi, "success")
            .then((result) => {
              // if (result.value) {
              //     this.getRencanaPenyelenggaraan()
              // }
            });
          this.showModalDetail = false;
        })
        .catch((err) => {
          //(err);
        });
    },
    getRencanaPenyelenggaraanById_angkatan: function (value) {
      this.showModalKelasAngkatan = true;
      this.id_rencana_penyelenggara_diklat = value;

      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
      };

      axios
        .get("https://smartbangkom.lan.go.id:8091/diklat/angkatan/" + value, {
          headers: headers,
        })
        .then((res) => {
          this.rencana_penyelenggaraan_angkatan = res.data;
        })
        .catch((err) => {
          //(err);
        });

      axios
        .get("https://smartbangkom.lan.go.id:8091/diklat", { headers: headers })
        .then((res) => {
          for (let p = 0; p < res.data.length; p++) {
            const element_angkatan = res.data[p];
            if (value == element_angkatan.diklat.id) {
              this.rencana_penyelenggaraan_angkatan_kelas =
                element_angkatan.diklat;
            }
          }
          // //(this.rencana_penyelenggaraan_angkatan_kelas.kelas);
          if (this.rencana_penyelenggaraan_angkatan_kelas.kelas != 0) {
            this.kelas_angkatan = [];
            for (
              let t = 0;
              t < this.rencana_penyelenggaraan_angkatan_kelas.kelas;
              t++
            ) {
              this.kelas_angkatan.push({ alamat: "", daerah: "", nama: "" });
            }
          }

          let kelas = this.rencana_penyelenggaraan_angkatan_kelas.kelas;
          let isi_kelas = this.rencana_penyelenggaraan_angkatan.length;
          let sisa_kelas = kelas - isi_kelas;

          // //(this.rencana_penyelenggaraan_angkatan.length);
          // //(this.rencana_penyelenggaraan_angkatan_kelas.kelas);
          // //(sisa_kelas);
          if (sisa_kelas != 0) {
            this.rencana_penyelenggaraan_angkatan_sisa = sisa_kelas;
          }

          if (sisa_kelas == 0) {
            this.rencana_penyelenggaraan_angkatan_sisa = 0;
          }
        })
        .catch((err) => {
          //(err);
        });
    },
    putRencanaPenyelenggaraanById_angkatan: function () {
      this.$store
        .dispatch(
          `${Action.diklat.editangkatan}`,
          this.rencana_penyelenggaraan_angkatan
        )
        .then((res) => {
          swal
            .fire("Berhasil di Simpan", "" + res.data.alamat, "success")
            .then((result) => {
              // if (result.value) {
              //     this.getRencanaPenyelenggaraan()
              // }
              // //(res.data);
            });
          this.showModalKelasAngkatan = false;
        })
        .catch((err) => {
          //(err);
        });
    },
    getRencanaByVuex: function () {
      this.$store.dispatch(`${Action.diklat.ambilsemuadiklat}`).then((res) => {
        for (let l = 0; l < res.data.length; l++) {
          const element = res.data[l];
          // //(element.detail);
        }
        // //(res.data);
      });
    },
    delRencanaPenyelenggaraanById: function (value) {
      // //(value);
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
      };
      axios
        .delete("https://smartbangkom.lan.go.id:8091/diklat/" + value, {
          headers: headers,
        })
        .then((res) => {
          if (res.status == 200) {
            swal
              .fire(
                "Berhasil di Hapus",
                "Rencana Penyelenggaraan Diklat",
                "success"
              )
              .then((result) => {
                if (result.value) {
                  this.getRencanaPenyelenggaraan();
                }
              });
          }
          // //(res);
        })
        .catch((err) => {
          //(err);
        });
    },
    kirimRencanaPenyelenggaraanById: function (value) {
      // //(value);
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
      };

      let form_update_bursa = {
        judul: this.update_form_rencana_penyelenggaraan.judul,
        kelas: this.update_form_rencana_penyelenggaraan.kelas,
        tgl_mulai: this.update_form_rencana_penyelenggaraan.tgl_mulai,
        tgl_akhir: this.update_form_rencana_penyelenggaraan.tgl_akhir,
        program: this.sektorDiklat,
        sektor_program:this.update_form_rencana_penyelenggaraan.sektor_program,
        bursa: value ? 1 : 0,
      }; // //(form_update);

      axios
        .put(
          "https://smartbangkom.lan.go.id:8091/diklat/editDiklat/" +
            this.update_form_rencana_penyelenggaraan.id,
          form_update_bursa,
          { headers: headers }
        )
        .then((res) => {
          //(res);
          if (res.status == 200) {
            this.showModalUpdate = false;
          }
          if (res.status != 200) {
            this.showModalUpdate = true;
          }
          this.getRencanaPenyelenggaraan();
        })
        .catch((err) => {
          //(err);
        });
    },
    tambahBaruDetail: function () {
      this.showModalDetail = false;
      this.showModalDetailTambahBaru = true;
      // //(this.id_kuota_peserta);
    },
    pushKuotaPeserta: function () {
      this.kuota_peserta.push({
        jumpes: "",
        asalInstansi: "",
        sumberAnggaran: "",
        polaPenyelenggaraan: "",
      });
    },
    deleteKuotaPeserta: function (value) {
      this.kuota_peserta.splice(value, 1);
    },
    postDetailTambahBaru: function () {
      // //(this.kuota_peserta);
      // //(this.id_kuota_peserta);
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
      };
      for (let h = 0; h < this.kuota_peserta.length; h++) {
        const element_baru = this.kuota_peserta[h];
        axios
          .post(
            "https://smartbangkom.lan.go.id:8091/diklat/detail/" +
              this.id_kuota_peserta,
            element_baru,
            { headers: headers }
          )
          .then((res) => {
            swal
              .fire("Berhasil di Simpan", "" + res.data.asalInstansi, "success")
              .then((result) => {
                // if (result.value) {
                //     this.getRencanaPenyelenggaraan()
                // }
                // //(res.data);
              });
            this.showModalDetailTambahBaru = false;
          })
          .catch((err) => {
            //(err);
          });
      }
    },
    postKelasAngkatanTambahBaru: function () {
      let headers = {
        Authorization: "Bearer " + window.$nuxt.$cookies.get("token"),
      };

      for (let x = 0; x < this.kelas_angkatan.length; x++) {
        const element_angkatan_baru = this.kelas_angkatan[x];
        axios
          .post(
            "https://smartbangkom.lan.go.id:8091/diklat/angkatan/" +
              this.id_rencana_penyelenggara_diklat,
            element_angkatan_baru,
            { headers: headers }
          )
          .then((res) => {
            // //(res);
            swal
              .fire("Berhasil di Simpan", "" + res.data.alamat, "success")
              .then((result) => {
                // if (result.value) {
                //     this.getRencanaPenyelenggaraan()
                // }
                // //(res.data);
              });
            this.showModalKelasAngkatan = false;
            this.showModalKelasAngkatanKurang = false;
          })
          .catch((err) => {
            //(err);
          });
      }
    },
    kelasAngkatanKurang: function () {
      this.showModalKelasAngkatan = false;
      this.showModalKelasAngkatanKurang = true;
      // //(this.id_rencana_penyelenggara_diklat)
      this.kelas_angkatan = [];
      for (let f = 0; f < this.rencana_penyelenggaraan_angkatan_sisa; f++) {
        // const element_kurang = this.rencana_penyelenggaraan_angkatan_sisa[f];
        this.kelas_angkatan.push({ alamat: "", daerah: "", nama: "" });
      }
    },
  },
};
</script>
