<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Daftar Peserta Angkatan {{this.$route.query.nama}}</h6>
            </div>
        </div>
        </base-header>
        <div class="card card-frame">
            <div class="card-body">
        
        
        <div class="row">
        <div class="table-responsive col-sm-12">
            
        <div>
        <table class="table align-items-center" >
        <thead class="thead-light">
            <tr>
                <th>No</th>
                <th>Aksi</th>
                <th scope="col" class="sort" data-sort="no">Identitas</th>
                <th scope="col" >Nama Peserta</th>
                <th scope="col" >Instansi</th>
                <th scope="col" class="sort" data-sort="id">Jenis Kelamin</th>
                <th scope="col" class="sort" data-sort="nama">Golongan</th>
                <th scope="col" class="sort" data-sort="status">tempat lahir</th>

            </tr>
        </thead>
        <tbody class="list" v-for="(peserta,index) in datapeserta" :key="index">
           
            <tr >
               
                <th>{{index+1}}</th>
                <th scope="row">
                    <div class="no align-items-center">
                        {{peserta.nomorId}}
                    </div>
                </th>
                <td >
                    <div class="d-flex align-items-center">
                        <i class="fa fa-trash-alt text-danger" @click="modalhapus(peserta.id)"></i>
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{peserta.nama}}</span>
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{peserta.asalInstansi}}</span>
                    </div>
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{peserta.jenisKelamin}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{peserta.gol}}
                    </div>
                </td>
                <td class="status">
                    <div class="d-flex align-items-center">
                        {{peserta.tempatLahir}}
                    </div>
                </td>
            </tr>
                            
                            
                            
            </tbody>
        </table>
        <modal :show.sync="model.hapus"
                    gradient="danger"
                    modal-classes="modal-danger modal-dialog-centered">
                    <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta? </h6>

                    <template slot="footer">
                        <base-button v-on:click="hapuspeserta(tampungid)" type="white">Ya</base-button>
                        <base-button type="link"
                                    class="ml-auto text-white"
                                    @click="model.hapus = false">
                            Batal
                        </base-button>
                    </template>
                </modal> 
        </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</template>

<script>

import {Action} from '../../../../store/api/types'
export default {
    created(){
        this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{
            for(var i=0;i<res.data.length;i++){
                if(res.data[i].angkatan==this.idangkatan){
                    this.datapeserta.push(res.data[i])
                    //("datapeserta");
                    
                    //(this.datapeserta);
                    
                }
            }  
        })
    },
    data(){
        return{
            model:{
                hapus:false,
            },
            tampungid:0,
            iddiklat:this.$route.query.diklat,
            idangkatan:this.$route.query.angkatan,
            datapeserta:[],
        }
    },
    methods:{
        hapuspeserta(id){
            let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loadpeserta,
                canCancel: true,
                onCancel: this.onCancel,
            });

            this.model.hapus=false;
            //(id);
            this.$store.dispatch(`${Action.peserta.pindahangkatan}`,{id:this.tampungid,angkatan:0}).then(res=>{
                    loader.hide();
                    this.$router.go(-1);
                })
        },
        modalhapus(id){
            this.model.hapus=true;
            this.tampungid=id
        },
        back(){
            this.$router.back()
        },
    }
}
</script>