<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Verifikasi Peserta Pelatihan</h6>
            </div>
        </div>
        </base-header>

        <div class="card card-frame">
            <div class="card-body">
        
        
        <div class="row">
        <div class="col-sm-9">
            <base-input label="Pilih Angkatan">
                <select class="form-control" v-model="pilihangkatan" >
                    <option value="">Pilih Angkatan</option>
                    <option v-for="(kelas,index) in dataangkatan" :key="index" :value="kelas.id">Angkatan {{kelas.nama}}</option>
                </select>
            </base-input>
        <div class="table-responsive">
        <table class="table align-items-center" >
        <thead class="thead-light">
            <tr>
                <th scope="col" >
                    <input type="checkbox" v-model="selectAll" v-on:click="select" button-classes="btn-primary"/>
                </th>
                <th scope="col" class="sort" data-sort="no">Nama</th>
                <th scope="col" class="sort" data-sort="no">Identitas</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" >Instansi</th>
                <th scope="col" class="sort" data-sort="id">Jenis Kelamin</th>
                <th scope="col" class="sort" data-sort="nama">Golongan</th>
                <th scope="col" class="sort" data-sort="status">tempat lahir</th>

            </tr>
        </thead>
        
        <tbody class="list" v-for="(peserta,index) in datapeserta" :key="index">
            <!-- v-if="peserta.angkatan==0" -->
            <tr v-if="peserta.angkatan==null||peserta.angkatan==0">
                <th scope="row">
                    <div class="no align-items-center">
                        <input class="form-control" type="checkbox" v-model="selected" :value="peserta.id" button-classes="btn-primary" />
                    </div>
                </th>

                <th scope="row">
                    <div class="no align-items-center">
                        {{peserta.nama}}
                    </div>
                </th>
                <td class="noreg">
                    <div class="d-flex align-items-center">
                        {{peserta.nomorId}}
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{peserta.asalInstansi}}</span>
                    </div>
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{peserta.jenisKelamin}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{peserta.gol}}
                    </div>
                </td>
                
                <td class="status">
                    <div class="d-flex align-items-center">
                        {{peserta.tempatLahir}}
                    </div>
                </td>
            </tr>
                            
                            
                            
            </tbody>
        </table>

        </div>
        <br>
         <div class="row">
            <div class="col-sm-0">
                <input type="checkbox" class="form-controll" v-model="buttonCheckbox">
            </div>
            <div class="col-sm-7">
                <h5>Dengan ini saya menyatakan data yang saya isi adalah benar. </h5>
            </div>
         
         <div class="col-sm-4">
             <base-button v-on:click="tambah()" v-if="buttonCheckbox==true" type="success" >Tambah peserta</base-button>
            <base-button v-else type="success" disabled>Tambah peserta</base-button>
         </div>
         </div>
        </div>
        <div class="col-sm-3" >
            <div v-for="(angk,index) in listangkatan" :key="index">
                <nuxt-link :to="{path:'peserta/detailangkatan',query:{angkatan:angk.id,nama:index+1,diklat:iddiklat}}">
                <base-button size="sm" block type="primary">
                    Angkatan {{angk.nama}} <br>
                    Peserta : {{angk.jum}}
                </base-button>
                </nuxt-link>
            <br>
            </div>
            
        </div>
        </div>
            </div>
        </div>

    </div>
</template>

<script>
import {Action} from '../../../../store/api/types'
export default {
    created(){
        //loading         
         let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });
        //end loading
        this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`,this.payload.iduser).then(res=>{
            for(var i=0;i<res.data.length;i++){
                if(res.data[i].diklat.id == this.iddiklat){
                    
                    this.datadiklat=res.data[i].diklat;                
                    this.dataangkatan=res.data[i].angkatan;
                    this.datadetail=res.data[i].detail;
                    
                }
            }
            for(var a=0;a<this.dataangkatan.length;a++){
                var jum=0;
                
                for(var i=0;i<this.datapeserta.length;i++){
                    if(this.datapeserta[i].angkatan== this.dataangkatan[a].id){
                        jum=jum+1;
                    }
                }
                
                this.listangkatan.push({id:this.dataangkatan[a].id,nama:this.dataangkatan[a].nama,jum:jum})
                
            }
            loader.hide()
        })
        this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{
            this.datapeserta=res.data
            this.add=1
        })
        
        
    },
    data(){
        return{
            payload:this.$cookies.get('isijwt'),
            buttonCheckbox:false,
            iddiklat: this.$route.query.id,
            datadiklat:{},
            datapeserta:[],
            listangkatan:[],
            dataangkatan:{},
            datadetail:[],
            model:{
                hapus:false,
            },
            selected: [],
            selectAll: false,
            pilihangkatan:'',
            
            //fungsi
            add:0,
        }
    },
    watch:{
        add(){
                 this.listangkatan=[];
                for(var a=0;a<this.dataangkatan.length;a++){
                    var jum=0;
                    
                    for(var i=0;i<this.datapeserta.length;i++){
                        if(this.datapeserta[i].angkatan== this.dataangkatan[a].id){
                            jum=jum+1;
                        }
                    }
                    
                    this.listangkatan.push({id:this.dataangkatan[a].id,nama:this.dataangkatan[a].nama,jum:jum})
                    
                }
        }
    },
    methods:{
        tambah(){
            //loading         
         let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loadpeserta,
                canCancel: true,
                onCancel: this.onCancel,
            });
        //end loading

            //(this.selected)
            for(var i =0;i<this.selected.length;i++){
                
                this.$store.dispatch(`${Action.peserta.pindahangkatan}`,{id:this.selected[i],angkatan:this.pilihangkatan}).then(res=>{
                    //get peserta dan kuota
                    this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{
                        this.datapeserta=res.data
                        this.add=this.add+1
                    })
                    //end 
                    loader.hide()
                })
            }
            this.selected=[];
            //(this.datapeserta)
            //(this.kelas)
            
        },
        select() {
			this.selected = [];
			if (!this.selectAll) {
				for (let i in this.datapeserta) {
                    if(this.datapeserta[i].angkatan==null){
                        this.selected.push(this.datapeserta[i].id);
                    }
				}
			}
		},
        back(){
            this.$router.back()
        },
    },
}
</script>