<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Otorisasi Pelatihan</h6>
        </div>
      </div>
    </base-header>
    <card type="frame">
      <tabs
        tabNavClasses="nav-fill flex-column flex-sm-row nav-wrapper"
        tabContentClasses="card shadow"
      >
        <tab-pane id="home">
          <span slot="title">
            <i class="ni ni-cloud-upload-96"></i>
            Terotorisasi
          </span>
          <div class="row p-3 ml-2">
            <base-input
              v-model="search"
              prepend-icon="fas fa-search"
              placeholder="Search..."
            >
            </base-input>
          </div>
          <div style="overflow-x: auto" class="table-responsive">
            <table class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <!-- <th>
                    <label class="form-checkbox">
                      <input
                        type="checkbox"
                        v-model="selectAll"
                        @click="select"
                      />
                      <i class="form-icon"></i>
                    </label>
                  </th> -->
                  <th scope="col" class="sort" data-sort="no">No</th>
                  <th scope="col" class="sort" data-sort="status">Aksi</th>
                  <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                  <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                  <th scope="col" class="sort" data-sort="nama">
                    Program Pelatihan
                  </th>
                  <th scope="col" class="sort" data-sort="noreg">
                    Tahun Penyelenggaraan
                  </th>
                  <!-- <th scope="col" class="sort" data-sort="status">Jumlah Kelas</th> -->
                  <th scope="col" class="sort" data-sort="status">Status</th>
                </tr>
              </thead>
              <tbody class="list" v-for="(diklat, index) in otor" :key="index">
                <tr>
                  <!-- <td class="id">
                    <input
                      type="checkbox"
                      class="form-controll"
                      :value="diklat.id"
                      v-model="buttonCheck"
                    />
                  </td> -->
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{ index + 1 }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <base-button
                        size="sm"
                        type="info"
                        @click="Vdetail(diklat)"
                        >Lihat Detail</base-button
                      >
                    </div>
                  </td>

                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{ diklat.judul }}</span>
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">
                      {{ diklat.createdBy }}
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">
                      {{ diklat.program }}
                    </div>
                  </td>
                  <td class="noreg">
                    <div class="d-flex align-items-center">
                      {{ diklat.tgl_mulai }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <badge
                        v-if="diklat.verifikasi == 2"
                        rounded
                        type="success"
                        size="lg"
                        >Terverifikasi</badge
                      >
                      <badge
                        v-if="diklat.verifikasi != 2"
                        rounded
                        type="warning"
                        size="lg"
                        >Belum Terverifikasi</badge
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4 d-flex justify-content-end">
            <p class="card-category">
              Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
              <span v-if="selectedRows.length">
                &nbsp; &nbsp; {{ selectedRows.length }} rows selected
              </span>
            </p>
            <ul class="pagination">
              <li
                class="page-item prev-page"
                v-if="acuanPage != 0"
                @click="prefPage"
              >
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"
                    ><i class="fa fa-angle-left" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="page-item prev-page" v-if="acuanPage == 0" disabled>
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"
                    ><i class="fa fa-angle-left" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link">{{ acuanPage + 1 }}</a>
              </li>
              <li class="page-item next-page">
                <a class="page-link" aria-label="Next" @click="nextPage">
                  <span aria-hidden="true"
                    ><i class="fa fa-angle-right" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
            </ul>
          </div>
        </tab-pane>
        <tab-pane id="profile">
          <span slot="title">
            <i class="ni ni-cloud-upload-96"></i>
            Belum Terotorisasi
          </span>
          <div class="row p-3 ml-2">
            <base-input
              v-model="search2"
              prepend-icon="fas fa-search"
              placeholder="Search..."
            >
            </base-input>
          </div>
          <div style="overflow-x: auto" class="table-responsive">
            <table class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th>
                    <label class="form-checkbox">
                      <input
                        type="checkbox"
                        v-model="selectAll"
                        @click="select"
                      />
                      <i class="form-icon"></i>
                    </label>
                  </th>
                  <th scope="col" class="sort" data-sort="no">No</th>
                  <th scope="col" class="sort" data-sort="status">Aksi</th>
                  <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                  <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                  <th scope="col" class="sort" data-sort="nama">
                    Program Pelatihan
                  </th>
                  <th scope="col" class="sort" data-sort="noreg">
                    Tahun Penyelenggaraan
                  </th>
                  <!-- <th scope="col" class="sort" data-sort="status">Jumlah Kelas</th> -->
                  <th scope="col" class="sort" data-sort="status">Status</th>
                </tr>
              </thead>
              <tbody class="list" v-for="(diklat, index) in otor2" :key="index">
                <tr>
                  <td class="id">
                    <input
                      type="checkbox"
                      class="form-controll"
                      :value="diklat.id"
                      v-model="buttonCheck"
                    />
                  </td>
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{ index + 1 }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <base-button
                        size="sm"
                        type="info"
                        @click="Vdetail(diklat)"
                        >Lihat Detail</base-button
                      >
                    </div>
                  </td>

                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{ diklat.judul }}</span>
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">
                      {{ diklat.createdBy }}
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">
                      {{ diklat.program }}
                    </div>
                  </td>
                  <td class="noreg">
                    <div class="d-flex align-items-center">
                      {{ diklat.tgl_mulai }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <badge
                        v-if="diklat.verifikasi == 2"
                        rounded
                        type="success"
                        size="lg"
                        >Terverifikasi</badge
                      >
                      <badge
                        v-if="diklat.verifikasi != 2"
                        rounded
                        type="warning"
                        size="lg"
                        >Belum Terverifikasi</badge
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4 d-flex justify-content-end">
            <p class="card-category">
              Showing {{ from2 + 1 }} to {{ to2 }} of {{ total2 }} entries
              <span v-if="selectedRows2.length">
                &nbsp; &nbsp; {{ selectedRows2.length }} rows selected
              </span>
            </p>
            <ul class="pagination">
              <li
                class="page-item prev-page"
                v-if="acuanPage2 != 0"
                @click="prefPage2"
              >
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"
                    ><i class="fa fa-angle-left" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="page-item prev-page" v-if="acuanPage2 == 0" disabled>
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"
                    ><i class="fa fa-angle-left" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link">{{ acuanPage2 }}</a>
              </li>
              <li class="page-item next-page">
                <a class="page-link" aria-label="Next" @click="nextPage2">
                  <span aria-hidden="true"
                    ><i class="fa fa-angle-right" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="row">
            <div class="col-sm-0">
              <input
                type="checkbox"
                class="form-controll"
                v-model="buttonCheckbox"
              />
            </div>
            <div class="col-sm-7">
              <span
                >Dengan ini saya menyatakan data yang saya isi adalah benar. </span
              ><br />
              <p
                v-if="
                  (textRed == true && buttonCheckbox == false) ||
                  textRed == false
                "
                style="color: red; font-size: 80%"
              >
                Silahkan ceklis terlebih dahulu
              </p>
            </div>
            <div class="col-sm-1">
              <base-button
                v-if="buttonCheckbox == false"
                type="primary"
                @click="teks(true)"
                >Otorisasi</base-button
              >
              <base-button
                v-if="buttonCheckbox == true"
                type="primary"
                @click="otorisasi(buttonCheck, 1)"
                >Otorisasi</base-button
              >
            </div>
          </div>
        </tab-pane>
      </tabs>
    </card>
  </div>
</template>
<script>
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import { Action } from "../../../../store/api/types";
import "sweetalert2/dist/sweetalert2.css";
import swal from "sweetalert2";
export default {
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
  },
  data() {
    return {
      totalList: [],
      totalList2: [],
      acuanPage: 0,
      acuanPage2: 1,
      payload: this.$cookies.get("isijwt"),
      buttonCheck: [],
      buttonCheckbox: false,
      selectedRows: [],
      selectedRows2: [],
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      pagination2: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      i: 0,
      rencana: [
        {
          penyelenggara: "PusKAN",
          program: "Latsar CPNS I",
          tahun: "2020",
          jumlahkelas: "3",
          totpeserta: "120",
          jumpendf: "80",
          kuotasisa: "",
          status: "Kuota Penuh",
        },
        {
          penyelenggara: "PusKAN",
          program: "Latsar CPNS II",
          tahun: "2020",
          jumlahkelas: "3",
          totpeserta: "120",
          jumpendf: "80",
          kuotasisa: "",
          status: "Kuota Penuh",
        },
      ],
      selected: [],
      daftarA: [],
      otor: [],
      otor2: [],
      search: "",
      search2: "",
      textRed: false,
      selectAll: false,
      izin: [],
      otor1: [],
      vl: [],
      diklatID: [],
      filIz: [],
      idIz: [],
      isiOto: [],
      total: 0,
      total2: 0,
    };
  },
  created() {
    this.teks();
  },
  watch: {
      async search(val){
      this.otor=[];
      this.acuanPage=0;
      this.search = val;
      if(val.length != 0){
          let isi = {
        page:this.acuanPage+1,
        limit:this.pagination.perPage,
        jenis:2,
        status:2,
        judul:val
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.cariPengajuan}`,isi)
      console.log(hasil.data);
      this.otor=hasil.data
      } else if(val.length == 0){
          this.listOtorisasi();
      }
      
    },
    async search2(val){
      this.otor2=[];
      this.acuanPage2=0;
      this.search2 = val;
      if(val.length != 0){
          let isi = {
        page:this.acuanPage2,
        limit:this.pagination2.perPage,
        jenis:2,
        status:0,
        judul:val
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.cariPengajuan}`,isi)
      console.log(hasil.data);
      this.otor2=hasil.data
      } else if(val.length == 0){
          this.acuanPage2=1
          this.listOtorisasi2();
      }
      
    },
  },
  mounted() {
    //(this.buttonCheck);
    this.otorisasi();
    this.listIz();
    // this.listAll()
    this.listOtorisasi();
    this.listOtorisasi2();
  },
  methods: {
    async prefPage() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.verf = [];
      let isi = {
        page: this.acuanPage - 1,
        limit: this.pagination.perPage,
        jenis: 2,
        status: 2,
      };
      let hasil = await this.$store.dispatch(
        `${Action.diklat.getPengajuan}`,
        isi
      );
      if (hasil.status == 200) {
        this.acuanPage = this.acuanPage - 1;
        loader.hide();
        this.otor = hasil.data;
        this.total = hasil.data.length;
        this.totalList.push(hasil.data);
      }
    },
    async nextPage() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.otor = [];
      let isi = {
        page: this.acuanPage + 1,
        limit: this.pagination.perPage,
        jenis: 2,
        status: 2,
      };
      let hasil = await this.$store.dispatch(
        `${Action.diklat.getPengajuan}`,
        isi
      );
      if (hasil.status == 200) {
        this.acuanPage = this.acuanPage + 1;
        loader.hide();
        this.otor = hasil.data;
        this.total = hasil.data.length;
        this.totalList.push(hasil.data);
        if (hasil.data.length == 0) {
          swal({
            title: "Data Habis",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
        }
      }
    },
    async listOtorisasi() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let isi = {
        page: this.acuanPage,
        limit: this.pagination.perPage,
        jenis: 2,
        status: 2,
      };
      var hasil = await this.$store.dispatch(
        `${Action.diklat.getPengajuan}`,
        isi
      );
      if (hasil.status == 200) {
        loader.hide();
        this.otor = hasil.data;
      }
    },
    async listOtorisasi2() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let isi = {
        page: this.acuanPage2,
        limit: this.pagination2.perPage,
        jenis: 2,
        status: 0,
        judul:""
      };
      var hasil = await this.$store.dispatch(
        `${Action.diklat.cariPengajuan}`,
        isi
      );
      console.log(hasil);
      console.log(hasil);
      if (hasil.status == 200) {
        loader.hide();
        this.otor2 = hasil.data;
      }
    },
    async prefPage2() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.otor2 = [];
      let isi = {
        page: this.acuanPage2 - 1,
        limit: this.pagination2.perPage,
        jenis: 2,
        status: null,
      };
      let hasil = await this.$store.dispatch(
        `${Action.diklat.getPengajuan}`,
        isi
      );
      if (hasil.status == 200) {
        this.acuanPage2 = this.acuanPage2 - 1;
        loader.hide();
        this.otor2 = hasil.data;
        this.total2 = hasil.data.length;
        this.totalList2.push(hasil.data);
      }
    },
    async nextPage2() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.otor2 = [];
      let isi = {
        page: this.acuanPage2 + 1,
        limit: this.pagination2.perPage,
        jenis: 2,
        status: null,
      };
      let hasil = await this.$store.dispatch(
        `${Action.diklat.getPengajuan}`,
        isi
      );
      if (hasil.status == 200) {
        this.acuanPage2 = this.acuanPage2 + 1;
        loader.hide();
        this.otor2 = hasil.data;
        this.total2 = hasil.data.length;
        this.totalList2.push(hasil.data);
        if (hasil.data.length == 0) {
          swal({
            title: "Data Habis",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
        }
      }
    },
    listAll() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });

      this.buttonCheck = [];
      this.daftarA = [];
      this.otor1 = [];
      this.$store.dispatch(`${Action.diklat.ambilsemuadiklat}`).then((res) => {
        loader.hide();
        //(res.data);
        for (var i = 0; i < res.data.length; i++) {
          this.daftarA.push(res.data[i].diklat);
        }
        this.otor = this.daftarA.filter(
          (vr) => (vr.verifikasi === 2) & (vr.otorisasi === 2)
        );
        this.otor2 = this.daftarA.filter(
          (vr) => (vr.verifikasi === 2) & (vr.otorisasi != 2)
        );
        this.otor1.push(this.otor.id);
        // //(this.otor1);

        // //(this.otor.id);
        //("isi otor");

        //(this.otor);

        // //(this.daftarA);
        this.total = this.otor.length;
        this.total2 = this.otor2.length;
        // //(this.total);
      });
    },
    Vdetail(v) {
      //(v);
      this.$router.push({ path: "otorisasi/detail", query: { diklat: v } });
    },
    teks(cek) {
      //(cek);
      this.textRed = cek;
    },
    otorisasi(ind, st) {
      var isi = "";
      var isiDiklat = "";
      var ot = "";
      for (var i = 0; i < this.buttonCheck.length; i++) {
        this.diklatID = this.buttonCheck[i];
        // isiDiklat=isiDiklat+','+this.diklatID;
        // ot=ot+','+"2";
        // //(ot);

        //(this.diklatID);
        //(this.izin);
        this.filIz = this.izin.filter((tr) => tr.idDiklat === this.diklatID);
        // for(var j=0; j<this.filIz.length; j++){
        this.idIz.push(this.filIz[0].id);
        // isi=isi+','+this.idIz;
        this.$store
          .dispatch(`${Action.izin.otorisasiizin}`, this.idIz[i])
          .then((res) => {
            for (var k = 0; k < this.buttonCheck.length; k++) {
              this.$store
                .dispatch(`${Action.diklat.otorisasiStatus}`, {
                  id: this.buttonCheck[k],
                  otorisasi: 2,
                })
                .then((res) => {
                  this.listOtorisasi2()
                  //('verif berhasil');
                });
            }
          });
        // }
      }
      //("isinyaa");
      //(isiDiklat);
      //(isi);
    },
    listIz() {
      this.$store.dispatch(`${Action.izin.ambilizin}`).then((res) => {
        //(res.data);
        this.izin = res.data;
        var fl = this.izin.filter((tr) => tr.idDiklat === 1);
        //(fl);
      });
    },

    kuota(row, tot, pendaftar) {
      row.kuotasisa = tot - pendaftar;
    },
    back() {
      this.$router.back();
    },
    select() {
      this.buttonCheck = [];
      if (!this.selectAll) {
        for (let i in this.otor) {
          this.buttonCheck.push(this.otor[i].id);
        }
      }
    },
  },
  computed: {
    searching: function () {
      // return this.otor.filter((df)=>{
      //    return df.createdBy.match(this.search);
      // })
    },
    to() {
      // let highBound = this.from + this.pagination.perPage;
      // if (this.total < highBound) {
      // highBound = this.total;
      // //(this.total);
      // }
      // return highBound;
    },
    from() {
      return this.pagination.perPage * this.acuanPage;
    },
    to2() {
      let highBound = this.from2 + this.pagination2.perPage;
      if (this.total2 < highBound) {
        highBound = this.total2;
        //(this.total2);
      }
      return highBound;
    },
    from2() {
      return this.pagination2.perPage * (this.pagination2.currentPage - 1);
    },
  },
};
</script>

<style >
</style>
