<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Profile</h3>
      </div>
      <div class="col-4 text-right" v-for="(role, index) in roles" :key="index">
        <base-button size="sm" type="primary" @click="showModal = true" v-if="role == 'role_peserta'">Upload Photo</base-button>
      </div>
    </div>

    <div>
      <div v-for="(role, index) in roles" :key="index">
        <div v-if="role == 'role_admin'">
          <base-alert type="info">
            <strong>Info!</strong> Anda Sebagai Administrator
          </base-alert>
        </div>
        <div v-if="role == 'role_kld'">
          <base-alert type="info">
            <strong>Info!</strong> Anda Sebagai Administrator KLD
          </base-alert>
        </div>
        <div v-if="role == 'role_lemdik'">
          <base-alert type="info">
            <strong>Info!</strong> Anda Sebagai Administrator Lemdik
          </base-alert>
        </div>
        <div v-if="role == 'role_peserta'">
          <table class="table table-bordered table-sm">
            <tbody>
              <tr>
                <td width="200">NIP</td>
                <td>{{ profileData.nomorId }}</td>
              </tr>
              <tr>
                <td>Nama</td>
                <td>{{ profileData.nama }}</td>
              </tr>
              <tr>
                <td>Tempat, Tanggal Lahir</td>
                <td>{{ profileData.tempatLahir }}</td>
              </tr>
              <tr>
                <td>Jenis Kelamin</td>
                <td>{{ profileData.jenisKelamin }}</td>
              </tr>
              <tr>
                <td>Agama</td>
                <td>{{ profileData.agama }}</td>
              </tr>
              <tr>
                <td>Pangkat, Golongan</td>
                <td>{{ profileData.pangkat }}, {{ profileData.gol }}</td>
              </tr>
              <tr>
                <td>Asal Instansi</td>
                <td>{{ profileData.asalInstansi }}</td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td>{{ profileData.alamatKantor }}</td>
              </tr>
              <tr>
                <td>No.Telp</td>
                <td>{{ profileData.noTelp }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ profileData.email }}</td>
              </tr>
            </tbody>
          </table>
          <div class="mt-2">
            <base-button size="sm" type="primary" class="m-0" @click="showModalUpdateProfil= true">Update Profile</base-button>
          </div>
        </div>
      </div>
      <base-button size="sm" type="primary" class="mt-2" @click="showModalGantiPassword = true">Ganti Password</base-button>
      <base-button v-if="ambilrole!='role_peserta'" size="sm" type="primary" class="mt-2" @click="showModalUpdateAkun= true">Update Akun</base-button>
    </div>

    <modal :show.sync="showModal">
     <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Update Photo </h5>
     </template>
     <div>
      <label class="font-sans text-base font-medium my-0 ml-1">Photo (.jpg)</label>
      <!-- <b-form-file :file-name-formatter="photo" v-model="form_photo" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..." ></b-form-file> -->
      <file-input @change="photo" ref="photo" id="photo"></file-input>
      <small v-if="alert_photo">harus dengan file .jpg</small>
      <small v-if="photo_null">tidak boleh kosong</small>
     </div>
     <template slot="footer">
         <base-button size="sm" type="secondary" @click="showModal = false">Close</base-button>
         <base-button size="sm" type="primary" @click="postPhoto">Save changes</base-button>
     </template>
    </modal>
    <modal size="lg" :show.sync="showModalUpdateAkun">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Update Akun</h5>
      </template>
      <div>
        <div>
          <label class="font-sans text-base font-medium my-0 ml-1">Nama</label>
          <base-input class="m-0" placeholder="Nama" v-model="profileData.nama"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Username</label>
          <base-input class="m-0" placeholder="Username" v-model="profileData.username"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Email</label>
          <base-input class="m-0" type="email" placeholder="Email" v-model="profileData.email"></base-input>
        </div>
         <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Lemdik</label>
          <!-- <base-input class="m-0" type="text"  v-model="profileData.lemdik" disabled></base-input> -->
          <multiselect class="m-0" :options="options_lemdik" v-model="profileData.lemdik"></multiselect>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Instansi</label>
          <!-- <base-input class="m-0"  placeholder="Instansi" v-model="profileData.kementrianLembaga"></base-input> -->
          <multiselect class="m-0" :options="options_instansi" v-model="profileData.kementrianLembaga"></multiselect>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Akronim Instansi</label>
          <base-input class="m-0"  placeholder="akronim" v-model="profileData.akronim"></base-input>
        </div>
        <div v-if="ambilrole=='role_kepala_lan'|| ambilrole=='role_deputi'||ambilrole=='role_kepala_lemdik'">
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">NIK (Untuk Identitas Sertifikat Digital)</label>
          <base-input class="m-0"  placeholder="nik" v-model="profileData.nik"></base-input>
        </div>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalUpdateAkun = false">Close</base-button>
       <base-button size="sm" type="primary" @click="putUpdateAkun">Save changes</base-button>
      </template>
    </modal>
    <modal size="lg" :show.sync="showModalUpdateProfil">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
      </template>
      <div>
        <div>
          <label class="font-sans text-base font-medium my-0 ml-1">NIP</label>
          <base-input class="m-0" placeholder="" v-model="profileData.nomorId"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Nama</label>
          <base-input class="m-0" placeholder="" v-model="profileData.nama"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Tempat, Tanggal Lahir</label>
          <base-input class="m-0" placeholder="" v-model="profileData.tempatLahir"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Jenis Kelamin</label>
          <!-- <base-input placeholder="Nama" v-model="profileData.jenisKelamin"></base-input> -->
          <b-form-select :options="options_jk" v-model="profileData.jenisKelamin"></b-form-select>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Agama</label>
          <!-- <base-input placeholder="" v-model="profileData.agama"></base-input> -->
          <b-form-select :options="options_agama" v-model="profileData.agama"></b-form-select>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Jabatan</label>
          <base-input class="m-0" placeholder="" v-model="profileData.jabatan"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">pangkat</label>
          <!-- <base-input placeholder="" v-model="profileData.pangkat"></base-input> -->
          <b-form-select :options="options_pangkat_golongan" v-model="profileData.pangkat" @change="konverGol"></b-form-select>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Golongan</label>
          <base-input class="m-0" placeholder="" v-model="profileData.gol"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Email</label>
          <base-input class="m-0" placeholder="" v-model="profileData.email"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Asal Instansi</label>
          <!-- <base-input placeholder="" v-model="profileData.asalInstansi"></base-input> -->
          <multiselect :options="options_instansi" v-model="profileData.asalInstansi"></multiselect>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">Alamat Instansi</label>
          <base-input class="m-0" placeholder="" v-model="profileData.alamatKantor"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium mb-0 mt-2 ml-1">No.Telp</label>
          <base-input class="m-0" placeholder="" v-model="profileData.noTelp"></base-input>
        </div>

      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalUpdateProfil = false">Close</base-button>
       <base-button size="sm" type="primary" @click="putUpdateProfil">Save changes</base-button>
      </template>
    </modal>
    <modal :show.sync="showModalGantiPassword">
      <template slot="header">
        <h5 class="modal-title" id="exampleModalLabel">Ganti Password</h5>
      </template>
      <div>
        <base-alert type="warning" v-if="alert_password">
          <strong>Warning!</strong> Password tidak sama, mohon di ulangi
        </base-alert>
        <div>
          <label class="font-sans text-base font-medium my-0 ml-1">Password</label>
          <base-input type="password" placeholder="Password" v-model="ganti_password.password"></base-input>
        </div>
        <div>
          <label class="font-sans text-base font-medium my-0 ml-1">Confirm Password</label>
          <base-input type="password" placeholder="Confirm Password" v-model="ganti_password.confirm_password"></base-input>
        </div>
      </div>
      <template slot="footer">
        <base-button size="sm" type="secondary" @click="showModalGantiPassword = false">Close</base-button>
       <base-button size="sm" type="primary" @click="putGantiPassword">Save changes</base-button>
      </template>
    </modal>
  </card>
</template>
<script>
import axios from 'axios'
import FileInput from '@/components/Inputs/FileInput'
import swal from 'sweetalert2'
import 'sweetalert2/dist/sweetalert2.css'
import Multiselect from 'vue-multiselect'
import { Action } from '~/store/api/types'
export default {
  components: {
    FileInput,
    Multiselect
  },
  data() {
    return {
      showModalUpdateAkun: false,
      alert_password: false,
      showModalGantiPassword: false,
      showModalUpdateProfil: false,
      showModal: false,
      form_photo: null,
      alert_photo: false,
      photo_null: false,
      // token: window.$nuxt.$cookies.get('token'),
      roles: '',
      idUser: null,
      userdata:{},
      profileData: {},
      user: {
        company: 'Creative Code Inc.',
        username: 'michael23',
        email: '',
        firstName: 'Mike',
        lastName: 'Andrew',
        address: 'Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09',
        city: 'New York',
        country: 'USA',
        postalCode: '',
        aboutMe: `Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.`
      },
      ganti_password: { password: null, confirm_password: null },
      update_profil: { nama: null, username: null, email: null, instansi: null },
      options_instansi: [],
      options_lemdik:[],
      options_jk: [
        { value: 'Pria', text: 'Pria' },
        { value: 'Wanita', text: 'Wanita' }
      ],
      options_agama: [
        { value: 'Islam', text: 'Islam' },
        { value: 'Kristen Protestan', text: 'Kristen Protestan' },
        { value: 'Kristen Katolik', text: 'Kristen Katolik' },
        { value: 'Hindu', text: 'Hindu' },
        { value: 'Budha', text: 'Budha' }
      ],
      options_pangkat_golongan: [
        { value: 'Juru Muda', text: 'Juru Muda', gol: 'I/A'},
        { value: 'Juru Muda Tingkat I', text: 'Juru Muda Tingkat I', gol: 'I/B' },
        { value: 'Juru', text: 'Juru', gol: 'I/C' },
        { value: 'Juru Tingkat I', text: 'Juru Tingkat I', gol: 'I/D' },
        { value: 'Pengatur Muda', text: 'Pengatur Muda', gol: 'II/A' },
        { value: 'Pengatur Muda Tingkat I', text: 'Pengatur Muda Tingkat I', gol: 'II/B' },
        { value: 'Pengatur', text: 'Pengatur', gol: 'II/C' },
        { value: 'Pengatur Tingkat I', text: 'Pengatur Tingkat I', gol: 'II/D' },
        { value: 'Penata Muda', text: 'Penata Muda', gol: 'III/A' },
        { value: 'Penata Muda Tingkat I', text: 'Penata Muda Tingkat I', gol: 'III/B' },
        { value: 'Penata', text: 'Penata', gol: 'III/C' },
        { value: 'Penata Tingkat I', text: 'Penata Tingkat I', gol: 'III/D' },
        { value: 'Pembina', text: 'Pembina', gol: 'IV/A' },
        { value: 'Pembina Tingkat I', text: 'Pembina Tingkat I', gol: 'IV/B' },
        { value: 'Pembina Utama Muda', text: 'Pembina Utama Muda', gol: 'IV/C' },
        { value: 'Pembina Utama Madya', text: 'Pembina Utama Madya', gol: 'IV/D' },
        { value: 'Pembina Utama', text: 'Pembina Utama', gol: 'IV/E' }
      ],
    };
  },
  mounted() {
    this.getInstansi()
    this.getLemdik()
    this.getRoles()
    this.profile()
  },
  computed:{
      ambilrole(){
        return this.$store.state.auth.role
      }
    },
  methods: {
    getInstansi: function() {
      axios.get('https://sipka.lan.go.id/api/Minstansi')
      .then(res => {
        for (let i = 0; i < res.data.data.length; i++) {
          const element = res.data.data[i];
          // this.options_instansi.push({ "text": element.nama, "value": element.id })
          this.options_instansi.push(element.nama)
        }
      })
      .catch(err => {
        //(err);
      })
    },
    getLemdik: function() {
      axios.get('https://sipka.lan.go.id/api/Mlemdik')
      .then(res => {
        //("lemdik");
        //(res.data.data);
        for (let i = 1; i < res.data.data.length; i++) {
          const element = res.data.data[i];
          // this.options_instansi.push({ "text": element.nama, "value": element.id })
          this.options_lemdik.push(element.nama)
        }
      })
      .catch(err => {
        //(err);
      })
    },
    getRoles(){
      let ab = this.$cookies.get('token')
      let base64Url = ab.split('.')[1]
      let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/')
      let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) { return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2); }).join(''));
      let cd = JSON.parse(jsonPayload)
      this.roles = cd.scope
      this.idUser = cd.iduser
    },
    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.user));
    },
    profile: function() {
        if(this.ambilrole=="role_peserta"){
          let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token') }
          axios.get('https://smartbangkom.lan.go.id:8092/peserta/userPeserta/'+this.idUser, {headers:headers})
          .then(res => {
            // //(res.data);
            //("profile data");
            var idx= res.data.length
            this.profileData = res.data[idx-1]
            //(res.data);

          })
          .catch(err => {
            //(err);
          })
        }else{
          this.$store.dispatch(`${Action.user.userbyid}`,this.idUser).then(res=>{
            this.profileData=res.data
            //("profil");

            //(res.data);

          })
        }
    },
    photo(files) {
      var file = this.$refs.photo.files[0]
      if(file.type != "image/jpeg"){
        this.alert_photo = true;
        this.photo_null = false;
      }else{
        this.alert_photo = false;
        this.photo_null = false;
      }
    },
    postPhoto: function() {
      if (this.$refs.photo.files[0] == undefined) {
        this.photo_null = true
      }

      if (this.$refs.photo.files[0] != undefined) {
        let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'), "Content-Type":'application/x-www-form-urlencoded' }
        let filePhoto = this.$refs.photo.files[0]

        let formKata = new FormData()
            formKata.append('foto', filePhoto)
        axios.put('https://smartbangkom.lan.go.id:8092/peserta/editfoto/'+this.profileData.id, formKata, {headers:headers})
        .then(res => {
          swal.fire(
            'Berhasil di Update',
            '',
            'success'
          ).then(result => {
            if (result.value) {
              this.showModal = false
            }
          })
        })
        .catch(err => {
          if (err.response.status == 500) {
              swal.fire(
              'Gagal di Update Photo',
              '',
              'error'
            ).then(result => {
              if (result.value) {
                this.showModal = false
              }
            })
          }
        })
      }
    },
    putUpdateAkun: function() {
      // if (this.update_profil.nama != null && this.update_profil.username != null && this.update_profil.email != null && this.update_profil.instansi != null) {
        //(this.profileData);
        let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token') }
        let form_update = {
          "kementrianLembaga": this.profileData.kementrianLembaga,
          "nama": this.profileData.nama,
          "email": this.profileData.email,
          "username": this.profileData.username,
          "idInstansi":1,
          "akronim":this.profileData.akronim,
          "nik":this.profileData.nik,
          "lemdik":this.profileData.lemdik,
          "password":""
        }
        axios.put('https://smartbangkom.lan.go.id:8090/user/gantiprofil/'+this.profileData.id, form_update, {headers:headers})
        .then(res => {
          // //(res.data);
          swal.fire(
            'Berhasil di Update',
            ''+this.profileData.nama,
            'success'
          ).then(result => {
            if (result.value) {
              this.showModalUpdateAkun = false
            }
          })
        })
        .then(err => {
          //(err.responden.status);
          // if (err.responden.status != 200) {
          //   swal.fire(
          //     'Gagal di Update',
          //     ''+this.profileData.nama,
          //     'error'
          //   ).then(result => {
          //     if (result.value) {
          //       this.showModalUpdateProfil = false
          //     }
          //   })
          // }
        })
      // }
    },
    putGantiPassword: function() {
      // //(this.idUser);
      // //(this.ganti_password.password);
      // //(this.ganti_password.confirm_password);

      if (this.ganti_password.password != null && this.ganti_password.confirm_password != null) {
        if (this.ganti_password.password != this.ganti_password.confirm_password) {
          this.alert_password = true
        }

        if (this.ganti_password.password == this.ganti_password.confirm_password) {
          this.alert_password = false
          let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'), "Content-Type":'application/x-www-form-urlencoded' }
          let formPass = new FormData()
              formPass.append('password', this.ganti_password.password)
              formPass.append('confirm', this.ganti_password.confirm_password)
          axios.put('https://smartbangkom.lan.go.id:8090/user/gantipass/?password='+this.ganti_password.password+'&confirm='+this.ganti_password.confirm_password, '', {headers:headers})

          .then(res => {
            // //(res.data);
            swal.fire(
              'Password Berhasil di Ganti',
              '',
              'success'
            ).then(result => {
              if (result.value) {
                this.showModalGantiPassword = false
              }
            })
          })
          .catch(err => {
            //(err);
          })
        }
      }
    },
    putUpdateProfil: function() {
      this.showModalUpdateProfil = true
      //(this.profileData);
      let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token') }
      let form_update_profil = {
          "angkatan": this.profileData.angkatan,
          "jenis": this.profileData.jenis,
          "jenisPekerjaan": this.profileData.jenisPekerjaan,
          "nomorId": this.profileData.nomorId,
          "nama": this.profileData.nama,
          "tempatLahir": this.profileData.tempatLahir,
          "jenisKelamin": this.profileData.jenisKelamin,
          "agama": this.profileData.agama,
          "jabatan":this.profileData.jabatan,
          "pangkat": this.profileData.pangkat,
          "email": this.profileData.email,
          "asalInstansi": this.profileData.asalInstansi,
          "alamatKantor": this.profileData.alamatKantor,
          "noTelp": this.profileData.noTelp,
          "sumberAnggaran": this.profileData.sumberAnggaran,
          "polaPenyelenggaraan": this.profileData.polaPenyelenggaraan,
          "gol": this.profileData.gol
        }
      axios.put('https://smartbangkom.lan.go.id:8092/peserta/'+this.profileData.id, form_update_profil, {headers:headers})
      .then(res => {
        // //(res.data);
        // this.showModalUpdateProfil = false
        swal.fire(
          'Berhasil di Update',
          ''+this.profileData.nama,
          'success'
        ).then(result => {
          if (result.value) {
            this.showModalUpdateProfil = false
            // this.$router.push({ name: 'dashboard-rencana_penyelenggaraaan' })
          }
        })
      })
      .catch(err => {
        //(err);
      })
    },
    konverGol: function() {
      // //(this.profileData.pangkat);
      for (let b = 0; b < this.options_pangkat_golongan.length; b++) {
        const element_gol = this.options_pangkat_golongan[b];
        if (this.profileData.pangkat == element_gol.value) {
          this.profileData.gol = element_gol.gol
        }
      }
    }
  }
};
</script>
<style></style>
