<template>
  <div class="card card-profile">
    <!-- <img src="@/assets/images/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top"> -->
    <img src="@/assets/images/img1.jpg" alt="Image placeholder" class="card-img-top" v-if="theme == 0">
    <img src="@/assets/images/img2.jpg" alt="Image placeholder" class="card-img-top" v-if="theme == 1">
    <img src="@/assets/images/img3.jpg" alt="Image placeholder" class="card-img-top" v-if="theme == 2">
    <img src="@/assets/images/img4.jpg" alt="Image placeholder" class="card-img-top" v-if="theme == 3">
    <img src="@/assets/images/img5.jpg" alt="Image placeholder" class="card-img-top" v-if="theme == 4">
    <img src="@/assets/images/img6.jpg" alt="Image placeholder" class="card-img-top" v-if="theme == 5">

    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <a href="#">
            <img :src="'data:image.jpeg;base64,'+photoProfile" class="rounded-circle" v-if="photoProfile != null">
            <img src="@/assets/images/avatar.jpg" class="rounded-circle" v-if="photoProfile == null">
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
      <div class="d-flex justify-content-between">
        <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
        <a href="#" class="btn btn-sm btn-default float-right">Message</a>
      </div>
    </div> -->

    <div class="card-body pt-0">
      <!-- <div class="row">
        <div class="col">
          <div class="card-profile-stats d-flex justify-content-center">
            <div>
              <span class="heading">22</span>
              <span class="description">Friends</span>
            </div>
            <div>
              <span class="heading">10</span>
              <span class="description">Photos</span>
            </div>
            <div>
              <span class="heading">89</span>
              <span class="description">Comments</span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="text-center mt-7">
        <h5 class="h3" v-if="profileData.nama != null">
          {{ profileData.nama }} <!-- <span class="font-weight-light">, 27</span> -->
        </h5>
        <h5 class="h3" v-if="profileData.nama == null">
          Administrator <!-- <span class="font-weight-light">, 27</span> -->
        </h5>
        <div class="h5 font-weight-300">
          <!-- <i class="ni location_pin mr-2"></i> --> {{ profileData.nomorId }}
        </div>

        <div class="h5 mt-4" v-if="profileData.angkatan == null">

        </div>
        <div>
          <!-- <i class="ni education_hat mr-2"></i> --> {{ profileData.asalInstansi }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import { Action } from '~/store/api/types';
export default {
  // props: {
  //   profile: {
  //     type: Object,
  //     required: false
  //   }
  // },
  data() {
    return {
      // nip: this.profile.nomorId,
      // nama: this.profile.nama,
      profileData: {},
      idUser: null,
      photoProfile: null,
      theme: null
      // token: this.$nuxt.$cookies.get('token')
    }
  },
  mounted() {
    this.getRoles()
    this.profile()
    this.getRandom()
  },
  computed:{
      ambilrole(){
        return this.$store.state.auth.role
      }
  },
  methods: {
    getRoles(){
      let ab = this.$cookies.get('token')
      let base64Url = ab.split('.')[1]
      let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/')
      let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) { return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2); }).join(''));
      let cd = JSON.parse(jsonPayload)
      this.idUser = cd.iduser
    },
    profile: function() {
      //("tesss");

      if(this.ambilrole=="role_peserta"){
      //("peserta");

      let headers = { "Authorization":'Bearer '+window.$nuxt.$cookies.get('token') }
      axios.get('https://smartbangkom.lan.go.id:8092/peserta/userPeserta/'+this.idUser, {headers:headers})
      .then(res => {
        var idx= res.data.length
        this.profileData = res.data[idx-1]
        //(res.data);
        var foto= this.profileData.foto+'.';
        axios.get('https://smartbangkom.lan.go.id:8092/peserta/getfoto/'+foto, {headers:headers})
        .then(res => {
          //("profile poto");

          //(res.data);
          this.photoProfile = res.data
        })
        .catch(err => {
          //(err);
        })

      })
      .catch(err => {
        //(err);
      })
      }else{
        this.$store.dispatch(`${Action.user.userbyid}`,this.idUser).then(res=>{
            this.profileData=res.data
          })
      }
    },
    getRandom(){
      this.theme = Math.floor(Math.random() * 6);
    }
  }
}
</script>
<style></style>
