<template>
    <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Kirim Pengajuan Izin</h6>

        </div>

      </div>
    </base-header>

    <div class="card card-frame">

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm">
                                <h3>{{byId.program}}</h3>
                                <p class="text-sm text-muted mb-0">{{byId.judul}}</p>
                                <small>{{byId.tgl_mulai}} sampai {{byId.tgl_akhir}}</small>
                            </div>

                        </div>
                        <div class="row">
                        <card type="frame" class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-8">Jumlah Kelas</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{byId.kelas}} Kelas</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Jumlah Total Peserta</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{byId.kelas*isikuota}} Peserta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Jumlah Pendaftar</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{total}} Peserta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Sisa Jumlah Peserta</div>
                                <div class="col-sm-1">:</div>
                                <!-- <div class="col-sm-3">{{byId.kuota}} Peserta</div> -->
                                <div v-if="byId.kuota != null" class="col-sm-3">{{byId.kuota}} Peserta</div>
                                <div v-if="byId.kuota == null" class="col-sm-3">{{byId.kelas*isikuota}} Peserta</div>
                            </div>
                        </card>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <card type="frame" class="col-sm-12">
                            <h3>Ajukan Izin</h3>
                            <h5 >Upload Surat Pengajuan Izin</h5>
                            <div v-if="file != null" class="col-sm-3"><a target="_blank" :href="'https://smartbangkom.lan.go.id:8093/perizinan/downloaddokumen/2/'+file+'.'"><i class="fa fa-download text-success" ></i></a></div>
                            <file-input @change="filesChange"></file-input>
                            <base-input label="Penjamin Mutu">
                                <multiselect :options="penjaminM" v-model="selected" ></multiselect>
                                <!-- <select class="form-control" v-model="selected">
                                    <option value="">Tidak ada penjamin mutu</option>
                                    <option v-for="(mt, index) in Pm" :key="index" :value="mt.nama">{{mt.nama}}</option>
                                </select> -->
                            </base-input>
                            <div class="row">
                                <div class="col-sm-0">
                                    <input type="checkbox" class="form-controll" v-model="buttonCheckbox"/>
                                </div>
                                <div class="col-sm-10">
                                    <h5>Dengan ini saya menyatakan data yang saya isi adalah benar. </h5>
                                </div>
                            </div>
                            <p v-if="textRed == true && buttonCheckbox == false || textRed == false" style="color:red; font-size:80%">Silahkan ceklis terlebih dahulu</p>
                            <div v-if="spinner.isLoading">
                                <div class="spinner-border text-primary" role="status">
                                </div> Proses Upload Dokumen
                            </div>
                            <div v-else>
                                <div v-if="statusIzin == 0">
                                    <base-button v-if="buttonCheckbox == true" @click="sendIzin(byId.id,selected)" size="sm" type="primary">Kirim Pengajuan Izin</base-button>
                                    <base-button v-if="buttonCheckbox == false" @click="teks(true)" size="sm" type="primary">Kirim Pengajuan Izin</base-button>
                                </div>
                                <div v-else-if="statusIzin == 1">
                                    <base-button v-if="buttonCheckbox == true" @click="revisiIzin(byId.id,selected,idPerizinan)" size="sm" type="primary">Kirim Revisi Izin</base-button>
                                    <base-button v-if="buttonCheckbox == false" @click="teks(true)" size="sm" type="primary">Kirim Revisi Izin</base-button>
                                </div>
                            </div>
                        </card>
                    </div>
                </div>

                <h4>Daftar Kelas</h4>
                <hr>
                <div class="table-responsive">
                    <div>
                    <table class="table align-items-center" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="no">Angkatan</th>
                                <!-- <th scope="col" >Pilih Semua</th> -->
                                <!-- <th scope="col" >Asal instansi</th> -->
                                <th scope="col" class="sort" data-sort="id">Alamat Penyelenggaraan</th>
                                <th scope="col" class="sort" data-sort="nama">Daerah Penyelenggaraan</th>
                                <!-- <th scope="col" class="sort" data-sort="noreg">No Registrasi</th> -->
                                <!-- <th scope="col" class="sort" >Sumber Anggaran</th>
                                <th scope="col" class="sort">Pola Penyelenggaraan</th> -->

                            </tr>
                        </thead>
                        <tbody  class="list" >

                            <tr v-for="(kelas,index) in aKelas" :key="index" >
                                <!-- <th scope="row">
                                    <div class="no align-items-center">
                                        {{row.index}}
                                    </div>
                                </th> -->
                               <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{kelas.nama}}</span>
                                    </div>
                                </td>
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{kelas.alamat}}</span>
                                    </div>
                                </td>
                                <!-- <td > -->
                                    <!-- <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link> -->
                                    <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                    <!-- <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                                    <modal :show.sync="model.hapus"
                                        gradient="danger"
                                        modal-classes="modal-danger modal-dialog-centered">
                                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>


                                        <template slot="footer">
                                            <base-button type="white">Ya</base-button>
                                            <base-button type="link"
                                                        class="ml-auto text-white"
                                                        @click="model.hapus = false">
                                                Batal
                                            </base-button>
                                        </template>
                                    </modal>  -->
                                    <!-- <a target="_blank" :href="'http://intranet.lan.go.id:8555/sertifikat/'+peserta.nip+'/tandatangan/'+peserta.pathPDF+'.pdf'"><i class="fa fa-file-pdf text-primary"></i></a> -->

                                <!-- </td> -->
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{kelas.daerah}}</span>
                                    </div>
                                </td>
                                <!-- <td class="nama">
                                    <div class="d-flex align-items-center">
                                        {{aKelas.daerah}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{kelasDet.sumberAnggaran}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{kelasDet.polaPenyelenggaraan}}
                                    </div>
                                </td> -->
                                <!-- <td class="status">
                                    <div class="d-flex align-items-center" v-if="status!=1">
                                        Sudah Diajukan
                                    </div>
                                    <div class="d-flex align-items-center" v-else>
                                        Belum Diajukan
                                    </div>
                                </td> -->
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <h4>Daftar Peserta</h4>
                <hr>
                <div class="table-responsive">
                    <div>
                    <table class="table align-items-center" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="no">No</th>
                                <!-- <th scope="col" >Pilih Semua</th> -->
                                <!-- <th scope="col" >Aksi</th> -->
                                <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                                <th scope="col" class="sort" data-sort="nama">Nama</th>
                                <!-- <th scope="col" class="sort" data-sort="noreg">No Registrasi</th> -->
                                <th scope="col" class="sort" >Instansi</th>
                                <th scope="col" class="sort" >Sumber Anggaran</th>
                                <!-- <th scope="col" class="sort">Pola Anggaran</th> -->

                            </tr>
                        </thead>
                        <tbody  class="list"  v-for="(peserta,index) in detailPes" :key="index" >

                            <tr v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)">
                                <th scope="row">
                                    <div class="no align-items-center">
                                        {{index+1}}
                                    </div>
                                </th>

                                <!-- <td >
                                    <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link> -->
                                    <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                    <!-- <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                                    <modal :show.sync="model.hapus"
                                        gradient="danger"
                                        modal-classes="modal-danger modal-dialog-centered">
                                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>


                                        <template slot="footer">
                                            <base-button type="white">Ya</base-button>
                                            <base-button type="link"
                                                        class="ml-auto text-white"
                                                        @click="model.hapus = false">
                                                Batal
                                            </base-button>
                                        </template>
                                    </modal>
                                    <a target="_blank" :href="'http://intranet.lan.go.id:8555/sertifikat/'+peserta.nip+'/tandatangan/'+peserta.pathPDF+'.pdf'"><i class="fa fa-file-pdf text-primary"></i></a>

                                </td> -->
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{peserta.nomorId}}</span>
                                    </div>
                                </td>
                                <td class="nama">
                                    <div class="d-flex align-items-center">
                                        {{peserta.nama}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.asalInstansi}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.sumberAnggaran}}
                                    </div>
                                </td>
                                <!-- <td class="status">
                                    <div class="d-flex align-items-center" v-if="status!=1">
                                        Sudah Diajukan
                                    </div>
                                    <div class="d-flex align-items-center" v-else>
                                        Belum Diajukan
                                    </div>
                                </td> -->
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            <div class="card-footer py-4 d-flex justify-content-end">
                    <p class="card-category">
                            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                            <span v-if="selectedRows.length">
                            &nbsp; &nbsp; {{selectedRows.length}} rows selected
                            </span>
                        </p>
                    <base-pagination class="pagination-no-border"
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total="total"></base-pagination>
                </div>



</div>
</div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import {Action} from '../../../store/api/types';
import axios from 'axios';
export default {
    data(){
        return{
        isikuota:0,
        spinner:{
                isLoading:false
            },
            selectedRows: [],
            search: '',
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: []
      },
            files: [],
            change:{
                jenis:false,
            },
            buttonCheckbox:false,
            detail:[],
            byId:[],
            diklatD:[],
            detailD:[],
            penjaminM:[],
            Pm:[],
            textRed:false,
            selected:[],
            aKelas:[],
            kelasDet:[],
            ind:[],
            detailPes:[],
            statusIzin:"",
            selected:"",
            file:"",
            filesd:"",
            idPerizinan:""
        }
    },
    created(){
        //(this.$route.query.id);
        this.statusIzin = this.$route.query.status;
        //(this.$route.query.diklat);

    },
    mounted(){
        this.listDetail()
        this.teks()
        this.kelasD()
        this.mutu()
        this.kelasD()
        this.kelasDetail()
        this.pesertaD()
        this.kuotaprogram()
        this.getIzin()
    },
    methods:{
        pesertaD(){


            var di = this.$route.query.id
            this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,di).then(res =>{
                //(res.data);
                this.detailPes = res.data
                this.total=res.data.length
            })
        },
        teks(cek){
            //(cek);
            this.textRed=cek
        },
        kelasD(){
            var di = this.$route.query.id
            this.$store.dispatch(`${Action.diklat.ambilangkatan}`,di).then(res =>{
                //("angkatannnn");

                //(res.data);
                this.aKelas=res.data
                // for(var i=0;i<res.data.length;i++){
                //     this.aKelas=res.data[i]
                //     this.ind=i+1
                //     //(this.ind);

                //     //(this.aKelas);

                // }

            })
        },
        getIzin(){
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });

            this.$store.dispatch(`${Action.izin.ambilizin}`).then(res =>{
                // //(res.data);
                loader.hide();
                let isi = [];
                for(var i=0; i<res.data.length;i++){
                    // //(res.data[i].idDiklat);
                    // //(this.$route.query.diklat);

                    if(res.data[i].idDiklat==this.$route.query.id){
                        //(res.data[i]);
                        isi=res.data[i]
                        // //(isi);

                        this.selected=isi.penjaminMutu
                        this.idPerizinan = isi.id
                        this.file=res.data[i].suratPengajuan
                        this.filesd=res.data[i].suratDeputi
                        // //(this.file);
                        // //(this.filesd);

                    }
                }

            })
        },
        kelasDetail(){
            var di = this.$route.query.id
            this.$store.dispatch(`${Action.diklat.ambildetaildiklat}`,di).then(res =>{
                //(res.data);
                for(var i=0;i<res.data.length;i++){
                    this.kelasDet=res.data[i]
                    //(this.kelasDet);

                }

            })
        },
        mutu(){
            //("lemdik");
            this.$store.dispatch(`${Action.master.lemdikMaster}`).then(res =>{
                //("lemdik");
                //(res.data);
                this.Pm = res.data
                this.penjaminM.push("tidak ada penjamin mutu")
                for(var i=0; i<res.data.length; i++){
                    // //(res.data.data[i].nama);
                    this.penjaminM.push(res.data[i].namaLemdik)
                }
            })
        },
        revisiIzin(idDiklat,penjamin,idIzin){
            //(this.files);
            this.spinner.isLoading=true
            this.$store.dispatch(`${Action.izin.editizinUpload}`,{
                iddiklat:idDiklat,
                id:idIzin,
                dokumen:this.files[0],
                penjaminmutu:penjamin
            }).then(res =>{
                //(res.data);
                //('sukses');
                this.$store.dispatch(`${Action.diklat.verifikasiStatus}`,{
                id:idDiklat,
                verifikasi:1
            }).then(res =>{
                this.spinner.isLoading=false;
                this.$router.go(-1);
                //('verif 1 berhasil');

            })
            })
        },
        sendIzin(x,y){
            this.spinner.isLoading=true
            //(x);
            //(y);
            //(this.files[0]);

            this.$store.dispatch(`${Action.izin.ajukanizin}`,{
                id:x,
                dokumen:this.files[0],
                penjaminmutu:y
            }).then(res =>{

                //('sukses');
                //(x);

                this.$store.dispatch(`${Action.diklat.verifikasiStatus}`,{
                id:x,
                verifikasi:0
            }).then(res =>{
                this.spinner.isLoading=false;
                this.$router.go(-1);
                //('verif 0 berhasil');

            })
            })
        },
        kuotaprogram(){
            //("prodik");
            this.$store.dispatch(`${Action.master.prodikMaster}`).then(res=>{
                //("prodik");
                var data = res.data.data
                //(data);
                //(data.length);
                //(this.byId.program);

                for(var i =0;i<data.length;i++){
                    if(data[i].nama == this.byId.program){
                        this.isikuota = data[i].kuota
                        //("kuota");
                        //(this.isikuota);
                    }
                }
            })
        },
        listDetail(){


            this.$store.dispatch(`${Action.diklat.ambilsemuadiklat}`).then(res=>{
                //(res.data);
                for(var i=0; i<res.data.length; i++){
                    //(res.data[i].diklat);
                    if(res.data[i].diklat.id==this.$route.query.id){
                        this.byId = res.data[i].diklat
                    }
                    for(var j=0; j<res.data[i].detail.length; j++){
                        if(res.data[i].detail[j].idDiklat.id==this.$route.query.id){

                            this.diklatD = res.data[i].detail[j].idDiklat
                            //(this.diklatD);

                        }
                    }
                    }
                }
            )
        },
        back(){
            this.$router.back()
        },
       filesChange(files) {
        this.files = files
      }
    },
    computed:{
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);

      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);

    },
    }
}
</script>
