<template>
    <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Detail Pelatihan </h6>

        </div>

      </div>
    </base-header>

    <div class="card card-frame">

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm">
                                <h3>{{diklatU.judul}}</h3>
                                <p class="text-sm text-muted mb-0">{{diklatU.program}}</p>
                                <small>{{diklatU.tgl_mulai}} sampai {{tgl_akhir}}</small>
                            </div>

                        </div>
                        <div class="row">
                        <card type="frame" class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-8">Jumlah Kelas</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{diklatU.kelas}} Kelas</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Jumlah Total Peserta</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{diklatU.kelas*isikuota}} Peserta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Jumlah Pendaftar</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{total}} Peserta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Sisa Jumlah Peserta</div>
                                <div class="col-sm-1">:</div>
                                <div v-if="diklatU.kuota != null" class="col-sm-3">{{diklatU.kuota}} Peserta</div>
                                <div v-if="diklatU.kuota == null" class="col-sm-3">{{diklatU.kelas*isikuota}} Peserta</div>
                            </div>
                        </card>

                        <div class="col-sm-6">
                        <card type="frame" class="col-sm-12">
                            <h3>Pengajuaan Izin</h3>
                            <div class="row">
                                <div class="col-sm-8">Download Surat Pengajuan Izin</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3"><a target="_blank" :href="'https://smartbangkom.lan.go.id:8093/perizinan/downloaddokumen/2/'+file+'.'"><i class="fa fa-download text-success" ></i></a></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <base-input label="Penjamin Mutu">
                                        {{selected}}
                                    </base-input>
                                </div>
                            </div>

                        </card>
                    </div>

                        </div>
                    </div>

                </div>

                <h4>Daftar Kelas</h4>
                <hr>
                <div class="table-responsive">
                    <div>
                    <table class="table align-items-center" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="no">Nama Angkatan</th>
                                <!-- <th scope="col" >Pilih Semua</th> -->
                                <!-- <th scope="col" >Asal instansi</th> -->
                                <th scope="col" class="sort" data-sort="id">Tempat Penyelenggaraan</th>
                                <th scope="col" class="sort" data-sort="nama">Daerah Penyelenggaraan</th>
                                <!-- <th scope="col" class="sort" data-sort="noreg">No Registrasi</th> -->
                                <!-- <th scope="col" class="sort" >Sumber Anggaran</th>
                                <th scope="col" class="sort">Pola Penyelenggaraan</th> -->

                            </tr>
                        </thead>
                        <tbody  class="list">

                            <tr v-for="(kelas,index) in aKelas" :key="index" >
                                <th scope="row">
                                    <div class="no align-items-center">
                                        {{kelas.nama}}
                                    </div>
                                </th>

                                <!-- <td >
                                    <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link> -->
                                    <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                    <!-- <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                                    <modal :show.sync="model.hapus"
                                        gradient="danger"
                                        modal-classes="modal-danger modal-dialog-centered">
                                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>


                                        <template slot="footer">
                                            <base-button type="white">Ya</base-button>
                                            <base-button type="link"
                                                        class="ml-auto text-white"
                                                        @click="model.hapus = false">
                                                Batal
                                            </base-button>
                                        </template>
                                    </modal>
                                    <a target="_blank" :href="'http://intranet.lan.go.id:8555/sertifikat/'+peserta.nip+'/tandatangan/'+peserta.pathPDF+'.pdf'"><i class="fa fa-file-pdf text-primary"></i></a>

                                </td> -->
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{kelas.alamat}}</span>
                                    </div>
                                </td>
                                <td class="nama">
                                    <div class="d-flex align-items-center">
                                        {{kelas.daerah}}
                                    </div>
                                </td>
                                <!-- <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.nomorKra}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.nomorKra}}
                                    </div>
                                </td> -->
                                <!-- <td class="status">
                                    <div class="d-flex align-items-center" v-if="status!=1">
                                        Sudah Diajukan
                                    </div>
                                    <div class="d-flex align-items-center" v-else>
                                        Belum Diajukan
                                    </div>
                                </td> -->
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <h4>Daftar Peserta</h4>
                <hr>
                <div class="table-responsive">
                    <div>
                    <table class="table align-items-center" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="no">No</th>
                                <!-- <th scope="col" >Pilih Semua</th> -->
                                <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                                <th scope="col" class="sort" data-sort="nama">Nama</th>
                                <!-- <th scope="col" class="sort" data-sort="noreg">No Registrasi</th> -->
                                <th scope="col" class="sort" >Instansi</th>

                            </tr>
                        </thead>
                        <tbody  class="list"  v-for="(peserta,index) in detailPes" :key="index" >

                            <tr v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)">
                                <th scope="row">
                                    <div class="no align-items-center">
                                        {{index+1}}
                                    </div>
                                </th>

                                <!-- <td >
                                    <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link> -->
                                    <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                    <!-- <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                                    <modal :show.sync="model.hapus"
                                        gradient="danger"
                                        modal-classes="modal-danger modal-dialog-centered">
                                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>


                                        <template slot="footer">
                                            <base-button type="white">Ya</base-button>
                                            <base-button type="link"
                                                        class="ml-auto text-white"
                                                        @click="model.hapus = false">
                                                Batal
                                            </base-button>
                                        </template>
                                    </modal>
                                    <a target="_blank" :href="'http://intranet.lan.go.id:8555/sertifikat/'+peserta.nip+'/tandatangan/'+peserta.pathPDF+'.pdf'"><i class="fa fa-file-pdf text-primary"></i></a>

                                </td> -->
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{peserta.nomorId}}</span>
                                    </div>
                                </td>
                                <td class="nama">
                                    <div class="d-flex align-items-center">
                                        {{peserta.nama}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.asalInstansi}}
                                    </div>
                                </td>
                                <!-- <td class="status">
                                    <div class="d-flex align-items-center" v-if="status!=1">
                                        Sudah Diajukan
                                    </div>
                                    <div class="d-flex align-items-center" v-else>
                                        Belum Diajukan
                                    </div>
                                </td> -->
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="card-footer py-4 d-flex justify-content-end">
                    <p class="card-category">
                            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                            <span v-if="selectedRows.length">
                            &nbsp; &nbsp; {{selectedRows.length}} rows selected
                            </span>
                        </p>
                    <base-pagination class="pagination-no-border"
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total="total"></base-pagination>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Izin Penyelenggaraan</h5>
                                <span v-if="listIzin.izinDeputi == 2">Diizinkan</span>
                        </div>
                        <div v-if="listIzin.izinDeputi == 2" class="col-sm-6">
                            <h5 ></h5>
                            <div class="row">
                                <div class="col-sm-8">View Surat Izin Deputi</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3"><a target="_blank" :href="'https://smartbangkom.lan.go.id:8093/perizinan/downloaddokumen/1/'+filesd+'.'"><i class="fa fa-download text-success" ></i></a></div>
                            </div>
                        </div>
                    </div>


                </div>
</div>
</div>
    </div>
</template>

<script>
import {Action} from '../../../store/api/types';
import axios from 'axios';
export default {
    data(){
        return{
            selectedRows: [],
            search: '',
            pagination: {
                perPage: 10,
                currentPage: 1,
                perPageOptions: [2, 5, 25, 50],
                total: []
            },
            datapesertaASN:[],
            currentPage:'',
            files: [],
            change:{
                jenis:false,
            },
            buttonCheckbox:false,
            // API
            diklatU:[],
            listIzin:[],
            file:'',
            penjaminM:[],
            Pm:[],
            selected:'',
            textRed:false,
            izinkan: Number,
            aKelas:[],
            ind:[],
            detailPes:[],
            filesd:'',
            isikuota:0
        }
    },
    created(){
        //(this.$route.query.diklat.idd);
        //(this.$route.query.diklat);

        this.diklatU=this.$route.query.diklat
        this.getIzin()
        this.mutu()
        this.kelasD()
        this.pesertaD()
        this.kuotaprogram()
    },
    mounted(){
        this.teks()
    },
    methods:{
        kuotaprogram(){
            //("prodik");
            this.$store.dispatch(`${Action.master.prodikMaster}`).then(res=>{
                //("prodik");
                var data = res.data.data
                //(data);
                //(data.length);
                //(this.diklatU.program);

                for(var i =0;i<data.length;i++){
                    if(data[i].nama == this.diklatU.program){
                        this.isikuota = data[i].kuota
                        //("kuota");
                        //(this.isikuota);
                    }
                }
            })
        },
        // download dokumen SP
        downloadSP(sp){
            //(sp);

            this.$store.dispatch(`${Action.izin.downloaddokumenSP}`,sp).then(res =>{
                //('berhasil');
                //(res.data);

            })
        },
        // end download dokumen SP
        // download dokumen SD
        downloadSD(sd){
            //(sd);

            this.$store.dispatch(`${Action.izin.downloaddokumenSD}`,sd).then(res =>{
                //('berhasil');
                //(res.data);

            })
        },
        // end download dokumen SD
        pesertaD(){
            var di = this.$route.query.diklat.id
            this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,di).then(res =>{
                //(res.data);
                this.detailPes = res.data
                this.total=res.data.length
            })
        },
        kelasD(){
            var di = this.$route.query.diklat.id
            this.$store.dispatch(`${Action.diklat.ambilangkatan}`,di).then(res =>{
                //(res.data);
                this.aKelas=res.data
                // for(var i=0;i<res.data.length;i++){
                //     this.aKelas=res.data[i]
                //     this.ind=i+1
                //     //(this.ind);

                //     //(this.aKelas);

                // }

            })
        },
        teks(cek){
            //(cek);
            this.textRed=cek
        },
        verifSt(li,sl,di,iz){
            //(li,sl);
            //(this.files[0]);
            this.$store.dispatch(`${Action.izin.verifikasiizin}`,{
                id:li,
                penjaminMutu:sl,
                izinDeputi:iz,
                dokumen:this.files[0]
            }).then(res =>{
                //('tets');

                //(di,iz);
                this.$store.dispatch(`${Action.diklat.verifikasiStatus}`,{
                id:di,
                verifikasi:iz
            }).then(res=>{
                //('sukses');

            })
            })

        },
        mutu(){
            axios.get('https://sipka.lan.go.id/api/Mlemdik').then(res =>{
                //(res.data.data);
                this.Pm = res.data.data
                for(var i=0; i<res.data.data.length; i++){
                    // //(res.data.data[i].nama);
                    this.penjaminM = res.data.data[i].nama
                }
            })
        },
        getIzin(){
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });

            this.$store.dispatch(`${Action.izin.ambilizin}`).then(res =>{
                //(res.data);
                loader.hide();
                for(var i=0; i<res.data.length;i++){
                    //(res.data[i].idDiklat);

                    if(res.data[i].idDiklat==this.$route.query.diklat.id){
                        // //(res.data[i]);
                        this.listIzin=res.data[i]
                        // //(this.listIzin);

                        this.selected=this.listIzin.penjaminMutu
                        this.file=res.data[i].suratPengajuan
                        this.filesd=res.data[i].suratDeputi
                        //(this.file);
                        //(this.filesd);

                    }
                }

            })
        },
       filesChange(files) {
        this.files = files
      },
      back(){
            this.$router.back()
        },
        forceFileDownload(response){
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', 'file.png') //or any other extension
      document.body.appendChild(link)
      link.click()
    },

    downloadWithVueResource(dl) {
      //(dl);

      this.$http({
        method: 'get',
        url: dl,
        responseType: 'arraybuffer'
      })
      .then(response => {
        this.forceFileDownload(response)
      })
      .catch((err) => {})//('error occured'))

    },

    downloadWithAxios(ass,ss){
        //(ass);
        //(ss);

        //('tes');

      axios({
        method: 'get',
        url: this.pdf,
        responseType: 'arraybuffer'
      })
      .then(response => {

        this.forceFileDownload(response)

      })
      .catch((err) => {})//('error occured'))
    }
    },
    computed:{
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);

      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);

    },
    }
}
</script>
