<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Revisi Pelatihan</h6>
        </div>
      </div>
    </base-header>
    <card>
          
          <span slot="title">
            <i class="ni ni-bell-55 mr-2"></i>
            Belum Terverifikasi
          </span>
            <div class="row p-3 ml-2">
              <base-input v-model="search2" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
            </div>
            <div style="overflow-x: auto" class="table-responsive ">
              <table class="table align-items-center">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="no">No</th>
                    <!-- <th scope="col" >Pilih Semua</th> -->
                    <th scope="col">Aksi</th>
                    <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                    <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                    <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                    <th scope="col" class="sort" data-sort="noreg">Tahun Penyelenggaraan</th>
                    <th scope="col" class="sort" data-sort="status">Jumlah Kelas</th>
                    <th scope="col" class="sort" data-sort="status">Status</th>
                  </tr>
                </thead>
                <tbody class="list" v-for="(diklat,index) in verf2" :key="index">
                  <tr
                  >
                    <th scope="row">
                      <div class="no align-items-center">{{index+1}}</div>
                    </th>
                    <td>
                      <div class="d-flex align-items-center">
                        <base-button
                          size="sm"
                          type="primary"
                          @click="verif(diklat)"
                        >Verifikasi Pelatihan</base-button>
                      </div>
                    </td>
                    <td class="nama">
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.judul}}</span>
                      </div>
                    </td>
                    <td class="id">
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.createdBy}}</span>
                      </div>
                    </td>
                    <td class="nama">
                      <div class="d-flex align-items-center">{{diklat.program}}</div>
                    </td>
                    <td class="noreg">
                      <div class="d-flex align-items-center">{{diklat.tgl_mulai}}</div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">{{diklat.kelas}}</div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <badge rounded type="warning" size="lg">Belum Terverifikasi</badge>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4 d-flex justify-content-end">
              <p class="card-category">
                Showing {{ from2 + 1 }} to {{ to2 }} of {{ total2 }} entries
                <span
                  v-if="selectedRows2.length"
                >&nbsp; &nbsp; {{selectedRows2.length}} rows selected</span>
              </p>
              <ul class="pagination" >
            <li class="page-item prev-page" v-if="acuanPage2 != 0" @click="prefPage2">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="page-item prev-page" v-if="acuanPage2 == 0" disabled>
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
              </a>
            </li>
            <div v-for="(data, index) in jumlahDataPagination" :key="index">
              <li class="page-item" @click="pageTo(data.page,dataPagination, jumlahDataPagination)">
              <a class="page-link" >{{data.page + 1}}</a>
            </li>
            </div>
            <li class="page-item next-page" >
              <a class="page-link" aria-label="Next" @click="nextPage2">
                <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              </a>
            </li>
          </ul>
            </div>
    </card>
    
  </div>
</template>
<script>
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import { BasePagination } from "@/components";
import { Action } from "../../../../store/api/types";
import "sweetalert2/dist/sweetalert2.css";
import swal from "sweetalert2";
// import BasePaginationCustom from '../../../../components/BasePaginationCustom.vue';
export default {
  components: {
    swal,
    BasePagination,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
  },
  data() {
    return {
      totalList2:[],
      totalList:[],
      acuanPage:0,
      acuanPage2:0,
      payload: this.$cookies.get("isijwt"),
      selectedRows: [],
      search: "",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      selectedRows2: [],
      search2: "",
      pagination2: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      i: 0,
      rencana: [
        {
          penyelenggara: "PusKAN",
          program: "Latsar CPNS I",
          tahun: "2020",
          jumlahkelas: "3",
          totpeserta: "120",
          jumpendf: "80",
          kuotasisa: "",
          status: "Kuota Penuh",
        },
        {
          penyelenggara: "PusKAN",
          program: "Latsar CPNS I",
          tahun: "2020",
          jumlahkelas: "3",
          totpeserta: "120",
          jumpendf: "80",
          kuotasisa: "",
          status: "Kuota Penuh",
        },
      ],
      currentPage: 1,
      daftarA: [],
      verf: [],
      verf2:[],
      status: false,
      total:0,
      total2:0,
      dataPagination:[],
      jumlahDataPagination:[],
      statusPage:false,
      pageSelection:""
    };
  },
  mounted(){
    this.listNotVerif();
  },
  created() {
    // this.listAll();
    
  },
  watch: {
    async search2(val){
      this.ver2=[];
      this.acuanPage2=0;
      this.search2 = val;
      if(val.length != 0){
      let isi = {
        page:this.acuanPage2+1,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:0,
        judul:val
      } 
      let isi2 = {
        page:this.acuanPage2+1,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:1,
        judul:val
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.cariPengajuan}`,isi)
      let hasil2 = await this.$store.dispatch(`${Action.diklat.cariPengajuan}`,isi2)
      console.log(hasil2.data);
      // this.verf2=hasil2.data
      // if(hasil.status == 200 && hasil2.status == 200){
        for(var i=0;i<hasil.data.length;i++){
          console.log(hasil.data[i].judul);
          if(hasil.data.length != 0){
            this.verf2=[];
            this.verf2.push(hasil.data[i]);
          }
          // this.verf2.push(hasil.data[i]);
        }
        for(var j=0;j<hasil2.data.length;j++){
              console.log(hasil2.data[j].judul);
              if(hasil2.data.length != 0){
                this.verf2=[];
                this.verf2.push(hasil2.data[j]);
              }
              
            }
        this.statusPage = false;
        // }
      // }
      } else if(val.length == 0){
        this.verf2=[];
        this.listNotVerif()
      }
    },
    status(val) {
      this.status = val;
      //(this.status);
    },
  },
  methods: {
    verif(idd) {
      //(idd);

      this.$router.push({
        path: "verifpelatihan/detail",
        query: { diklat: idd },
      });
    },
    view(idd) {
      //(idd);

      this.$router.push({
        path: "verifpelatihan/view",
        query: { diklat: idd },
      });
    },
    async pageTo(page, jumlahData, dataSementaraPagination){
      console.log("page");
      console.log(page);
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.total2=0;
      this.totalList2=[];
      this.verf2=[];
      this.jumlahDataPagination=[];
      this.dataPagination=[];
      let isi = {
        page:page,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:0
      }
      let isi2 = {
        page:page,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:1
      }
      let res = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      let res2 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi2)
      if(res.status == 200 && res2.status == 200){
        loader.hide();
        if(res.data.length != 0){
          for(var i=0;i<res.data.length;i++){
            this.verf2.push(res.data[i]);
          }
          this.totalList2.push(res.data)
        } else {
          let isi3 = {
            page:page+1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:1
          }
          console.log("siniii");
          let res3 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi3)
          console.log(res3.data);
          if(res3.data.length != 0){
            for(var j=0;j<res3.data.length;j++){
              this.verf2.push(res3.data[j]);
            }
            this.totalList2.push(res3.data)
          }
        }
        if(res2.data.length != 0){
          for(var j=0;j<res2.data.length;j++){
            this.verf2.push(res2.data[j]);
          }
          this.totalList2.push(res2.data)
        } else {
          let isi4 = {
            page:page+1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:0
          }
          let res4 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi4)
          if(res4.data.length != 0){
            for(var i=0;i<res4.data.length;i++){
              this.verf2.push(res4.data[i]);
            }
            this.totalList2.push(res4.data)
          }
        }
        // this.dataPagination.push({page: this.acuanPage2});
        this.statusPage = true;
        console.log(this.statusPage);
        this.pageSelection=page
        this.jumlahDataPagination=dataSementaraPagination;
        this.dataPagination=jumlahData;
        console.log(jumlahData);
        console.log(this.dataPagination);
        console.log(this.totalList2);
        this.total2=this.dataPagination.length*10;
        
      }
    },
    async listNotVerif(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.total2=0;
      this.totalList2=[];
      this.verf2=[];
      this.jumlahDataPagination=[];
      this.dataPagination=[];
      let isi = {
        page:this.acuanPage2,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:0
      }
      let isi2 = {
        page:this.acuanPage2,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:1
      }
      let res = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      let res2 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi2)
      if(res.status == 200 && res2.status == 200){
        loader.hide();
        if(res.data.length != 0){
          for(var i=0;i<res.data.length;i++){
            this.verf2.push(res.data[i]);
          }
          this.totalList2.push(res.data)
        } else {
          let isi3 = {
            page:this.acuanPage2+1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:1
          }
          let res3 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi3)
          if(res3.data.length != 0){
            for(var j=0;j<res3.data.length;j++){
              this.verf2.push(res3.data[j]);
            }
            this.totalList2.push(res3.data)
          }
        }
        if(res2.data.length != 0){
          for(var j=0;j<res2.data.length;j++){
            this.verf2.push(res2.data[j]);
          }
          this.totalList2.push(res2.data)
        } else {
          let isi4 = {
            page:this.acuanPage2+1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:0
          }
          let res4 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi4)
          if(res4.data.length != 0){
            for(var i=0;i<res4.data.length;i++){
              this.verf2.push(res4.data[i]);
            }
            this.totalList2.push(res4.data)
          }
        }
        this.statusPage = false;
        this.dataPagination.push({page: this.acuanPage2});
        this.jumlahDataPagination=this.dataPagination;
        console.log(this.dataPagination);
        console.log(this.totalList2);
        this.total2=this.dataPagination.length*10;
      }
    },
    async prefPage2(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.verf2=[];
        let isi = {
        page:this.acuanPage2-1,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:0
      } 
      let isi2 = {
        page:this.acuanPage2-1,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:1
      } 
      let res = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      let res2 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi2)
      if(res.status == 200 && res2.status == 200){
        this.dataPagination.splice(this.dataPagination.indexOf(this.acuanPage2),this.acuanPage2);
        if(this.dataPagination.length <= 4){
          console.log("kurang dari sama dengan 4");
          this.jumlahDataPagination = this.dataPagination;
        } else if(this.dataPagination.length > 4){
          console.log("lebih dari 4");
          this.jumlahDataPagination = this.dataPagination.slice(this.dataPagination.length-4,this.dataPagination.length);
          console.log(this.dataPagination.length-4,this.dataPagination.length);
          console.log(this.jumlahDataPagination);
        }
        console.log(this.dataPagination);
        this.acuanPage2=this.acuanPage2-1;
        if(res.data.length != 0){
          console.log(this.acuanPage2);
          for(var i=0;i<res.data.length;i++){
            this.verf2.push(res.data[i]);
          }
        } else {
          let isi3 = {
            page:this.acuanPage2-1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:1
          } 
          let res3 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi3);
          if(res3.data.length != 0){
            for(var j=0;j<res3.data.length;j++){
              this.verf2.push(res3.data[3]);
            }
          }
        }
        if(res2.data.length != 0){
          console.log(this.acuanPage2);
          for(var k=0;k<res2.data.length;k++){
            this.verf2.push(res2.data[k]);
          }
        }else {
          let isi4 = {
            page:this.acuanPage2-1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:0
          } 
          let res4 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi4);
          if(res4.data.length != 0){
            for(var l=0;l<res4.data.length;l++){
              this.verf2.push(res4.data[l]);
            }
          }
        }
        this.statusPage = false;
        this.total2=this.dataPagination.length*10;
        console.log(this.acuanPage2);
        loader.hide();
        // this.verf2=res.data;
        //   this.totalList2.push(res.data);
      }
    },
    async nextPage2(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.verf2=[];
        let isi = {
        page:this.acuanPage2+1,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:0
      }
      let isi2 = {
        page:this.acuanPage2+1,
        limit:this.pagination2.perPage-5,
        jenis:1,
        status:1
      } 
      let res = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      let res2 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi2)
      if(res.status == 200 && res2.status == 200){
        this.acuanPage2=this.acuanPage2+1;
        if(res.data.length != 0){
          for(var i=0;i<res.data.length;i++){
            this.verf2.push(res.data[i]);
          }
          this.totalList2.push(res.data)
        } else {
          let isi3 = {
            page:this.acuanPage2+1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:1
          }
          let res3 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi3)
          if(res3.data.length != 0){
            // this.acuanPage2=this.acuanPage2+1;
            for(var j=0;j<res3.data.length;j++){
              this.verf2.push(res3.data[j]);
            }
            this.totalList2.push(res3.data)
          }
        }
        if(res2.data.length != 0){
          for(var j=0;j<res2.data.length;j++){
            this.verf2.push(res2.data[j]);
          }
          this.totalList2.push(res2.data)
        } else {
          let isi4 = {
            page:this.acuanPage2+1,
            limit:this.pagination2.perPage-5,
            jenis:1,
            status:0
          }
          let res4 = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi4)
          if(res4.data.length != 0){
            // this.acuanPage2=this.acuanPage2+1;
            for(var i=0;i<res4.data.length;i++){
              this.verf2.push(res4.data[i]);
            }
            this.totalList2.push(res4.data)
          }
        }
        this.dataPagination.push({page: this.acuanPage2});
        if(this.dataPagination.length <= 4){
          console.log("kurang dari sama dengan 4");
          this.jumlahDataPagination = this.dataPagination;
        } else if(this.dataPagination.length > 4){
          console.log("lebih dari 4");
          this.jumlahDataPagination = this.dataPagination.slice(this.dataPagination.length-4,this.dataPagination.length);
          console.log(this.dataPagination.length-4,this.dataPagination.length);
          console.log(this.jumlahDataPagination);
        }
        console.log(this.dataPagination);
        console.log(this.acuanPage2);
        loader.hide();
        this.statusPage = false;
          this.total2=this.dataPagination.length*10;
          if(res.data.length == 0 && res2.data.length == 0){
            swal({
							title: "Data Habis",
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
    },
    kuota(row, total, pendaftar) {
      row.kuotasisa = total - pendaftar;
    },
    back() {
      this.$router.back();
    },
  },
  computed: {
    searching: function () {
      // return this.verf.filter((df) => {
      //   return df.createdBy.match(this.search);
      // });
    },
    searching2: function () {
      //("isi ver 2");
      //(this.verf2);
      
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.acuanPage);
    },
    to2() {
      let highBound = this.from2 + this.pagination2.perPage;
      if (this.total2 < highBound) {
        highBound = this.total2;
        //(this.total2);
      }
      return highBound;
    },
    from2() {
      console.log(this.statusPage);
      console.log(this.pageSelection);
      if(this.statusPage == false){
        return this.pagination2.perPage * (this.acuanPage2);
      }else{
        return this.pagination2.perPage * (this.pageSelection);
      }
    },
    // total() {
    //   return this.searchedData.length > 0
    //     ? this.searchedData.length
    //     : this.daftarD.length;
    // }
  },
};
</script>

<style >
</style>