<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Verifikasi Pelatihan</h6>
        </div>
      </div>
    </base-header>
    <card>
          <span slot="title" >
            <i class="ni ni-cloud-upload-96"></i>
            Terverifikasi
          </span>
            <div class="row p-3 ml-2">
              <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
            </div>
            <div style="overflow-x: auto" class="table-responsive ">
              <table class="table align-items-center" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="no">No</th>
                    <!-- <th scope="col" >Pilih Semua</th> -->
                    <th scope="col">Aksi</th>
                    <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                    <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                    <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                    <th scope="col" class="sort" data-sort="noreg">Tahun Penyelenggaraan</th>
                    <th scope="col" class="sort" data-sort="status">Jumlah Kelas</th>
                  </tr>
                </thead>
                <tbody class="list" v-for="(diklat,index) in verf" :key="index">
                  <tr
                    
                  >
                    <th scope="row">
                      <div class="no align-items-center">{{index+1}}</div>
                    </th>
                    <td>
                      <div class="d-flex align-items-center">
                        <base-button
                          size="sm"
                          type="primary"
                          @click="view(diklat)"
                        >View Detail</base-button>
                      </div>
                    </td>
                    <td class="nama">
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.judul}}</span>
                      </div>
                    </td>
                    <td class="id">
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.createdBy}}</span>
                      </div>
                    </td>
                    <td class="nama">
                      <div class="d-flex align-items-center">{{diklat.program}}</div>
                    </td>
                    <td class="noreg">
                      <div class="d-flex align-items-center">{{diklat.tgl_mulai}}</div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">{{diklat.kelas}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4 d-flex justify-content-end">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                <span
                  v-if="selectedRows.length"
                >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>
              </p>
          <ul class="pagination" >
            <li class="page-item prev-page" v-if="acuanPage != 0" @click="prefPage">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="page-item prev-page" v-if="acuanPage == 0" disabled>
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
              </a>
            </li>
            <div v-for="(data, index) in jumlahDataPagination" :key="index">
              <li class="page-item" @click="pageTo(data.page,dataPagination, jumlahDataPagination)">
                <a class="page-link" >{{data.page+1}}</a>
              </li>
            </div>
            <li class="page-item next-page" >
              <a class="page-link" aria-label="Next" @click="nextPage">
                <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              </a>
            </li>
          </ul>
            </div>
    </card>
    
  </div>
</template>
<script>
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import { BasePagination } from "@/components";
import { Action } from "../../../../store/api/types";
import "sweetalert2/dist/sweetalert2.css";
import swal from "sweetalert2";
// import BasePaginationCustom from '../../../../components/BasePaginationCustom.vue';
export default {
  components: {
    swal,
    BasePagination,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
  },
  data() {
    return {
      totalList2:[],
      totalList:[],
      acuanPage:0,
      acuanPage2:0,
      payload: this.$cookies.get("isijwt"),
      selectedRows: [],
      search: "",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      selectedRows2: [],
      search2: "",
      pagination2: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      i: 0,
      rencana: [
        {
          penyelenggara: "PusKAN",
          program: "Latsar CPNS I",
          tahun: "2020",
          jumlahkelas: "3",
          totpeserta: "120",
          jumpendf: "80",
          kuotasisa: "",
          status: "Kuota Penuh",
        },
        {
          penyelenggara: "PusKAN",
          program: "Latsar CPNS I",
          tahun: "2020",
          jumlahkelas: "3",
          totpeserta: "120",
          jumpendf: "80",
          kuotasisa: "",
          status: "Kuota Penuh",
        },
      ],
      currentPage: 1,
      daftarA: [],
      verf: [],
      verf2:[],
      status: false,
      total:0,
      total2:0,
      dataPagination:[],
      jumlahDataPagination:[],
      statusPage:false,
      pageSelection:""
    };
  },
  mounted(){
    this.listVerif();
  },
  created() {
    // this.listAll();
    
  },
  watch: {
    async search(val){
      this.verf=[];
      this.acuanPage=0;
      this.search = val;
      if(val.length != 0){
        let isi = {
        page:this.acuanPage+1,
        limit:this.pagination.perPage,
        jenis:1,
        status:2,
        judul:val
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.cariPengajuan}`,isi)
      console.log(hasil.data);
      this.verf=hasil.data
      } else if(val.length == 0){
        console.log(val.length);
        console.log("sini");
        this.listVerif();
      }
      
    },
    status(val) {
      this.status = val;
      //(this.status);
    },
  },
  methods: {
    verif(idd) {
      //(idd);

      this.$router.push({
        path: "verifpelatihan/detail",
        query: { diklat: idd },
      });
    },
    view(idd) {
      //(idd);

      this.$router.push({
        path: "verifpelatihan/view",
        query: { diklat: idd },
      });
    },
    async pageTo(page,data, dataSementaraPagination){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
        let isi = {
        page:page,
        limit:this.pagination.perPage,
        jenis:1,
        status:2
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      console.log(hasil);
      loader.hide();
        this.verf=hasil.data
          this.totalList.push(hasil.data)
          this.dataPagination=data,
          this.jumlahDataPagination=dataSementaraPagination,
          this.statusPage=true;
          this.pageSelection=page;
          this.total=this.dataPagination.length*10
    },
    async listVerif(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
        let isi = {
        page:this.acuanPage,
        limit:this.pagination.perPage,
        jenis:1,
        status:2
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      console.log(hasil);
      loader.hide();
        this.verf=hasil.data
          this.totalList.push(hasil.data)
          this.statusPage=false;
          this.dataPagination.push({page: this.acuanPage});
          this.jumlahDataPagination=this.dataPagination;
          this.total=this.dataPagination.length*10
    },
    async prefPage(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.verf=[];
        let isi = {
        page:this.acuanPage-1,
        limit:this.pagination.perPage,
        jenis:1,
        status:2
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      if(hasil.status == 200){
        this.dataPagination.splice(this.dataPagination.indexOf(this.acuanPage),this.acuanPage);
        if(this.dataPagination.length <= 4){
          console.log("kurang dari sama dengan 4");
          this.jumlahDataPagination = this.dataPagination;
        } else if(this.dataPagination.length > 4){
          console.log("lebih dari 4");
          this.jumlahDataPagination = this.dataPagination.slice(this.dataPagination.length-4,this.dataPagination.length);
          console.log(this.dataPagination.length-4,this.dataPagination.length);
          console.log(this.jumlahDataPagination);
        }
        this.acuanPage=this.acuanPage-1;
        loader.hide();
        this.verf=hasil.data;
          this.totalList.push(hasil.data);
          this.statusPage=false;
          this.total=this.dataPagination.length*10
      }
    },
    async nextPage(){
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.verf=[];
        let isi = {
        page:this.acuanPage+1,
        limit:this.pagination.perPage,
        jenis:1,
        status:2
      } 
      let hasil = await this.$store.dispatch(`${Action.diklat.getPengajuan}`,isi)
      if(hasil.status == 200){
        this.acuanPage=this.acuanPage+1;
        loader.hide();
        this.verf=hasil.data;
          this.totalList.push(hasil.data);
          this.statusPage=false;
          this.dataPagination.push({page: this.acuanPage});
          if(this.dataPagination.length <= 4){
          console.log("kurang dari sama dengan 4");
          this.jumlahDataPagination = this.dataPagination;
          } else if(this.dataPagination.length > 4){
            console.log("lebih dari 4");
            this.jumlahDataPagination = this.dataPagination.slice(this.dataPagination.length-4,this.dataPagination.length);
            console.log(this.dataPagination.length-4,this.dataPagination.length);
            console.log(this.jumlahDataPagination);
          }
          this.total=this.dataPagination.length*10
          if(hasil.data.length == 0){
            swal({
							title: "Update Berhasil",
							showClass: {
								popup: "animate__animated animate__fadeInDown"
							},
							hideClass: {
								popup: "animate__animated animate__fadeOutUp"
							}
						})
          }
      }
    },
    kuota(row, total, pendaftar) {
      row.kuotasisa = total - pendaftar;
    },
    back() {
      this.$router.back();
    },
  },
  computed: {
    searching: function () {
      // return this.verf.filter((df) => {
      //   return df.createdBy.match(this.search);
      // });
    },
    searching2: function () {
      //("isi ver 2");
      //(this.verf2);
      
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
      }
      return highBound;
    },
    from() {
      if(this.statusPage == false){
        return this.pagination.perPage * (this.acuanPage);
      }else{
        return this.pagination.perPage * (this.pageSelection);
      }
    },
    to2() {
      let highBound = this.from2 + this.pagination2.perPage;
      if (this.total2 < highBound) {
        highBound = this.total2;
        //(this.total2);
      }
      return highBound;
    },
    from2() {
      return this.pagination2.perPage * (this.acuanPage2);
    },
    // total() {
    //   return this.searchedData.length > 0
    //     ? this.searchedData.length
    //     : this.daftarD.length;
    // }
  },
};
</script>

<style >
</style>