<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Master Provinsi</h6>
        </div>
      </div>
    </base-header>
    <card type="frame">
      <div class="flex justify-between items-center mb-3">
        <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
        <base-button size="sm" type="info" @click="updateProvinsi()">Update Provinsi</base-button>
      </div>
      <div class="row" style="overflow-x:auto;">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">No</th>
              <th scope="col">
                <center>Nama Provinsi</center>
              </th>
            </tr>
          </thead>
          <tbody class="list" v-for="(temp,index) in filterlistProvinsi" :key="index">
            <tr
              v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
            >
              <th scope="row">
                <div class="no align-items-center">{{index+1}}</div>
              </th>
              <td class="nama">
                <div class="d-flex align-items-center">
                  <span class="completion mr-2">{{temp.namaProvinsi}}</span>
                </div>
              </td>
            
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4 d-flex justify-content-end">
        <p class="card-category">
          Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          <!-- <span
              v-if="selectedRows.length"
          >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>-->
        </p>
        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></base-pagination>
      </div>

    </card>
  </div>
</template>
<script>
import BaseSlider from '@/components/BaseSlider'
import { Action } from "../../../../store/api/types";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  components: {
    BaseSlider
  },
  data() {
    return {
      listProvinsi:[],
      ProvinsiSipka:[],
      pagination: {
        perPage: 10,
        currentPage: 1,
      },
      total: 0,
      search: "",
    };
  },
  watch:{

  },
  computed:{
    filterlistProvinsi: function(){
        return this.listProvinsi.filter((df)=>{
           return df.namaProvinsi.toLowerCase().match(this.search.toLowerCase());
        })
      },
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
        
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
      
    },
  },
  created() {
    this.getMasterProvinsi();
  },
 
  methods: {
    filteredProvinsi(id) {
      return this.listProvinsi.filter(item => item.idSipka===id)
    },
    async updateProvinsi(){
      swal({
        title: 'Update Isi Isi Provinsi',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          swal.showLoading();
        }
      })
      await this.$store.dispatch(`${Action.sipka.provinsi}`).then(res=>{
        this.ProvinsiSipka=res.data.data;
        //("Provinsi");
        //(res.data);
        
      });
      
       for(var i=0;i<this.ProvinsiSipka.length;i++){
         //(i);
         if(this.filteredProvinsi(this.ProvinsiSipka[i].id).length==0){
           //('if');
           //(this.filteredProvinsi(this.ProvinsiSipka[i].id));
           await this.$store.dispatch(`${Action.master.postprovinsiMaster}`,{idSipka:this.ProvinsiSipka[i].idProv,namaProvinsi:this.ProvinsiSipka[i].namaProv})
         }else if(this.filteredProvinsi(this.ProvinsiSipka[i].id).length!=0){
           //(this.filteredProvinsi(this.ProvinsiSipka[i].id));
           //('else');
           await this.$store.dispatch(`${Action.master.putprovinsiMaster}`,{id:this.filteredProvinsi(this.ProvinsiSipka[i].id)[0].id,namaProvinsi:this.ProvinsiSipka[i].namaProv,idSipka:this.ProvinsiSipka[i].id})
         }
         if(i==this.ProvinsiSipka.length-1){
          //  loader.hide();
          this.listProvinsi=[];
          this.getMasterProvinsi();
          swal.close();
          swal({ 
            title: 'Data terupdate',
            type: 'success',
            timer: 2000,
            showConfirmButton: false
          })
          
         }
       }
      
    },
    getMasterProvinsi(){
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store.dispatch(`${Action.master.provinsiMaster}`).then(res=>{
        this.listProvinsi=res.data.filter(idS => idS.idSipka !== null);
        //(this.listProvinsi);
        this.total=this.listProvinsi.length;
        loader.hide();
      })
    },
  
    back() {
      this.$router.back();
    },
  },
};
</script>