<template>
    <div>
        <card type="frame" class="my-3 mx-3">
            <div class="flex justify-between items-center mb-3">
                <div class="ml-3 my-2">
                    <h3 class="m-0">Pendaftaran Tanda Tangan Digital</h3>
                </div>
                <div class="flex-grow ml-20 mr-1 my2">
                    <base-input placeholder="Pencarian dengan 'NIK'" input-classes="text-right form-control-flush" class="m-0" v-model="text_searching"></base-input>
                </div>
                <div class="mr-3 ml-2 my2">
                    <base-button outline type="default" @click="btnSearching">Check Dulu</base-button>
                    <!-- <nuxt-link to="rencana_penyelenggaraaan/add">
                        <base-button outline size="sm" type="default" >Tambah Rencana Penyelenggaraan Diklat</base-button>
                    </nuxt-link> -->
                </div>
            </div>
            <div v-if="statusReg.status_code == '1001'">
                <p class="text-center font-medium mt-5">Anda telah terdaftar dan masih dalam proses penerbitan sertifikat elektronik</p>
            </div>
            <div v-if="statusReg.status == 'NOT_REGISTERED'">
                <p class="text-center font-medium mt-5">Anda belum terdaftar, Silahkan <a class="cursor-pointer" @click="showModal = true">REGISTER</a></p>
            </div>
        </card>
        <modal size="lg" :show.sync="showModal">
            <template slot="header">
                <h5 class="modal-title" id="exampleModalLabel">Pedaftaran Tanda Tangan Digital</h5>
            </template>
            <div>
                <div class="form-group row m-0">
                    <label class="col-md-2 col-form-label form-control-label">NIK</label>
                    <div class="col-md-10">
                        <base-input class="mb-0" placeholder="NIK" v-model="form_tanda_tangan.nik"></base-input>
                        <small class="form-text text-red-400" v-if="alert.nik">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Nama</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="Nama Lengkap" v-model="form_tanda_tangan.nama_lengkap"></base-input>
                        <small class="form-text text-red-400" v-if="alert.nama_lengkap">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Email</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="Email" v-model="form_tanda_tangan.email"></base-input>
                        <small class="form-text text-red-400" v-if="alert.email">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">No. Telepon</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="No. Telepon" v-model="form_tanda_tangan.no_telepon"></base-input>
                        <small class="form-text text-red-400" v-if="alert.no_telepon">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Provinsi</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="Provinsi" v-model="form_tanda_tangan.provinsi"></base-input>
                        <small class="form-text text-red-400" v-if="alert.provinsi">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Kota</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="Kota" v-model="form_tanda_tangan.kota"></base-input>
                        <small class="form-text text-red-400" v-if="alert.kota">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">NIP</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="NIP" v-model="form_tanda_tangan.nip"></base-input>
                        <small class="form-text text-red-400" v-if="alert.nip">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Jabatan</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="Jabatan" v-model="form_tanda_tangan.jabatan"></base-input>
                        <small class="form-text text-red-400" v-if="alert.jabatan">tidak boleh kosong</small>
                    </div>
                </div>
                <div class="form-group row mx-0 mt-2 mb-0">
                    <label class="col-md-2 col-form-label form-control-label">Unit Kerja</label>
                    <div class="col-md-10 mb-0">
                        <base-input class="mb-0" placeholder="Unit Kerja" v-model="form_tanda_tangan.unit_kerja"></base-input>
                        <small class="form-text text-red-400" v-if="alert.unit_kerja">tidak boleh kosong</small>
                    </div>
                </div>
                <small class="form-text mt-2">Gambar Tanda Tangan (.png)</small>
                <file-input class="mb-0" @change="filesTandaTangan" ref="filesTandaTangan"></file-input>
                <small class="form-text text-red-400" v-if="alert.tandaTangan">menggunakan file .png</small>

                <small class="form-text mt-2">KTP (.png)</small>
                <file-input class="mb-0" @change="filesKtp" ref="filesKtp"></file-input>
                <small class="form-text text-red-400" v-if="alert.ktp">menggunakan file .png</small>

                <small class="form-text mt-2">Surat Rekomendasi (.pdf)</small>
                <file-input class="mb-0" @change="filesSuratRekomendasi" ref="filesSuratRekomendasi"></file-input>
                <small class="form-text text-red-400" v-if="alert.suratRekomendasi">menggunakan file .pdf</small>
            </div>
            <template slot="footer">
                <base-button type="secondary" @click="showModal = false">Cancel</base-button>
                <base-button type="primary" @click="submitData">Save changes</base-button>
            </template>
        </modal>
    </div>
</template>
<script>
import axios from 'axios'
import swal from 'sweetalert2'
import 'sweetalert2/dist/sweetalert2.css'
import FileInput from '@/components/Inputs/FileInput'
export default {
    components: {
        FileInput
    },
    data() {
        return {
            showModal: false,
            text_searching: '',
            message_searching: '',
            statusReg: '',
            form_tanda_tangan: { nik: null, nama_lengkap: null, email: null, no_telepon: null, provinsi: null, kota: null, nip: null, jabatan: null, unit_kerja: null },
            alert: { nik: false, nama_lengkap: false, email: false, no_telepon: false, provinsi: false, kota: false, nip: false, jabatan: false, unit_kerja: false, tandaTangan: false, ktp: false, suratRekomendasi: false, }
        }
    },
    methods: {
        filesTandaTangan() {
            var filesOne = this.$refs.filesTandaTangan.files[0]
            if (filesOne.type != 'image/png') {
                this.alert.tandaTangan = true
            }else{
                this.alert.tandaTangan = false
            }
        },
        filesKtp() {
            var filesTwo = this.$refs.filesKtp.files[0]
            if (filesTwo.type != 'image/png') {
                this.alert.ktp = true
            }else{
                this.alert.ktp = false
            }
        },
        filesSuratRekomendasi() {
            var filesThree = this.$refs.filesSuratRekomendasi.files[0]
            if (filesThree.type != 'application/pdf') {
                this.alert.suratRekomendasi = true
            }else{
                this.alert.suratRekomendasi = false
            }
        },
        btnSearching() {
            //(this.text_searching);
            if (this.text_searching != '') {
                this.form_tanda_tangan.nik = this.text_searching

                let headers = {
                    "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'),
                    // "Content-Type":'application/x-www-form-urlencoded'
                }

                axios.get('https://smartbangkom.lan.go.id:8092/digitalsignature/cek/'+this.text_searching, {headers:headers})
                .then(res => {
                    // //(res.data);
                    this.statusReg = res.data
                })
                .catch(err => {
                    //(err);
                })
            }
        },
        submitData: function() {
            if (this.form_tanda_tangan.nik == null) {
                this.alert.nik = true
            }

            if (this.form_tanda_tangan.nama_lengkap == null) {
                this.alert.nama_lengkap = true
            }

            if (this.form_tanda_tangan.email == null) {
                this.alert.email = true
            }

            if (this.form_tanda_tangan.no_telepon == null) {
                this.alert.no_telepon = true
            }

            if (this.form_tanda_tangan.provinsi == null) {
                this.alert.provinsi = true
            }

            if (this.form_tanda_tangan.kota == null) {
                this.alert.kota = true
            }

            if (this.form_tanda_tangan.nip == null) {
                this.alert.nip = true
            }

            if (this.form_tanda_tangan.jabatan == null) {
                this.alert.jabatan = true
            }

            if (this.form_tanda_tangan.unit_kerja == null) {
                this.alert.unit_kerja = true
            }

            if (this.form_tanda_tangan.nik != null && this.form_tanda_tangan.nama_lengkap != null && this.form_tanda_tangan.email != null && this.form_tanda_tangan.no_telepon != null && this.form_tanda_tangan.provinsi != null && this.form_tanda_tangan.kota != null && this.form_tanda_tangan.nip != null && this.form_tanda_tangan.jabatan != null && this.form_tanda_tangan.unit_kerja != null) {
                let headers = {
                    "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'),
                    "Content-Type":'application/x-www-form-urlencoded'
                }

                let registrasiJson = {
                    'nik': this.form_tanda_tangan.nik,
                    'nama': this.form_tanda_tangan.nama_lengkap,
                    'email': this.form_tanda_tangan.email,
                    'nomor_telepon': this.form_tanda_tangan.no_telepon,
                    'kota': this.form_tanda_tangan.kota,
                    'provinsi': this.form_tanda_tangan.provinsi,
                    'nip': this.form_tanda_tangan.nip,
                    'jabatan': this.form_tanda_tangan.jabatan,
                    'unit_kerja': this.form_tanda_tangan.unit_kerja
                }

                let fileOne = this.$refs.filesTandaTangan.files[0]
                let fileTwo = this.$refs.filesKtp.files[0]
                let fileThree = this.$refs.filesSuratRekomendasi.files[0]

                let formKata = new FormData()
                    formKata.append('image_ttd', fileOne)
                    formKata.append('ktp', fileTwo)
                    formKata.append('surat_rekomendasi', fileThree)
                    formKata.append('isidata', JSON.stringify(registrasiJson))

                axios.post('https://smartbangkom.lan.go.id:8092/digitalsignature/registrasi', formKata, {headers:headers})
                .then(res => {
                    if (res.data.status_code === 400) {
                        swal.fire(
                            'Ada kesalahan data',
                            '...',
                            'error'
                        ).then(result => {
                            if (result.value) {
                                this.showModal = false
                                this.form_tanda_tangan.nik = ''
                                this.form_tanda_tangan.nama_lengkap = ''
                                this.form_tanda_tangan.email = ''
                                this.form_tanda_tangan.no_telepon = ''
                                this.form_tanda_tangan.kota = ''
                                this.form_tanda_tangan.provinsi = ''
                                this.form_tanda_tangan.nip = ''
                                this.form_tanda_tangan.jabatan = ''
                                this.form_tanda_tangan.unit_kerja = ''
                            }
                        })
                    }

                    if (res.data.status_code != 400) {
                        swal.fire(
                            'Registrasi Berhasil',
                            ''+this.form_tanda_tangan.nama_lengkap,
                            'success'
                        ).then(result => {
                            if (result.value) {
                                this.showModal = false
                                this.form_tanda_tangan.nik = ''
                                this.form_tanda_tangan.nama_lengkap = ''
                                this.form_tanda_tangan.email = ''
                                this.form_tanda_tangan.no_telepon = ''
                                this.form_tanda_tangan.kota = ''
                                this.form_tanda_tangan.provinsi = ''
                                this.form_tanda_tangan.nip = ''
                                this.form_tanda_tangan.jabatan = ''
                                this.form_tanda_tangan.unit_kerja = ''
                            }
                        })
                    }
                })
                .catch(err => {
                    //(err);
                })
            }
        },
    }
}
</script>
