<template>
    <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Detail Pelatihan</h6>
         
        </div>
      
      </div>
    </base-header>

    <div class="card card-frame">
        
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm">
                                <h3>{{byId.program}}</h3>
                                <p class="text-sm text-muted mb-0">{{byId.judul}}</p>
                                <small>{{byId.tgl_mulai}} sampai {{byId.tgl_akhir}}</small>
                            </div>
                            
                        </div>
                        <div class="row">
                        <card type="frame" class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-8">Jumlah Kelas</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{byId.kelas}} Kelas</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Jumlah Total Peserta</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{byId.kelas*isikuota}} Peserta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Jumlah Pendaftar</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-3">{{total}} Peserta</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">Sisa Jumlah Peserta</div>
                                <div class="col-sm-1">:</div>
                                <!-- <div class="col-sm-3">{{byId.kuota}} Peserta</div> -->
                                <div v-if="byId.kuota != null" class="col-sm-3">{{byId.kuota}} Peserta</div>
                                <div v-if="byId.kuota == null" class="col-sm-3">{{byId.kelas*isikuota}} Peserta</div>
                            </div>
                        </card>
                        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <card v-if="status!=1" type="frame" class="col-sm-12">
                            <h3>Permintaan no KRA</h3>
                            <h5 >Upload Daftar Hadir</h5>
                            <file-input @change="filesChange"></file-input>
                            <h5 >Upload Surat Permintaan Kra</h5>
                            <file-input @change="filesChange2"></file-input>
                            
                            <div class="row">
                                <div class="col-sm-0">
                                    <input type="checkbox" class="form-controll" v-model="buttonCheckbox"/>
                                </div>
                                <div class="col-sm-10">
                                    <h5>Dengan ini saya menyatakan data yang saya isi adalah benar. </h5>
                                </div>
                            </div>
                            <p v-if="textRed == true && buttonCheckbox == false || textRed == false" style="color:red; font-size:80%">Silahkan ceklis terlebih dahulu</p>
                            <div v-if="spinner.isLoading">
                                <div class="spinner-border text-primary" role="status">
                                </div> Proses Upload Dokumen
                            </div>
                            <div v-else>
                            <base-button v-if="buttonCheckbox == true" @click="sendupload(byId.id)" size="sm" type="primary">Upload Dokumen</base-button>
                            <base-button v-if="buttonCheckbox == false" @click="teks(true)" size="sm" type="primary">Upload Dokumen</base-button>
                            </div>
                        </card>
                        <card v-else>
                            <h3>Dokumen KRA</h3>
                            <h5 >Daftar Hadir</h5>
                            <a target="_blank" :href="'https://smartbangkom.lan.go.id:8091/diklat/downloaddockra/'+byId.daftarhadir+'.'"><i class="fa fa-download text-success" ></i></a>
                            <h5 >Surat Permintaan Kra</h5>
                            <a target="_blank" :href="'https://smartbangkom.lan.go.id:8091/diklat/downloaddockra/'+byId.suratkra+'.'"><i class="fa fa-download text-success" ></i></a>
                        </card>
                    </div>
                </div>

                

                <h4>Daftar Peserta</h4>
                <hr>
                <base-alert v-if="detailuser.akroni!=''" type="info">
                    <strong>Akronim : {{detailuser.akronim}}</strong> *Syarat membuat nomor kra, Akronim instansi harus terisi kemudian mengisi nilai dan judul proyek
                </base-alert>
                <base-alert v-if="detailuser.akroni==''" type="info">
                    <strong>Akronim : Kosong </strong> Update Akronim terlebih dahulu di menu profil !
                </base-alert>
                <div class="table-responsive">
                    <div>
                    <table class="table align-items-center" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="no">No</th>
                                <!-- <th scope="col" >Pilih Semua</th> -->
                                <!-- <th scope="col" >Aksi</th> -->
                                <th scope="col" class="sort" data-sort="id">Nomor KRA</th>
                                <th v-if="status==1" scope="col" class="sort" data-sort="id">Nilai</th>
                                <th v-if="status==1" scope="col" class="sort" data-sort="id">Lulus/Tidak</th>
                                <th v-if="status==1" scope="col" class="sort" data-sort="nama">Judul Proyek</th>
                                
                                <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                                <th scope="col" class="sort" data-sort="nama">Nama</th>
                                <!-- <th scope="col" class="sort" data-sort="noreg">No Registrasi</th> -->
                                <th scope="col" class="sort" >Instansi</th>
                                <th scope="col" class="sort" >Sumber Anggaran</th>
                                <!-- <th scope="col" class="sort">Pola Anggaran</th> -->

                            </tr>
                        </thead>
                        <tbody  class="list"  v-for="(peserta,index) in detailPes" :key="index" >
                        
                            <tr v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)">
                                <th scope="row">
                                    <div class="no align-items-center">
                                        {{index+1}}
                                    </div>
                                </th>
                               <th scope="row">
                                    <div class="no align-items-center">
                                        {{peserta.nomorKra}}
                                    </div>
                                </th>
                                <td v-if="status==1" class="nama">
                                    <div class="d-flex align-items-center">
                                        <base-input input-classes="form-control-sm" v-if="input[index].status==true"  @change="nilai(peserta.id,index)" v-model="input[index].nilai" ></base-input>
                                        <label v-else @click="sts(index)">{{input[index].nilai}} </label>
                                        
                                    </div>
                                </td>
                                <td v-if="status==1" class="nama">
                                    <badge v-if="input[index].nilai<=70" type="warning">Tidak lulus</badge>
                                    <badge v-else-if="input[index].nilai>70 && input[index].nilai<=100" type="success">Lulus</badge>
                                    <badge v-else type="danger">Angka Tidak Valid</badge>
                                </td>
                                <td v-if="status==1" class="nama">
                                    <div class="d-flex align-items-center">
                                        <base-input input-classes="form-control-sm" size="sm" v-if="input[index].status==true"  @change="nilai(peserta.id,index)" v-model="input[index].proyek" ></base-input>
                                        <label v-else @click="sts(index)">{{input[index].proyek}}</label>
                                    </div>
                                </td>
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{peserta.nomorId}}</span>
                                    </div>
                                </td>
                                <td class="nama">
                                    <div @click="genkra" class="d-flex align-items-center">
                                        {{peserta.nama}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.asalInstansi}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.sumberAnggaran}}
                                    </div>
                                </td>
                                <!-- <td class="status">
                                    <div class="d-flex align-items-center" v-if="status!=1">
                                        Sudah Diajukan 
                                    </div>
                                    <div class="d-flex align-items-center" v-else>
                                        Belum Diajukan
                                    </div>
                                </td> -->
                            </tr>       
                            </tbody>
                        
                        </table>
                    </div>
                </div>
            <div class="card-footer py-4 d-flex justify-content-end">
                    <p class="card-category">
                            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                            <span v-if="selectedRows.length">
                            &nbsp; &nbsp; {{selectedRows.length}} rows selected
                            </span>
                        </p>
                    <base-pagination class="pagination-no-border"
                    v-model="pagination.currentPage"
                    :per-page="pagination.perPage"
                    :total="total"></base-pagination>
                </div>

            

</div>
</div>
    </div>
</template>

<script>
import {Action} from '../../../store/api/types';
import axios from 'axios';
export default {
    data(){
        return{
            isikuota:0,
            spinner:{
                isLoading:false
            },
            kra:{
                idkra:'',
                nourut:'',
                jenis:'',
                kodeinstansi:'',
                kodepelatihan:'',
                akronim:'',
                tahun:'',
                idinstansi:''
            },
            input:[],
            change:{
                nilai:false,
                proyek:false
            },
            status:this.$route.query.status,
            selectedRows: [],
            search: '',
            pagination: {
                perPage: 10,
                currentPage: 1,
                perPageOptions: [2, 5, 25, 50],
                total: []
            },
            files: [],
            filessurat:[],
            change:{
                jenis:false,
            },
            buttonCheckbox:false,
            detailuser:[],
            byId:[],
            diklatD:[],
            detailD:[],
            penjaminM:[],
            Pm:[],
            textRed:false,
            selected:[],
            aKelas:[],
            kelasDet:[],
            ind:[],
            detailPes:[],
            payload:this.$cookies.get('isijwt')
        }
    },
    created(){
        //(this.$route.query.id);
        this.$store.dispatch(`${Action.user.userbyid}`,this.payload.iduser).then(res=>{
            //("detail user");
           
            this.detailuser=res.data;
             //(this.detailuser);
            
            this.kra.akronim=res.data.akronim
        })
    },
    mounted(){
        this.listDetail()
        this.teks()
        this.kelasD()
        this.mutu()
        this.kelasD()
        this.kelasDetail()
        this.pesertaD()
        this.kuotaprogram()
    },
    methods:{
        kuotaprogram(){
            //("prodik");
            this.$store.dispatch(`${Action.master.prodik}`).then(res=>{
                //("prodik");
                var data = res.data.data
                //(data);
                //(data.length);
                //(this.byId.program);
                
                for(var i =0;i<data.length;i++){
                    if(data[i].nama == this.byId.program){
                        this.isikuota = data[i].kuota
                        //("kuota");
                        //(this.isikuota);
                    }
                }            
            })
        },
        genkra(id){
            var urut = this.kra.nourut
            var nomor = parseInt(urut)
            //("nomor");
            //(nomor+1);
            
            urut = urut.toString()
            //(urut.length);
            for(var i=urut.length;i<8;i++){
                urut = "0"+urut
            }
            //(urut);
            var kode = this.kra.kodepelatihan
            kode = kode.toString()
            //(kode.length);
            for(var i=kode.length;i<3;i++){
                kode="0"+kode
            }
            //(kode);
            var kra = urut+"/"+this.byId.program+"/"+this.kra.kodeinstansi+"/"+kode+"/LAN-"+this.kra.akronim+"/"+this.kra.tahun;

            this.$store.dispatch(`${Action.kra.edit}`,{id:this.kra.idkra,jenis:this.byId.program,nomor:nomor+1,tahun:this.kra.tahun}).then(res=>{
                this.$store.dispatch(`${Action.peserta.tambahkra}`,{idpeserta:id,kra:kra}).then(res=>{
                    this.pesertaD()    
                })
            })
            
            //("kra "+kra);
        },
        generatekra(){
            
            this.$store.dispatch(`${Action.kra.ambil}`).then(res=>{
                //("kra tess");
                //(res.data[0].jenisprogram);
                //(this.byId.program);
                
                
                for(var i=0;i<res.data.length;i++){
                    if(res.data[i].jenisprogram==this.byId.program){
                        this.kra.nourut=res.data[i].nomor
                        this.kra.idkra=res.data[i].id
                        this.kra.tahun=res.data[i].tahun
                    }
                }
                
            })
            this.$store.dispatch(`${Action.master.Minstansi}`).then(res=>{
                            //("kode instansi");
                            
                            for(var j=0;j<res.data.data.length;j++){
                                if(res.data.data[j].nama == this.detailuser.kementrianLembaga){
                                    this.kra.kodeinstansi=res.data.data[j].kodeBKN
                                    //(this.kra.kodeinstansi);            
                                }
                            }
                        })

            // this.$store.dispatch(`${Action.master.lemdik}`).then(res=>{
            //     //("lemdik");
            //     //(res.data.data[2].instansi_id);
                
            //     for(var i=0;i<res.data.data.length;i++){
            //         if(res.data.data[i].nama == this.byId.createdBy){
            //             this.kra.idinstansi=res.data.data[i].instansi_id
            //             this.$store.dispatch(`${Action.master.Minstansi}`).then(res=>{
            //                 //("kode instansi");
                            
            //                 for(var j=0;j<res.data.data.length;j++){
            //                     if(res.data.data[j].id == this.kra.idinstansi){
            //                         this.kra.kodeinstansi=res.data.data[j].kodeBKN
            //                         //(this.kra.kodeinstansi);            
            //                     }
            //                 }
            //             })
            //         }
            //     }
            // })
            //("tesss");

            
            
            this.$store.dispatch(`${Action.master.prodik}`).then(res=>{
                    for(var i=0;i<res.data.data.length;i++){
                        if(res.data.data[i].nama==this.byId.program){
                            this.kra.kodepelatihan=res.data.data[i].id
                            //("kodepelatihan");
                            //(this.kra.kodepelatihan);
                            
                        }
                    }
                    
                })
            
        },
        
        nilai(id,val){
            this.$store.dispatch(`${Action.peserta.tambahnilai}`,{
                idpeserta:id,
                proyek:this.input[val].proyek,
                nilai:this.input[val].nilai
            }).then(res=>{
                //("nilai");
                
                //(res.data);
                if(this.kra.kodeinstansi!=null && this.kra.akronim!=null){
                    if(res.data.proyekPerubahan !='kosong' && res.data.nilai!='kosong' ){
                        if(res.data.nomorKra==null||res.data.nomorKra==""){
                            if(res.data.nilai>70 && res.data.nilai<=100){
                                this.genkra(id)
                            }
                        }
                    }
                }else{
                    //("cek profil isian kode instansi dan akronim anda");
                }
                var di = this.$route.query.id
                this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,di).then(res =>{
                    //(res.data);
                    this.detailPes = res.data
                    this.total=res.data.length
                    })
                this.input[val].status=false

            })
        },
        sts(val){
            this.generatekra()
            this.input[val].status=true
        },
        download(nama){
            //("download file");
            this.$store.dispatch(`${Action.diklat.downloaddoc}`,nama)
        },
        pesertaD(){
           
            var di = this.$route.query.id
            this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,di).then(res =>{
                //(res.data);
                for(var i=0;i<res.data.length;i++){
                    if(res.data[i].nilai==null){
                        this.input.push({proyek:'kosong',nilai:'kosong',status:false})
                    }else{
                        this.input.push({proyek:res.data[i].proyekPerubahan,nilai:res.data[i].nilai,status:false})
                    }
                    }
                //(this.input[0]);
                
                this.detailPes = res.data
                this.total=res.data.length
            })
        },
        teks(cek){
            //(cek);
            this.textRed=cek
        },
        kelasD(){
            var di = this.$route.query.id
            this.$store.dispatch(`${Action.diklat.ambilangkatan}`,di).then(res =>{
                //(res.data);
                for(var i=0;i<res.data.length;i++){
                    this.aKelas=res.data[i]
                    this.ind=i+1
                    //(this.ind);
                    
                    //(this.aKelas);
                    
                }
                
            })
        },
        kelasDetail(){
            var di = this.$route.query.id
            this.$store.dispatch(`${Action.diklat.ambildetaildiklat}`,di).then(res =>{
                //(res.data);
                for(var i=0;i<res.data.length;i++){
                    this.kelasDet=res.data[i]
                    //(this.kelasDet);
                    
                }
                
            })
        },
        mutu(){
            axios.get('https://sipka.lan.go.id/api/Mlemdik').then(res =>{
                //(res.data.data);
                this.Pm = res.data.data
                for(var i=0; i<res.data.data.length; i++){
                    // //(res.data.data[i].nama);
                    this.penjaminM = res.data.data[i].nama
                }
            })
        },
        sendupload(x){
            this.spinner.isLoading=true,
            //(x);
            //(this.files[0]);
            //(this.filessurat[0]);
            this.$store.dispatch(`${Action.diklat.uploadkra}`,{iddiklat:this.$route.query.id,permintaan:this.filessurat[0],daftarhadir:this.files[0]}).then(res=>{
                this.status=1
                this.spinner.isLoading=false
            })
        },
        listDetail(){
             

            this.$store.dispatch(`${Action.diklat.ambilsemuadiklat}`).then(res=>{
                //(res.data);
                for(var i=0; i<res.data.length; i++){
                    //(res.data[i].diklat);
                    if(res.data[i].diklat.id==this.$route.query.id){
                        this.byId = res.data[i].diklat
                        //("byid");
                        //(this.byId);
                        
                        
                    }
                    for(var j=0; j<res.data[i].detail.length; j++){
                        if(res.data[i].detail[j].idDiklat.id==this.$route.query.id){
                            this.diklatD = res.data[i].detail[j].idDiklat
                            //(this.diklatD);
                            
                        }
                    }
                    }
                }
            )
        },
        back(){
            this.$router.back()
        },
       filesChange(files) {
        this.files = files
      },
      filesChange2(files) {
        this.filessurat = files
      }
    },
    computed:{
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
        
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
      
    },
    }
}
</script>