<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Pengajuan KRA</h6>
         
        </div>
      
      </div>
    </base-header>
    
    <card  type="frame">
        
        <div class="row">
            <div class="col">
              <div class="row">
                <base-input v-model="search"
                    prepend-icon="fas fa-search"
                    placeholder="Search...">
                </base-input>
              </div>
              <div class="row mb-3 justify-between">
              <base-button size="sm" type="success" @click="unduhKRA(listKRA)">download semua nomor KRA</base-button>
              <base-button size="sm" type="info" @click="swipeRight">Scoll</base-button>
            </div>
            </div>
        <div class="row" style="overflow-x:auto;" id="content" ref="content">
        <table class="table align-items-center" >
        <thead class="thead-light">
            <tr>
                
                <th scope="col" class="sort" data-sort="no">No</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                <th scope="col" class="sort" data-sort="nama">Download KRA</th>
            </tr>
        </thead>
        <tbody class="list" v-for="(diklat,index) in searching" :key="index">
            <tr v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)">
                <th scope="row">
                    <div class="no align-items-center">
                        {{index+1}}
                    </div>
                </th>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.judul}}</span>
                    </div>
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.createdBy}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{diklat.program}}
                    </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <base-button size="sm" type="info" @click="getKRA(diklat.id)">download</base-button>
                  </div>
                </td>
            </tr>                                 
            </tbody>
        </table>
        </div>
                
        <div class="card-footer py-4 d-flex justify-content-end">
            <p class="card-category">
                    Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                    <span v-if="selectedRows.length">
                    &nbsp; &nbsp; {{selectedRows.length}} rows selected
                    </span>
                </p>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
        </div>
        </div>
    </card>
    </div>
</template>
<script>

import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
import {Action} from '../../../store/api/types';
import { BasePagination } from '@/components';
import XLSX from 'xlsx';
export default {
    components:{
        BasePagination,
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            payload:this.$cookies.get('isijwt'),
            selectedRows: [],
            search: '',
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: []
      },
            i:0,     
            currentPage: 1,
            //API
            daftarD:[],
            search:'',
            daftarA:[],
            inven:[],
            allDiklat:[],
            payload:this.$cookies.get('isijwt'),
            listKRA:[]
        }
    },
    created(){
        
        this.listD()
        this.listAll();
        this.listLemdik();
        this.dataKRA();
    },
     methods:{
       scrollTo(element, scrollPixels, duration) {
      const scrollPos = element.scrollLeft;
      // Condition to check if scrolling is required
      if ( !( (scrollPos === 0 || scrollPixels > 0) && (element.clientWidth + scrollPos === element.scrollWidth || scrollPixels < 0))) 
      {
        // Get the start timestamp
        const startTime =
          "now" in window.performance
            ? performance.now()
            : new Date().getTime();
        
        function scroll(timestamp) {
          //Calculate the timeelapsed
          const timeElapsed = timestamp - startTime;
          //Calculate progress 
          const progress = Math.min(timeElapsed / duration, 1);
          //Set the scrolleft
          element.scrollLeft = scrollPos + scrollPixels * progress;
          //Check if elapsed time is less then duration then call the requestAnimation, otherwise exit
          if (timeElapsed < duration) {
            //Request for animation
            window.requestAnimationFrame(scroll);
          } else {
            return;
          }
        }
        //Call requestAnimationFrame on scroll function first time
        window.requestAnimationFrame(scroll);
      }
    },
    swipeLeft() {
      const content = this.$refs.content;
      this.scrollTo(content, -300, 800);
    },
    swipeRight() {
      console.log("sini");
      console.log(this.$refs);
      const content = this.$refs.content;
      this.scrollTo(content, 300, 0);
    },
       dataKRA(){
         this.$store.dispatch(`${Action.peserta.ambilpesertatanpaid}`).then(res=>{
           //(res.data);
           for(var i=0;i<res.data.length;i++){
             if(res.data[i].nomorKra != null){
               if(res.data[i].nomorKra != ""){
                 this.listKRA.push({Nomor_KRA:res.data[i].nomorKra,Nama:res.data[i].nama,NIP:res.data[i].nomorId,Instansi:res.data[i].asalInstansi})
               }
             }
           }
           //(this.listKRA);
         })
       },
        getKRA(id){
          this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,id).then(res =>{
            var isi=[];
            for(var i=0;i<res.data.length;i++){
              isi.push({Nomor_KRA:res.data[i].nomorKra,Nama:res.data[i].nama,NIP:res.data[i].nomorId,Instansi:res.data[i].asalInstansi});
            }
            this.unduhKRA(isi);
          })
        },
        unduhKRA(isi){
          //(isi);
          const data = XLSX.utils.json_to_sheet(isi)
          const wb = XLSX.utils.book_new()
          XLSX.utils.book_append_sheet(wb, data, 'dat')
          XLSX.writeFile(wb,'demo.xlsx')
        },
         detail(idd,all){
             //(idd);
             
             this.$router.push({path:'kra/detail', query:{id:idd,diklat:all,status:1}})
         },
         ajuan(idd,all){
             this.$router.push({path:'kra/detail', query:{id:idd,diklat:all}})
         },
        kuota(row,tot,pendaftar){
          row.kuotasisa = tot-pendaftar;
        },
        back(){
            this.$router.back()
        },
        listLemdik(){
          this.$store.dispatch(`${Action.master.lemdikMaster}`).then(res=>{
            //(res.data);
          })
        },
        listD(){
            this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`,this.payload.iduser).then(res=>{
                this.daftarD = res.data
            })
        },
        listAll(){
            let loader = this.$loading.show({
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });

            this.$store.dispatch(`${Action.diklat.ambilsemuadiklat}`).then(res=>{
                //(res.data);
                this.allDiklat=res.data
                loader.hide()
                for(var i=0; i<res.data.length; i++){
                    this.daftarA.push(res.data[i].diklat)
                    this.inven= this.daftarA
                    
                    // for(var j=0; j<this.daftarA.length; j++){
                        
                    //     //(this.daftarA[j].verifikasi);
                    // }
                    
                    // if(this.daftarA.verifikasi==null){
                    //     //(this.inven);
                    // }
                    
                    // var jk = this.daftarA.filter(df => df.createdBy === 'admin')
                    // //(df);
                    this.total = this.inven.length
                // //(this.total);
                }
                
            })
        }
    },
    computed:{
        searching: function(){
        return this.inven.filter((df)=>{
           return df.createdBy.match(this.search);
           
           
        })
      },
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
        
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
      
    },
    // total() {
    //   return this.searchedData.length > 0
    //     ? this.searchedData.length
    //     : this.daftarD.length;
    // }
    }
    
}
</script>

<style scoped>
#app {
  text-align: center;
  font-size: 20px;
}

.left{
 float: left; 
 width: 30%;
 height: 200px;
 border: 1px solid black;
}

.internal{
 width: 31.75%;
 height: 100%;
 border: 1px solid black;
 display: inline-block;
}

.center{
 float: left; 
 width: 38.9%;
 height: 200px;
 border: 1px solid black;
 margin: 1px;
 overflow: hidden;
 white-space: nowrap;
}

.right{
 float: right; 
 width: 30%;
 height: 200px;
 border: 1px solid black;
}
</style>