<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Pengajuan KRA</h6>
         
        </div>
      
      </div>
    </base-header>
    
    <card  type="frame">
        
        <div class="row">
            <div>
                <base-input v-model="search"
                    prepend-icon="fas fa-search"
                    placeholder="Search...">
                </base-input>
            </div>
        <div class="row" style="overflow-x:auto;">
        <table class="table align-items-center" >
        <thead class="thead-light">
            <tr>
                
                <th scope="col" class="sort" data-sort="no">No</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" >Aksi</th>
                <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                <th scope="col" class="sort" data-sort="noreg">Tahun Penyelenggaraan</th>
                <th scope="col" class="sort" data-sort="status">Sisa Kuota</th>
                <th scope="col" class="sort" data-sort="status">Status</th>

            </tr>
        </thead>
        <tbody class="list" v-for="(diklat,index) in searching" :key="index">
            <tr v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)">
                <th scope="row">
                    <div class="no align-items-center">
                        {{index+1}}
                    </div>
                </th>
                <td >
                    <center>
                        <div v-if="diklat.otorisasi ==2" class="d-flex align-items-center">
                            <base-button v-if="diklat.suratkra != null" size="sm" @click="detail(diklat.id,allDiklat)" type="info">Lihat Detail</base-button>
                            <base-button v-if="diklat.suratkra == null" size="sm" @click="ajuan(diklat.id,allDiklat)" type="primary">Permintaan KRA</base-button>
                        </div>
                        <badge v-else rounded type="warning" size="lg">Belum Terotorisasi</badge>
                    </center>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.judul}}</span>
                    </div>
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.createdBy}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{diklat.program}}
                    </div>
                </td>
                <td class="noreg">
                    <div class="d-flex align-items-center">
                        {{diklat.tgl_mulai}}
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.kuota}}
                    </div>
                </td>

                <!-- <td >
                    <div class="d-flex align-items-center">
                        <badge v-if="diklat.verifikasi == 2" rounded type="success" size="lg">Terverifikasi</badge>
                        <badge v-if="diklat.verifikasi != 2" rounded type="warning" size="lg">Belum Terverifikasi</badge>
                        <badge v-if="diklat.otorisasi == 2" rounded type="info" size="lg">Terotorisasi</badge>
                        <badge v-if="diklat.otorisasi != 2" rounded type="warning" size="lg">Belum Terotorisasi</badge>
                    </div>
                </td> -->
            </tr>                                 
            </tbody>
        </table>
        </div>
                
        <div class="card-footer py-4 d-flex justify-content-end">
            <p class="card-category">
                    Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
                    <span v-if="selectedRows.length">
                    &nbsp; &nbsp; {{selectedRows.length}} rows selected
                    </span>
                </p>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
        </div>
        </div>
    </card>
    </div>
</template>
<script>

import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
import {Action} from '../../../store/api/types';
import { BasePagination } from '@/components';
export default {
    components:{
        BasePagination,
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            payload:this.$cookies.get('isijwt'),
            selectedRows: [],
            search: '',
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: []
      },
            i:0,
            
            currentPage: 1,
            //API
            daftarD:[],
            search:'',
            daftarA:[],
            inven:[],
            allDiklat:[],
            payload:this.$cookies.get('isijwt'),

       
        }
    },
    created(){
        
        // this.listD()
        this.listAll()
    },
     methods:{
         detail(idd,all){
             //(idd);
             
             this.$router.push({path:'kra/detail', query:{id:idd,diklat:all,status:1}})
         },
         ajuan(idd,all){
             this.$router.push({path:'kra/detail', query:{id:idd,diklat:all}})
         },
        kuota(row,tot,pendaftar){
          row.kuotasisa = tot-pendaftar;
        },
        back(){
            this.$router.back()
        },
        // listD(){
        //     this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`,this.payload.iduser).then(res=>{
                
        //         this.daftarD = res.data
                
        //     })
        // },
        listAll(){
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });

            this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`,this.payload.iduser).then(res=>{
                
                this.allDiklat=res.data
                loader.hide()
                for(var i=0; i<res.data.length; i++){
                    this.daftarA.push(res.data[i].diklat)
                    this.inven= this.daftarA.filter(vr => vr.idUser === this.payload.iduser)
                    
                    // for(var j=0; j<this.daftarA.length; j++){
                        
                    //     //(this.daftarA[j].verifikasi);
                    // }
                    
                    // if(this.daftarA.verifikasi==null){
                    //     //(this.inven);
                    // }
                    
                    // var jk = this.daftarA.filter(df => df.createdBy === 'admin')
                    // //(df);
                    this.total = this.inven.length
                // //(this.total);
                }
                
            })
        }
    },
    computed:{
        searching: function(){
        return this.inven.filter((df)=>{
           return df.createdBy.match(this.search);
           
           
        })
      },
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
        
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
      
    },
    // total() {
    //   return this.searchedData.length > 0
    //     ? this.searchedData.length
    //     : this.daftarD.length;
    // }
    }
    
}
</script>

<style >

</style>