<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Penerbitan Izin</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral" @click="modals.modal3 = true">Tambah Izin</base-button>
        </div>
        <modal :show.sync="modals.modal3"
                    body-classes="p-0"
                    modal-classes="modal-dialog-centered modal-xl">
                    <h6 slot="header" class="modal-title" id="modal-title-default">Tambah Penerbitan Izin</h6>
                    <card type="secondary" shadow
                            header-classes="bg-white pb-5"
                            body-classes="px-lg-5 py-lg-5"
                            class="border-0">
                                 <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input label="Nama Instansi Pembina" v-model="pembina" />
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input label="Penyelenggara" v-model="penyelenggara" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input label="Program Pelatihan" v-model="program"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <base-input type="month" label="Tahun Penyelenggara" v-model="tahun"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <base-input label="Jumlah Kelas" v-model="jumlahKelas"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input label="Nama Angkatan" v-model="namaAngkatan"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input label="Tempat Penyelenggara" v-model="tempat"/>
                                        </div>
                                    </div>
                                    <h3>Waktu Pelaksanaan</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input  type="date" label="Waktu Mulai" prepend-icon="ni ni-calendar-grid-58" v-model="waktuMulai"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input  type="date" label="Waktu Selesai"  prepend-icon="ni ni-calendar-grid-58" v-model="waktuSelesai"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input label="Sumber Anggaran" v-model="sumberAnggaran">
                                                <select  class="form-control">
                                                    <option>APBN-RM</option>
                                                    <option>APBN PNBP</option>
                                                    <option>APBD BLUD</option>
                                                    <option>APBD</option>
                                                    <option>APBD RM</option>
                                                </select>
                                            </base-input>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input label="Pola Anggaran" v-model="polaAnggaran">
                                            <select  class="form-control">
                                                    <option>APBN</option>
                                                    <option>Mandiri</option>
                                                    <option>Fasilitasi</option>
                                                    <option>Kemitraan</option>
                                                </select>
                                            </base-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input label="Jumlah Total peserta" v-model="jumlahTotal">
                                            <small slot="append" class="font-weight-bold">Orang</small>
                                            </base-input>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input label="Jumlah Kuota Instansi Luar" v-model="jumlahKuota">
                                            <small slot="append" class="font-weight-bold">Orang</small>
                                            </base-input>
                                        </div>
                                    </div>
                                <template>
                                </template>
                                <base-input label="Upload Izin">
                                    <dropzone-file-upload v-model="fileSingle" multiple></dropzone-file-upload>
                                </base-input>
                                </div>
                        </card>

                </modal>
                <!-- modal hapus -->
                <modal :show.sync="modals.modal2"
                    gradient="danger"
                    modal-classes="modal-danger modal-dialog-centered">
                    <h6 slot="header" class="modal-title" id="modal-title-notification">Peringatan</h6>

                    <div class="py-3 text-center">
                        <i class="ni ni-bell-55 ni-3x"></i>
                        <h4 class="heading mt-4">Apakah anda yakin akan menghapus Usulan ini?</h4>
                    </div>

                    <template slot="footer">
                        <base-button type="white">Ya</base-button>
                        <base-button type="link"
                                    class="ml-auto text-white"
                                    @click="modals.modal2 = false">
                            Batal
                        </base-button>
                    </template>
                </modal>
                <!-- end modal hapus -->
      </div>
    </base-header>
    
    <div class="card">

        <el-table class="table-responsive table-flush"
                  header-row-class-name="thead-light"
                  :data="projects">
        <el-table-column    
                label="Daftar Izin"
                v-slot="{}"
                prop="name">
           <div class="col-auto float-right">
                  <base-dropdown title-classes="btn btn-sm btn-neutral mr-0"
                                 menu-on-right
                                 :has-toggle="false">

                    <template slot="title">
                      <i class="fas fa-ellipsis-h"></i>
                    </template>

                    <a class="dropdown-item"  @click="modals.modal3 = true">Edit</a>
                    <a class="dropdown-item" @click="modals.modal2 = true">Delete</a>
                  </base-dropdown>
                </div>
            <!-- Card body -->
            <div class="row align-items-center ">
                <div class="col-auto">
                    <!-- Avatar -->
                    <!-- <a href="#" class="avatar avatar-xl rounded-circle">
                        <img alt="Image placeholder" v-bind:src="row.img">
                    </a> -->
                </div>
                <div class="col ml--2">
                    <div class="row">
                    <h4 class="text-lg mb-0">
                        <a href="#!">Diklat Latsar angkatan 1</a>
                    </h4>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-xs text-muted mb-0">Pusdiklat Teknis dan Fungsional</p>
                            <p class="text-sm  mb-0"><b>Lembaga Administrasi Negara</b></p>
                            <br>
                            <el-tooltip content="Verifikasi Admin" placement="left">
                                <base-button size="sm" type="primary" class="btn-tooltip btn-success">
                                <i class="ni ni-check-bold"></i>
                                Terverifikasi
                                </base-button>
                            </el-tooltip>
                            <el-tooltip content="Terorotisasi Kepala Pusat" placement="right">
                                <base-button size="sm" type="primary" class="btn-tooltip btn-info">
                                <i class="ni ni-lock-circle-open"></i>
                                Terotorisasi
                                </base-button>
                            </el-tooltip>
                        </div>
                        <div class="col-lg-4">
                            <stats-card class="bg-gradient-info">
                            <!-- Card body -->
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Informasi</h5>
                                    <span class="h6 font-weight-bold mb-0 text-white">Kelas : 5 |</span> 
                                    <span class="h6 font-weight-bold mb-0 text-white">peserta : 40</span>
                                    <br><span class="h6 font-weight-bold mb-0 text-white">Kuota tambahan : 10</span><br>
                                    <span><badge type="info">APBN-RM</badge>  <badge class="ml-1" type="success">PNBP</badge></span>

    
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-building"></i>
                                    </div>
                                </div>
                            </div>
                        </stats-card>
                            
                        </div>
                        <div class="col-lg-4">
                            <stats-card class="bg-gradient-danger">
                            <!-- Card body -->
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-calendar-grid-58"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Jadwal</h5>
                                    <span class="h6 font-weight-bold mb-0 text-white">12 Sept 2019 - 20 Des 2019</span>
                                    <br>
                                    <span class="h6 font-weight-bold mb-0 text-white">Pusdiklat LAN Pejompongan</span>
                                </div>
                                
                            </div>
                        </stats-card>
                            
                        </div>
                    </div>
                    
                </div>

                
                
                <!-- <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">Add</button>
                </div> -->
            </div>
            
         
        </el-table-column>
            
        </el-table>

        <div class="card-footer py-4 d-flex justify-content-end">
            <base-pagination v-model="currentPage" :total="50"></base-pagination>
        </div>
    </div>
                

    </div>
</template>
<script>

import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb'
import {BasePagination} from '@/components';
 import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
 import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'

export default {
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
        RouteBreadCrumb,
        DropzoneFileUpload,
        BasePagination
    },
    data(){
        return{
            fileSingle: [],
            pembina: null,penyelenggara: null,program: null,tahun: null,jumlahKelas: null,namaAngkatan: null,
            tempat: null,waktuMulai: null,waktuSelesai: null,sumberAnggaran: null,polaAnggaran: null,jumlahTotal: null,
            jumlahKuota:null,
            modals:{modal3:false,modal2:false},
            projects: [
          {
            img: 'https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/bootstrap.jpg',
            title: 'Argon Design System',
            budget: '$2500 USD',
            status: 'pending',
            statusType: 'warning',
            completion: 60
          },
          {
            img: 'https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/angular.jpg',
            title: 'Angular Now UI Kit PRO',
            budget: '$1800 USD',
            status: 'completed',
            statusType: 'success',
            completion: 100
          },
          {
            img: 'https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/sketch.jpg',
            title: 'Black Dashboard',
            budget: '$3150 USD',
            status: 'delayed',
            statusType: 'danger',
            completion: 72
          },
          
        ],
        currentPage: 1
        }
    }
    
}
</script>

<style >

</style>