<template>
    <div>
        <card type="frame" class="my-3 mx-3">
            <div class="flex justify-between items-center mb-3">
                <div>
                    <h3 class="m-0">E-Sertifikat</h3>
                </div>
                <!-- <div>
                    <base-button outline size="sm" type="default" @click="showModal = true">Tambah Rencana Penyelenggaraan Diklat</base-button>
                    <nuxt-link to="rencana_penyelenggaraaan/add">
                        <base-button outline size="sm" type="default" >Tambah Rencana Penyelenggaraan Diklat</base-button>
                    </nuxt-link>
                </div> -->
            </div>
        </card>
    </div>
</template>