<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Master Instansi</h6>
        </div>
      </div>
    </base-header>
    <card type="frame">
      <div class="flex justify-between items-center mb-3">
        <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
        <base-button size="sm" type="info" @click="updateInstansi()">Update Instansi</base-button>
      </div>
      <div class="row" style="overflow-x:auto;">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">No</th>
              <th scope="col">
                <center>Nama Instansi</center>
              </th>
            </tr>
          </thead>
          <tbody class="list" v-for="(temp,index) in filterlistInstansi" :key="index">
            <tr
              v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
            >
              <th scope="row">
                <div class="no align-items-center">{{index+1}}</div>
              </th>
              <td class="nama">
                <div class="d-flex align-items-center">
                  <span class="completion mr-2">{{temp.namaInstansi}}</span>
                </div>
              </td>
            
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4 d-flex justify-content-end">
        <p class="card-category">
          Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          <!-- <span
              v-if="selectedRows.length"
          >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>-->
        </p>
        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></base-pagination>
      </div>

    </card>
  </div>
</template>
<script>
import { Action } from "../../../../store/api/types";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  data() {
    return {
      listInstansi:[],
      InstansiSipka:[],
      pagination: {
        perPage: 10,
        currentPage: 1,
      },
      total: 0,
      search: "",
    };
  },
  computed:{
    filterlistInstansi: function(){
        return this.listInstansi.filter((df)=>{
           return df.namaInstansi.toLowerCase().match(this.search.toLowerCase());
        })
      },
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
        
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
      
    },
  },
  watch: {
    
  },
  created() {
    this.getMasterInstansi();
  },
 
  methods: {
    filteredInstansi(id) {
      return this.listInstansi.filter(item => item.idSipka===id)
    },
    async updateInstansi(){
      swal({
        title: 'Update Isi Isi Instansi',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          swal.showLoading();
        }
      })
      await this.$store.dispatch(`${Action.sipka.instansi}`).then(res=>{
        this.InstansiSipka=res.data.data;
        //("Instansi");
        //(res.data);
        
      });
       for(var i=0;i<this.InstansiSipka.length;i++){
         //(i);
         if(this.filteredInstansi(this.InstansiSipka[i].id).length==0){
           //('if');
           //(this.filteredInstansi(this.InstansiSipka[i].id));
           await this.$store.dispatch(`${Action.master.postinstansiMaster}`,{idSipka:this.InstansiSipka[i].id,namaInstansi:this.InstansiSipka[i].nama,kode_bkn:this.InstansiSipka[i].kodeBKN})
         }else if(this.filteredInstansi(this.InstansiSipka[i].id).length!=0){
           //(this.filteredInstansi(this.InstansiSipka[i].id));
           //('else');
           await this.$store.dispatch(`${Action.master.putinstansiMaster}`,{id:this.filteredInstansi(this.InstansiSipka[i].id)[0].id,namaInstansi:this.InstansiSipka[i].nama,kode_bkn:this.InstansiSipka[i].kodeBKN,idSipka:this.InstansiSipka[i].id})
         }
         if(i==this.InstansiSipka.length-1){
          //  loader.hide();
          this.listInstansi=[];
          this.getMasterInstansi();
          swal.close();
          swal({ 
            title: 'Data terupdate',
            type: 'success',
            timer: 2000,
            showConfirmButton: false
          })
          
         }
       }
      
    },
    getMasterInstansi(){
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store.dispatch(`${Action.master.instansiMaster}`).then(res=>{
        this.listInstansi=res.data.filter(idS => idS.idSipka !== null);
        //(this.listInstansi);
        this.total=this.listInstansi.length;
        loader.hide();
      })
    },
  
    back() {
      this.$router.back();
    },
  },
};
</script>