<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Master Lembaga Diklat</h6>
        </div>
      </div>
    </base-header>
    <card type="frame">
      <div class="flex justify-between items-center mb-3">
        <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
        <base-button size="sm" type="info" @click="update()">Update Lembaga Diklat</base-button>
      </div>
      <div class="row" style="overflow-x:auto;">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">No</th>
              <th scope="col">
                <center>Nama Lembaga Diklat</center>
              </th>
            </tr>
          </thead>
          <tbody class="list" v-for="(temp,index) in filterlist" :key="index">
            <tr
              v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
            >
              <th scope="row">
                <div class="no align-items-center">{{index+1}}</div>
              </th>
              <td class="nama">
                <div class="d-flex align-items-center justify-content-center">
                  {{temp.namaLemdik}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4 d-flex justify-content-end">
        <p class="card-category">
          Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          <!-- <span
              v-if="selectedRows.length"
          >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>-->
        </p>
        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></base-pagination>
      </div>

    </card>
  </div>
</template>
<script>
import { Action } from "../../../../store/api/types";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  data() {
    return {
      list:[],
      isiSipka:[],
      pagination: {
        perPage: 50,
        currentPage: 1,
      },
      total: 0,
      search: "",
      filterSipka:[]
    };
  },
  computed:{
    filterlist: function(){
        return this.list.filter((df)=>{
           return df.namaLemdik.toLowerCase().match(this.search.toLowerCase());
        })
      },
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);

      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);

    },
  },
  watch: {

  },
  mounted() {
    this.getMaster();
  },

  methods: {
    filtered(id) {
      return this.list.filter(item => item.idSipka === id);
    },
    async update(){
      swal({
        title: 'Update Isi Lembaga Diklat',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          swal.showLoading();
        }
      })
      await this.$store.dispatch(`${Action.sipka.lemdik}`).then(res=>{
        this.isiSipka=res.data.data;
      });
       for(var i=0;i<this.isiSipka.length;i++){
         if(this.filtered(this.isiSipka[i].id).length==0 || this.list.length==0){
           await //('jika');
          //  //(this.filterSipka);
           await this.$store.dispatch(`${Action.master.addlemdikMaster}`,{provinsi:this.isiSipka[i].provID,namaLemdik:this.isiSipka[i].nama,instansi:this.isiSipka[i].instansi_id,idSipka:this.isiSipka[i].id})
         }else if(this.filtered(this.isiSipka[i].id).length!=0){
           await //('else');
          //  //(this.filterSipka);
           await this.$store.dispatch(`${Action.master.updatelemdikMaster}`,{id:this.filtered(this.isiSipka[i].id)[0].id,provinsi:this.isiSipka[i].provID,namaLemdik:this.isiSipka[i].nama,instansi:this.isiSipka[i].instansi_id,idSipka:this.isiSipka[i].id})
         }
         //(i);
         if(i==this.isiSipka.length-1){
           //(i);
           //(this.isiSipka.length-1);
           //('habis');
          //  loader.hide();
          this.list=[];
          this.getMaster();
          swal.close();
          swal({
            title: 'Data terupdate',
            type: 'success',
            timer: 2000,
            showConfirmButton: false
          })

         }
       }

    },
    getMaster(){
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store.dispatch(`${Action.master.lemdikMaster}`).then(res=>{
        this.list=res.data;
        //(this.list);
        this.total=this.list.length;
        loader.hide();
      })
    },

    back() {
      this.$router.back();
    },
  },
};
</script>
