<template>
  <base-nav
    container-classes="container-fluid"
    class="navbar-top border-bottom navbar-expand"
    :class="{'bg-success navbar-dark': type === 'default'}"
  >
    <!-- Search form -->
    <!-- <form class="navbar-search form-inline mr-sm-3"
          :class="{'navbar-search-light': type === 'default', 'navbar-search-dark': type === 'light'}"
          id="navbar-search-main">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </form>-->
    <!-- Navbar links -->
    <ul class="navbar-nav align-items-center ml-md-auto">
      <li class="nav-item d-xl-none">
        <!-- Sidenav toggler -->
        <div
          class="pr-3 sidenav-toggler"
          :class="{active: $sidebar.showSidebar, 'sidenav-toggler-dark': type === 'default', 'sidenav-toggler-light': type === 'light'}"
          @click="toggleSidebar"
        >
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </li>
    </ul>
    <!-- <base-input label="Pilih Role :" >
     <select v-model="selected" size="sm" class="form-control" >
       <option v-for="(role,index) in role " :key="index" :value="role" >{{role}}</option>
     </select>
    </base-input>-->
    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
      <base-dropdown
        menu-on-right
        class="nav-item"
        tag="li"
        title-tag="a"
        title-classes="nav-link pr-0"
      >
        <a href="#" class="nav-link pr-0" @click.prevent slot="title-container">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img
                alt="Image placeholder"
                src="@/assets/images/avatar.jpg"
                v-if="photoProfile == null"
              />
              <img
                alt="Image placeholder"
                :src="'data:image.jpeg;base64,'+photoProfile"
                v-if="photoProfile != null"
              />
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">{{payload.namauser}}</span>
            </div>
          </div>
        </a>

        <template>
          <!-- <a href="#!" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span><nuxt-link to="/dashboard/DetailPr">My profile</nuxt-link></span>
          </a>-->
          <nuxt-link to="/dashboard/profil" class="dropdown-item">
            <i class="ni ni-single-02"></i> My profile
          </nuxt-link>

          <div class="dropdown-divider"></div>
          <a @click="logout" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </template>
      </base-dropdown>
    </ul>
  </base-nav>
</template>
<script>
import { CollapseTransition } from "vue2-transitions";
import { BaseNav, Modal } from "@/components";
import { mapGetters } from "vuex";
import { Actionauth, Mutationauth } from "../store/auth/types";
import { Action, Mutation } from "../store/api/types";
import axios from "axios";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  components: {
    CollapseTransition,
    BaseNav,
    Modal,
  },
  props: {
    type: {
      type: String,
      default: "default", // default|light
      description:
        "Look of the dashboard navbar. Default (Green) or light (gray)",
    },
  },
  created() {
    this.$store.dispatch(`${Action.connect}`);

    // //(this.$auth.$storage.getLocalStorage("token"));
    // //(this.$cookies.get("isijwt"));
    this.role = this.$cookies.get("isijwt").authorities;
    var nama = this.payload.namauser;
    var cek = nama.includes("Teknis");
    this.$store.commit(`${Mutation.diklattsk}`, cek);
    // //("isidiklattsk");
    // //(this.$store.state.api.diklattsk);
    this.selected = this.role[0];
    // //(this.selected);
    this.idUser = this.$cookies.get("isijwt").iduser;

    // //("isi resa");
    this.profile();
  },

  computed: {
    routeName() {
      const { name } = this.$route;
      return this.capitalizeFirstLetter(name);
    },
    ...mapGetters(["loggedInUser"]),
  },
  data() {
    return {
      role: [],
      selected: "",
      activeNotifications: false,
      showMenu: false,
      searchModalVisible: false,
      searchQuery: "",
      payload: this.$cookies.get("isijwt"),
      token: this.$cookies.get("token"),
      idUser: null,
      photoProfile: null,
      profileData: {},
      jenis: "",
    };
  },
  mounted() {
    this.profile();
    this.cekuser();
    // this.cekToken();
  },

  methods: {
    cekuser() {
      var nama = this.payload.namauser.includes("Teknis");
      // //("apa ada ?");
      // //(nama);
      this.jenis = nama;
      this.$store.commit(`${Mutationauth.Jenisteknis}`, nama);
      // //(this.$store.state.auth.Jenisteknis);
    },
    cekToken() {
      this.$store
        .dispatch(`${Actionauth.cekuser}`)
        .then((res) => {
          // //(res.data);
        })
        .catch((err) => {
          swal
            .fire("Token Expired", "Silahkan Login lagi", "warning")
            .then((result) => {
              if (result.value) {
                this.$store.dispatch(`${Actionauth.Logout}`);
                let error = this.$toast.success("Logout Izin Prinsip");
                error.goAway(2000);
                this.$router.push("/login");
              }
            });
        });
    },
    logout() {
      this.$store.dispatch(`${Actionauth.Logout}`);
      let error = this.$toast.success("Logout Izin Prinsip");
      error.goAway(2000);
      this.$router.push("/login");
    },

    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    toggleNotificationDropDown() {
      this.activeNotifications = !this.activeNotifications;
    },
    closeDropDown() {
      this.activeNotifications = false;
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },
    profile: function () {
      let headers = { Authorization: "Bearer " + this.$cookies.get("token") };
      axios
        .get(
          "https://smartbangkom.lan.go.id:8092/peserta/userPeserta/" +
            this.idUser,
          { headers: headers }
        )
        .then((res) => {
          var idx= res.data.length
          this.profileData = res.data[idx-1];
          // //("foto navbar");

          // //(res.data);
          var foto = this.profileData.foto + ".";
          axios
            .get(
              "https://smartbangkom.lan.go.id:8092/peserta/getfoto/" + foto,
              { headers: headers }
            )
            .then((res) => {
              // //(res.data);

              this.photoProfile = res.data;
            })
            .catch((err) => {
              // //(err);
            });
        })
        .catch((err) => {
          // //(err);
        });
    },
  },
  watch: {
    selected() {
      // //(this.selected);
      this.$store.commit(`${Mutationauth.Role}`, this.selected);
      // //(this.$store.state.auth.role);
    },
  },
};
</script>
