<template>
<client-only>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <template  slot="links">
        <sidebar-item
          :link="{
            name: 'Dashboard',
            icon: 'fa fa-tachometer-alt text-primary',
            path: '/dashboard'
          }">
          </sidebar-item>
        <!-- <sidebar-item
          :link="{
            name: 'Manajemen Akun',
            icon: 'fa fa-user-circle text-warning',
            path: '/dashboard'
          }">
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Manajemen Data Master',
            icon: 'fa fa-database text-success',
            path: '/dashboard'
          }">
          </sidebar-item> -->
        <!-- <sidebar-item v-if="ambilrole=='role_lemdik' || ambilrole=='role_admin'"
          :link="{
            name: 'Rencana Penyelenggaraan',
            icon: 'fa fa-wrench text-danger',
            path: '/dashboard/perencanaan'
          }">
        </sidebar-item> -->

        <sidebar-item v-if="ambilrole=='role_lemdik'  "
          :link="{
            name: 'Rencana Penyelenggaraan',
            icon: 'fa fa-wrench text-danger',
            path: '/dashboard/rencana_penyelenggaraaan'
          }">
            <!-- <sidebar-item
              :link="{ name: 'Rencana Pelatihan', path: '/dashboard/perencanaan' }"
            ></sidebar-item> -->
            <!-- <sidebar-item
              :link="{ name: 'Informasi Rencana Pelatihan', path: '/dashboard/perencanaan/inforencana' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Verifikasi Pengajuan Permohonan', path: '/dashboard/perencanaan/verifpermohonan' }"
            ></sidebar-item> -->
          </sidebar-item>
        <sidebar-item v-if="(ambilrole=='role_lemdik' || ambilrole=='role_kld') && jenis!=true"
          :link="{
            name: 'Registrasi Calon Peserta',
            icon: 'fa fa-users text-info',
            path: '/dashboard/register'
          }">
          </sidebar-item>

          <sidebar-item v-if="(ambilrole=='role_admin')"
          :link="{
            name: 'List Lembaga Diklat',
            icon: 'ni ni-briefcase-24 text-success',
            path: '/dashboard/ListLemdikAdmin'
          }">
          </sidebar-item>

          <sidebar-item v-if="ambilrole=='role_lemdik' || ambilrole=='role_admin'"
          :link="{
            name: 'Verifikasi Peserta',
            icon: 'fa fa-user text-danger',
            path: '/dashboard/verifpeserta'
          }">
          </sidebar-item>

        <sidebar-item v-if="ambilrole=='role_admin' || ambilrole=='role_kapus' || ambilrole=='role_lemdik'"
          :link="{
            name: 'Proses Penerbitan Izin',
            icon: 'fa fa-certificate text-primary',
            path: '/dashboard'
          }">
          <sidebar-item v-if="ambilrole=='role_admin'|| ambilrole=='role_lemdik'"
              :link="{ name: 'Inventarisasi Pelatihan', path: '/dashboard/terbitizin' }"
            ></sidebar-item>
            <sidebar-item v-if="ambilrole=='role_admin'"
              :link="{ name: 'Verifikasi Pelatihan', path: '/dashboard/terbitizin/verifpelatihan' }"
            ></sidebar-item>
            <sidebar-item v-if="ambilrole=='role_admin'"
              :link="{ name: 'Revisi Pelatihan', path: '/dashboard/terbitizin/refpelatihan' }"
            ></sidebar-item>
          <sidebar-item v-if="ambilrole=='role_kapus'"
              :link="{ name: 'Otorisasi Pelatihan', path: '/dashboard/terbitizin/otorisasi' }"
            ></sidebar-item>
          </sidebar-item>

          <sidebar-item v-if="  ambilrole=='role_admin' || ambilrole=='role_lemdik' " :link="{ name: 'Generate KRA', icon: 'fa fa-sync text-warning'}">
          <sidebar-item v-if="  ambilrole=='role_admin' || ambilrole=='role_lemdik' " :link="{ name: 'Generate KRA', icon: 'fa fa-sync text-warning', path: '/dashboard/kra' }"> </sidebar-item>

          <sidebar-item v-if="  ambilrole=='role_admin' " :link="{ name: 'Download KRA', icon: 'fa fa-sync text-warning', path: '/dashboard/kra/downloadKRA' }"> </sidebar-item>
          </sidebar-item>


          <sidebar-item v-if="ambilrole=='role_peserta'|| ambilrole=='role_admin' || ambilrole=='role_lemdik' || ambilrole=='role_kepala_lan' || ambilrole=='role_deputi' || ambilrole=='role_kepala_lemdik' || ambilrole=='role_sekretariat'" :link="{ name: 'Tanda Tangan Digital', icon: 'fa fa-file-alt text-success', path: '/dashboard' }">
            <sidebar-item v-if=" ambilrole=='role_admin'" :link="{ name: 'Pendaftaran', path: '/dashboard/pendaftaran_ttd_digital' }"></sidebar-item>
            <sidebar-item v-if=" ambilrole=='role_admin'" :link="{ name: 'Check Dokumen', path: '/dashboard/check_dokumen' }"></sidebar-item>
            <sidebar-item v-if="ambilrole!='role_lemdik' && ambilrole!='role_peserta'" :link="{ name: 'Gambar TTD', path: '/dashboard/tandatangan/gambar' }"></sidebar-item>
            <sidebar-item v-if="ambilrole!='role_peserta'" :link="{ name: 'E-Sertifikat', path: '/dashboard/tandatangan' }"></sidebar-item>
            <sidebar-item v-if=" ambilrole=='role_admin'" :link="{ name: 'Revisi STTP', path: '/dashboard/tandatangan/revisiSttp' }"></sidebar-item>
            <sidebar-item v-if="ambilrole=='role_peserta'" :link="{ name: 'E-Sertifikat', path: '/dashboard/tandatangan/certpeserta' }"></sidebar-item>
          </sidebar-item>
          <sidebar-item v-if="ambilrole=='role_kepala_lemdik' || ambilrole=='role_lemdik'"
          :link="{
            name: 'List Diklat',
            icon: 'ni ni-briefcase-24 text-success',
            path: '/dashboard/ListLemdikAdmin/ListDetailPelatihanAdmin?id='+payload.idlemdik+''
          }">
          </sidebar-item>

        <!-- <sidebar-item
          :link="{
            name: 'Pendaftaran Peserta',
            icon: 'fa fa-user text-warning',
            path: '/dashboard'
          }">
          <sidebar-item
              :link="{ name: 'Pendaftaran Peserta Pelatihan', path: '/alternative' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Daftar Peserta Pelatihan', path: '/alternative' }"
            ></sidebar-item>
          </sidebar-item> -->



        <!-- <sidebar-item
          :link="{
            name: 'Manajemen Akun Peserta',
            icon: 'fa fa-user-friends text-danger',
            path: '/dashboard'
          }">
          </sidebar-item> -->


        <!-- <sidebar-item v-if=" ambilrole=='role_admin'"
          :link="{
            name: 'Penerbitan No KRA dan Sertifikat Digitall',
            icon: 'fa fa-file-alt text-success',
            path: '/dashboard/sertifikatDigital'
          }"> -->
          <!-- <sidebar-item
              :link="{ name: 'Inventarisasi Data', path: '/dashboard/terbitizin' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Verifikasi Data', path: '/alternative' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Validasi Data', path: '/alternative' }"
            ></sidebar-item> -->
        <!-- </sidebar-item> -->
        <sidebar-item v-if=" ambilrole=='role_admin'"
        :link="{
            name: 'Master',
            icon: 'ni ni-paper-diploma text-info'}"
          >
            <sidebar-item :link="{
            name: 'Master Template',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/masterTemplate'
          }"></sidebar-item>
          <sidebar-item :link="{
            name: 'Master Program Diklat',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/prodik'
          }"></sidebar-item>
          <sidebar-item :link="{
            name: 'Master Lemdik',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/lemdik'
          }"></sidebar-item>
          <sidebar-item :link="{
            name: 'Master Instansi',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/instansi'
          }"></sidebar-item>
          <sidebar-item :link="{
            name: 'Master Provinsi',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/provinsi'
          }"></sidebar-item>
          <sidebar-item :link="{
            name: 'Master Kabupaten',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/kabupaten'
          }"></sidebar-item>
          <sidebar-item :link="{
            name: 'Master Golongan Pangkat',
            icon: 'fa fa-user text-success',
            path: '/dashboard/master/golpang'
          }"></sidebar-item>
        </sidebar-item>

        <sidebar-item v-if=" ambilrole=='role_admin'"
        :link="{
            name: 'Manajemen User',
            icon: 'fa fa-user text-success'}"
          >
          <div type="button" @click="changePage(isi='role_admin')">
            <sidebar-item :link="{
            name: 'Role Admin',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_deputi')">
            <sidebar-item :link="{
            name: 'Role Deputi',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_kepala_lemdik')">
            <sidebar-item :link="{
            name: 'Role Kepala Lemdik',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_kapus')">
            <sidebar-item :link="{
            name: 'Role Kapus',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_kld')">
            <sidebar-item :link="{
            name: 'Role KLD',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_lemdik')">
            <sidebar-item :link="{
            name: 'Role Lemdik',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_penanggungjawab_diklat')">
            <sidebar-item :link="{
            name: 'Role Penanggung Jawab Diklat',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
          <div type="button" @click="changePage(isi='role_peserta')">
            <sidebar-item :link="{
            name: 'Role Peserta',
            icon: 'fa fa-user text-success',
            path: '/dashboard/manajemen_user'
          }"></sidebar-item>
          </div>
        </sidebar-item>
        <!-- <div v-if="status==5">
        <sidebar-item
          :link="{
            name: 'Daftar Diklat',
            icon: 'ni ni-archive-2 text-info',
            path: '/dashboard/Diklat'
          }">
        </sidebar-item>
        </div>
        <sidebar-item
          :link="{
            name: 'Pengajuan Peserta Diklat',
            icon: 'ni ni-book-bookmark text-primary',
            path: '/dashboard/sertifikatDigital'
          }">
        </sidebar-item> -->
        <!-- <sidebar-item
        :link="{
          name: 'Perencanaan',
          icon: 'ni ni-single-copy-04 text-warning',
          path: '/dashboard/perencanaan'
        }"></sidebar-item>
        <sidebar-item
        :link="{
          name: 'Penerbitan izin',
          icon: 'ni ni-check-bold text-success',
          path: '/dashboard/Terbit-izin'
        }"></sidebar-item>
        <sidebar-item
        :link="{
          name: 'Pendaftaran Pelatihan',
          icon: 'ni ni-circle-08 text-info',
          path: '/dashboard/pendaftaran'
        }"></sidebar-item>
        <sidebar-item
        :link="{
          name: 'Pendaftaran Pelatihan (Admin)',
          icon: 'ni ni-circle-08 text-info',
          path: '/dashboard/adminDaftar'
        }"></sidebar-item> -->
        <!-- <sidebar-item
        :link="{
          name: 'Penerbitan KRA',
          icon: 'ni ni-badge text-warning',
          path: '/PenerbitanKRA'
        }"></sidebar-item> -->
        <!-- <sidebar-item
        :link="{
          name: 'Master',
          icon: 'ni ni-briefcase-24 text-danger'
        }">
          <sidebar-item :link="{ name: 'Akun', path: '/master/user' }"></sidebar-item>
        </sidebar-item> -->


        </template>

      <!-- <template slot="links-after">
        <hr class="my-3">
        <h6 class="navbar-heading p-0 text-muted"></h6>

        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/vue-argon-dashboard-pro/documentation"
               target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Tutorial</span>
            </a>
          </li>

        </ul>
      </template> -->
    </side-bar>
    <div class="main-content">
      <dashboard-navbar :type="$route.meta.navbarType"></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <nuxt-child/>
        </fade-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
  </client-only>
</template>
<script>
  /* eslint-disable no-new */
  import PerfectScrollbar from 'perfect-scrollbar';
  import 'perfect-scrollbar/css/perfect-scrollbar.css';

  function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar(className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }

  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import DashboardContent from './Content.vue';
  import { FadeTransition } from 'vue2-transitions';
  import { Getterauth, Mutationauth  } from '../store/auth/types';
  import { Action,Mutation  } from '../store/api/types';

  export default {
    created(){

      // //("Isi jwt");
      // //(this.$cookies.get('isijwt').namauser)
      this.jwt = this.$cookies.get('isijwt')
      // //("role state");
      // //(this.isirole);
      this.$store.dispatch(`${Action.semuadiklat}`).then(res=>{
            // //("tes");
            this.$store.commit(`${Mutation.received_messages}`,res.data)
            // //();

        })

      // this.$store.dispatch(`${Action.connect}`).then((res)=>{
      //
      //   //("tes isi");
      //   //(this.$store.state.api.received_messages);


      // });

    },
    data(){
      return{
        isi:"",
        payload:this.$cookies.get('isijwt'),
        jenis:'',
        jwt:'',
        status:this.$nuxt.$cookies.get('status'),
        isirole:this.$store.state.auth.role,
        jenistf:this.$store.state.auth.Jenisteknis
      }
    },
    middleware:'ceklogin',
    components: {
      DashboardNavbar,
      ContentFooter,
      DashboardContent,
      FadeTransition
    },
    methods: {
      changePage(isi){
        // //(isi);
        this.$router.push({path: "/dashboard/manajemen_user",query:{role:isi}})
      },
      cekuser(){
        var nama= this.payload.namauser.includes("Teknis")
        // //("apa ada ?");
        // //(nama);
        this.jenis=nama;
        this.$store.commit(`${Mutationauth.Jenisteknis}`,nama)
      //  //(this.$store.state.auth.Jenisteknis);
      },
      initScrollbar() {
        let isWindows = navigator.platform.startsWith('Win');
        if (isWindows) {
          initScrollbar('scrollbar-inner');
        }
      }
    },
    computed:{
      ambilrole(){
        return this.$store.state.auth.role
      }
    },
    mounted() {
      this.cekuser()
      this.initScrollbar()
    },
    watch: {
      ambilrole(){
        // //('role menu');
        // //(this.ambilrole);

      }
    },
  };
</script>
<style lang="scss">
</style>
