<template>
  <div>
    <!-- Header -->
    <div class="header bg-gradient-success py-7 py-lg-8 pt-lg-5">
      
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-default border-0 mb-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              <center><h1>Smartbangkom LAN</h1></center><br>
              <form role="form">
                <base-input alternative
                            class="mb-3"
                            prepend-icon="ni ni-email-83"
                            placeholder="Username"
                            v-model="model.email">
                </base-input>

                <base-input alternative
                            class="mb-3"
                            prepend-icon="ni ni-lock-circle-open"
                            type="password"
                            placeholder="Password"
                            v-model="model.password">
                </base-input>

              
                <div class="text-center">
                  
                  <br>
                  <a class="btn btn-primary " v-on:click="login" style="color:white">Sign in</a>
                </div>
              </form>
              <br>
              <center>
                <div class="row">
                  <div class="col-sm-6"> 
                    <img width="150px" src="~/assets/images/logo-bsre.png">
                  </div>
                  <div class="col-sm-6"> 
                    <img width="250px" src="~/assets/images/logo-lan.png">
                  </div>
                </div>
              </center>
            </div>
          </div>
          <div class="row mt-3">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>

import {Mutationauth, Actionauth} from '../store/auth/types'
import Axios from 'axios'


import Notification from '~/components/NotificationPlugin'
import { color } from 'd3';
  export default {
     middleware:'login',
    created(){
      // //('cookies '+this.$cookies.get('token'))
    },
    asyncData(context) {
      return {
        data:context.$auth.$storage.getLocalStorage('token'),
      }
    },
    components:{
      Notification,
      
    },
    data() {
      return {
        model: {
          email: '',
          password: '',
          rememberMe: false,
           code: '',
        }
      };
    },
     methods:{

       handleOnComplete(value) {
          // //('OTP: ', value);
        },
        
      async login(){
        try{
        
        let muncul=this.$toast.success('Login Izin Prinsip')
        muncul.goAway(500)
        let email = this.model.email
        let password = this.model.password
        //alert(email)
        this.$store.dispatch(`${Actionauth.Login}`,{email:email,password:password})
        .then(()=>{
          // //('status sukses')
          this.$store.commit(`${Mutationauth.success}`);
          
          let error=this.$toast.success('Login Berhasil, Selamat datang di Sistem Izin prinsip')
          error.goAway(3000)
        })
        .catch(()=>{
          // let error=this.$toast.error('Email dan Password anda tidak cocok')
          // error.goAway(3000)
          this.$store.commit(`${Mutationauth.error}`);
          
        })
        // //(this.$store.state.auth.status)
      
        }catch(e){
          this.error = e.response.data.message
          // //('tes error')
          // //(error)
        }
        
      }
    }
  };
</script>

