<template>
    <div class="card card-frame">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Pendaftaran Peserta</h6>
            </div>
        </div>
        </base-header>
        <div class="card-body" v-for="(isi,index) in isidiklat" :key="index" >
            <div class="row" ref="loading">
                    <div class="col-sm-3">
                        <base-button v-if="change.jenis==true" v-on:click="ubahtombol" type="secondary">Pendaftaran Peserta ASN</base-button>
                        <base-button v-else v-on:click="ubahtombol" type="primary">Pendaftaran Peserta ASN</base-button>
                    </div>
                    <div>
                        <base-button v-if="change.jenis==true" v-on:click="ubahtombol" type="primary">Pendaftaran Peserta Non ASN</base-button>
                        <base-button v-else v-on:click="ubahtombol" type="secondary">Pendaftaran Peserta Non ASN</base-button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <h3>{{isi.diklat.judul}} </h3>
                        <p class="text-sm text-muted mb-0">{{isi.diklat.program}}</p>
                        <small>{{converttgl(isi.diklat.tgl_mulai)}} sampai {{converttgl(isi.diklat.tgl_akhir)}}</small>
                    </div>

                </div>
                <div class="row">
                <card type="frame" class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8">Jumlah Kelas </div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">{{isi.diklat.kelas}} Kelas</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Jumlah Total Peserta</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">{{isi.diklat.kelas*isikuota}} Peserta</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Jumlah Pendaftar</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">{{jumpes}} Peserta</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Sisa Jumlah Peserta</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">{{getval(isi.diklat.kelas*isikuota)}} Peserta</div>
                </div>
            </card>
            </div>

        <div >
          <div v-if="change.jenis==false" class="row card-body" >
                <card type="frame" class="col-sm-3">
                    <h4 class="card-title">Tambah Peserta Mandiri</h4>
                <div class="row">
                    <nuxt-link :to="{path:'peserta/tambahasn',query:{id:iddiklat,kuota:kuota}}">
                        <base-button size="sm" type="primary">Tambah Peserta ASN</base-button>
                    </nuxt-link>
                </div>
                </card>
                <div class="col-sm-1"></div>
                <card type="frame" class="col-sm-8">
                    <h4 class="card-title">Tambah Peserta Kelompok</h4>
                    <div class="row">
                    <a  target="_blank"  :href="'https://smartbangkom.lan.go.id:8092/peserta/download/templatepeserta.xlsx.'"><base-button size="sm" type="secondary"><i  class="fa fa-file text-success" ></i></base-button></a>
                    <!-- <a target="_blank" href="https://drive.google.com/file/d/1DPzhXUCl4TtCc26m66D32T4Nvg9Os_86/view">
                    <base-button size="sm" type="success"><i class="fa fa-download"></i></base-button>  -->
                    <!-- </a> -->
                    <h5>-</h5>
                    <h5>Download Template Peserta ASN</h5>
                    </div>
                    <br>
                    <div>
                    <!-- <div class=" row"> -->
                        <!-- <div class="col-md-12">
                            <base-input >
                        <select  class="form-control" v-model="asalinstansi" >
                            <option v-for="(inst,index) in minstansi" :key="index" :value="inst.nama">{{inst.nama}} </option>
                        </select>
                    </base-input>
                        </div>
                    </div>
                    <base-input size="sm" placeholder="Masukkan Alamat Instansi" v-model="alamatinstansi"></base-input>
                         -->
                    <file-input ref="file" size="sm" @change="filesChange"></file-input>
                    <br><br>
                    <base-button @click="kirimkelompok('ASN')" size="sm" type="primary">Tambah Kelompok</base-button>
                    </div>
                </card>
            </div>
            <div v-else class="row card-body">
                <card type="frame" class="col-sm-3">
                    <h4 class="card-title">Tambah Peserta Mandiri</h4>
                <div class="row">
                    <nuxt-link  :to="{path:'peserta/tambahnonasn',query:{id:iddiklat,kuota:kuota}}">
                        <base-button size="sm" type="primary">Tambah Peserta Non ASN</base-button>
                    </nuxt-link>
                </div>
                </card>
                <div class="col-sm-1"></div>
                <card type="frame" class="col-sm-8">
                    <h4 class="card-title">Tambah Peserta Kelompok</h4>
                    <div class="row">
                    <a  target="_blank"  :href="'https://smartbangkom.lan.go.id:8092/peserta/download/templatepeserta.xlsx.'"><base-button size="sm" type="secondary"><i  class="fa fa-file text-success" ></i></base-button></a>
                    <!-- <a target="_blank" href="https://drive.google.com/file/d/1DPzhXUCl4TtCc26m66D32T4Nvg9Os_86/view">
                    <base-button size="sm" type="success"><i class="fa fa-download"></i></base-button>
                    </a> -->
                    <h5> Download Template Peserta Non ASN</h5>
                    </div>
                    <br>
                    <div>
                    <!-- <div class=" row"> -->
                        <!-- <div class="col-md-12">
                            <base-input v-model="asalinstansi" placeholder="masukan asal instansi" > -->
                        <!-- <select  class="form-control" v-model="asalinstansi" >
                            <option v-for="(inst,index) in minstansi" :key="index" :value="inst.nama">{{inst.nama}} </option>
                        </select> -->
                    <!-- </base-input>
                        </div>
                    </div>
                    <base-input size="sm" placeholder="Masukkan Alamat Instansi" v-model="alamatinstansi"></base-input>
                         -->
                    <file-input ref="file" size="sm" @change="filesChange"></file-input>
                    <br><br>
                    <base-button @click="kirimkelompok('NON-ASN')" size="sm" type="primary">Tambah Kelompok</base-button>
                    </div>
                </card>
            </div>
            </div>

            </div>
                <hr>



                <div v-if="change.jenis==false">
                    <center><h3>Daftar Peserta ASN</h3></center>
                <div class="table-responsive">
                    <div>
                    <table class="table align-items-center" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"  >No</th>
                                <th v-if="role=='role_lemdik'||role=='role_admin'" scope="col" >Aksi</th>
                                <th scope="col" >NIP/NRP/NIK</th>
                                <th scope="col" >Nama</th>
                                <th scope="col"  >Instansi</th>
                                <th scope="col"  >Sumber Anggaran</th>
                                <th scope="col" >Pola Anggaran</th>

                            </tr>
                        </thead>

                        <tbody   v-for="(peserta,index) in datapesertaASN" :key="index" >

                            <tr>
                                <th scope="row">
                                    <div class="no align-items-center">
                                        {{index+1}}
                                    </div>
                                </th>

                                 <td v-if="role=='role_lemdik'||role=='role_admin'">
                                    <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link>
                                    <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                    <i class="fa fa-trash-alt text-danger" @click="modalhapus(peserta.id)"></i>

                                </td>
                                <td class="id">
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">{{peserta.nomorId}}</span>
                                    </div>
                                </td>
                                <td class="nama">
                                    <div class="d-flex align-items-center">
                                        {{peserta.nama}}
                                    </div>
                                </td>
                                <td class="nama">
                                    <div class="d-flex align-items-center">
                                        {{peserta.asalInstansi}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.sumberAnggaran}}
                                    </div>
                                </td>
                                <td class="noreg">
                                    <div class="d-flex align-items-center">
                                        {{peserta.polaPenyelenggaraan}}
                                    </div>
                                </td>


                            </tr>

                            <modal :show.sync="model.hapus"
                                        gradient="danger"
                                        modal-classes="modal-danger modal-dialog-centered">
                                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>

                                        <template slot="footer">
                                            <base-button v-on:click="hapuspeserta(peserta.id)" type="white">Ya</base-button>
                                            <base-button type="link"
                                                        class="ml-auto text-white"
                                                        @click="model.hapus = false">
                                                Batal
                                            </base-button>
                                        </template>
                                    </modal>

                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div v-else>
                    <center><h3>Daftar Peserta Non ASN</h3></center>
                    <div class="table-responsive">
                        <div>
                        <table class="table align-items-center" >
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"  >No</th>
                                    <th v-if="role=='role_lemdik'||role=='role_admin'" scope="col" >Aksi</th>
                                    <th scope="col" >NIP/NRP/NIK</th>
                                    <th scope="col" >Nama</th>
                                    <th scope="col"  >Instansi</th>
                                    <th scope="col"  >Sumber Anggaran</th>
                                    <th scope="col" >Pola Anggaran</th>

                                </tr>
                            </thead>
                            <tbody  class="list"  v-for="(peserta,index) in datapesertaNonASN" :key="index" ref="loadpeserta" >
                                <tr>
                                    <th scope="row">
                                        <div class="no align-items-center">
                                            {{index+1}}
                                        </div>
                                    </th>
                                    <td v-if="role=='role_lemdik'||role=='role_admin'">
                                        <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link>
                                        <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                        <i class="fa fa-trash-alt text-danger" @click="modalhapus(peserta.id)"></i>


                                    </td>
                                    <td class="id">
                                        <div class="d-flex align-items-center">
                                            <span class="completion mr-2">{{peserta.nomorId}}</span>
                                        </div>
                                    </td>
                                    <td class="nama">
                                        <div class="d-flex align-items-center">
                                            {{peserta.nama}}
                                        </div>
                                    </td>
                                    <td class="noreg">
                                        <div class="d-flex align-items-center">
                                            {{peserta.asalInstansi}}
                                        </div>
                                    </td>
                                    <td class="noreg">
                                        <div class="d-flex align-items-center">
                                            {{peserta.sumberAnggaran}}
                                        </div>
                                    </td>
                                    <td class="status">
                                        {{peserta.polaPenyelenggaraan}}
                                    </td>
                                </tr>

                                </tbody>
                                </table>
                        </div>
                    </div>
                        </div>

                <modal :show.sync="model.hapus"
                    gradient="danger"
                    modal-classes="modal-danger modal-dialog-centered">
                    <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta? {{tampungid}}</h6>

                    <template slot="footer">
                        <base-button v-on:click="hapuspeserta(tampungid)" type="white">Ya</base-button>
                        <base-button type="link"
                                    class="ml-auto text-white"
                                    @click="model.hapus = false">
                            Batal
                        </base-button>
                    </template>
                </modal>



    </div>
</template>

<script>

import {Action} from '../../../../store/api/types'
export default {
    created(){
        //(this.role);

        //loading
         let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loading,
                canCancel: true,
                onCancel: this.onCancel,
            });
        //end loading



        this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`,this.payload.iduser).then(res=>{

                    for(var i=0;i<res.data.length;i++){
                        if(res.data[i].diklat.id==this.iddiklat){
                            this.isidiklat.push(res.data[i]);
                        }
                    }
                    //("semua");


                    this.kuota=this.isidiklat[0].diklat.kuota
                this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{

                    for(var i=0;i<res.data.length;i++){
                        if(res.data[i].jenisPekerjaan=="ASN"){
                            this.datapesertaASN.push(res.data[i]);
                        }else{
                            this.datapesertaNonASN.push(res.data[i]);
                        }
                    }
                    loader.hide()


                })
                this.$store.dispatch(`${Action.master.instansiMaster}`).then(res=>{
                    this.minstansi=res.data.data
                    //("minstani");
                    //(this.minstansi);
                })

                this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{
                    //("jumpes");
                    this.jumpes=res.data.length
                })

                this.$store.dispatch(`${Action.master.prodikMaster}`).then(res=>{
                    //("prodik");
                    var data = res.data
                    //(data);
                    //(data.length);
                    //(this.isidiklat[0].diklat.program);

                    for(var i =0;i<data.length;i++){
                        if(data[i].namaDiklat == this.isidiklat[0].diklat.program){
                            this.isikuota = data[i].kuotaDiklat
                            //("kuota");
                            //(this.isikuota);
                        }
                    }
                })

        })

    },
    mounted(){
    },
    data(){
        return{
            payload:this.$cookies.get('isijwt'),
            isikuota:0,
            programdiklat:'',
            role:this.$store.state.auth.role,
            minstansi:[],
            model:{
                hapus:false,
            },
            kelas:0,
            kuota:0,
            jumpes:0,
            isidiklat:[],
            iddiklat:this.$route.query.id,
            asalinstansi:"Instansi Belum Diisi",
            alamatinstansi:"",
            files: [],
            change:{
                jenis:false,
            },
            datapesertaASN:[],
            datapesertaNonASN:[],
            empty:[],
            tampungid:0
        }
    },
    methods:{
    back(){
            this.$router.back()
    },
    loadshow(){
        let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loading,
                canCancel: true,
                onCancel: this.onCancel,
            });
    },

    kirimkelompok(jenis){
        //loading
         let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loadpeserta,
                canCancel: true,
                onCancel: this.onCancel,
            });
        //end loading

        this.datapesertaASN=[];
        this.datapesertaNonASN=[];
        //(this.asalinstansi);
        //(this.alamatinstansi);
        //(this.files[0]);
        //(jenis);
        //(this.iddiklat);
        this.$store.dispatch(`${Action.peserta.simpanpesertakelompok}`,{instansi:this.asalinstansi,alamat:this.alamatinstansi,dokumen:this.files[0],jeniskerja:jenis,id:this.iddiklat}).then(res=>{
            //("kelompok berhasil");
            //(res.data);
            var jum=0;
            for(var i=0;i<res.data.length;i++){
                jum=jum+1
            }
            this.jumpes=this.jumpes+jum

            this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{
                    for(var i=0;i<res.data.length;i++){
                        if(res.data[i]!=""){
                            if(res.data[i].jenisPekerjaan=="ASN"){
                                this.datapesertaASN.push(res.data[i]);
                            }else{
                                this.datapesertaNonASN.push(res.data[i]);
                            }
                        }
                    }
                    this.$store.dispatch(`${Action.peserta.updatePeserta}`,{iddiklat:this.iddiklat,kuota:this.kuota}).then(res=>{
                    //(res);
                })
                    loader.hide()
                })

        })
    },
    modalhapus(id){
        this.model.hapus=true;
        this.tampungid=id
    },
    hapuspeserta(id){
        this.model.hapus=false;
        //(id);
        this.datapesertaASN=[];
        this.datapesertaNonASN=[];
        this.$store.dispatch(`${Action.peserta.deletepeserta}`,id).then(res=>{
            this.model.hapus=false;
            this.datapesertaASN=[];
            this.datapesertaNonASN=[];
            this.$store.dispatch(`${Action.peserta.updatePeserta}`,{iddiklat:this.iddiklat,kuota:this.kuota+1})
            this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,this.iddiklat).then(res=>{
                    for(var i=0;i<res.data.length;i++){
                        if(res.data[i]!=""){
                            if(res.data[i].jenisPekerjaan=="ASN"){
                                this.datapesertaASN.push(res.data[i]);
                            }else{
                                this.datapesertaNonASN.push(res.data[i]);
                            }
                        }
                    }
                })
        })
    },
    pendaftar:function(isi){
        var tot=0;
             for(var i=0;i<isi.length;i++ ){
                 tot=isi[i].jumpes+tot
             }
            return tot;
    },
    converttgl:function(tgl){
        var thn = tgl.substr(0,4)
        var bln = tgl.substr(5,2)
        var hr = tgl.substr(8,2)
        var nama ="";
        if(bln=="01"){nama="Jan"}
        if(bln=="02"){nama="Feb"}
        if(bln=="03"){nama="Mar"}
        if(bln=="04"){nama="Apr"}
        if(bln=="05"){nama="Mei"}
        if(bln=="06"){nama="Jun"}
        if(bln=="07"){nama="Jul"}
        if(bln=="08"){nama="Agu"}
        if(bln=="09"){nama="Sep"}
        if(bln=="10"){nama="Okt"}
        if(bln=="11"){nama="Nov"}
        if(bln=="12"){nama="Des"}
           return hr+" "+nama+" "+thn;
        },
        getval:function(kuota){
            this.kuota=kuota-this.jumpes;
            this.$store.dispatch(`${Action.peserta.updatePeserta}`,{iddiklat:this.iddiklat,kuota:this.kuota}).then(res=>{
                    //(res);
                })
            return kuota-this.jumpes;
        },
        filesChange(files) {
        this.files = files
      },
      ubahtombol(){
          if(this.change.jenis==true){
              this.change.jenis=false
              //("ganti false")
              //(this.change.jenis)
          }else{
              this.change.jenis=true
              //("ganti true")
              //(this.change.jenis)
          }
      }
    }
}
</script>
