<template>
<div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Tambah Peserta ASN</h6>
            </div>
        </div>
        </base-header>
    <card type="frame">
        <div class="form-group" ref="loadpeserta">
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NIP</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukan Nip" @change="databkn(asn.nip)" v-model="asn.nip" required></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Nama Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi nama" :value="asn.nama" v-model="asn.nama" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Tempat Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi tempat lahir" :value="asn.tempatlahir" v-model="asn.tempatlahir" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Tanggal Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi tanggal lahir" :value="asn.tanggallahir" v-model="asn.tanggallahir" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Kelamin</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi jenis kelamin" :value="asn.jeniskelamin" v-model="asn.jeniskelamin" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Agama</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input v-model="asn.agama">
                    <select  class="form-control" >
                            <option value="">Pilih Agama</option>
                            <option value="Islam">Islam</option>
                            <option value="Katolik">Katolik</option>
                            <option value="Kristen">Kristen</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Budha">Budha</option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jabatan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi Jabatan" :value="asn.jabatan" v-model="asn.jabatan" ></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Pangkat</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <!-- <base-input placeholder="Masukkan Pangkat" v-model="asn.pangkat"></base-input> -->
                    <base-input >
                        <select  class="form-control" v-model="asn.pangkat" >
                            <option value="">Pilih Pangkat</option>
                            <option v-for="(pang,index) in golpang" :key="index" :value="pang.pangkat">{{pang.pangkat}} - {{pang.gol}}{{pang.gol_pangkat_tempat}}</option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Golongan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi Golongan" :value="asn.gol" v-model="asn.gol" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Email</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan Email" v-model="asn.email"></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Asal Instansi Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Isi Instansi Asal" :value="asn.asalinstansi" v-model="asn.asalinstansi" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Alamat Kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukan Alamat Kantor" v-model="asn.alamatkantor"></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Nomor telepon kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan telepon kantor" v-model="asn.notelp"></base-input>
                </div>
            </div>
            
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="" v-model="asn.jenispeserta" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Sumber Anggaran</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                    <select v-model="asn.sumberanggaran" class="form-control" >
                            <option value="">Pilih Sumber Anggaran</option>
                            <option value="APBN">APBN</option>
                            <option value="APBD">APBD</option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Pola Penyelenggaraan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                    <select v-model="asn.polapenyelenggaraan" class="form-control" >
                            <option value="">Pilih Pola Penyelenggaraan</option>
                            <option value="Mandiri">Mandiri</option>
                            <option value="Fasilitasi">Fasilitasi</option>
                            <option value="Pengiriman/PNBP">Pengiriman/PNBP</option>
                        </select>
                    </base-input>
                </div>
                <!-- {{asn.polapenyelenggaraan}} -->
            </div>
        </div>

        <div class="row">
                <div class="col-sm-0">
                    <input type="checkbox" class="form-controll" v-model="buttonCek"/>
                </div>
                <div class="col-sm-7">
                    <span>Dengan ini saya menyatakan data yang saya isi adalah benar.</span>
                </div>
                <div  class="col-sm-1">
                    <base-button v-on:click="simpan()" v-if="buttonCek==true" type="success" >Kirim</base-button>
                    <base-button v-else type="success" disabled>Kirim</base-button>
                </div>
            </div>

    </card>
</div>
</template>

<script>
import {Action} from '../../../../store/api/types'
export default {
    created(){
        this.$store.dispatch(`${Action.master.golpangMaster}`).then(res=>{
           var isi= res.data;
           for(var i=0;i<isi.length;i++){
                 this.golpang.push({pangkat:isi[i].pangkat , gol:isi[i].gol+''+isi[i].gol_pangkat_tempat })
            }
            //("golongan");
            //(this.golpang);
        })
    },
    data(){
        return{
            golpang:[],
            buttonCek:false,
            kuota:this.$route.query.kuota,
            id:this.$route.query.id,
            asn:{
                nip:'',
                program:'',
                penyelenggara:'',
                thnpenyelenggara:'',
                angkatan:'',
                asalinstansi:'',
                jenispeserta:'PNS',
                sumberanggaran:'',
                polapenyelenggaraan:'',
                nama:'',
                tempatlahir:'',
                tanggallahir:'',
                jeniskelamin:'',
                agama:'',
                pangkat:'',
                gol:'',
                alamatkantor:'',
                notelp:'',
                email:'',
                jabatan:''
            },
            
        }
    },
    methods:{
        back(){
            this.$router.back()
        },
        simpan(){
            //loading         
            let loader = this.$loading.show({
                    // Optional parameters
                    container: null,
                    canCancel: true,
                    onCancel: this.onCancel,
                });
            //end loading

            // this.$router.go(-1);
            var data={
                jenis:this.asn.jenispeserta,
                jeniskerja:"ASN",
                nomorid:this.asn.nip,
                nama:this.asn.nama,
                ttl:this.asn.tempatlahir+";"+this.asn.tanggallahir,
                jenkel:this.asn.jeniskelamin,
                agama:this.asn.agama,
                pangkat:this.asn.pangkat,
                email:this.asn.email,
                asalinstansi:this.asn.asalinstansi,
                alamatkantor:this.asn.alamatkantor,
                notelp:this.asn.notelp,
                sumber:this.asn.sumberanggaran,
                pola:this.asn.polapenyelenggaraan,
                iddiklat:this.$route.query.id,
                gol:this.asn.gol,
                jabatan:this.asn.jabatan
                }
            this.$store.dispatch(`${Action.peserta.simpanpeserta}`,data).then(res=>{
                //(res);
                this.$store.dispatch(`${Action.peserta.updatePeserta}`,{iddiklat:this.id,kuota:this.kuota-1}).then(res=>{
                    //(res);

                    loader.hide();
                })
                this.$router.go(-1);
            })
        },
        async databkn(nip){
            //loading         
            let loader = this.$loading.show({
                    // Optional parameters
                    container: this.$refs.loadpeserta,
                    canCancel: true,
                    onCancel: this.onCancel,
                });
            //end loading
            //(nip)
            this.$store.dispatch(`${Action.peserta.ambilbkn}`,nip)
            .then((res)=>{
                //(JSON.parse(res.data.data))
                var isi= JSON.parse(res.data.data);
                //(isi.tglLahir);

                loader.hide();

                this.asn.tempatlahir=isi.tempatLahir;
                this.asn.tanggallahir= isi.tglLahir;
                this.asn.nama=isi.nama;
                this.asn.asalinstansi=isi.instansiKerjaNama;
                this.asn.gol=isi.golRuangAkhir;
                this.asn.jeniskelamin=isi.jenisKelamin;
                
            })
        },
    },
  
    
}
</script>