<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Tambah Peserta Non ASN</h6>
            </div>
        </div>
        </base-header>

    <card type="frame">
        <div class="form-group" ref="loadshow">
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input  >
                        <select class="form-control" v-model="nonasn.jenispeserta">
                            <option value="">Pilih jenis peserta</option>
                            <option value="TNI">TNI</option>
                            <option value="POLRI">Polri</option>
                            <option value="Non ASN">Non ASN</option>
                        </select>
                    </base-input>
                </div>
            </div>
            
            <div v-if="nonasn.jenispeserta=='TNI'" class=" row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NRP</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input v-model="nonasn.nomoridentitas" placeholder="Masukkan NRP"></base-input>
                </div>
            </div>
            <div v-if="nonasn.jenispeserta=='POLRI'" class=" row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NPP</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input v-model="nonasn.nomoridentitas" placeholder="Masukkan NPP"></base-input>
                </div>
            </div>
            <div v-if="nonasn.jenispeserta=='Non ASN'" class=" row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NIK</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input v-model="nonasn.nomoridentitas" placeholder="Masukkan NIK"></base-input>
                </div>
            </div>

            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Nama Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input v-model="nonasn.nama" placeholder="Masukkan nama peserta"></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Tempat Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input v-model="nonasn.tempatlahir" placeholder="Masukkan Tempat Lahir"></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Tanggal Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input type="date" v-model="nonasn.tanggallahir"  id="example-date-input"/>
                   
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Kelamin</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                        <select v-model="nonasn.jeniskelamin" class="form-control">
                            <option value="">Pilih Jenis Kelamin</option>
                            <option value="Pria">Pria</option>
                            <option value="Wanita">Wanita</option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Agama</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                        <select class="form-control" v-model="nonasn.agama" >
                            <option value="">Pilih agama</option>
                            <option value="Islam">Islam</option>
                            <option value="Katolik">Katolik</option>
                            <option value="Kristen">Kristen</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Budha">Budha</option>
                        </select>
                    </base-input>
                </div>
            </div>

            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Jabatan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan Jabatan" v-model="nonasn.jabatan" ></base-input>
                </div>
            </div>

            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Pangkat</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                        <select @change="pangkat(nonasn.pangkat)" class="form-control" v-model="nonasn.pangkat" >
                            <option value="">Pilih Pangkat</option>
                            <option v-for="(pang,index) in golpang" :key="index" :value="pang.pangkat">{{pang.pangkat}} - {{pang.gol}}{{pang.gol_pangkat_tempat}}</option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Golongan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan Golongan" v-model="nonasn.gol" disabled></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Email</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan Email" v-model="nonasn.email"></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Asal Instansi Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                        <select class="form-control" v-model="nonasn.asalinstansi" >
                            <option v-for="(inst,index) in instansi" :key="index" :value="inst">{{inst}} </option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Alamat Kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan Alamat Kantor" v-model="nonasn.alamatkantor"></base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Nomor telepon kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input placeholder="Masukkan Nomor telepon kantor" v-model="nonasn.notelp"></base-input>
                </div>
            </div>
            
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Sumber Anggaran</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                    <select v-model="nonasn.sumberanggaran" class="form-control" >
                            <option value="">Pilih Sumber Anggaran</option>
                            <option value="APBN">APBN</option>
                            <option value="APBD">APBD</option>
                        </select>
                    </base-input>
                </div>
            </div>
            <div class=" row">
                <label class="col-md-3 col-form-label form-control-label">Pola Penyelenggaraan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                    <base-input >
                    <select v-model="nonasn.polapenyelenggaraan" class="form-control" >
                            <option value="">Pilih Pola Penyelenggaraan</option>
                            <option value="Mandiri">Mandiri</option>
                            <option value="Fasilitasi">Fasilitasi</option>
                            <option value="Pengiriman/PNBP">Pengiriman/PNBP</option>
                        </select>
                    </base-input>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-0">
                    <input type="checkbox" class="form-controll" v-model="buttonCek"/>
                </div>
                <div class="col-sm-7">
                    <span>Dengan ini saya menyatakan data yang saya isi adalah benar.</span>
                </div>
                <div  class="col-sm-1">
                    <base-button v-on:click="simpan()" v-if="buttonCek==true" type="success" >Kirim</base-button>
                    <base-button v-else type="success" disabled>Kirim</base-button>
                </div>
            </div>
    </card>
    </div>
</template>

<script>
import {Action} from '../../../../store/api/types'
export default {
    created(){
        this.$store.dispatch(`${Action.master.golpangMaster}`).then(res=>{
           var isi= res.data.data;
           for(var i=0;i<isi.length;i++){
                 this.golpang.push({pangkat:isi[i].pangkat , gol:isi[i].gol+''+isi[i].gol_pangkat_tempat })
            }
        })
        this.$store.dispatch(`${Action.master.instansiMaster}`).then(res=>{
            var isi=res.data.data;
            
            for(var i=0;i<isi.length;i++){
                this.instansi.push(isi[i].nama)
            }
            
        })
    },
    data(){
        return{
            instansi:[],
            golpang:[],
            buttonCek:false,
            kuota:this.$route.query.kuota,
            id:this.$route.query.id,
            nonasn:{
                program:'',
                penyelenggara:'',
                thnpenyelenggara:'',
                angkatan:'',
                asalinstansi:'Instansi Belum Diisi',
                jenispeserta:'',
                sumberanggaran:'',
                polapenyelenggaraan:'',
                nama:'',
                nomoridentitas:'',
                tempatlahir:'',
                tanggallahir:'',
                jeniskelamin:'',
                agama:'',
                pangkat:'',
                gol:'',
                alamatkantor:'',
                notelp:'',
                email:'',
                jabatan:''
            },
        }
    },
    methods:{
            pangkat(isi){
               
                this.$store.dispatch(`${Action.master.golpangMaster}`).then(res=>{
                    var d =  res.data.data;
                    for(var i=0;i<d.length;i++){
                        if(d[i].pangkat==isi){
                        this.nonasn.gol=d[i].gol+"/"+d[i].gol_pangkat_tempat
                    }
                    }
                    
                })
            },
            simpan(){
            //loading         
         let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });
        //end loading
            // this.$router.go(-1);
            var data={
                jenis:this.nonasn.jenispeserta,
                jeniskerja:"NON-ASN",
                nomorid:this.nonasn.nomoridentitas,
                nama:this.nonasn.nama,
                ttl:this.nonasn.tempatlahir+";"+this.nonasn.tanggallahir,
                jenkel:this.nonasn.jeniskelamin,
                agama:this.nonasn.agama,
                pangkat:this.nonasn.pangkat,
                email:this.nonasn.email,
                asalinstansi:this.nonasn.asalinstansi,
                alamatkantor:this.nonasn.alamatkantor,
                notelp:this.nonasn.notelp,
                sumber:this.nonasn.sumberanggaran,
                pola:this.nonasn.polapenyelenggaraan,
                iddiklat:this.$route.query.id,
                gol:this.nonasn.gol,
                jabatan:this.nonasn.jabatan
                }
            this.$store.dispatch(`${Action.peserta.simpanpeserta}`,data).then(res=>{
                //(res);
                this.$store.dispatch(`${Action.peserta.updatePeserta}`,{iddiklat:this.id,kuota:this.kuota-1}).then(res=>{
                    //(res);
                    loader.hide();
                })
                this.$router.go(-1);
            })
        },
            back(){
                this.$router.back()
            },
    },
    
}
</script>

