<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">Detail Pelatihan</h6>
        </div>
      </div>
    </base-header>

    <div class="card card-frame">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm">
                <h3>{{diklatU.judul}}</h3>
                <p class="text-sm text-muted mb-0">{{diklatU.program}}</p>
                <small>{{diklatU.tgl_mulai}} sampai {{tgl_akhir}}</small>
              </div>
            </div>
            <div class="row">
              <card type="frame" class="col-sm-6">
                <div class="row">
                  <div class="col-sm-8">Jumlah Kelas</div>
                  <div class="col-sm-1">:</div>
                  <div class="col-sm-3">{{diklatU.kelas}} Kelas</div>
                </div>
                <div class="row">
                  <div class="col-sm-8">Jumlah Total Peserta</div>
                  <div class="col-sm-1">:</div>
                  <div class="col-sm-3">{{diklatU.kelas*isikuota}} Peserta</div>
                </div>
                <div class="row">
                  <div class="col-sm-8">Jumlah Pendaftar</div>
                  <div class="col-sm-1">:</div>
                  <div class="col-sm-3">{{total}} Peserta</div>
                </div>
                <div class="row">
                  <div class="col-sm-8">Sisa Jumlah Peserta</div>
                  <div class="col-sm-1">:</div>
                  <div v-if="diklatU.kuota != null" class="col-sm-3">{{diklatU.kuota}} Peserta</div>
                  <div
                    v-if="diklatU.kuota == null"
                    class="col-sm-3"
                  >{{diklatU.kelas*isikuota}} Peserta</div>
                </div>
              </card>

              <div class="col-sm-6">
                <card type="frame" class="col-sm-12">
                  <h3>Ajukan Izin</h3>
                  <div class="row">
                    <div class="col-sm-6">Download Surat Pengajuan Izin</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">
                      <a
                        target="_blank"
                        :href="'https://smartbangkom.lan.go.id:8093/perizinan/downloaddokumen/2/'+file+'.'"
                      >
                        <i class="fa fa-download text-success"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">Lembaga Diklat</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-5">{{selected}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">Izin Penyelenggaraan</div>
                    <div class="col-sm-1">:</div>
                    <div v-if="listIzin.izinDeputi == 2" class="col-sm-5">Diizinkan</div>
                    <div v-else class="col-sm-5">Belum Diizinkan</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">View Surat Izin Deputi</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">
                      <a
                        target="_blank"
                        :href="'https://smartbangkom.lan.go.id:8093/perizinan/downloaddokumen/1/'+filesd+'.'"
                      >
                        <i class="fa fa-download text-success"></i>
                      </a>
                    </div>
                  </div>
                  <div
                    v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_admin'"
                    class="flex justify-between items-center mt-3"
                  >
                    <base-button v-if="diklatU.program != 'DIKLAT TEKNIS' && ambilrole == 'role_admin'" size="sm" type="primary" @click="modals.generate = true" >
                        <span class="btn-inner--icon"><i class="ni ni-collection"></i></span>
                        <span class="btn-inner--text">Generate Sertifikat</span>
                    </base-button>
                    <base-button
                      type="warning"
                      v-if="listIzin.izinDeputi == 2"
                      @click="izinSt(listIzin.id,selected,diklatU.id)"
                      size="sm"
                    >Pembatalan Izin</base-button>
                    <base-button
                      type="danger"
                      v-else-if="listIzin.izinDeputi != 2"
                      disabled
                      @click="izinSt(listIzin.id,selected,diklatU.id,izinkan)"
                      size="sm"
                    >Izin Dibatalkan</base-button>
                    <base-button
                      type="warning"
                      v-if="isiVerifikasi == 2"
                      @click="verifSt(listIzin.id,selected,diklatU.id,izinkan)"
                      size="sm"
                    >Pembatalan Verifikasi</base-button>
                    <base-button
                      type="danger"
                      disabled
                      v-else-if="isiVerifikasi != 2"
                      @click="verifSt(listIzin.id,selected,diklatU.id,izinkan)"
                      size="sm"
                    >Verifikasi Batal</base-button>
                  </div>
                </card>
              </div>
            </div>
          </div>
        </div>
        <h4>Daftar Peserta</h4>
        <hr />
        <div class="table-responsive">
          <div>
            <table class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th
                    v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_admin'"
                    scope="col"
                    class="sort"
                  >
                    <center>Aksi</center>
                  </th>
                  <th scope="col">
                    <center>Foto</center>
                  </th>
                  <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                  <th scope="col" class="sort" data-sort="nama">Nama</th>
                  <th scope="col" class="sort">Instansi</th>
                  <th v-if="ambilrole == 'role_admin'" scope="col" class="sort">Revisi STTP</th>
                </tr>
              </thead>
              <tbody class="list" v-for="(peserta,index) in detailPes" :key="index">
                <tr
                  v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
                >
                  <td v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_admin'">
                    <div class="row justify-content-center">
                      <div class="col">
                        <base-button
                          title="Edit Profil"
                          size="sm"
                          @click="editPeserta(peserta,true)"
                          type="info"
                        >
                          <i class="ni ni-circle-08"></i>
                        </base-button>
                      </div>
                      <div class="col">
                        <base-button
                          title="Validasi Peserta"
                          size="sm"
                          @click="passingDataPeserta(peserta.id,true)"
                          type="warning"
                        >
                          <i class="ni ni-check-bold"></i>
                        </base-button>
                      </div>
                    </div>
                  </td>
                  <td class="foto">
                    <div
                      class="d-flex align-items-center justify-content-center"
                      v-if="peserta.foto != 'empty.jpeg'"
                    >
                      <span
                        v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_admin'"
                        class="completion mr-2"
                        type="button"
                        @click="editFoto(peserta,true)"
                      >
                        <img
                          :src="'data:image.jpeg;base64,'+ambilFoto(peserta.id)"
                          class="avatar img-center img-fluid shadow shadow-lg--hover"
                          style="width: 80px; height:90px"
                        />
                      </span>
                      <span v-else class="completion mr-2">
                        <img
                          :src="'data:image.jpeg;base64,'+ambilFoto(peserta.id)"
                          class="avatar img-center img-fluid shadow shadow-lg--hover"
                          style="width: 80px; height:90px"
                        />
                      </span>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center"
                      v-else-if="peserta.foto == 'empty.jpeg'"
                    >
                      <span
                        v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_admin'"
                        class="completion mr-2"
                        type="button"
                        @click="editFoto(peserta,true)"
                      >
                        <img
                          src="@/assets/images/avatar.jpg"
                          class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                          style="width: 80px; height:90px"
                        />
                      </span>
                      <span v-else class="completion mr-2">
                        <img
                          src="@/assets/images/avatar.jpg"
                          class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                          style="width: 80px; height:90px"
                        />
                      </span>
                    </div>
                  </td>
                  <td class="id">
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{peserta.nomorId}}</span>
                    </div>
                  </td>
                  <td class="nama">
                    <div class="d-flex align-items-center">{{peserta.nama}}</div>
                  </td>
                  <td class="noreg">
                    <div class="d-flex align-items-center">{{peserta.asalInstansi}}</div>
                  </td>
                  <td>
                    <div v-if="ambilrole == 'role_admin'" class="row justify-content-center">
                      <div class="col" v-if="peserta.tandaTangan != '' && peserta.tandaTangan != null">
                        <base-button
                          title="Edit Profil"
                          size="sm"
                          @click="revisiSttp(peserta.id)"
                          type="danger"
                        >
                          Revisi
                        </base-button>
                      </div>
                      <div class="col" v-if="peserta.tandaTangan == null">
                        <base-button
                          title="Validasi Peserta"
                          size="sm"
                          type="default"
                          disabled
                        >
                         Belum Upload
                        </base-button>
                      </div>
                      <div class="col" v-if="peserta.tandaTangan == ''">
                          <base-button
                          disabled
                          title="Validasi Peserta"
                          size="sm"
                          type="info"
                        >
                         Menunggu Revisi
                        </base-button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- modal generate -->
                    <modal :show.sync="modals.generate">
                        <template slot="header">
                            <h5 class="modal-title" id="exampleModalLabel">Generate Sertifikat</h5>
                        </template>
                        <div>
                            <div class="form-group row ">
                            <label class="col-md-5 col-form-label form-control-label">Tanggal Tanda Tangan</label>
                            <div class="col-md-7">
                                <base-input class="mb-0" >
                                    <flat-picker slot-scope="{focus, blur}"
                                                @on-open="focus"
                                                @on-close="blur"
                                                :config="{allowInput: true}"
                                                class="form-control datepicker"
                                                v-model="tglttd">
                                    </flat-picker>
                                </base-input>
                            </div>
                            <!-- <div class="col-md-3 pl-0">
                                <p class="mb-0" style="margin-top:0.6rem;">{{ tglttd | moment }}</p>
                            </div> -->
                        </div>
                        </div>
                        <template slot="footer">
                            <base-button type="secondary" @click="modals.generate = false">Close</base-button>
                            <base-button type="primary"  @click="generatecert">Generate</base-button>
                        </template>
                    </modal>
                    <!-- end modal generate -->
        <!-- modal edit profile -->
        <modal size="lg" :show.sync="showModalUpdateAkun">
          <template slot="header">
            <h5 class="modal-title" id="exampleModalLabel">Update Akun</h5>
          </template>
          <div v-if="jenisPesertaDetail == 'PNS'">
            <div class="form-group" ref="loadpeserta" v-for="(isi,index) in asn" :key="index">
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NIP</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Masukan Nip"
                    
                    v-model="isi.nip"
                    required
                  ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Nama Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Isi nama" :value="isi.nama" v-model="isi.nama" ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Tempat Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Isi tempat lahir"
                    :value="isi.tempatlahir"
                    v-model="isi.tempatlahir"

                  ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Tanggal Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Isi tanggal lahir"
                    :value="isi.tanggallahir"
                    v-model="isi.tanggallahir"

                  ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Kelamin</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Isi jenis kelamin"
                    :value="isi.jeniskelamin"
                    v-model="isi.jeniskelamin"

                  ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Agama</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input v-model="isi.agama">
                    <select class="form-control">
                      <option value>Pilih Agama</option>
                      <option value="Islam">Islam</option>
                      <option value="Katolik">Katolik</option>
                      <option value="Kristen">Kristen</option>
                      <option value="Hindu">Hindu</option>
                      <option value="Budha">Budha</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Jabatan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Isi Jabatan" :value="isi.jabatan" v-model="isi.jabatan"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Pangkat</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select class="form-control" v-model="isi.pangkat" @change="pangkat(isi,true)">
                      <option value>Pilih Pangkat</option>
                      <option
                        v-for="(pang,index) in golpang"
                        :key="index"
                        :value="pang.pangkat"
                      >{{pang.pangkat}} - {{pang.gol}}{{pang.gol_pangkat_tempat}}</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Golongan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Isi Golongan"
                    :value="isi.gol"
                    v-model="isi.gol"
                    disabled
                  ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Email</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan Email" v-model="isi.email"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Asal Instansi Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Isi Instansi Asal"
                    :value="isi.asalinstansi"
                    v-model="isi.asalinstansi"

                  ></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Alamat Kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukan Alamat Kantor" v-model="isi.alamatkantor"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Nomor telepon kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan telepon kantor" v-model="isi.notelp"></base-input>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder v-model="isi.jenispeserta" disabled></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Sumber Anggaran</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select v-model="isi.sumberanggaran" class="form-control">
                      <option value>Pilih Sumber Anggaran</option>
                      <option value="APBN">APBN</option>
                      <option value="APBD">APBD</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Pola Penyelenggaraan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select v-model="isi.polapenyelenggaraan" class="form-control">
                      <option value>Pilih Pola Penyelenggaraan</option>
                      <option value="Mandiri">Mandiri</option>
                      <option value="Fasilitasi">Fasilitasi</option>
                      <option value="Pengiriman/PNBP">Pengiriman/PNBP</option>
                    </select>
                  </base-input>
                </div>
              </div>
            </div>
          </div>
          <div v-if="jenisPesertaDetail != 'PNS'">
            <div class="form-group" ref="loadshow" v-for="(data,index) in nonasn" :key="index">
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select class="form-control" v-model="data.jenispeserta">
                      <option value>Pilih jenis peserta</option>
                      <option value="TNI">TNI</option>
                      <option value="POLRI">Polri</option>
                      <option value="Non ASN">Non ASN</option>
                    </select>
                  </base-input>
                </div>
              </div>

              <div v-if="data.jenispeserta=='TNI'" class="row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NRP</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input v-model="data.nip" placeholder="Masukkan NRP"></base-input>
                </div>
              </div>
              <div v-if="data.jenispeserta=='POLRI'" class="row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NPP</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input v-model="data.nip" placeholder="Masukkan NPP"></base-input>
                </div>
              </div>
              <div v-if="data.jenispeserta=='Non ASN'" class="row">
                <label class="col-md-3 col-form-label form-control-label">Masukkan NIK</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input v-model="data.nip" placeholder="Masukkan NIK"></base-input>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Nama Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input v-model="data.nama" placeholder="Masukkan nama peserta"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Tempat Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input v-model="data.tempatlahir" placeholder="Masukkan Tempat Lahir"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Tanggal Lahir</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input type="text" v-model="data.tanggallahir" id="example-date-input" />
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Jenis Kelamin</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select v-model="data.jeniskelamin" class="form-control">
                      <option value>Pilih Jenis Kelamin</option>
                      <option value="Pria">Pria</option>
                      <option value="Wanita">Wanita</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Agama</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select class="form-control" v-model="data.agama">
                      <option value>Pilih agama</option>
                      <option value="Islam">Islam</option>
                      <option value="Katolik">Katolik</option>
                      <option value="Kristen">Kristen</option>
                      <option value="Hindu">Hindu</option>
                      <option value="Budha">Budha</option>
                    </select>
                  </base-input>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Jabatan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan Jabatan" v-model="data.jabatan"></base-input>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Pangkat</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select
                      @change="pangkat(data,false)"
                      class="form-control"
                      v-model="data.pangkat"
                    >
                      <option value>Pilih Pangkat</option>
                      <option
                        v-for="(pang,index) in golpang"
                        :key="index"
                        :value="pang.pangkat"
                      >{{pang.pangkat}} - {{pang.gol}}{{pang.gol_pangkat_tempat}}</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Golongan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan Golongan" v-model="data.gol" disabled></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Email</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan Email" v-model="data.email"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Asal Instansi Peserta</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input
                    placeholder="Isi Instansi Asal"
                    :value="data.asalinstansi"
                    v-model="data.asalinstansi">

                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Alamat Kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan Alamat Kantor" v-model="data.alamatkantor"></base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Nomor telepon kantor</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input placeholder="Masukkan Nomor telepon kantor" v-model="data.notelp"></base-input>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Sumber Anggaran</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select v-model="data.sumberanggaran" class="form-control">
                      <option value>Pilih Sumber Anggaran</option>
                      <option value="APBN">APBN</option>
                      <option value="APBD">APBD</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-form-label form-control-label">Pola Penyelenggaraan</label>
                <label class="col-md-1 col-form-label form-control-label">:</label>
                <div class="col-md-5">
                  <base-input>
                    <select v-model="data.polapenyelenggaraan" class="form-control">
                      <option value>Pilih Pola Penyelenggaraan</option>
                      <option value="Mandiri">Mandiri</option>
                      <option value="Fasilitasi">Fasilitasi</option>
                      <option value="Pengiriman/PNBP">Pengiriman/PNBP</option>
                    </select>
                  </base-input>
                </div>
              </div>
            </div>
          </div>
          <template slot="footer">
            <base-button size="sm" type="secondary" @click="showModalUpdateAkun = false">Close</base-button>
            <base-button v-if="jenisPesertaDetail != 'PNS'" size="sm" type="primary" @click="simpan(nonasn)">Save changes</base-button>
            <base-button v-if="jenisPesertaDetail == 'PNS'" size="sm" type="primary" @click="simpan(asn)">Save changes</base-button>
          </template>
        </modal>
        <!-- end modal edit profile -->

        <!-- modal edit foto peserta -->
        <modal :show.sync="modalEditFoto">
          <template slot="header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Foto</h5>
          </template>
          <div class="p-3">
            <div class="row p-3" v-if="dataFoto.foto != 'empty.jpeg'">
              <a href="#!">
                <img
                  :src="'data:image.jpeg;base64,'+isiFoto"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                  style="width: 140px;"
                />
              </a>
            </div>
            <div class="row p-3" v-else-if="dataFoto.foto == 'empty.jpeg'">
              <a href="#!">
                <img
                  src="@/assets/images/avatar.jpg"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                  style="width: 140px;"
                />
              </a>
            </div>
            <div class="row-9">
              <dropzone-file-upload v-model="fileSingle"></dropzone-file-upload>
            </div>
          </div>
          <template slot="footer">
            <base-button size="sm" type="secondary" @click="modalEditFoto = false">Tutup</base-button>
            <base-button size="sm" type="primary" @click="simpanFoto(fileSingle,dataFoto.id)">Simpan</base-button>
          </template>
        </modal>
        <!-- end modal edit peserta -->

        <!-- modal validasi peserta -->
        <modal :show.sync="modalValidasi">
          <template slot="header">
            <h5 class="modal-title" id="exampleModalLabel">Validasi Peserta</h5>
          </template>
          <div>
            <div class="card">
              <base-checkbox class="mb-3 p-3 ml-3" v-model="checkValid">Validasi Peserta</base-checkbox>
              <div class="ml-3" v-if="checkValid === false && statusValidasi === true">
                <p style="font-size:10px; color:red">Beri tanda ceklis jika data peserta sudah benar</p>
              </div>
            </div>
          </div>
          <template slot="footer">
            <base-button size="sm" type="secondary" @click="modalValidasi = false">Tutup</base-button>
            <base-button
              v-if="checkValid === false"
              size="sm"
              type="primary"
              @click="statusValidasi = true"
            >Simpan</base-button>
            <base-button
              v-else-if="checkValid === true"
              size="sm"
              type="primary"
              @click="aksiValidasi(idValidasi)"
            >Simpan</base-button>
          </template>
        </modal>
        <!-- end modal validasi peserta -->
        <div class="card-footer py-4 d-flex justify-content-end">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
            <span
              v-if="selectedRows.length"
            >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>
          </p>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import Multiselect from "vue-multiselect";
import { Action } from "../../../../store/api/types";
import axios from "axios";
export default {
  components: {
    DropzoneFileUpload,
  },
  data() {
    return {
      jenisPelat: this.$store.state.auth.Jenisteknis,
      modals:{
                generate:false,
      },
      idValidasi: "",
      checkValid: false,
      statusValidasi: false,
      fileSingle: [],
      isiVerifikasi: Number,
      modalValidasi: false,
      modalEditFoto: false,
      showModalUpdateAkun: false,
      isikuota: 0,
      selectedRows: [],
      search: "",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      datapesertaASN: [],
      currentPage: "",
      files: [],
      change: {
        jenis: false,
      },
      buttonCheckbox: false,
      // API
      diklatU: [],
      listIzin: [],
      file: "",
      penjaminM: [],
      Pm: [],
      selected: "",
      textRed: false,
      izinkan: Number,
      aKelas: [],
      ind: [],
      detailPes: [],
      filesd: "",
      asn: [],
      nonasn: [],
      jenisPesertaDetail: "",
      dataFoto: [],
      isiFoto: "",
      allFoto: [],
      instansi: [],
      golpang: [],
    };
  },
  created() {
    // console.log(DropzoneFileUpload);
    //(this.$route.query.diklat);
    this.diklatU = this.$route.query.diklat;
    this.getIzin();
    this.mutu();
    this.kelasD();
    this.pesertaD();
    this.kuotaprogram();
    this.getVerif();
  },
  watch: {
    showModalUpdateAkun(val) {
      this.showModalUpdateAkun = val;
      if (this.showModalUpdateAkun == false) {
        this.asn = [];
        this.nonasn = [];
      }
    },
    modalEditFoto(val) {
      this.modalEditFoto = val;
      if (this.modalEditFoto == false) {
        this.dataFoto = [];
        this.isiFoto = "";
      }
    },
    modalValidasi(val) {
      this.modalValidasi = val;
    },
    statusValidasi(val) {
      this.statusValidasi = val;
    },
  },
  mounted() {
    this.teks();
    this.getInstansi();
    this.getGolonganPangkat();
  },
  methods: {
    generatecert(){
            let loader = this.$loading.show({
                // Optional parameters
                container: null,
                canCancel: true,
                onCancel: this.onCancel,
            });

            this.$store.dispatch(`${Action.cert.generate}`,
            {id:this.diklatU.id,
            jp:this.diklatU.program,
            p:this.diklatU.createdBy,
            sts:"kosong",
            pm:"",
            pminstansi:"",
            }).then(res=>{
                this.modals.generate=false
                loader.hide()
                //("generate cert berhasil");
                this.pesertaD()
            }).catch(err=>{
                    this.modals.generate=false
                    loader.hide()
                    this.pinalert=1
                    let error=this.$toast.error('Generate Sertifikat Gagal, pastikan data yang dibutuhkan sudah terpenuhi')
                    error.goAway(3000)
            })

        },
    revisiSttp(id){
          //(id);
        let loader = this.$loading.show({
            container: null,
            canCancel: true,
            onCancel: this.onCancel,
        });
          this.$store.dispatch(`${Action.peserta.revisiSttp}`,id).then(res=>{
              this.total='';
              this.detailPes=[];
              this.pesertaD();
              loader.hide();
          })
      },
    pangkat(isi,status) {
      //(isi);
      //(this.nonasn);
      this.$store.dispatch(`${Action.master.golpangMaster}`).then((res) => {
      if(status == true){
       var d = res.data;
        for (var i = 0; i < d.length; i++) {
          if (d[i].pangkat == isi.pangkat) {
            this.asn[0].gol = d[i].gol + "/" + d[i].gol_pangkat_tempat;
          }
        }
      } else {
        var d = res.data;
        for (var i = 0; i < d.length; i++) {
          if (d[i].pangkat == isi.pangkat) {
            this.nonasn[0].gol = d[i].gol + "/" + d[i].gol_pangkat_tempat;
          }
        }
      }
      });
    },
    getGolonganPangkat() {
      this.$store.dispatch(`${Action.master.golpangMaster}`).then((res) => {
        this.golpang = res.data;
      });
    },
    getInstansi() {
      this.$store.dispatch(`${Action.master.instansiMaster}`).then((res) => {
        this.instansi = res.data;
      });
    },
    aksiValidasi(id) {
      //(id);
    },
    passingDataPeserta(id, status) {
      //(id);
      //(status);
      this.modalValidasi = status;
      this.idValidasi = id;
    },
    getIndexFoto(foto) {
      //(foto);
      this.$store
        .dispatch(`${Action.peserta.getfotopeserta}`, foto.isi)
        .then((res) => {
          this.allFoto.push({ isi: res.data, id: foto.id });
          //(this.allFoto);
        });
    },
    ambilFoto(id) {
      for (var i = 0; i < this.allFoto.length; i++) {
        if (id == this.allFoto[i].id) {
          return this.allFoto[i].isi;
        }
      }
    },
    getFoto(foto) {
      this.$store
        .dispatch(`${Action.peserta.getfotopeserta}`, foto)
        .then((res) => {
          this.isiFoto = res.data;
        });
    },
    simpanFoto(file, id) {
      //(file);
      //(id);
      var indexKe = file.length-1;
      var fileFoto = this.fileSingle;
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store
        .dispatch(`${Action.peserta.editfotopeserta}`, {
          id: id,
          foto: file[indexKe],
        })
        .then((res) => {
          //(res.data);
          //("sukses");
          this.allFoto=[];
          this.modalEditFoto = false;
          this.detailPes = [];
          this.fileSingle = [];
          file = [];
          fileFoto=[];
          //(this.fileSingle);
          //(file);
          this.pesertaD();
          loader.hide();
          
        });
    },
    editFoto(isi, status) {
      this.modalEditFoto = status;
      this.dataFoto = isi;
      this.getFoto(this.dataFoto.foto);
    },
    simpan(data) {
      //(data);
      //loading
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      //end loading
      let isi = {
        id: data[0].id,
        jenis: data[0].jenispeserta,
        jeniskerja: data[0].jeniskerja,
        nomorid: data[0].nip,
        nama: data[0].nama,
        ttl: data[0].tempatlahir + ";" + data[0].tanggallahir,
        jenkel: data[0].jeniskelamin,
        agama: data[0].agama,
        pangkat: data[0].pangkat,
        email: data[0].email,
        asalinstansi: data[0].asalinstansi,
        alamatkantor: data[0].alamatkantor,
        notelp: data[0].notelp,
        sumber: data[0].sumberanggaran,
        pola: data[0].polapenyelenggaraan,
        iddiklat: this.$route.query.diklat.id,
        gol: data[0].gol,
        jabatan: data[0].jabatan,
        angkatan: data[0].angkatan
      };
      this.$store.dispatch(`${Action.peserta.editpeserta}`, isi).then((res) => {
        //(res);
        loader.hide();
        //("sukses");
        this.showModalUpdateAkun = false;
        this.detailPes = [];
        this.pesertaD();
      });
    },
    async databkn(nip) {
      //loading
      let loader = this.$loading.show({
        // Optional parameters
        container: this.$refs.loadpeserta,
        canCancel: true,
        onCancel: this.onCancel,
      });
      //end loading
      //(nip);
      this.$store.dispatch(`${Action.peserta.ambilbkn}`, nip).then((res) => {
        //(JSON.parse(res.data.data));
        var isi = JSON.parse(res.data.data);
        //(isi.tglLahir);
        loader.hide();
        this.asn.tempatlahir = isi.tempatLahir;
        this.asn.tanggallahir = isi.tglLahir;
        this.asn.nama = isi.nama;
        this.asn.asalinstansi = isi.instansiKerjaNama;
        this.asn.gol = isi.golRuangAkhir;
        this.asn.jeniskelamin = isi.jenisKelamin;
      });
    },
    editPeserta(isi, status) {
      this.showModalUpdateAkun = status;
      //(isi);
      let convertLahir = [];
      convertLahir = isi.tempatLahir.split(";");
      //(convertLahir);
      this.jenisPesertaDetail = isi.jenis;
      if (isi.jenis == "PNS") {
        this.asn.push({
          id: isi.id,
          nip: isi.nomorId,
          program: "",
          penyelenggara: "",
          thnpenyelenggara: "",
          angkatan: isi.angkatan,
          asalinstansi: isi.asalInstansi,
          jeniskerja: isi.jenisPekerjaan,
          jenispeserta: isi.jenis,
          sumberanggaran: isi.sumberAnggaran,
          nama: isi.nama,
          tempatlahir: convertLahir[0],
          tanggallahir: convertLahir[1],
          jeniskelamin: isi.jenisKelamin,
          agama: isi.agama,
          pangkat: isi.pangkat,
          gol: isi.gol,
          alamatkantor: isi.alamatKantor,
          notelp: isi.noTelp,
          email: isi.email,
          jabatan: isi.jabatan,
          polapenyelenggaraan: isi.polaPenyelenggaraan,
        });
        //(this.asn);
      } else if (isi.jenis != "PNS") {
        this.nonasn.push({
          id: isi.id,
          nip: isi.nomorId,
          program: "",
          penyelenggara: "",
          thnpenyelenggara: "",
          angkatan: isi.angkatan,
          asalinstansi: isi.asalInstansi,
          jeniskerja: isi.jenisPekerjaan,
          jenispeserta: isi.jenis,
          sumberanggaran: isi.sumberAnggaran,
          nama: isi.nama,
          tempatlahir: convertLahir[0],
          tanggallahir: convertLahir[1],
          jeniskelamin: isi.jenisKelamin,
          agama: isi.agama,
          pangkat: isi.pangkat,
          gol: isi.gol,
          alamatkantor: isi.alamatKantor,
          notelp: isi.noTelp,
          email: isi.email,
          jabatan: isi.jabatan,
          polapenyelenggaraan: isi.polaPenyelenggaraan,
        });
        //(this.nonasn);
      }
    },
    verifSt(li, sl, di) {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let nilai = 0;
      //(li, sl);
      //("tets");
      //(di);
      this.$store
        .dispatch(`${Action.diklat.verifikasiStatus}`, {
          id: di,
          verifikasi: 0,
        })
        .then((res) => {
          loader.hide();
          //("sukses");
          this.selected = "";
          this.listIzin = [];
          this.file = "";
          this.filesd = "";
          this.isiVerifikasi = Number;
          this.getIzin();
          this.getVerif();
        });
    },
    izinSt(li, sl, di) {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let nilai = 0;
      //(li, sl);
      this.$store
        .dispatch(`${Action.izin.verifikasiizin}`, {
          id: li,
          penjaminMutu: sl,
          izinDeputi: nilai,
          dokumen: "",
        })
        .then((res) => {
          //("tets");
          //(di);
          loader.hide();
          //("sukses");
          this.selected = "";
          this.listIzin = [];
          this.file = "";
          this.filesd = "";
          this.isiVerifikasi = Number;
          this.getIzin();
          this.getVerif();
        });
    },
    kuotaprogram() {
      //("prodik");
      this.$store.dispatch(`${Action.master.prodikMaster}`).then((res) => {
        //("prodik");
        var data = res.data.data;
        //(data);
        //(data.length);
        //(this.diklatU.program);

        for (var i = 0; i < data.length; i++) {
          if (data[i].nama == this.diklatU.program) {
            this.isikuota = data[i].kuota;
            //("kuota");
            //(this.isikuota);
          }
        }
      });
    },
    // ambil peserta
    async pesertaD() {
      var di = this.$route.query.diklat.id;
      await this.$store
        .dispatch(`${Action.peserta.ambilpesertabydiklat}`, di)
        .then((res) => {
          //(res.data);
          this.detailPes = res.data;
          this.total = res.data.length;
          for (var i = 0; i < res.data.length; i++) {
            if (res.data[i].foto == null) {
              res.data[i].foto = "empty.jpeg";
            }
            this.getIndexFoto({ isi: res.data[i].foto, id: res.data[i].id });
          }
        });
    },
    // end ambil peserta

    // ambil kelas di angkatan
    kelasD() {
      var di = this.$route.query.diklat.id;
      this.$store.dispatch(`${Action.diklat.ambilangkatan}`, di).then((res) => {
        //(res.data);
        for (var i = 0; i < res.data.length; i++) {
          this.aKelas = res.data[i];
          this.ind = i + 1;
          //(this.ind);

          //(this.aKelas);
        }
      });
    },
    // end ambil kelas di angkatan

    //    kondisi check box
    teks(cek) {
      //(cek);
      this.textRed = cek;
    },
    // end kondisi check box

    // download dokumen SP
    downloadSP(sp) {
      //(sp);

      this.$store
        .dispatch(`${Action.izin.downloaddokumenSP}`, sp)
        .then((res) => {
          //("berhasil");
          //(res.data);
        });
    },
    // end download dokumen SP

    mutu() {
      this.$store.dispatch(`${Action.master.lemdikMaster}`).then((res) => {
        //(res.data);
        this.Pm = res.data;
        for (var i = 0; i < res.data.length; i++) {
          // //(res.data.data[i].nama);
          this.penjaminM.push(res.data[i].namaLemdik);
        }
      });
    },
    getIzin() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });

      this.$store.dispatch(`${Action.izin.ambilizin}`).then((res) => {
        //(res.data);
        loader.hide();
        for (var i = 0; i < res.data.length; i++) {
          //(res.data[i].idDiklat);

          if (res.data[i].idDiklat == this.$route.query.diklat.id) {
            //(res.data[i]);
            this.listIzin = res.data[i];
            this.selected = this.listIzin.penjaminMutu;
            this.file = res.data[i].suratPengajuan;
            //(this.file);
            this.filesd = res.data[i].suratDeputi;
          }
        }
      });
    },
    getVerif() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store
        .dispatch(
          `${Action.diklat.ambildetaildiklat}`,
          this.$route.query.diklat.id
        )
        .then((res) => {
          //(res.data);
          this.isiVerifikasi = res.data[0].idDiklat.verifikasi;
          //(this.isiVerifikasi);
          loader.hide();
        });
    },
    filesChange(files) {
      this.files = files;
    },
    back() {
      this.$router.back();
    },
    forceFileDownload(response) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", "file.png"); //or any other extension
      document.body.appendChild(link);
      link.click();
    },

    downloadWithVueResource(dl) {
      //(dl);

      this.$http({
        method: "get",
        url: dl,
        responseType: "arraybuffer",
      })
        .then((response) => {
          this.forceFileDownload(response);
        })
        .catch((err) => {
          //("error occured")
        } );
    },

    downloadWithAxios(ass, ss) {
      //(ass);
      //(ss);

      //("tes");

      axios({
        method: "get",
        url: this.pdf,
        responseType: "arraybuffer",
      })
        .then((response) => {
          this.forceFileDownload(response);
        })
        .catch((err) =>{
          //("error occured")
        } );
    },
  },
  computed: {
    ambilrole() {
      return this.$store.state.auth.role;
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        //(this.total);
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
  },
};
</script>
