<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">List Pelatihan</h6>
        </div>
      </div>
    </base-header>

    <card type="frame">
      <div class="row">
        <div>
          <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
        </div>
        <div class="row" style="overflow-x:auto;">
          <table class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="no">No</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" class="sort">
                  <center>Aksi</center>
                </th>
                <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                <th scope="col" class="sort" data-sort="noreg">Tahun Penyelenggaraan</th>
                <th scope="col" class="sort" data-sort="status">Sisa Kuota</th>
                <th scope="col" class="sort" data-sort="status">Status</th>
              </tr>
            </thead>
            <tbody class="list" v-for="(diklat,index) in searching" :key="index">
              <tr
                v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
              >
                <th scope="row">
                  <div class="no align-items-center">{{index+1}}</div>
                </th>
                <td>
                  <div class="row flex justify-between items-center">
                    <div class="col-sm-5">
                      <base-button size="sm" @click="detail(diklat)" type="info">
                        <i class="ni ni-curved-next"></i>
                      </base-button>
                    </div>
                    <div class="col-sm-5">
                      <base-button v-if="diklat.validasi == 2" size="sm" type="success">
                        <i class="ni ni-check-bold"></i>
                      </base-button>
                      <base-button v-else-if="diklat.validasi != 2 " size="sm" @click="passingDataDiklat(diklat.id,true)" type="warning">
                        <i class="ni ni-fat-delete"></i>
                      </base-button>
                    </div>
                  </div>
                </td>
                <td class="nama">
                  <div class="d-flex align-items-center">
                    <span class="completion mr-2">{{diklat.judul}}</span>
                  </div>
                </td>
                <td class="id">
                  <div class="d-flex align-items-center">
                    <span class="completion mr-2">{{diklat.createdBy}}</span>
                  </div>
                </td>
                <td class="nama">
                  <div class="d-flex align-items-center">{{diklat.program}}</div>
                </td>
                <td class="noreg">
                  <div class="d-flex align-items-center">{{diklat.tgl_mulai}}</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">{{diklat.kuota}}</div>
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <badge
                      v-if="diklat.verifikasi == 2"
                      rounded
                      type="success"
                      size="lg"
                    >Terverifikasi</badge>
                    <badge
                      v-if="diklat.verifikasi != 2"
                      rounded
                      type="warning"
                      size="lg"
                    >Belum Terverifikasi</badge>
                    <badge v-if="diklat.otorisasi == 2" rounded type="info" size="lg">Terotorisasi</badge>
                    <badge
                      v-if="diklat.otorisasi != 2"
                      rounded
                      type="warning"
                      size="lg"
                    >Belum Terotorisasi</badge>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- modal validasi diklat -->
        <modal :show.sync="modalValidasi">
          <template slot="header">
            <h5 class="modal-title" id="exampleModalLabel">Validasi Diklat</h5>
          </template>
          <div>
            <div class="card">
              <base-checkbox class="mb-3 p-3 ml-3" v-model="checkValid">Validasi Diklat</base-checkbox>
              <div class="ml-3" v-if="checkValid === false && statusValidasi === true">
                <p style="font-size:10px; color:red">Beri tanda ceklis jika data diklat sudah benar</p>
              </div>
            </div>
          </div>
          <template slot="footer">
            <base-button size="sm" type="secondary" @click="modalValidasi = false">Tutup</base-button>
            <base-button
              v-if="checkValid === false"
              size="sm"
              type="primary"
              @click="statusValidasi = true"
            >Simpan</base-button>
            <base-button
              v-else-if="checkValid === true"
              size="sm"
              type="primary"
              @click="aksiValidasi(idValidasi)"
            >Simpan</base-button>
          </template>
        </modal>
        <!-- end modal validasi diklat -->
        <div class="card-footer py-4 d-flex justify-content-end">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
            <span
              v-if="selectedRows.length"
            >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>
          </p>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></base-pagination>
        </div>
      </div>
    </card>
  </div>
</template>
<script>
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import Axios from "axios";
import { Action } from "../../../../store/api/types";
import { BasePagination } from "@/components";
export default {
  components: {
    BasePagination,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
  },
  data() {
    return {
      idValidasi: "",
      checkValid: false,
      statusValidasi: false,
      modalValidasi: false,
      payload: this.$cookies.get("isijwt"),
      selectedRows: [],
      search: "",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [2, 5, 25, 50],
        total: [],
      },
      i: 0,
      total:"",
      currentPage: 1,
      //API
      daftarD: [],
      search: "",
      daftarA: [],
      inven: [],
      allDiklat: [],
    };
  },
  watch:{
      modalValidasi(val){
          this.modalValidasi=val;
          if(this.modalValidasi==false){
              this.idValidasi="";
              this.statusValidasi=false;
              this.checkValid=false;
          }
      }
  },
  created() {
    // //(this.$cookies.get("namaLemdik"));
    this.listD();
    this.listAll();
  },
  methods: {
    aksiValidasi(id) {
        let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      // //(id);
      this.$store.dispatch(`${Action.diklat.putValidasi}`,{
        id:id,
        value:2
      }).then(res=>{
        // //('berhasil');
        loader.hide();
        this.modalValidasi = false;
        this.allDiklat=[];
        this.daftarA=[];
        this.inven=[];
        this.listAll();
      })
    },
    passingDataDiklat(id, status) {
      // //(id);
      // //(status);
      this.modalValidasi = status;
      this.idValidasi = id;
    },
    detail(idd) {
      // //(idd);
      this.$router.push({
        path: "ListDetailPelatihanAdmin/detail",
        query: { diklat: idd },
      });
    },
    ajuan(idd, all) {
      this.$router.push({
        path: "terbitizin/detail",
        query: { id: idd, diklat: all },
      });
    },
    kuota(row, tot, pendaftar) {
      row.kuotasisa = tot - pendaftar;
    },
    back() {
      this.$router.back();
    },
    listD() {
      this.$store
        .dispatch(`${Action.diklat.ambildiklatbylemdikid}`, this.$route.query.id)
        .then((res) => {
          this.daftarD = res.data;
          //(res.data);
        });
    },
    listAll() {
      let loader = this.$loading.show({
        // Optional parameters
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });

      this.$store.dispatch(`${Action.diklat.ambildiklatbylemdikid}`, this.$route.query.id).then((res) => {
        console.log(this.$route.query.id);
        this.allDiklat = res.data;

        //(res.data);
        loader.hide();
        // //(this.$route.query.id);
        for (var i = 0; i < res.data.length; i++) {
          this.daftarA.push(res.data[i].diklat);

          //if (i == res.data.length - 1) {

            //if (this.ambilrole == "role_admin") {
              //this.inven = this.daftarA.filter((vr) =>
                //vr.idlemdik === this.$route.query.id
              //);
            //} else if (this.ambilrole != "role_admin") {
              //this.inven = this.daftarA.filter(vr => vr.idlemdik === this.$route.query.id);
            //}
          //}
          // //(this.total);
        }
        this.inven= this.daftarA;
        this.total = this.inven.length;
      });
    },
  },
  computed: {
    ambilrole() {
      return this.$store.state.auth.role;
    },
    searching: function () {
      return this.inven.filter((df) => {
        return df.createdBy.toLowerCase().match(this.search.toLowerCase());
      });
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        // //(this.total);
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    // total() {
    //   return this.searchedData.length > 0
    //     ? this.searchedData.length
    //     : this.daftarD.length;
    // }
  },
};
</script>

<style >
</style>
