<template>
<div>
  <div
    class="content"
    v-if="ambilrole != 'role_lemdik' && ambilrole != 'role_kepala_lemdik'"
  >
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Semua Peserta"
            type="gradient-red"
            :sub-title="jumlahSemuaPeserta + ' Peserta'"
            icon="ni ni-badge"
          >
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta yang Sudah Memiliki Nomor KRA"
            type="gradient-green"
            :sub-title="jumlahPesertaKra + ' Peserta'"
            icon="ni ni-check-bold"
          >
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta yang Belum Memiliki Nomor KRA"
            type="gradient-orange"
            :sub-title="jumlahPesertaNonKra + ' Peserta'"
            icon="ni ni-fat-delete"
          >
          </stats-card>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta Pria"
            type="gradient-info"
            :sub-title="jumlahPesertaPria + ' Peserta'"
            icon="ni ni-circle-08"
          >
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta Wanita"
            type="gradient-pink"
            :sub-title="jumlahPesertaWanita + ' Peserta'"
            icon="ni ni-circle-08"
          >
          </stats-card>
        </div>
      </div>
    </base-header>
    <!--Widgets-->
    <div class="row p-3">
      <div class="col-xl-12">
        <div class="card-deck">
          <card gradient="default" no-body="">
            <div class="card-body">
              <div class="mb-2">
                <div class="row">
                  <div class="col">
                    <base-input label="Pilih Program">
                      <select class="form-control" v-model="pilihProdik">
                        <option value="">Pilih Program</option>
                        <option
                          v-for="(data, index) in prodik"
                          :key="index"
                          :value="data.idSipka"
                        >
                          Angkatan {{ data.namaDiklat }}
                        </option>
                      </select>
                    </base-input>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 style="color: white">
                    Jumlah E-Sertifikat yang sudah terbit berdasarkan Program
                    Diklat :
                  </h5>
                  <small class="text-light"
                    >E-Sertifikat yang terbit:
                    {{
                      jumlahTerbitEsertif +
                      " Sertifikat dari " +
                      jumlahSemuaEsertif +
                      " Sertifikat"
                    }}</small
                  >
                  <base-progress
                    v-if="valueEsertif >= 70"
                    :value="valueEsertif"
                    size="xs"
                    progress-classes="my-2"
                    type="success"
                  />
                  <base-progress
                    v-if="valueEsertif < 70 && valueEsertif >= 30"
                    :value="valueEsertif"
                    size="xs"
                    progress-classes="my-2"
                    type="warning"
                  />
                  <base-progress
                    v-if="valueEsertif < 30"
                    :value="valueEsertif"
                    size="xs"
                    progress-classes="my-2"
                    type="danger"
                  />
                  <small class="text-light">
                    <span v-if="valueEsertif >= 70" class="text-success mr-2"
                      ><i class="fa fa-arrow-up"></i>
                      {{ valueEsertif + "%" }}</span
                    >
                    <span
                      v-if="valueEsertif < 70 && valueEsertif >= 30"
                      class="text-warning mr-2"
                      ><i class="fa fa-arrow-up"></i>
                      {{ valueEsertif + "%" }}</span
                    >
                    <span v-if="valueEsertif < 30" class="text-danger mr-2"
                      ><i class="fa fa-arrow-up"></i>
                      {{ valueEsertif + "%" }}</span
                    >
                    dari total Sertifikat di program diklat ini</small
                  >
                  <br />
                  <h5 class="mt-2" style="color: white">
                    Jumlah Diklat berdasarkan Program Diklat :
                  </h5>
                  <small class="text-light"
                    >Diklat: {{ jumlahDiklatById + " Diklat" }}</small
                  >
                </div>
                <div class="col">
                  <h5 style="color: white">
                    Jumlah Peserta yang memiliki nomor KRA berdasarkan Program
                    Diklat :
                  </h5>
                  <small class="text-light"
                    >Peserta:
                    {{
                      jumlahPesertaById +
                      " Peserta dari " +
                      jumlahSemuaPesertaById +
                      " Peserta"
                    }}</small
                  >
                  <base-progress
                    v-if="valuePeserta >= 70"
                    :value="valuePeserta"
                    size="xs"
                    progress-classes="my-2"
                    type="success"
                  />
                  <base-progress
                    v-if="valuePeserta < 70 && valuePeserta >= 30"
                    :value="valuePeserta"
                    size="xs"
                    progress-classes="my-2"
                    type="warning"
                  />
                  <base-progress
                    v-if="valuePeserta < 30"
                    :value="valuePeserta"
                    size="xs"
                    progress-classes="my-2"
                    type="danger"
                  />
                  <small class="text-light">
                    <span v-if="valuePeserta >= 70" class="text-success mr-2"
                      ><i class="fa fa-arrow-up"></i>
                      {{ valuePeserta + "%" }}</span
                    >
                    <span
                      v-if="valuePeserta < 70 && valuePeserta >= 30"
                      class="text-warning mr-2"
                      ><i class="fa fa-arrow-up"></i>
                      {{ valuePeserta + "%" }}</span
                    >
                    <span v-if="valuePeserta < 30" class="text-danger mr-2"
                      ><i class="fa fa-arrow-up"></i>
                      {{ valuePeserta + "%" }}</span
                    >
                    dari total peserta di program diklat ini</small
                  >
                </div>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
    <!--End Widgets-->
  </div>

  <div
    class="content"
    v-if="ambilrole == 'role_lemdik' || ambilrole == 'role_kepala_lemdik'"
  >
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Semua Peserta"
            type="gradient-red"
            :sub-title="jumlahSemuaPeserta + ' Peserta'"
            icon="ni ni-badge"
          >
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta yang Sudah Memiliki Nomor KRA"
            type="gradient-green"
            :sub-title="jumlahPesertaKra + ' Peserta'"
            icon="ni ni-check-bold"
          >
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta yang Belum Memiliki Nomor KRA"
            type="gradient-orange"
            :sub-title="jumlahPesertaNonKra + ' Peserta'"
            icon="ni ni-fat-delete"
          >
          </stats-card>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta Pria"
            type="gradient-info"
            :sub-title="jumlahPesertaPria + ' Peserta'"
            icon="ni ni-circle-08"
          >
          </stats-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <stats-card
            style="height: 100%"
            title="Jumlah Peserta Wanita"
            type="gradient-pink"
            :sub-title="jumlahPesertaWanita + ' Peserta'"
            icon="ni ni-circle-08"
          >
          </stats-card>
        </div>
      </div>
    </base-header>
    <!--Widgets-->
    
    <!--End Widgets-->
  </div>
</div>
  
  
</template>
<script>
import StatsCard from "@/components/Cards/StatsCard";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import { Action } from "../../store/api/types";
import instansi from "../../data/datainstansi.json";
import ActivityFeed from "@/components/dashboard/ActivityFeed";
import { Actionauth, Mutationauth } from "../../store/auth/types";

export default {
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    RouteBreadCrumb,
    DropzoneFileUpload,
    BasePagination,
    StatsCard,
    ActivityFeed,
  },
  data() {
    return {
      idlemdik:0,
      valueEsertif: Number,
      jumlahSemuaEsertif: [],
      jumlahTerbitEsertif: [],
      jumlahNoTerbitEsertif: [],
      jumlahPesertaNonKra: [],
      valuePeserta: Number,
      pilihProdik: 2,
      prodik: [],
      jumlahPesertaById: [],
      jumlahSemuaPesertaById: [],
      jumlahDiklatById: [],
      payload: this.$cookies.get("isijwt"),
      jenistf: this.$store.state.auth.Jenisteknis,
      jumlahSemuaPeserta: [],
      jumlahPesertaKra: [],
      jumlahPesertaPria: [],
      jumlahPesertaWanita: [],
      isidiklat: {
        kuota: "",
        program: "",
        lemdik: "",
        instansi: "",
        peserta: "",
        anggaran: "",
        pola: "",
        tgl_mulai: "",
        tgl_akhir: "",
        kelas: "",
        verifikasi: "",
        otorisasi: "",
      },
      listdiklat: [
        {
          kuota: "",
          program: "",
          lemdik: "",
          instansi: "",
          peserta: "",
          anggaran: "",
          pola: "",
          tgl_mulai: "",
          tgl_akhir: "",
          kelas: "",
          verifikasi: "",
          otorisasi: "",
        },
      ],
      fileSingle: [],
      pembina: null,
      penyelenggara: null,
      program: null,
      tahun: null,
      jumlahKelas: null,
      namaAngkatan: null,
      tempat: null,
      waktuMulai: null,
      waktuSelesai: null,
      sumberAnggaran: null,
      polaAnggaran: null,
      jumlahTotal: null,
      jumlahKuota: null,
      modals: { modal3: false, modal2: false },
      projects: [
        {
          img:
            "https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/bootstrap.jpg",
          title: "Argon Design System",
          budget: "$2500 USD",
          status: "pending",
          statusType: "warning",
          completion: 60,
        },
        {
          img:
            "https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/angular.jpg",
          title: "Angular Now UI Kit PRO",
          budget: "$1800 USD",
          status: "completed",
          statusType: "success",
          completion: 100,
        },
        {
          img:
            "https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/sketch.jpg",
          title: "Black Dashboard",
          budget: "$3150 USD",
          status: "delayed",
          statusType: "danger",
          completion: 72,
        },
      ],
      currentPage: 1,
    };
  },
  created() {
    var nama = this.payload.namauser.includes("Teknis");
    this.$store.commit(`${Mutationauth.Jenisteknis}`, nama);
    this.$store.dispatch(`${Action.send}`, this.projects);
    if (
      this.ambilrole != "role_lemdik" &&
      this.ambilrole != "role_kepala_lemdik"
    ) {
      this.getProdik();
      this.getJumlahByIdProdik();
      this.jumlahAllPeserta();
      this.jumlahPesertaYangKra();
      this.jumlahPesertaYangNonKra();
      this.getJumlahPesertaPria();
      this.getJumlahPesertaWanita();
    }
    if(this.ambilrole == "role_lemdik" ||
      this.ambilrole == "role_kepala_lemdik"){
      this.idlemdik=window.$nuxt.$cookies.get('lemdikId');
      this.getProdik();
      this.jumlahAllPeserta();
      this.jumlahPesertaYangKra();
      this.jumlahPesertaYangNonKra();
      this.getJumlahPesertaPria();
      this.getJumlahPesertaWanita();
    }
  },
  watch: {
    async pilihProdik(val) {
      let loader = this.$loading.show({
        // Optional parameters
        container: this.$refs.loading,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.pilihProdik = val;
      let isiJson = {
        id: this.pilihProdik,
        isiKra: 1,
        status:0
      };
      let isiJson2 = {
        id: this.pilihProdik,
        isiKra: 0,
        status:0
      };
      let isiJson3 = {
        id: this.pilihProdik,
        isiKra: 1,
        sttp: 0,
        status:0
      };
      let isiJson4 = {
        id: this.pilihProdik,
        isiKra: 1,
        sttp: 1,
        status:0
      };
      let isiJson5 = {
        id: this.pilihProdik,
        isiKra: 1,
        sttp: 2,
        status:0
      };
      let isi = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgram}`,
        isiJson
      );
      let isi2 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgram}`,
        isiJson2
      );
      let isi3 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgramEsttp}`,
        isiJson3
      );
      let isi4 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgramEsttp}`,
        isiJson4
      );
      let isi5 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgramEsttp}`,
        isiJson5
      );
      this.jumlahSemuaEsertif = isi3.data.peserta;
      this.jumlahTerbitEsertif = isi4.data.peserta;
      this.jumlahNoTerbitEsertif = isi5.data.peserta;
      let valueSerSementara =
        (this.jumlahTerbitEsertif / this.jumlahSemuaEsertif) * 100;
      this.valueEsertif = valueSerSementara.toFixed(2);
      this.jumlahPesertaById = isi.data.peserta;
      this.jumlahDiklatById = isi.data.diklat;
      this.jumlahSemuaPesertaById = isi2.data.peserta;
      let valueSementara = (this.jumlahPesertaById / isi2.data.peserta) * 100;
      this.valuePeserta = valueSementara.toFixed(2);
      if (isi.status == 200 && isi2.status == 200) {
        loader.hide();
      }
    },
  },
  computed: {
    ambilrole() {
      return this.$store.state.auth.role;
    },
  },
  methods: {
    async getJumlahByIdProdik() {
      let loader = this.$loading.show({
        // Optional parameters
        container: this.$refs.loading,
        canCancel: true,
        onCancel: this.onCancel,
      });
      let isiJson = {
        id: this.pilihProdik,
        isiKra: 1,
        status:0
      };
      let isiJson2 = {
        id: this.pilihProdik,
        isiKra: 0,
        status:0
      };
      let isiJson3 = {
        id: this.pilihProdik,
        isiKra: 1,
        sttp: 0,
        status:0
      };
      let isiJson4 = {
        id: this.pilihProdik,
        isiKra: 1,
        sttp: 1,
        status:0
      };
      let isiJson5 = {
        id: this.pilihProdik,
        isiKra: 1,
        sttp: 2,
        status:0
      };
      let isi = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgram}`,
        isiJson
      );
      let isi2 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgram}`,
        isiJson2
      );
      let isi3 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgramEsttp}`,
        isiJson3
      );
      let isi4 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgramEsttp}`,
        isiJson4
      );
      let isi5 = await this.$store.dispatch(
        `${Action.peserta.jumlahByIdProgramEsttp}`,
        isiJson5
      );
      this.jumlahSemuaEsertif = isi3.data.peserta;
      this.jumlahTerbitEsertif = isi4.data.peserta;
      this.jumlahNoTerbitEsertif = isi5.data.peserta;
      let valueSerSementara =
        (this.jumlahTerbitEsertif / this.jumlahSemuaEsertif) * 100;
      this.valueEsertif = valueSerSementara.toFixed(2);
      this.jumlahSemuaPesertaById = isi2.data.peserta;
      this.jumlahPesertaById = isi.data.peserta;
      this.jumlahDiklatById = isi.data.diklat;
      let valueSementara = (this.jumlahPesertaById / isi2.data.peserta) * 100;
      this.valuePeserta = valueSementara.toFixed(2);
      if (isi.status == 200 && isi2.status == 200) {
        loader.hide();
      }
    },
    getProdik() {
      this.$store.dispatch(`${Action.master.prodikMaster}`).then((res) => {
        this.prodik = res.data;
      });
    },
    async jumlahAllPeserta() {
      let isiJson = {
        tahun: 2020,
        isiKra: 0,
        id:this.idlemdik
      };
      let isi = await this.$store.dispatch(
        `${Action.peserta.jumlahByTahun}`,
        isiJson
      );
      this.jumlahSemuaPeserta = isi.data.peserta;
    },
    async jumlahPesertaYangKra() {
      let isiJson = {
        tahun: 2020,
        isiKra: 1,
        id:this.idlemdik
      };
      let isi = await this.$store.dispatch(
        `${Action.peserta.jumlahByTahun}`,
        isiJson
      );
      this.jumlahPesertaKra = isi.data.peserta;
    },
    async jumlahPesertaYangNonKra() {
      let isiJson = {
        tahun: 2020,
        isiKra: 2,
        id:this.idlemdik
      };
      let isi = await this.$store.dispatch(
        `${Action.peserta.jumlahByTahun}`,
        isiJson
      );
      this.jumlahPesertaNonKra = isi.data.peserta;
    },
    async getJumlahPesertaPria() {
      let isiFrom={
        jk:1,
        status:this.idlemdik
      }
      let isi = await this.$store.dispatch(
        `${Action.peserta.jumlahByGender}`,
        isiFrom
      );
      this.jumlahPesertaPria = isi.data;
    },
    async getJumlahPesertaWanita() {
      let isiFrom={
        jk:0,
        status:this.idlemdik
      }
      let isi2 = await this.$store.dispatch(
        `${Action.peserta.jumlahByGender}`,
        isiFrom
      );
      this.jumlahPesertaWanita = isi2.data;
    },
  },
};
</script>

<style >
</style>