<template>
    <div class="content">
        <base-header class="pb-3">
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Edit Peserta</h6>
                
            </div>
  
            </div>
        </base-header>
        <div v-for="(peserta,index) in datapeserta" :key="index" class="card card-frame">
            <div v-if="peserta.id==id">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form> 
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Nama Peserta</label>
                                <input class="form-control" type="text" value="peserta.nama" v-model="model.nama">
                            </div>
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label">Agama</label>
                                <multiselect
                                    v-model="peserta.agama"
                                    :options="opsi.agama"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="name"
                                    track-by="name"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>    
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="example-url-input" class="form-control-label">Tempat Lahir</label>
                                    <input class="form-control" type="text" value="https://www.creative-tim.com" v-model="model.tempat">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="example-tel-input" class="form-control-label">Tanggal Lahir</label>
                                    <input class="form-control" type="date" value="40-(770)-888-444" v-model="model.tempat">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-password-input" class="form-control-label">Jenis Kelamin</label>
                                <multiselect
                                    v-model="model.jenkel"
                                    :options="opsi.jenkel"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="name"
                                    track-by="name"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>    
                            </div>
                            <div class="form-group">
                                <label for="example-number-input" class="form-control-label">Alamat</label>
                                <input class="form-control" type="text" value="23" v-model="model.alamat">
                            </div>
                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Nama Program Diklat</label>
                                <input class="form-control" type="text"  v-model="model.namaprogram">
                            </div>
                            <div class="form-group">
                                <label for="example-date-input" class="form-control-label">Lembaga Diklat</label>
                                <input class="form-control" type="text" v-model="model.lemdik">
                            </div>
                            <div class="form-group">
                                <label for="example-month-input" class="form-control-label">Instansi</label>
                                <multiselect
                                    v-model="model.instansi"
                                    :options="opsi.instansi"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="name"
                                    track-by="name"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>     
                            </div>
                            <div class="form-group">
                                <label for="example-week-input" class="form-control-label">Jenis Peserta</label>
                                <multiselect
                                    v-model="model.jenpes"
                                    :options="opsi.jenpes"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="name"
                                    track-by="name"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>    
                            </div>
                            <div class="form-group">
                                <label for="example-time-input" class="form-control-label">NIP</label>
                                <input class="form-control" type="text" v-model="model.nip">
                            </div>
                            <div class="form-group">
                                <label for="example-color-input" class="form-control-label">NRP</label>
                                <input class="form-control" type="text" v-model="model.nrp">
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Jenis Identitas</label>
                                <multiselect
                                    v-model="model.jenidentitas"
                                    :options="opsi.jenidentitas"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="name"
                                    track-by="name"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>     
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">No. Identitas</label>
                                <input class="form-control" type="text" v-model="model.noidentitas">
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Pangkat</label>
                                <multiselect
                                    v-model="model.pangkat"
                                    :options="opsi.pangkat"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="name"
                                    track-by="name"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>     
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Golongan</label>
                                <multiselect
                                    v-model="model.pangkat"
                                    :options="opsi.pangkat"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="gol"
                                    track-by="gol"
                                    :preselect-first="true"
                                    id="example"
                                    @select="onSelect"
                                    >
                                </multiselect>     
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Alamat Kantor</label>
                                <textarea class="form-control" v-model="model.alamatkantor" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Telp. Kantor</label>
                                <input class="form-control" type="text" v-model="model.telpkantor">
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Foto</label>
                                
                            </div>
                        </form>

                    </div>
                    <div class="col-sm">
                        <h2>Ketentuan Pengisian</h2>
                        <p>
                            1. Silahkan isi field disamping sesuai dgn informasi yg dibutuhkan. <br>

                            2. Setiap field yang bertanda bintang merah (*) wajib untuk diisi.<br>

                            3. Untuk keperluan unggah gambar, format ekstensi yang didukung adalah JPEG/PNG. pastikan ukuran file tidak melebih dari 2 MB. <br>

                            4. Untuk keperluan unggah berkas dokumen, format ekstensi yang didukung adalah PDF/DOC/RAR/ZIP. pastikan ukuran file tidak melebih dari 10 MB. <br>

                            5. Sebelum menekan tombol Simpan, pastikan semua data terisi dengan benar kemudian centang checkbox pernyataan <br>
                            <b>" Dengan ini saya menyatakan,
                            bahwa semua data yang saya isi adalah benar "</b><br>
                            dibagian paling bawah, kemudian Simpan untuk menyimpan data.
                        </p>
                    </div>
                </div>
            </div>
            <dir class="card-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="model.ceklis">
                        <label class="custom-control-label" for="customCheck1"><b>Dengan ini saya menyatakan, <br>
                            bahwa semua data yang saya isi adalah benar</b></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-icon btn-primary" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-single-copy-04"></i></span>
                            <span class="btn-inner--text">Simpan</span>
                        </button>
                    </div>
                </div>
                
            </dir>
            </div>

        </div>
    </div>
</template>

<script>
import {Action} from '~/store/api/types'

export default {
    data(){
        return{
            datapeserta:'',
            id: this.$route.query.id,
            iddiklat:this.$route.query.iddiklat,
            model:{
                nama:'',
                agama: { name: ''},
                tempat:'',
                tgl_lahir:'',
                jenkel : { name: ''},
                alamat : '',
                namaprogram: '',
                lemdik : '',
                instansi: { name: ''},
                jenpes : { name: ''},
                nip: '',
                nrp:'',
                jenidentitas:{ name: ''},
                noidentitas:'',
                pangkat:{ name: ''},
                gol:{ name: ''},
                alamatkantor:'',
                telpkantor:'',
                foto:'',
            },
            opsi:{
                agama: [
                    { name: 'Islam' },
                    { name: 'Kristen Protestan' },
                    { name: 'Hindu' },
                    { name: 'Budha' },
                    { name: 'Kristen Katolik' }
                ],
                jenkel:[
                    { name: 'Pria' },
                    { name: 'Wanita' }
                ],
                instansi:[
                    { name: 'Islam' }
                ],
                jenidentitas:[
                    { name: 'KTP' },
                    { name: 'Kartu Keluarga' },
                    { name: 'Passport' }
                ],
                pangkat:[
                    { name: 'Pembina Utama' ,gol: 'IV E'},
                    { name: 'Pembina Utama Madya',gol: 'IV D' },
                    { name: 'Pembina Utama Muda',gol: 'IV C' },
                    { name: 'Pembina Tingkat 1',gol: 'IV B' },
                    { name: 'Pembina',gol: 'IV A' },
                    { name: 'Penata Tingkat 1',gol: 'III D' },
                    { name: 'Penata Muda',gol: 'III C' },
                    { name: 'Penata Muda Tingkat 1',gol: 'III B' },
                    { name: 'Penata Muda',gol: 'III A' },
                    { name: 'Pengatur Tingkat 1',gol: 'II D' },
                    { name: 'Pengatur',gol: 'II C' },
                    { name: 'Pengatur Muda Tingkat 1',gol: 'II B' },
                    { name: 'Pengatur Muda',gol: 'II A' },
                    { name: 'Juru Tingkat 1',gol: 'I D' },
                    { name: 'Juru',gol: 'I C'},
                    { name: 'Juru Muda Tingkat 1',gol: 'I B' },
                    { name: 'Juru Muda',gol: 'I A' },
                ],
                jenpes:[
                    { name: 'PNS' },
                    { name: 'Non-PNS' },
                    { name: 'POLRI' },
                    { name: 'TNI Angkatan Darat' },
                    { name: 'TNI Angkatan Laut' },
                    { name: 'TNI Angkatan Udara' },
                ],
            },
            
        }
    },
    created(){
        this.$store.dispatch(`${Action.datapeserta}`,this.iddiklat)
        .then(res=>{
            this.datapeserta=res.data
            //(this.datapeserta)
            //(this.id)
        })
        .catch(err=>{

        })
    },
    methods:{
        onSelect(option, id) {
        //(option, id);
        },
        back(){
            this.$router.back()
        }
    }
}
</script>