<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Form Pendaftaran Peserta Pelatihan</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="card-group">
      <card>
      <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <base-input label="Penyelenggara" v-model="penyelenggara" disabled />
            </div>
            <div class="col-lg-6">
                <base-input label="Program Pelatihan" v-model="program" disabled/>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6">
                <base-input type="month" label="Tahun Penyelenggara" v-model="tahun" disabled/>
            </div>
            <div class="col-lg-6">
                <base-input label="Angkatan" v-model="angkatan" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <base-input label="Nama Peserta" v-model="namaAngkatan"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <base-input label="Jenis Peserta" v-model="jenisPeserta">
                    <select  class="form-control">
                        <option>PNS</option>
                        <option>TNI-POLRI</option>
                        <option>NON PNS</option>
                    </select>
                </base-input>
            </div>
            <div class="col-lg-6">
                <base-input label="Sumber Anggaran" v-model="sumberAnggaran">
                    <select  class="form-control">
                        <option>APBN-RM</option>
                        <option>APBN PNBP</option>
                        <option>APBD BLUD</option>
                        <option>APBD</option>
                        <option>APBD RM</option>
                    </select>
                </base-input>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <base-input label="Asal Peserta" v-model="asalPeserta"/>
            </div>
        </div>
        <base-button class="float-right" type="primary">Simpan</base-button>
    </div>
    </card>
  </div>
  </div>
</template>

<script>
export default {
  name:'formDaftar',
  data(){
    return{
      form:{
        penyelenggara :null,
        program:null,
        tahun:null,
        angkatan:null,
        namaAngkatan:null,
        jenisPeserta:null,
        sumberAnggaran:null,
        asalPeserta:null,
      },
      pembina:this.$route.params.id,
    }
  },
  created(){
    this.id=this.$route.params.id;
  }
  
}
</script>

<style>

</style>