<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Daftar Diklat</h6>
            </div>
        </div>
        </base-header>
        <card  type="frame">
         
        <div class="row" style="overflow-x:auto;">
           
        <table class="table align-items-center" >
        <thead class="thead-light">
            <tr>
                
                <th scope="col" class="sort" data-sort="no">No</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" >Aksi</th>
                <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                <th scope="col" class="sort" data-sort="noreg">Tahun Penyelenggaraan</th>
                <th scope="col" class="sort" data-sort="status">Jumlah Kelas</th>
                <th scope="col" class="sort" data-sort="status">Jumlah Total Peserta</th>

            </tr>
        </thead>
        <tbody class="list" v-for="(diklat,index) in listdiklat" :key="index" ref="loadshow">
            <tr v-if="index < daftartabel*currentPage && index >= (currentPage*daftartabel-daftartabel) ">
                <th scope="row">
                    <div class="no align-items-center">
                        {{index+1}}
                    </div>
                </th>
                <td >
                    <div class="d-flex align-items-center">
                         <nuxt-link :to="{path:'verifpeserta/peserta',query:{id:diklat.id}}">
                                <base-button type="info" size="sm">Verifikasi Peserta</base-button>
                            </nuxt-link>
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.createdBy}}
                    </div>
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.judul}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{diklat.program}}
                    </div>
                </td>
                <td class="noreg">
                    <div class="d-flex align-items-center">
                        {{gettahun(diklat.tgl_mulai)}}
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.kelas}}
                    </div>
                </td>

                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.kelas*40-diklat.kuota}}
                    </div>
                </td>

                
            </tr>
                                       
            </tbody>
        </table>

        </div>

        <div class="card-footer py-4 d-flex justify-content-end">
            <base-pagination v-model="currentPage" :perPage="daftartabel" :total="listdiklat.length"></base-pagination>
        </div>
       
    </card>
       
    </div>
</template>

<script>
import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown, Loading} from 'element-ui'
import {Action} from '../../../store/api/types'
import moment from 'moment'

export default {
    created(){
        //loading         
         let loader = this.$loading.show({
                // Optional parameters
                container: this.$refs.loadpeserta,
                canCancel: true,
                onCancel: this.onCancel,
            });
        //end loading
        
        this.$store.dispatch(`${Action.diklat.ambildiklatbyuserid}`,this.payload.iduser).then(res=>{
            //(res.data);
            
            for(var i=0;i<res.data.length;i++){
                if(res.data[i].diklat.kelas!=0){
                    this.listdiklat.push(res.data[i].diklat)    
                }
            }
            loader.hide()
        })
        //("list");
        
        //(this.listdiklat);
        
    },
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            i:0,
            listdiklat:[],
            currentPage:1,
            daftartabel:10,
            payload:this.$cookies.get('isijwt')
        }
    },
    methods:{
        getjumpes(id){
            this.$store.dispatch(`${Action.peserta.ambilpesertabydiklat}`,id).then(res=>{

            })
        },
        gettahun:function(tgl){
            console.log(tgl);
            if(tgl != undefined){
                var thn = tgl.substr(0,4)
                
            } else {
                return tgl
            }
        },
        back(){
            this.$router.back()
        },
    }
}
</script>