<template>
    <div class="content">
        <base-header class="pb-3">
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Tambah Diklat </h6>
                
            </div>
  
            </div>
        </base-header>
        <div class="card card-frame">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <form> 
                            
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label">Instansi Pembina</label>
                                <multiselect
                                    v-model="model.pembina"
                                    :options="opsi.pembina"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :hide-selected="true"
                                    :preserve-search="true"
                                    placeholder="Pilih Salah Satu"
                                    label="nama"
                                    track-by="nama"
                                    :preselect-first="true"
                                    id="instansi"
                                    @select="onSelect"
                                    >
                                </multiselect>    
                            </div>
                            
                            <div class="form-group ">
                                <label for="example-url-input" class="form-control-label">Lembaga Diklat</label>
                                <input class="form-control" type="text"  v-model="model.lemdik">
                            </div>

                            <div class="form-group ">
                                <label for="example-url-input" class="form-control-label">Nama Program Diklat</label>
                                <input class="form-control" type="text"  v-model="model.namaprogram">
                            </div>
                            <div class="form-group ">
                                <label for="example-tel-input" class="form-control-label">Jenis Program Diklat</label>
                                <multiselect
                                v-model="model.jenis"
                                :options="opsi.jenis"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                placeholder="Pilih Salah Satu"
                                label="nama"
                                track-by="nama"
                                :preselect-first="true"
                                id="jenisprogram"
                                @select="onSelect"
                                >
                            </multiselect>   
                            </div>
                            
                            <div class="form-group">
                                <label for="example-number-input" class="form-control-label">Tahun</label>
                                <input class="form-control" type="text"  v-model="model.tahun">
                            </div>

                            
                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Angkatan</label>
                                <input class="form-control" type="text"  v-model="model.angkatan">
                            </div>

                            <div class="form-group ">
                                <label for="example-tel-input" class="form-control-label">Penyelenggara</label>
                                <multiselect
                                v-model="model.penyelenggara"
                                :options="opsi.penyelenggara"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                placeholder="Pilih Salah Satu"
                                label="nama"
                                track-by="nama"
                                :preselect-first="true"
                                id="penyelenggara"
                                @select="onSelect"
                                >
                            </multiselect>   
                            </div>

                            <div class="form-group ">
                                <label for="example-tel-input" class="form-control-label">Tempat Pelaksanaan</label>
                                <multiselect
                                v-model="model.tempat"
                                :options="opsi.tempat"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :hide-selected="true"
                                :preserve-search="true"
                                placeholder="Pilih Salah Satu"
                                label="nama"
                                track-by="nama"
                                :preselect-first="true"
                                id="tempat"
                                @select="onSelect"
                                >
                            </multiselect>   
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="example-date-input" class="form-control-label">Tanggal Pelaksanaan</label>
                                    <input class="form-control" type="date" v-model="model.tglmulai">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="example-date-input" class="form-control-label">Tanggal Selesai</label>
                                    <input class="form-control" type="date" v-model="model.tglakhir">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Kompetensi</label>
                                <textarea class="form-control" v-model="model.kompetensi" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Persyaratan Peserta</label>
                                <textarea class="form-control" v-model="model.syaratpes" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Peserta Pengajar</label>
                                <textarea class="form-control" v-model="model.syaratpeng" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Sarana dan Prasarana</label>
                                <textarea class="form-control" v-model="model.sarpras" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Evaluasi Peserta</label>
                                <textarea class="form-control" v-model="model.evpes" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Evaluasi Widyaiswara</label>
                                <textarea class="form-control" v-model="model.evwid" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Evaluasi Penyelenggara</label>
                                <textarea class="form-control" v-model="model.evpeny" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Sertifikasi</label>
                                <textarea class="form-control" v-model="model.sertifikasi" rows="3"></textarea>
                            </div>
                        </form>

                    </div>
                    <div class="col-sm">
                        <h2>Ketentuan Pengisian</h2>
                        <p>
                            1. Silahkan isi field disamping sesuai dgn informasi yg dibutuhkan. <br>

                            2. Setiap field yang bertanda bintang merah (*) wajib untuk diisi.<br>

                            3. Untuk keperluan unggah gambar, format ekstensi yang didukung adalah JPEG/PNG. pastikan ukuran file tidak melebih dari 2 MB. <br>

                            4. Untuk keperluan unggah berkas dokumen, format ekstensi yang didukung adalah PDF/DOC/RAR/ZIP. pastikan ukuran file tidak melebih dari 10 MB. <br>

                            5. Sebelum menekan tombol Simpan, pastikan semua data terisi dengan benar kemudian centang checkbox pernyataan <br>
                            <b>" Dengan ini saya menyatakan,
                            bahwa semua data yang saya isi adalah benar "</b><br>
                            dibagian paling bawah, kemudian Simpan untuk menyimpan data.
                        </p>
                    </div>
                </div>
            </div>
            <dir class="card-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="model.ceklis">
                        <label class="custom-control-label" for="customCheck1"><b>Dengan ini saya menyatakan, <br>
                            bahwa semua data yang saya isi adalah benar</b></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-icon btn-primary" type="button" v-on:click="tambahdiklat">
                            <span class="btn-inner--icon"><i class="ni ni-single-copy-04"></i></span>
                            <span class="btn-inner--text">Simpan</span>
                        </button>
                    </div>
                </div>
                
            </dir>
        </div>
    </div>
</template>

<script>
import {Action,Mutation} from '~/store/api/types'
import Axios from 'axios'

export default {
    data(){
        return{
            model:{
                pembina:{nama:''},
                lemdik:'',
                namaprogram:'',
                jenis:{nama:''},
                tahun:'',
                angkatan:'',
                penyelenggara:{nama:''},
                tempat:{nama:''},
                tglmulai:'',
                tglakhir:'',
                kompetensi:'',
                syaratpes:'',
                syaratpeng:'',
                sarpras:'',
                evpes:'',
                evwid:'',
                evpeny:'',
                sertifikasi:'',
                ceklis:''

            },
            opsi:{
                pembina:[
                    {nama:'Lembaga Administrasi Negara'}
                ],
                jenis:[
                    {nama:'Diklat Latsar'}
                ],
                penyelenggara:[
                    {nama:'Pusdiklat KAN'}
                ],
                tempat:[
                    {nama:'Jakarta'}
                ]
            }
            
        }
    },
    methods:{
        onSelect(option, id) {
        // //(option, id);
        },
        back(){
            this.$router.back()
        },
        tambahdiklat(){
            this.$store.dispatch(`${Action.tambahdiklat}`,{
                instansiPembina : this.model.pembina.nama,
                lembagaDiklat : this.model.lemdik,
                namaProgramDiklat : this.model.namaprogram,
                jenisProgramDiklat : this.model.jenis.nama,
                tahun : this.model.tahun,
                tempat: this.model.tempat.nama,
                angkatan : this.model.angkatan,
                penyelenggara : this.model.penyelenggara.nama,
                tanggalPelaksanaan : this.model.tglmulai,
                tanggalSelesai : this.model.tglakhir,
                kompetensi : this.model.kompetensi,
                persyaratanPeserta : this.model.syaratpes,
                saranaDanPrasarana : this.model.sarpras,
                evaluasiPeserta : this.model.evpes,
                evaluasiWidyaiswara : this.model.evwid,
                evaluasiPenyelenggaraan : this.model.evpeny,
                sertifikasi : this.model.sertifikasi,
            })

            // //('TES TAMBAH')
        }
    }
}
</script>