<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Pengajuan Permohonan Pelatihan</h6>
            </div>
        </div>
        </base-header>

        <card type="frame">
            <h3>Judul Program Diklat</h3>
            <h5>Tahun diklat</h5>
            <h4>Nama Penyelenggara Diklat</h4>

            <card type="frame" class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8">Jumlah Kelas</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">6</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Jumlah Total Peserta</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">150</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Sisa Jumlah Peserta</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">10</div>
                </div>
            </card>


            <div class="row">
                    <div class="col-sm-4">Berkas</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7">
                        <div class="row">
                        <div class="col-sm-4"> Nama File </div>
                        <div class="col-sm-8"><base-button>Unduh berkas</base-button></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Jumlah Peserta yang diajukan</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">25</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Status</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">
                        <base-input v-model="status" >
                            <select class="form-control">
                            <option>Diterima</option>
                            <option>Ditolak</option>
                            </select>
                        </base-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Jumlah Peserta yang diizinkan</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">
                        <base-input v-model="jumpeserta" placeholder="masukkan jumlah peserta"></base-input>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <base-input label="Keterangan">
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                    </base-input>
                </div>

         
            <div class="col-sm-0">
                <base-button type="warning">Kembali</base-button>
            </div>


        </card> 


    </div>
</template>

<script>
export default {
    data() {
      return {
          status:'',
        files: [],
        jumpeserta:'',
        buttonCheckbox:false
      }
    },
    methods:{
        back(){
            this.$router.back()
        },
        filesChange(files) {
        this.files = files
      }
    },
}
</script>