<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Pengajuan Permohonan Pelatihan</h6>
            </div>
        </div>
        </base-header>

        <card type="frame">
            <h3>Judul Program Diklat</h3>
            <h5>Tahun diklat</h5>
            <h4>Nama Penyelenggara Diklat</h4>

            <card type="frame" class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8">Jumlah Kelas</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">6</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Jumlah Total Peserta</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">150</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Sisa Jumlah Peserta</div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-3">10</div>
                </div>
            </card>

            <div class="row form-group">
                <div class="col-sm-4">Upload Berkas</div>
                <div class="col-sm-4">
                    <file-input @change="filesChange"></file-input>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">Jumlah Peserta yang Diajukan</div>
                <div class="col-sm-4">
                    <base-input placeholder="masukkan jumlah peserta" v-model="jumpeserta"></base-input>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-0">
                    <button-checkbox size="sm" v-model="buttonCheckbox" button-classes="btn-secondary btn-sm"><i class="fa fa-check"></i></button-checkbox>
                </div>
                <div class="col-sm-7">
                    <span>Dengan ini saya menyatakan data yang saya isi adalah benar. </span>
                </div>
                <div class="col-sm-1">
                    <base-button type="success">Kirim</base-button>
                </div>
                <div class="col-sm-0">
                    <base-button type="warning">Kembali</base-button>
                </div>
            </div>


        </card> 


    </div>
</template>

<script>
export default {
    data() {
      return {
        files: [],
        jumpeserta:'',
        buttonCheckbox:false
      }
    },
    methods:{
        back(){
            this.$router.back()
        },
        filesChange(files) {
        this.files = files
      }
    },
}
</script>