<template>
    <div class="content">
        <base-header class="pb-3">
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Manajemen Peserta Diklat</h6>
                
            </div>
  
            </div>
        </base-header>

        <div class="card card-frame">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <h3>Latsar CPNS III  </h3>
                        <p class="text-sm text-muted mb-0">Latsar Gol. III Angkatan 1 , 1-1 2020</p>
                        <small>2020-02-03 sampai 2020-05-25</small>
                    </div>
                    <div class="col-sm" v-if="role==1">
                        <h4>Upload File Persyaratan : </h4>
                        <div class="custom-file">
                            <!-- <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                            <label class="custom-file-label" for="customFileLang">Select file</label> -->
                        <file-input ref="file" id="ref"></file-input>
                        </div>
                        <!-- <h4>Lihat File Persyaratan : </h4>
                        
                        <div class="custom-file"> --> 
                            <!-- <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                            <label class="custom-file-label" for="customFileLang">Select file</label> -->
                        <!-- <a href="#">File Persyaratan</a>
                        
                        </div> -->

                        

                        <br><br>
                        <button v-on:click="ajukandaftar" class="btn btn-icon btn-primary btn-sm"  type="button">
                            <span class="btn-inner--icon"><i class="ni ni-circle-08"></i></span>
                            <span class="btn-inner--text">Ajukan</span>
                        </button>
                    </div>
            

                    <div class="col-sm" v-else>
                        
                        <div v-if="role==0">
                            <h4>Download Sertifikat Digital : </h4>
                            <div class="custom-file">
                                <!-- <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                                <label class="custom-file-label" for="customFileLang">Select file</label> -->
                            <a href="#">Download Dokumen</a>
                            </div>
                        </div>
                        <div v-if="role==2">
                        <div>
                            <h4>Masukkan Pincode</h4>
                            <payPassword v-model="pincode" :length="8" />  
                            <span v-if="pinalert==1" class="text-danger">Passphrase anda salah !!!</span>
                            <i v-if="pinalert==2" class="fa fa-check text-success"></i>
                            <br><br>
                        </div>
                        <button v-on:click="ttdkalemdik" class="btn btn-icon btn-primary btn-sm"  type="button">
                            <span class="btn-inner--icon"><i class="ni ni-circle-08"></i></span>
                            <span class="btn-inner--text">Tanda Tangan Dokumen</span>
                        </button>
                        <div v-if="spinner.isLoading">
                            <br>
                            <div class="spinner-border text-primary" role="status">
                            </div>
                            <span class="text-primary">Memproses Sertifikat Digital ...</span>
                            
                        </div>
                        </div>
                        <div v-if="role==3">
                        <div>
                            <h4>Masukkan Pincode</h4>
                            <payPassword v-model="pincode" :length="8" />  
                            <span v-if="pinalert==1" class="text-danger">Passphrase anda salah !!!</span>
                            <i v-if="pinalert==2" class="fa fa-check text-success"></i>
                            <br><br>

                        </div>
                        <button v-on:click="ttddeputi" class="btn btn-icon btn-primary btn-sm"  type="button">
                            <span class="btn-inner--icon"><i class="ni ni-circle-08"></i></span>
                            <span class="btn-inner--text">Tanda Tangan Dokumen</span>
                        </button>
                        <div v-if="spinner.isLoading">
                            <br>
                            <div class="spinner-border text-primary" role="status">
                            </div>
                            <span class="text-primary">Memproses Sertifikat Digital ...</span>
                            
                        </div>
                        </div>
                        <div v-if="role==4">
                        <div>
                            <h4>Masukkan Pincode</h4>
                            <payPassword v-model="pincode" :length="8" />  
                            <span v-if="pinalert==1" class="text-danger">Passphrase anda salah !!!</span>
                            <i v-if="pinalert==2" class="fa fa-check text-success"></i>
                            <br><br>
                        </div>
                        <button v-on:click="ttdkepala" class="btn btn-icon btn-primary btn-sm"  type="button">
                            <span class="btn-inner--icon"><i class="ni ni-circle-08"></i></span>
                            <span class="btn-inner--text">Tanda Tangan Dokumen</span>
                        </button>
                        <div v-if="spinner.isLoading">
                            <br>
                            <div class="spinner-border text-primary" role="status">
                            </div>
                            <span class="text-primary">Memproses Sertifikat Digital ...</span>
                            
                        </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="table-responsive">
    <div>
    <table class="table align-items-center" >
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="no">No</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" >Aksi</th>
                <th scope="col" class="sort" data-sort="id">NIP/NRP/NIK</th>
                <th scope="col" class="sort" data-sort="nama">Nama</th>
                <th scope="col" class="sort" data-sort="noreg">No Registrasi</th>
                <th scope="col" class="sort" data-sort="status">Status Pengajuan Peserta</th>

            </tr>
        </thead>
        <tbody class="list" v-for="(peserta,index) in datapeserta" :key="index">
            
            <tr>
                <th scope="row">
                    <div class="no align-items-center">
                        {{index+1}}
                    </div>
                </th>
                <!-- <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" :id="`customCheck`+index" >
                        <label class="custom-control-label" for="customCheck1">Pilih</label>
                    </div>
                </td> -->
                <td >
                    <nuxt-link :to="{path:'peserta',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-info text-info" ></i></nuxt-link>
                    <!-- <nuxt-link :to="{path:'peserta/edit',query:{id:peserta.id,iddiklat:id}}"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                    <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                    <modal :show.sync="model.hapus"
                        gradient="danger"
                        modal-classes="modal-danger modal-dialog-centered">
                        <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus peserta?</h6>


                        <template slot="footer">
                            <base-button type="white">Ya</base-button>
                            <base-button type="link"
                                        class="ml-auto text-white"
                                        @click="model.hapus = false">
                                Batal
                            </base-button>
                        </template>
                    </modal> 
                    <a target="_blank" :href="'http://intranet.lan.go.id:8555/sertifikat/'+peserta.nip+'/tandatangan/'+peserta.pathPDF+'.pdf'"><i class="fa fa-file-pdf text-primary"></i></a>
                    
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{peserta.nip}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{peserta.nama}}
                    </div>
                </td>
                <td class="noreg">
                    <div class="d-flex align-items-center">
                        {{peserta.nomorKra}}
                    </div>
                </td>
                <td class="status">
                    <div class="d-flex align-items-center" v-if="status!=1">
                        Sudah Diajukan 
                    </div>
                    <div class="d-flex align-items-center" v-else>
                        Belum Diajukan
                    </div>
                </td>
            </tr>
                            
                            
                            
            </tbody>
        </table>
    </div>

    </div>
</div>
</div>

    </div>
</template>

<script>
import {Action} from '~/store/api/types'
import FileInput from '@/components/Inputs/FileInput'
import payPassword from "vue-pay-password";

export default {
    components:{
        FileInput,
        payPassword
    },
    data(){
        return{
            spinner:{
                isLoading:false,
                status:'',
            },
            id:this.$route.query.id | 0,
            status:this.$route.query.status,
            role:this.$nuxt.$cookies.get('status'),
            datapeserta:'',
            model:{
                hapus:false,
            },
            pincode:'',
            pinalert:0,
        }
    },
    created(){
        this.$store.dispatch(`${Action.datapeserta}`,this.id)
        .then(res=>{
            this.datapeserta=res.data
            //(this.datapeserta)
        })
        .catch(err=>{

        })
    },
    methods:{
        ajukandaftar(){
                this.spinner.isLoading=true
                this.$store.dispatch(`${Action.ubahstatusdiklat}`,{diklat:this.id,status:2})
                .then(res=>{//(res)
                let error=this.$toast.success('Peserta Berhasil diajukan')
                error.goAway(3000)
                })
                .catch(err=>{//(err)
                let error=this.$toast.success('Peserta Berhasil diajukan')
                error.goAway(3000)
                })
            //("pin benar")
            this.pinalert=false
             
        },
        ttdkalemdik(){
            if(this.pincode==12345678){
            this.pinalert=2
            this.spinner.isLoading=true
            this.$store.dispatch(`${Action.ttdlemdik}`,this.id)
            .then(res=>{//(res)
            this.spinner.isLoading=false
            this.spinner.status=true
            setTimeout(() => { this.spinner.status = '' }, 2000)

            let error=this.$toast.success('Dokumen berhasil diberi tangan digital')
            error.goAway(3000)
            this.$router.push('/dashboard/sertifikatDigital')
            })
            .catch(err=>{//(err)
             this.spinner.isLoading=false
            this.spinner.status=false
            })
            }
             else{
                 this.pinalert=1
                //("pin salah")
                //(this.pincode)
                setTimeout(()=>{
                    this.pinalert=false
                },2000)
            }
        },
        ttddeputi(){
            this.pinalert=2
            if(this.pincode==12345678){
            this.spinner.isLoading=true
            this.$store.dispatch(`${Action.ttddeputi}`,this.id)
            .then(res=>{//(res)

            this.spinner.isLoading=false
            this.spinner.status=true
            setTimeout(() => { this.spinner.status = '' }, 2000)

            let error=this.$toast.success('Dokumen berhasil diberi tangan digital')
            error.goAway(3000)
            this.$router.push('/dashboard/sertifikatDigital')
            })
            .catch(err=>{//(err)
            this.spinner.isLoading=false
            this.spinner.status=false
            })
            }
             else{
                 this.pinalert=1
                //("pin salah")
                //(this.pincode)
                setTimeout(()=>{
                    this.pinalert=false
                },2000)
            }
        },
        ttdkepala(){
            if(this.pincode==12345678){
            this.pinalert=2
            this.spinner.isLoading=true
            this.$store.dispatch(`${Action.ttdkepala}`,this.id)
            .then(res=>{//(res)

            this.spinner.isLoading=false
            this.spinner.status=true
            setTimeout(() => { this.spinner.status = '' }, 2000)

            let error=this.$toast.success('Dokumen berhasil diberi tangan digital')
            error.goAway(3000)
            this.$router.push('/dashboard/sertifikatDigital')
            })
            .catch(err=>{//(err)
            this.spinner.isLoading=false
            this.spinner.status=false
            })
            }
             else{
                 this.pinalert=1
                //("pin salah")
                //(this.pincode)
                setTimeout(()=>{
                    this.pinalert=false
                },2000)
            }
        },
        back(){
            this.$router.back()
        }
    }
}
</script>

<style>

</style>