<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back">
            <i class="ni ni-bold-left text-white"></i>
          </a>
          <h6 class="h2 text-white d-inline-block mb-0">List Diklat</h6>
        </div>
      </div>
    </base-header>
    <card type="frame">
      <div class="flex justify-between items-center mb-3">
        <base-input v-model="search" prepend-icon="fas fa-search" placeholder="Search..."></base-input>
      </div>
      <div class="row" style="overflow-x:auto;">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">No</th>
              <th scope="col">
                <center>Nama Lembaga Diklat</center>
              </th>
              <th scope="col">
                  <center>View</center>
              </th>
            </tr>
          </thead>
          <tbody class="list" v-for="(temp,index) in filterlist" :key="index">
            <tr
              v-if="index>=(pagination.perPage*pagination.currentPage-pagination.perPage) && index<(pagination.perPage*pagination.currentPage)"
            >
              <th scope="row">
                <div class="no align-items-center">{{index+1}}</div>
              </th>
              <td class="nama">
                <div class="d-flex align-items-center justify-content-center">
                  {{temp.namaLemdik}}
                </div>
              </td>
              <td class="view">
                  <div class="d-flex align-items-center justify-content-center">
                      <base-button size="sm" type="info" @click="viewDetail(temp.idSipka)">View Pelatihan</base-button>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4 d-flex justify-content-end">
        <p class="card-category">
          Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          <!-- <span
              v-if="selectedRows.length"
          >&nbsp; &nbsp; {{selectedRows.length}} rows selected</span>-->
        </p>
        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        ></base-pagination>
      </div>

    </card>
  </div>
</template>
<script>
import { Action } from "../../../store/api/types";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
export default {
  data() {
    return {
      list:[],
      isiSipka:[],
      pagination: {
        perPage: 25,
        currentPage: 1,
      },
      total: 0,
      search: "",
      filterSipka:[]
    };
  },
  computed:{
    filterlist: function(){
        return this.list.filter((df)=>{
           return df.namaLemdik.toLowerCase().match(this.search.toLowerCase());
        })
      },
        to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
        // //(this.total);
        
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
      
    },
  },
  watch: {
    
  },
  mounted() {
    this.getMaster();
  },
 
  methods: {
    filtered(id) {
      return this.list.filter(item => item.idSipka === id);
    },
    async viewDetail(id){
      // //(id);
      this.$router.push({path:'ListLemdikAdmin/ListDetailPelatihanAdmin', query:{id:id}})
      
    },
    getMaster(){
      let loader = this.$loading.show({
        container: null,
        canCancel: true,
        onCancel: this.onCancel,
      });
      this.$store.dispatch(`${Action.master.lemdikMaster}`).then(res=>{
        this.list=res.data;
        // //(this.list);
        this.total=this.list.length;
        loader.hide();
      })
    },
  
    back() {
      this.$router.back();
    },
  },
};
</script>