<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Detail pelatihan</h6>
            </div>
        </div>
        </base-header>
        <card type="frame">
            <div class="form-group">
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Nama Instansi Pembina</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Instansi Pembina">{{namainstansi}}</base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Penyelenggara</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Penyelenggara">{{penyelenggara}}</base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Program Pelatihan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Program Pelatihan">{{programpelatihan}}</base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Bulan Penyelenggaraan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Bulan">{{bulan}}</base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Tahun Penyelenggaraan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Tahun">{{tahun}}</base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Kelas</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Masukkan Jumlah Kelas" v-model="jumlahkelas" @change="hitungkelas">{{jumlahkelas}}</base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Total Peserta </label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input v-model="totalpeserta"  disabled >{{totalpeserta}} Peserta </base-input>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-10">
                <div class="row" v-for="(baris,index) in tambahpeserta " :key="index">
                    <div class="col-sm-2"><base-input v-model="baris.jumlahpeserta" placeholder="Jumlah peserta">{{baris.jumlahpeserta}}</base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.asalinstansi" placeholder="Pilih Asal Instansi">{{baris.asalinstansi}}</base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.sumberanggaran" placeholder="Pilih Sumber Anggaran">{{baris.sumberanggaran}}</base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.polapenyelenggaraan" placeholder="Pilih Pola Penyelenggaraan">{{baris.polapenyelenggaraan}}</base-input></div>
                </div>
            </div>
                <div class="col-sm-2">
                    
                </div>
            </div>

            <div class="row">
              
                
                <div class="col-sm-0">
                    <base-button type="warning" v-on:click="back">Kembali</base-button>
                </div>
            </div>
        </card>
    </div>
</template>

<script>
export default {
    data(){
        return {
            jumlahkelas:'',
            totalpeserta:'',
            programpelatihan:'',
            penyelenggara:'',
            namainstansi:'',
            tahun:'',
            bulan:'',
            tambahpeserta:[
                {
                    jumlahpeserta:'',    
                    asalinstansi:'',
                    sumberanggaran:'',
                    polapenyelenggaraan:'',
                }
            ],
            buttonCheckbox:false
        }
    },
     methods:{
        hitungkelas(){
            this.totalpeserta= this.jumlahkelas*40
        },
        back(){
            this.$router.back()
        },
        //addrow
        addrow(){
            this.tambahpeserta.push(
                {
                    jumlahpeserta:'',    
                    asalinstansi:'',
                    sumberanggaran:'',
                    polapenyelenggaraan:'',
                }
            )
        },
        deleteRow(row) {
                this.tambahpeserta.pop(row)
            },
    }
    
}
</script>