<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Tambah pelatihan</h6>
            </div>
        </div>
        </base-header>
        <card type="frame">
            <div class="form-group">
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Nama Instansi Pembina</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Instansi Pembina" :value="namainstansi" ></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Penyelenggara</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Penyelenggara" :value="penyelenggara" ></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Program Pelatihan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Program Pelatihan" :value="programpelatihan"></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Bulan Penyelenggaraan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input  v-model="bulan">
                        <select class="form-control">
                        <option v-for="(bul,idx) in databulan" :key="idx" :value="bul.val">{{bul.nama}}</option>
                        </select>
                    </base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Tahun Penyelenggaraan </label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input  v-model="tahun">
                        <select class="form-control">
                        <option v-for="(thn,idx) in datatahun" :key="idx" :value="thn.nama">{{thn.nama}}</option>
                        </select>
                    </base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Kelas</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Masukkan Jumlah Kelas" v-model="jumlahkelas" @change="hitungkelas" ></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Total Peserta </label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input v-model="totalpeserta"  disabled >{{totalpeserta}} Peserta </base-input>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-10">
                <div class="row" v-for="(baris,index) in tambahpeserta " :key="index">
                    <div class="col-sm-2"><base-input v-model="baris.jumlahpeserta" placeholder="Jumlah peserta"></base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.asalinstansi" placeholder="Pilih Asal Instansi"></base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.sumberanggaran" placeholder="Pilih Sumber Anggaran"></base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.polapenyelenggaraan" placeholder="Pilih Pola Penyelenggaraan"></base-input></div>
                    <div class="col-sm-1"><base-button size="sm" type="danger" v-on:click="deleteRow(row)"><i class="fa fa-trash"></i></base-button></div>
                </div>
            </div>
                <div class="col-sm-2">
                    <base-button type="primary" v-on:click="addrow">
                        <i class="fa fa-plus"></i>
                    </base-button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-0">
                    <button-checkbox size="sm" v-model="buttonCheckbox" button-classes="btn-secondary btn-sm"><i class="fa fa-check"></i></button-checkbox>
                </div>
                <div class="col-sm-7">
                    <span>Dengan ini saya menyatakan data yang saya isi adalah benar. </span>
                </div>
                <div class="col-sm-1">
                    <base-button type="success">Kirim</base-button>
                </div>
                <div class="col-sm-0">
                    <base-button type="info">Simpan</base-button>
                </div>
                <div class="col-sm-0">
                    <base-button type="warning">Kembali</base-button>
                </div>
            </div>
        </card>
    </div>
</template>

<script>

import FormBulan from '~/components/Kustom/FormBulan'

export default {
    created(){
        this.totalpeserta= this.jumlahkelas*40;
        for(var i=1;i<5;i++){
            this.datatahun.push({nama:new Date().getFullYear()+i})
        }
    },
    components:{
        'form-bulan':FormBulan,
    },
    data(){
        return {
            jumlahkelas:3,
            totalpeserta:'',
            programpelatihan:'',
            penyelenggara:'',
            namainstansi:'tes',
            tahun:'',
            bulan:'',
            datatahun:[
                {nama:new Date().getFullYear()}
            ],
            databulan:[
                {nama:'Januari',val:1},
                {nama:'Febuari',val:2},
                {nama:'Maret',val:3},
                {nama:'April',val:4},
                {nama:'Mei',val:5},
                {nama:'Juni',val:6},
                {nama:'Juli',val:7},
                {nama:'Agustus',val:8},
                {nama:'September',val:9},
                {nama:'Oktober',val:10},
                {nama:'November',val:11},
                {nama:'Desember',val:12},
            ],
            tambahpeserta:[
                {
                    jumlahpeserta:'',    
                    asalinstansi:'',
                    sumberanggaran:'',
                    polapenyelenggaraan:'',
                }
            ],
            buttonCheckbox:false
        }
    },
     methods:{
        hitungkelas(){
            this.totalpeserta= this.jumlahkelas*40
        },
        back(){
            this.$router.back()
        },
        //addrow
        addrow(){
            this.tambahpeserta.push(
                {
                    jumlahpeserta:'',    
                    asalinstansi:'',
                    sumberanggaran:'',
                    polapenyelenggaraan:'',
                }
            )
        },
        deleteRow(row) {
                this.tambahpeserta.pop(row)
            },
    }
    
}
</script>