<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Rencana Penyelenggaraan Pelatihan</h6>
         
        </div>
      
      </div>
    </base-header>

    <card  type="frame">
        <div class="row">
          <nuxt-link to="perencanaan/tambah">
            <base-button  type="primary">
              <i class="fa fa-plus"></i> Tambah Rencana Pelatihan
            </base-button>
          </nuxt-link>
        </div>
        <br>
        <!-- filter -->
        <div class="col-sm-12 d-flex justify-content-between">
            <div class="col-sm-2">
                <base-input label="Tampilan Baris">
                    <select size="sm" class="form-control" v-on:change="daftar(daftartabel)" v-model="daftartabel">
                        <option :value=5>5</option>
                        <option :value=10>10</option>
                        <option :value=50>50</option>
                        <option :value=100>100</option>
                    </select>
                </base-input>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">
                <base-input input-classes="form-control-sm" label="Cari Diklat" v-on:keyup="caridata(cari)" v-model="cari"></base-input>
            </div>
        </div>
        
        <div class="row" style="overflow-x:auto;">
        <table class="table align-items-center" >
        <thead class="thead-light">
            <tr >
                
                <th scope="col" class="sort" data-sort="no">No</th>
                <!-- <th scope="col" >Pilih Semua</th> -->
                <th scope="col" >Aksi</th>
                <th scope="col" class="sort" data-sort="id">Penyelenggara</th>
                <th scope="col" class="sort" data-sort="nama">Program Pelatihan</th>
                <th scope="col" class="sort" data-sort="noreg">Tahun Penyelenggaraan</th>
                <th scope="col" class="sort" data-sort="status">Jumlah Kelas</th>
                <th scope="col" class="sort" data-sort="status">Jumlah Total Peserta</th>
                <th scope="col" class="sort" data-sort="status">Sisa Kuota Peserta</th>
                <th scope="col" class="sort" data-sort="status">Status</th>

            </tr>
        </thead>
        <tbody class="list" v-for="(diklat,index) in rencana" :key="index">
            
            <tr v-if="index < daftartabel*currentPage && index >= (currentPage*daftartabel-daftartabel)">
                <th scope="row">
                    <div class="no align-items-center">
                        {{index+1}}
                    </div>
                </th>
                <td >
                    <div class="d-flex align-items-center">
                         <div class="row">
                           <div class="col-sm-12">
                              <base-button size="sm" type="primary"><i class="fa fa-info"></i></base-button>
                              <base-button size="sm" type="warning"><i class="fa fa-edit"></i></base-button>
                              <base-button size="sm" type="danger"><i class="fa fa-trash"></i></base-button>
                           </div>
                        </div>
                    </div>
                </td>
                <td class="id">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{diklat.penyelenggara}}</span>
                    </div>
                </td>
                <td class="nama">
                    <div class="d-flex align-items-center">
                        {{diklat.program}}
                    </div>
                </td>
                <td class="noreg">
                    <div class="d-flex align-items-center">
                        {{diklat.tahun}}
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.jumlahkelas}}
                    </div>
                </td>

                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.totpeserta}}
                    </div>
                </td>

                <td >
                    <div class="d-flex align-items-center">
                        {{diklat.sisakuota}}
                    </div>
                </td>
                <td >
                    <div class="d-flex align-items-center">
                        Kuota Penuh
                    </div>
                </td>
            </tr>
            
                                       
            </tbody>
        </table>
        </div>
        <div class="card-footer py-4 d-flex justify-content-end">
            <base-pagination @change="paginasi" v-model="currentPage" :perPage="daftartabel" :total="rencana.length"></base-pagination>
        </div>
       
    </card>
  
    </div>
</template>
<script>



import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'

export default {
    created(){
        this.temprencana=this.rencana
    },
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data() {
        return {
            i: 0,
            cari: '',
            daftartabel: 5,
      // rencana: [
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 1',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 2',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 3',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 4',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 5',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 6',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 7',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 8',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 9',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 10',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 1',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 2',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 3',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 4',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 5',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 6',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 7',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'pusaka',
      //           program: 'Latsar CPNS 8',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 9',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },
      //         {
      //           penyelenggara: 'PusKAN',
      //           program: 'Latsar CPNS 10',
      //           tahun: '2020',
      //           jumlahkelas: '3',
      //           totpeserta: '120',
      //           jumpendf:'80',
      //           kuotasisa:'',
      //           status: "Kuota Penuh"
      //         },  
      //       ],
            rencana: [],
            temprencana:[],
            currentPage: 1         
        }
    },
    computed: {
  
    },
    mounted(){
        this.getRencana()
    },
    methods: {
        getRencana: function() {
            let headers = {
                "Authorization":'Bearer '+window.$nuxt.$cookies.get('token'),
                "Content-Type":'application/x-www-form-urlencoded'
            }

            axios.get('https://smartbangkom.lan.go.id:8091/diklat', {headers: headers})
            .then(res => {
                this.rencana = res.data
                // //(this.rencana);
            })
            .catch(err => {
                //(err);
            })
        },
        kuota(row,tot,pendaftar){
            row.kuotasisa = tot-pendaftar;
        },
        back(){
            this.$router.back()
        },
        caridata(val){
            if(val==''){
                this.rencana = this.temprencana
            }else{
            this.rencana=this.rencana.filter(
                data =>data.program.match(val));
                if(this.rencana.length==0){
                    //("baca sini")
                    this.rencana=this.temprencana.filter(
                    data =>data.penyelenggara.match(val));
                }
                //(this.rencana)
            }
        },
        daftar(val){
            this.daftartabel=val
        },
        paginasi(){
            //("tes paginasi")
        }
    },
  }
    

</script>
