<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Tambah pelatihan</h6>
            </div>
        </div>
        </base-header>
        <card type="frame">
            <div class="form-group">
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Nama Instansi Pembina</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div id="app" class="col-md-5">
                        <model-select :options="datainstansi"
                                v-model="namainstansi"
                                placeholder="Pilih Instansi Pembina">
                        </model-select>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Penyelenggara</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <model-select :options="datalemdik"
                                v-model="penyelenggara"
                                placeholder="Pilih Penyelenggara">
                        </model-select>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Program Pelatihan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <model-select :options="dataprodik"
                                v-model="programpelatihan"
                                placeholder="Pilih program Diklat">
                        </model-select>
                    </div>
                </div>
                <div class=" row">
                    
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <base-input label="Tanggal Mulai" type="date" v-model="waktumulai"  id="example-date-input"/>
                            </div>
                            <div class="col-md-6">
                                <base-input label="Tanggal Selesai" type="date" v-model="waktuakhir" id="example-date-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Bulan Penyelenggaraan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input  v-model="bulan">
                        <select class="form-control">
                        <option v-for="(bul,idx) in databulan" :key="idx" :value="bul.val">{{bul.nama}}</option>
                        </select>
                    </base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Tahun Penyelenggaraan </label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input  v-model="tahun">
                        <select class="form-control">
                        <option v-for="(thn,idx) in datatahun" :key="idx" :value="thn.nama">{{thn.nama}}</option>
                        </select>
                    </base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Kelas</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Masukkan Jumlah Kelas" v-model="jumlahkelas" @change="hitungkelas"></base-input>
                        <div class="row" v-for="(kelas,index) in detailkelas " :key="index">
                            <div class="col-sm-12"><h4>Angkatan {{index+1}}</h4></div>
                            <div class="col-sm-6"><base-input v-model="kelas.tempat" placeholder="Masukan alamat"></base-input></div>
                            <div class="col-sm-6"><base-input v-model="kelas.daerah" placeholder="Masukan Daerah"></base-input></div>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Total Peserta </label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input v-model="totalpeserta"  disabled >{{totalpeserta}} Peserta </base-input>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-10">
                <div class="row" v-for="(baris,index) in tambahpeserta " :key="index">
                    <div class="col-sm-2"><base-input v-model="baris.jumlahpeserta" placeholder="Jumlah peserta"></base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.asalinstansi" placeholder="Pilih Asal Instansi"></base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.sumberanggaran" placeholder="Pilih Sumber Anggaran"></base-input></div>
                    <div class="col-sm-3"><base-input v-model="baris.polapenyelenggaraan" placeholder="Pilih Pola Penyelenggaraan"></base-input></div>
                    <div class="col-sm-1"><base-button size="sm" type="danger" v-on:click="deleteRow(row)"><i class="fa fa-trash"></i></base-button></div>
                </div>
            </div>
                <div class="col-sm-2">
                    <base-button type="primary" v-on:click="addrow">
                        <i class="fa fa-plus"></i>
                    </base-button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-0">
                    <input type="checkbox" class="form-controll" v-model="buttonCheckbox">
                </div>
                <div class="col-sm-7">
                    <span>Dengan ini saya menyatakan data yang saya isi adalah benar. </span>
                </div>
                <div class="col-sm-1">
                    <base-button type="success">Kirim</base-button>
                </div>
                <div class="col-sm-0">
                    <base-button type="info">Simpan</base-button>
                </div>
            </div>
        </card>
    </div>
</template>

<script>
import Dinstansi from '~/datamaster/instansi.json'
import Dlemdik from '~/datamaster/lemdik.json'
import Djenprog from '~/datamaster/jenis_program_diklat.json'
import Dprovinsi from '~/datamaster/provinsi.json'
import Dkabupaten from '~/datamaster/kabupaten.json'
import 'vue-search-select/dist/VueSearchSelect.css'
import { ModelSelect } from 'vue-search-select'

export default {
    created(){
        for(var i=1;i<5;i++){
            this.datatahun.push({nama:new Date().getFullYear()+i})
        }
        //instansi
        for(var i=0;i<Dinstansi.records.length;i++){
            this.datainstansi.push({value:Dinstansi.records[i].instansi_nama,text:Dinstansi.records[i].instansi_nama})
        }
        // lemdik
        for(var i=0;i<Dlemdik.records.length;i++){
            this.datalemdik.push({value:Dlemdik.records[i].nama_lembaga_diklat,text:Dlemdik.records[i].nama_lembaga_diklat})
        }
        //program diklat
        for(var i=0;i<Djenprog.records.length;i++){
            this.dataprodik.push({
                value:Djenprog.records[i].jenis_program_diklat_nama,
                text:Djenprog.records[i].jenis_program_diklat_nama+' - '+Djenprog.records[i].jenis_program_diklat_kuota_peserta+' Kuota'})
        }
    },
    components: {
      ModelSelect
    },
    data(){
        return {
            jumlahkelas:'',
            detailkelas:[],
            totalpeserta:'',
            programpelatihan:'',
            penyelenggara:'',
            namainstansi:'',
            tahun:'',
            bulan:'',
            waktumulai:'',
            waktuakhir:'',
            //data
            datainstansi:[{value:'',text:'Pilih Instansi'}],
            datalemdik:[{value:'',text:'Pilih Penyelenggara'}],
            dataprodik:[{value:'',text:'Pilih Program Diklat'}],
            datatahun:[{nama:new Date().getFullYear()}],
            databulan:[
                {nama:'Januari',val:1},
                {nama:'Febuari',val:2},
                {nama:'Maret',val:3},
                {nama:'April',val:4},
                {nama:'Mei',val:5},
                {nama:'Juni',val:6},
                {nama:'Juli',val:7},
                {nama:'Agustus',val:8},
                {nama:'September',val:9},
                {nama:'Oktober',val:10},
                {nama:'November',val:11},
                {nama:'Desember',val:12},
            ],
            tambahpeserta:[
                {
                    jumlahpeserta:'',    
                    asalinstansi:'',
                    sumberanggaran:'',
                    polapenyelenggaraan:'',
                }
            ],
            buttonCheckbox:false
        }
    },
     methods:{
        hitungkelas(){
            this.detailkelas=[]
            for(var i=0;i<this.jumlahkelas;i++){
                this.detailkelas.push({tempat:'',daerah:''})
            }
            this.totalpeserta= this.jumlahkelas*40
        },
        back(){
            this.$router.back()
        },
        //addrow
        addrow(){
            this.tambahpeserta.push(
                {
                    jumlahpeserta:'',    
                    asalinstansi:'',
                    sumberanggaran:'',
                    polapenyelenggaraan:'',
                }
            )
        },
        deleteRow(row) {
                this.tambahpeserta.pop(row)
            },
    }
    
}
</script>